/* dynamicVars.scss */
/* INCLUDING FONTFACE */
/* -------------------------------------------- ALL POSSIBLE VARIABLES  -------------------------------------------- */
/* @import 'staticVars.scss'; 
@import 'utils.scss';
@import 'mixins_ctx_layout.scss';  */
/* deploy phase 1 */
/* REMEMBER THE BACON/CHEDDAR COLOR COMBINATION FOR LATER */
/* -------------------------------------------- ALL POSSIBLE static VARIABLES  -------------------------------------------- */
/* ---------------- UNNAMED AS OF YET ----------------- */
/* // If you want to position the inner element at the top right, you can use the pin-top-right instead of pin-bottom-right. You might have noticed in the above code I also added another helper class: The padding-one class ensures the element is not flush against the edge of the container or viewport.

// Floated Elements. Floating elements left or right can be done using left or right classes. The well-known clearfix class can be used on the parent element to clear floats, shown below using Sass s parent selector: */
/* ---------------------------------------- text transformation ~ new --------------------------------------- */
/* ---------------------------------------- FONT STACKS --------------------------------------- */
/* WEB FONT EFFECTs */
/* .ftfx_Fire_1Ablaze { } */
/* WEB FONTs */
/* PRINT FONTs */
/* font stack */
/* line 37, ../../scss/index/staticVars.scss */
.fs_Helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* font-size: 1.5em; */
/* line 38, ../../scss/index/staticVars.scss */
.fs_Trebuchet {
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

/* font-size: 1.5em; */
/* line 39, ../../scss/index/staticVars.scss */
.fs_Georgia {
  font-family: Georgia, serif;
}

/* font-size: 1.5em; */
/* line 40, ../../scss/index/staticVars.scss */
.fs_Cambria {
  font-family: Cambria, Georgia, serif;
}

/* font-size: 1.5em; */
/* line 41, ../../scss/index/staticVars.scss */
.fs_Lucida {
  font-family: "Lucida Grande", Arial, sans-serif;
}

/* font-size: 1.5em; */
/* line 42, ../../scss/index/staticVars.scss */
.fs_Blockquote {
  font-family: "Bitstream Vera Sans Mono", monospace;
}

/* font-size: 1.5em; */
/* line 44, ../../scss/index/staticVars.scss */
.fs_Print {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* font-size: 1.5em; */
/* ---------------------------------------- atFONTFACE Properties --------------------------------------- */
/* font face compass.rb specific variables */
/* ----------------------------- Text Typography   --------------------------- */
/* line 56, ../../scss/index/staticVars.scss */
.normalTxt {
  font-weight: normal;
}

/* line 57, ../../scss/index/staticVars.scss */
.boldTxt {
  font-weight: bold;
}

/* line 58, ../../scss/index/staticVars.scss */
.italicTxt {
  font-style: italic;
}

/* word wrap ~ You can create classes for things like font weight and text manipulation, like ellipsis text. */
/* line 69, ../../scss/index/staticVars.scss */
.wrdwrp_break-word {
  word-wrap: break-word;
}

/* line 70, ../../scss/index/staticVars.scss */
.wtspc_no-wrap {
  white-space: nowrap;
}

/* line 71, ../../scss/index/staticVars.scss */
.ovrflw_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 73, ../../scss/index/staticVars.scss */
.ovrflw_hidden {
  white-space: normal;
  overflow: hidden;
}

/* ----------------------------- DISPLAY properties   --------------------------- */
/* Display Values. The following helper classes give us the ability to use the different values for CSSs display property: */
/* line 85, ../../scss/index/staticVars.scss */
.inline-test {
  display: inline;
}

/* line 86, ../../scss/index/staticVars.scss */
.block-test {
  display: block;
}

/* line 87, ../../scss/index/staticVars.scss */
.inline-block-test {
  display: inline-block;
}

/* line 88, ../../scss/index/staticVars.scss */
.hide-test {
  display: none;
}

/* line 89, ../../scss/index/staticVars.scss */
.flex-test {
  display: flex;
}

/* ----------------------------- VISIBILITY  properties   --------------------------- */
/* line 98, ../../scss/index/staticVars.scss */
.coll-test {
  visibility: collapse;
}

/* line 99, ../../scss/index/staticVars.scss */
.hidd-test {
  visibility: hidden;
}

/* line 100, ../../scss/index/staticVars.scss */
.inhe-test {
  visibility: inherit;
}

/* line 101, ../../scss/index/staticVars.scss */
.visi-test {
  visibility: visible;
}

/* ---------------- HORIZONTAL COLUMNAR RHYTHM ----------------- */
/* ----------------  ELEMENT WIDTH AND HEIGHT HELPER CLASSES ------------------ */
/* Imagine that you need a section to be full height in different places on your website ~ we can create one class called full-height. */
/* ---------------- WIDTH constants  -------------------------- */
/* ---------------- MAX WIDTH ~ ELEMENT  -------------------------- */
/* line 113, ../../scss/index/staticVars.scss */
.fitmax-width {
  max-width: 100%;
}

/* ---------------- WIDTH ~ ELEMENT -------------------------- */
/* line 115, ../../scss/index/staticVars.scss */
.full-width {
  width: 100%;
}

/* line 116, ../../scss/index/staticVars.scss */
.half-width {
  width: 50%;
}

/* line 117, ../../scss/index/staticVars.scss */
.quarter-width {
  width: 25%;
}

/* ---------------- HEIGHT ~ ELEMENT -------------------------- */
/* line 119, ../../scss/index/staticVars.scss */
.full-height {
  height: 100%;
}

/* ---------------- MARGIN AND PADDING -------------------------- */
/* ----------------------- MARGIN Helper Classes --------------------------------- */
/*v2*/
/* ---------------- extra TOPPINGS - MY VERSION AND FINDINGS  -------------------------- */
/* These are arguably the most used properties in our CSS. Adding some abstract classes that can handle this will DRY our code. We start by defining a variable (using Sass) for the base space unit for our design. Lets start with 1em and on top of that we can create classes for different space sizes. */
/* ----------------------------- ELEMENT FLOATING AND ALIGNMENTS TO INCL. TEXT ALIGNMENT  --------------------------- */
/* Helper classes also called utility classes can help us write DRY less repetitive code and was discussed by Thierry Koblentzs at Smashing Magazine. What Are Helper Classes Helper classes can help remove repetition by creating a set of abstract classes that can be used over and over on HTML elements. Each helper class is responsible for doing one job and doing it well. In the future whenever you create a new component you will just need to combine some classes together to build it. */
/* ---------------- Text Alignment -------------------------- */
/* line 142, ../../scss/index/staticVars.scss */
.text-ali-left {
  text-align: left;
}

/* line 143, ../../scss/index/staticVars.scss */
.text-ali-center {
  text-align: center;
}

/* line 144, ../../scss/index/staticVars.scss */
.text-ali-right {
  text-align: right;
}

/* ---------------- Vertical Alignment -------------------------- */
/* line 151, ../../scss/index/staticVars.scss */
.vert-ali-top {
  vertical-align: top;
}

/* line 152, ../../scss/index/staticVars.scss */
.vert-ali-middle {
  vertical-align: middle;
}

/* line 153, ../../scss/index/staticVars.scss */
.vert-ali-bottom {
  vertical-align: bottom;
}

/* ----------------------------- ELEMENT POSITIONING AND ZED INDEX  --------------------------- */
/* The "pin" helper classes are inspired by Mapboxs CSS. Lets extend the full-height example to contain an element positioned at the bottom right. */
/* Position and Z-index. Position-related properties can be combined with other properties like z-index to create a complex layout. We can create a set of classes to set the exact position of any element in relation to the viewport or an ancestor element (right, left, top left, etc): */
/* ---------------- Positioning -------------------------- */
/* line 168, ../../scss/index/staticVars.scss */
.pos-fixed {
  position: fixed;
}

/* line 169, ../../scss/index/staticVars.scss */
.pos-rel {
  position: relative;
}

/* line 170, ../../scss/index/staticVars.scss */
.pos-abs {
  position: absolute;
}

/* line 171, ../../scss/index/staticVars.scss */
.pos-statc {
  position: static;
}

/* ---------------- ZedIndex -------------------------- */
/* ----------- HELPER CLASSES ------------------- */
/* ---------------- ZedIndices - 0 1 2 3 4 500 9999 -------------------------- */
/* line 185, ../../scss/index/staticVars.scss */
.zIdxNines {
  z-index: 9999;
}

/* line 186, ../../scss/index/staticVars.scss */
.zIdxFiveHundy {
  z-index: 500;
}

/* line 187, ../../scss/index/staticVars.scss */
.zIdx1 {
  z-index: 1;
}

/* line 188, ../../scss/index/staticVars.scss */
.zIdx2 {
  z-index: 2;
}

/* line 189, ../../scss/index/staticVars.scss */
.zIdx3 {
  z-index: 3;
}

/* ----------- quadrants top bottom right left ------------------- */
/* line 193, ../../scss/index/staticVars.scss */
.pin-top-right {
  top: 0;
  right: 0;
}

/* line 194, ../../scss/index/staticVars.scss */
.pin-btm-right {
  bottom: 0;
  right: 0;
}

/* line 195, ../../scss/index/staticVars.scss */
.pin-top-left {
  top: 0;
  left: 0;
}

/* line 196, ../../scss/index/staticVars.scss */
.pin-btm-left {
  bottom: 0;
  left: 0;
}

/* ------------------new 03/22/2015 ~ opacity stuff ------------------- */
/* line 203, ../../scss/index/staticVars.scss */
.halfsies {
  opacity: 0.5;
}

/* line 204, ../../scss/index/staticVars.scss */
.wholesies {
  opacity: 1;
}

/* ---------------------------------------- COLORS --------------------------------------- */
/* -------------------- alpha channels for for future use ------------------- */
/* yet to be determined */
/* white ALPHA */
/* grey ALPHA */
/* black ALPHA */
/* -------------------------------------------- union jack colors -------------------------------------------- */
/* -------------------------------------------- union jack colors -------------------------------------------- */
/* #AABBFF */
/* -------------------------- spurious colors ------------------------------ */
/* #FF05B4 */
/* #97026A */
/* #75215F */
/* #520039 */
/* #969696  */
/* #C2C2C2  */
/* #EFEFEF  */
/* #F8F8F8  */
/* #520101 magenta */
/* #2955CC navy blue*/
/* #C50202 brick red*/
/* #440E0E dark brick red */
/* #FF95EF vivrant pink */
/* #96EBFF vivrant baby-blue */
/* #006C88 */
/* #EEAA22*/
/* #EE5588*/
/* #FF9900*/
/* #5588EE*/
/* #EFEFEF */
/* #33CC77 */
/* -------------------------------------------- transparent value per se || "percy" -------------------------------------------- */
/* -------------------------------------------- transparent RGBAs -------------------------------------------- */
/*#AE12FF*/
/* #F89FF9 */
/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
/* -------------------------------------------- solid HEX VALUEs -------------------------------------------- */
/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
/* -------------------------------------------- CHOCOLATE MINT -------------------------------------------- */
/* -------------------------------------------- promise curves -------------------------------------------- */
/* -------------------------------------------- color systems -------------------------------------------- */
/* HELPER CLASSES ~ BACKGROUND COLOR application*/
/* line 442, ../../scss/index/staticVars.scss */
.alert-bg {
  background-color: #E74C3C;
}

/* line 443, ../../scss/index/staticVars.scss */
.notice-bg {
  background-color: #E74C3C;
}

/* line 444, ../../scss/index/staticVars.scss */
.success-bg {
  background-color: #E74C3C;
}

/* HELPER CLASSES ~ TEXT COLOR application */
/* line 447, ../../scss/index/staticVars.scss */
.alert {
  color: #E74C3C;
}

/* line 448, ../../scss/index/staticVars.scss */
.notice {
  color: #FFE9BF;
}

/* line 449, ../../scss/index/staticVars.scss */
.success {
  color: #1ABC9C;
}

/* deploy phase FONT FACE */
/* old version ~ pre October 2015*/
/* @import "compass/css3/shared"; */
/* deploy phase FONT FACE */
/* new version as of October 2015*/
/* hack! ~ 

https://github.com/Compass/compass/issues/2052

https://www.bountysource.com/issues/30226002-deprecation-warning-interpolation-near-operators 
*/
/*  @mixin debug-support-matrix($experimental: true, $ie: true) {
  @debug  $moz-$experimental-support-for-mozilla
          $webkit-$experimental-support-for-webkit
          $opera-$experimental-support-for-opera
          $microsoft-$experimental-support-for-microsoft
          $khtml-$experimental-support-for-khtml;
  @debug  $ie6-$legacy-support-for-ie6
          $ie7-$legacy-support-for-ie7
          $ie8-$legacy-support-for-ie8;
}  */
/* new insertion point */
/* /usr/share/compass/frameworks/compass/stylesheets/compass/css3/_deprecated-support.scss */
/* end new insertion point */
/* deploy phase 1.5 */
/* utils.scss */
/* whole kit and kaboodle */
/* hack! ~ 

https://github.com/Compass/compass/issues/2052

https://www.bountysource.com/issues/30226002-deprecation-warning-interpolation-near-operators 
*/
/*  @mixin debug-support-matrix($experimental: true, $ie: true) {
  @debug  $moz-$experimental-support-for-mozilla
          $webkit-$experimental-support-for-webkit
          $opera-$experimental-support-for-opera
          $microsoft-$experimental-support-for-microsoft
          $khtml-$experimental-support-for-khtml;
  @debug  $ie6-$legacy-support-for-ie6
          $ie7-$legacy-support-for-ie7
          $ie8-$legacy-support-for-ie8;
}  */
/* hack! ~ 

https://github.com/Compass/compass/issues/2052

https://www.bountysource.com/issues/30226002-deprecation-warning-interpolation-near-operators 
*/
/*  @mixin debug-support-matrix($experimental: true, $ie: true) {
  @debug  $moz-$experimental-support-for-mozilla
          $webkit-$experimental-support-for-webkit
          $opera-$experimental-support-for-opera
          $microsoft-$experimental-support-for-microsoft
          $khtml-$experimental-support-for-khtml;
  @debug  $ie6-$legacy-support-for-ie6
          $ie7-$legacy-support-for-ie7
          $ie8-$legacy-support-for-ie8;
}  */
/* resetto v1 */
/* @import "compass/reset"; */
/* css3 schtuff - this permits mixins */
/*watch this*/
/* @import "compass/css3"; */
/* font face shared stuff */
/* watch this */
/* @import "compass/css3/shared"; */
/* transition stuff */
/* sprite-utility stuff */
/* deploy phase 2 */
/* mixins.scss */
/* @import 'staticVars.scss'; 
@import 'utils.scss'; */
/* REMEMBER THE BACON/CHEDDAR COLOR COMBINATION FOR LATER */
/* -------------------------------------------- ALL POSSIBLE static VARIABLES  -------------------------------------------- */
/* ---------------- UNNAMED AS OF YET ----------------- */
/* // If you want to position the inner element at the top right, you can use the pin-top-right instead of pin-bottom-right. You might have noticed in the above code I also added another helper class: The padding-one class ensures the element is not flush against the edge of the container or viewport.

// Floated Elements. Floating elements left or right can be done using left or right classes. The well-known clearfix class can be used on the parent element to clear floats, shown below using Sass s parent selector: */
/* ---------------------------------------- text transformation ~ new --------------------------------------- */
/* ---------------------------------------- FONT STACKS --------------------------------------- */
/* WEB FONT EFFECTs */
/* .ftfx_Fire_1Ablaze { } */
/* WEB FONTs */
/* PRINT FONTs */
/* font stack */
/* line 37, ../../scss/index/staticVars.scss */
.fs_Helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* font-size: 1.5em; */
/* line 38, ../../scss/index/staticVars.scss */
.fs_Trebuchet {
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

/* font-size: 1.5em; */
/* line 39, ../../scss/index/staticVars.scss */
.fs_Georgia {
  font-family: Georgia, serif;
}

/* font-size: 1.5em; */
/* line 40, ../../scss/index/staticVars.scss */
.fs_Cambria {
  font-family: Cambria, Georgia, serif;
}

/* font-size: 1.5em; */
/* line 41, ../../scss/index/staticVars.scss */
.fs_Lucida {
  font-family: "Lucida Grande", Arial, sans-serif;
}

/* font-size: 1.5em; */
/* line 42, ../../scss/index/staticVars.scss */
.fs_Blockquote {
  font-family: "Bitstream Vera Sans Mono", monospace;
}

/* font-size: 1.5em; */
/* line 44, ../../scss/index/staticVars.scss */
.fs_Print {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* font-size: 1.5em; */
/* ---------------------------------------- atFONTFACE Properties --------------------------------------- */
/* font face compass.rb specific variables */
/* ----------------------------- Text Typography   --------------------------- */
/* line 56, ../../scss/index/staticVars.scss */
.normalTxt {
  font-weight: normal;
}

/* line 57, ../../scss/index/staticVars.scss */
.boldTxt {
  font-weight: bold;
}

/* line 58, ../../scss/index/staticVars.scss */
.italicTxt {
  font-style: italic;
}

/* word wrap ~ You can create classes for things like font weight and text manipulation, like ellipsis text. */
/* line 69, ../../scss/index/staticVars.scss */
.wrdwrp_break-word {
  word-wrap: break-word;
}

/* line 70, ../../scss/index/staticVars.scss */
.wtspc_no-wrap {
  white-space: nowrap;
}

/* line 71, ../../scss/index/staticVars.scss */
.ovrflw_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 73, ../../scss/index/staticVars.scss */
.ovrflw_hidden {
  white-space: normal;
  overflow: hidden;
}

/* ----------------------------- DISPLAY properties   --------------------------- */
/* Display Values. The following helper classes give us the ability to use the different values for CSSs display property: */
/* line 85, ../../scss/index/staticVars.scss */
.inline-test {
  display: inline;
}

/* line 86, ../../scss/index/staticVars.scss */
.block-test {
  display: block;
}

/* line 87, ../../scss/index/staticVars.scss */
.inline-block-test {
  display: inline-block;
}

/* line 88, ../../scss/index/staticVars.scss */
.hide-test {
  display: none;
}

/* line 89, ../../scss/index/staticVars.scss */
.flex-test {
  display: flex;
}

/* ----------------------------- VISIBILITY  properties   --------------------------- */
/* line 98, ../../scss/index/staticVars.scss */
.coll-test {
  visibility: collapse;
}

/* line 99, ../../scss/index/staticVars.scss */
.hidd-test {
  visibility: hidden;
}

/* line 100, ../../scss/index/staticVars.scss */
.inhe-test {
  visibility: inherit;
}

/* line 101, ../../scss/index/staticVars.scss */
.visi-test {
  visibility: visible;
}

/* ---------------- HORIZONTAL COLUMNAR RHYTHM ----------------- */
/* ----------------  ELEMENT WIDTH AND HEIGHT HELPER CLASSES ------------------ */
/* Imagine that you need a section to be full height in different places on your website ~ we can create one class called full-height. */
/* ---------------- WIDTH constants  -------------------------- */
/* ---------------- MAX WIDTH ~ ELEMENT  -------------------------- */
/* line 113, ../../scss/index/staticVars.scss */
.fitmax-width {
  max-width: 100%;
}

/* ---------------- WIDTH ~ ELEMENT -------------------------- */
/* line 115, ../../scss/index/staticVars.scss */
.full-width {
  width: 100%;
}

/* line 116, ../../scss/index/staticVars.scss */
.half-width {
  width: 50%;
}

/* line 117, ../../scss/index/staticVars.scss */
.quarter-width {
  width: 25%;
}

/* ---------------- HEIGHT ~ ELEMENT -------------------------- */
/* line 119, ../../scss/index/staticVars.scss */
.full-height {
  height: 100%;
}

/* ---------------- MARGIN AND PADDING -------------------------- */
/* ----------------------- MARGIN Helper Classes --------------------------------- */
/*v2*/
/* ---------------- extra TOPPINGS - MY VERSION AND FINDINGS  -------------------------- */
/* These are arguably the most used properties in our CSS. Adding some abstract classes that can handle this will DRY our code. We start by defining a variable (using Sass) for the base space unit for our design. Lets start with 1em and on top of that we can create classes for different space sizes. */
/* ----------------------------- ELEMENT FLOATING AND ALIGNMENTS TO INCL. TEXT ALIGNMENT  --------------------------- */
/* Helper classes also called utility classes can help us write DRY less repetitive code and was discussed by Thierry Koblentzs at Smashing Magazine. What Are Helper Classes Helper classes can help remove repetition by creating a set of abstract classes that can be used over and over on HTML elements. Each helper class is responsible for doing one job and doing it well. In the future whenever you create a new component you will just need to combine some classes together to build it. */
/* ---------------- Text Alignment -------------------------- */
/* line 142, ../../scss/index/staticVars.scss */
.text-ali-left {
  text-align: left;
}

/* line 143, ../../scss/index/staticVars.scss */
.text-ali-center {
  text-align: center;
}

/* line 144, ../../scss/index/staticVars.scss */
.text-ali-right {
  text-align: right;
}

/* ---------------- Vertical Alignment -------------------------- */
/* line 151, ../../scss/index/staticVars.scss */
.vert-ali-top {
  vertical-align: top;
}

/* line 152, ../../scss/index/staticVars.scss */
.vert-ali-middle {
  vertical-align: middle;
}

/* line 153, ../../scss/index/staticVars.scss */
.vert-ali-bottom {
  vertical-align: bottom;
}

/* ----------------------------- ELEMENT POSITIONING AND ZED INDEX  --------------------------- */
/* The "pin" helper classes are inspired by Mapboxs CSS. Lets extend the full-height example to contain an element positioned at the bottom right. */
/* Position and Z-index. Position-related properties can be combined with other properties like z-index to create a complex layout. We can create a set of classes to set the exact position of any element in relation to the viewport or an ancestor element (right, left, top left, etc): */
/* ---------------- Positioning -------------------------- */
/* line 168, ../../scss/index/staticVars.scss */
.pos-fixed {
  position: fixed;
}

/* line 169, ../../scss/index/staticVars.scss */
.pos-rel {
  position: relative;
}

/* line 170, ../../scss/index/staticVars.scss */
.pos-abs {
  position: absolute;
}

/* line 171, ../../scss/index/staticVars.scss */
.pos-statc {
  position: static;
}

/* ---------------- ZedIndex -------------------------- */
/* ----------- HELPER CLASSES ------------------- */
/* ---------------- ZedIndices - 0 1 2 3 4 500 9999 -------------------------- */
/* line 185, ../../scss/index/staticVars.scss */
.zIdxNines {
  z-index: 9999;
}

/* line 186, ../../scss/index/staticVars.scss */
.zIdxFiveHundy {
  z-index: 500;
}

/* line 187, ../../scss/index/staticVars.scss */
.zIdx1 {
  z-index: 1;
}

/* line 188, ../../scss/index/staticVars.scss */
.zIdx2 {
  z-index: 2;
}

/* line 189, ../../scss/index/staticVars.scss */
.zIdx3 {
  z-index: 3;
}

/* ----------- quadrants top bottom right left ------------------- */
/* line 193, ../../scss/index/staticVars.scss */
.pin-top-right {
  top: 0;
  right: 0;
}

/* line 194, ../../scss/index/staticVars.scss */
.pin-btm-right {
  bottom: 0;
  right: 0;
}

/* line 195, ../../scss/index/staticVars.scss */
.pin-top-left {
  top: 0;
  left: 0;
}

/* line 196, ../../scss/index/staticVars.scss */
.pin-btm-left {
  bottom: 0;
  left: 0;
}

/* ------------------new 03/22/2015 ~ opacity stuff ------------------- */
/* line 203, ../../scss/index/staticVars.scss */
.halfsies {
  opacity: 0.5;
}

/* line 204, ../../scss/index/staticVars.scss */
.wholesies {
  opacity: 1;
}

/* ---------------------------------------- COLORS --------------------------------------- */
/* -------------------- alpha channels for for future use ------------------- */
/* yet to be determined */
/* white ALPHA */
/* grey ALPHA */
/* black ALPHA */
/* -------------------------------------------- union jack colors -------------------------------------------- */
/* -------------------------------------------- union jack colors -------------------------------------------- */
/* #AABBFF */
/* -------------------------- spurious colors ------------------------------ */
/* #FF05B4 */
/* #97026A */
/* #75215F */
/* #520039 */
/* #969696  */
/* #C2C2C2  */
/* #EFEFEF  */
/* #F8F8F8  */
/* #520101 magenta */
/* #2955CC navy blue*/
/* #C50202 brick red*/
/* #440E0E dark brick red */
/* #FF95EF vivrant pink */
/* #96EBFF vivrant baby-blue */
/* #006C88 */
/* #EEAA22*/
/* #EE5588*/
/* #FF9900*/
/* #5588EE*/
/* #EFEFEF */
/* #33CC77 */
/* -------------------------------------------- transparent value per se || "percy" -------------------------------------------- */
/* -------------------------------------------- transparent RGBAs -------------------------------------------- */
/*#AE12FF*/
/* #F89FF9 */
/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
/* -------------------------------------------- solid HEX VALUEs -------------------------------------------- */
/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
/* -------------------------------------------- CHOCOLATE MINT -------------------------------------------- */
/* -------------------------------------------- promise curves -------------------------------------------- */
/* -------------------------------------------- color systems -------------------------------------------- */
/* HELPER CLASSES ~ BACKGROUND COLOR application*/
/* line 442, ../../scss/index/staticVars.scss */
.alert-bg {
  background-color: #E74C3C;
}

/* line 443, ../../scss/index/staticVars.scss */
.notice-bg {
  background-color: #E74C3C;
}

/* line 444, ../../scss/index/staticVars.scss */
.success-bg {
  background-color: #E74C3C;
}

/* HELPER CLASSES ~ TEXT COLOR application */
/* line 447, ../../scss/index/staticVars.scss */
.alert {
  color: #E74C3C;
}

/* line 448, ../../scss/index/staticVars.scss */
.notice {
  color: #FFE9BF;
}

/* line 449, ../../scss/index/staticVars.scss */
.success {
  color: #1ABC9C;
}

/* -------------------------------------------- ALL POSSIBLE MIXINS -------------------------------------------- */
/* ----------------------------- control directive - if - container dropCap_defProgEn class MIXIN ~  --------------------------- */
/* line 34, ../../scss/index/mixins.scss */
.drpCp-PE:first-child:first-letter {
  /* Declare progressive enhancement  */
  float: left;
  color: #903;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia;
}

/* line 41, ../../scss/index/mixins.scss */
.drpCp-GD .firstcharacter {
  /* Declare progressive enhancement  */
  float: left;
  color: #903;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia;
}

/* ----------------------------- ANCHORS LOVE\HATE TRANSITION MIXIN ~ :link :visited :hover :active --------------------------- */
/* line 74, ../../scss/index/mixins.scss */
.love_hate_1 {
  /*love_hate_1 ~ LEGIT CODE */
  /*font-size: 100%; */
  text-decoration: none;
  color: #FFCC66;
  /* $col_LtOR */
  /* padding: 6px 12px; 
  height: 50px;*/
  /* -ms-transition: 0.17578s all linear; 
  -moz-transition: 0.17578s all linear; 
  -webkit-transition: 0.17578s all linear; 
  -o-transition: 0.17578s all linear; 
  transition: 0.17578s all linear; */
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.17578s;
  -o-transition-duration: 0.17578s;
  -webkit-transition-duration: 0.17578s;
  transition-duration: 0.17578s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 66, ../../scss/index/mixins.scss */
.love_hate_1:link {
  background-color: #520101;
  text-decoration: none;
  color: #FFCC66;
}
/* line 67, ../../scss/index/mixins.scss */
.love_hate_1:visited {
  background-color: #2955cc;
  text-decoration: none;
  color: #404040;
}
/* line 68, ../../scss/index/mixins.scss */
.love_hate_1:hover {
  background-color: #c50202;
  text-decoration: underline;
  color: #404040;
}
/* line 69, ../../scss/index/mixins.scss */
.love_hate_1:focus {
  background-color: #c50202;
  text-decoration: none;
  color: #404040;
}
/* line 70, ../../scss/index/mixins.scss */
.love_hate_1:active {
  background-color: #440e0e;
  text-decoration: none;
  color: #F2F2F2;
}

/* ----------------------------- ANCHORS LOVE\HATE TRANSITION MIXIN ~ :link :visited :hover :active --------------------------- */
/* line 92, ../../scss/index/mixins.scss */
.dry_transition_1 {
  /* @mixin love_hate_1( $pm_lk_pro: $col_ancho, $pm_vst: $col_ancho_visit, $pm_hv_foc: $col_ancho_hvr_fcs, $pm_actv: $col_ancho_active  ) { */
  /* transition: 0.17578s all linear; */
  /* transition: 1s all ease-in-out; */
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3515s;
  -o-transition-duration: 0.3515s;
  -webkit-transition-duration: 0.3515s;
  transition-duration: 0.3515s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  /* &:link { background-color: $pm_lk_pro; text-decoration: none; color: $col_LtOR; } */
}

/* ----------------------------- compliant w3c Gradients with parametrical and default values for multilevel MIXIN --------------------------- */
/* v1 */
/* gradient background attributes */
/* cmplt_gradient */
/* line 135, ../../scss/index/mixins.scss */
.cmplt_gradient {
  /* BACKGROUND */
  background: #efefef;
  /*background-repeat: no-repeat;*/
  /*MOZ 4++ & W3C*/
  background: linear-gradient(to bottom, #efefef 22%, #cdcdcd 44%, #898989 55%, #898989 77%);
  /*MOZ 3.6++ */
  /*Both with and w/o '-image' affect my Mozilla thus I have alternatives for inclusion -- b/w pattern SHOWN */
  /*background: -moz-linear-gradient(0% 100% 90deg, rgb(255, 250, 240) 22%, rgb(230, 149, 0) 44%, rgb(128,83,0) 55%, rgb(128,83,0) 77%); */
  background-image: -moz-linear-gradient(top, #898989 22%, #898989 44%, #cdcdcd 55%, #efefef 77%);
  /* Opera 11.10+ */
  /*Both with and w/o '-image' affect my Opera thus I have alternatives for inclusion*/
  /*background: -o-linear-gradient(top, #805300 22%, #805300 44%, #E69500 55%, #FFF9EF 77%);*/
  background-image: -o-linear-gradient(top, #898989 22%, #898989 44%, #cdcdcd 55%, #efefef 77%);
  /*SAFARI / WEBKIT /ETC */
  /* Chrome10+, Safari5.1+ WORKS*/
  background: -webkit-linear-gradient(top, #efefef 22%, #cdcdcd 44%, #898989 55%, #898989 77%);
  /*<!=Chrome10+, Safari4+ WORKS*/
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #efefef), color-stop(44%, #cdcdcd), color-stop(55%, #898989), color-stop(77%, #898989));
  /*<!=Chrome10+, Safari4+ WORKS*/
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.22, #efefef), color-stop(0.44, #cdcdcd), color-stop(0.55, #898989), color-stop(0.77, #898989));
  /* IE6-9 */
  /*CONTROL this is it OFF*/
  /**/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#805300', endColorstr='#FFF9EF', GradientType=0 );
  /**/
  /**/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#805300', EndColorStr='#FFF9EF');
  /**/
  /**/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99805300',EndColorStr='#99FFF9EF');
  /**/
  /*END CONTROL*/
}

/* ----------------------------- DIVER DOWN SYMBOL ~ Background Gradients with parametrical and default values for multilevel MIXIN --------------------------- */
/* v0 */
/* gradient background attributes */
/* grdnt_BizCard */
/* line 160, ../../scss/index/mixins.scss */
.grdnt_BizCard {
  background: #fe3232;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.6)), -webkit-linear-gradient(45deg, #fe3232 5em, #eeaa22 8.5em, #eeaa22 16em, #fe3232 20em);
  background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.6)), -moz-linear-gradient(45deg, #fe3232 5em, #eeaa22 8.5em, #eeaa22 16em, #fe3232 20em);
  background: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.6)), -ms-linear-gradient(45deg, #fe3232 5em, #eeaa22 8.5em, #eeaa22 16em, #fe3232 20em);
  background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.6)), -o-linear-gradient(45deg, #fe3232 5em, #eeaa22 8.5em, #eeaa22 16em, #fe3232 20em);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), linear-gradient(45deg, #fe3232 5em, #eeaa22 8.5em, #eeaa22 16em, #fe3232 20em);
}

/* ################### */
/* -------------------- W3C COMPLIANT TEXT-SHADOW with parametrical and default values for multilevel MIXIN ------------ */
/* text_shadow #0 */
/* line 195, ../../scss/index/mixins.scss */
.text_shadow {
  /*TEXT-SHADOW ~ LEGIT CODE */
  /* text-shadow: h-shadow v-shadow blur color|none|initial|inherit; */
  -ms-text-shadow: 5px 5px #FF0077 #805300;
  -webkit-text-shadow: 5px 5px #FF0077 #805300;
  -o-text-shadow: 5px 5px #FF0077 #805300;
  -moz-text-shadow: 5px 5px #FF0077 #805300;
  text-shadow: 5px 5px #FF0077 #805300;
  -ms-text-shadow: 1.5px 1.5px 2.25px #9557AF;
  -webkit-text-shadow: 1.5px 1.5px 2.25px #9557AF;
  -o-text-shadow: 1.5px 1.5px 2.25px #9557AF;
  -moz-text-shadow: 1.5px 1.5px 2.25px #9557AF;
  text-shadow: 1.5px 1.5px 2.25px #9557AF;
  -ms-text-shadow: 1.5px 0.75px 0.75px #805300;
  -webkit-text-shadow: 1.5px 0.75px 0.75px #805300;
  -o-text-shadow: 1.5px 0.75px 0.75px #805300;
  -moz-text-shadow: 1.5px 0.75px 0.75px #805300;
  text-shadow: 1.5px 0.75px 0.75px #805300;
  -ms-text-shadow: 0.75px 0.75px 0.75px #000000;
  -webkit-text-shadow: 0.75px 0.75px 0.75px #000000;
  -o-text-shadow: 0.75px 0.75px 0.75px #000000;
  -moz-text-shadow: 0.75px 0.75px 0.75px #000000;
  text-shadow: 0.75px 0.75px 0.75px #000000;
}

/* plain_2pm_shadow #1 */
/* line 208, ../../scss/index/mixins.scss */
.plain_2pm_shadow {
  -ms-text-shadow: 0 1px 0 rgba(0, 108, 136, 0.8), 3px 3px 5px #006C88;
  -o-text-shadow: 0 1px 0 rgba(0, 108, 136, 0.8), 3px 3px 5px #006C88;
  -moz-text-shadow: 0 1px 0 rgba(0, 108, 136, 0.8), 3px 3px 5px #006C88;
  -webkit-text-shadow: 0 1px 0 rgba(0, 108, 136, 0.8), 3px 3px 5px #006C88;
  text-shadow: 0 1px 0 rgba(0, 108, 136, 0.8), 3px 3px 5px #006C88;
}

/* -------------------- DIODE TEXT-SHADOW MIXIN ------------ */
/* plain_3pm_shadow #2 */
/* plain_3pm_shadow #2 */
/* line 222, ../../scss/index/mixins.scss */
.plain_3pm_shadow {
  -ms-text-shadow: 5px 0px 0px #805300;
  -webkit-text-shadow: 5px 0px 0px #805300;
  -o-text-shadow: 5px 0px 0px #805300;
  -moz-text-shadow: 5px 0px 0px #805300;
  text-shadow: 5px 0px 0px #805300;
}

/* -------------------- GEAR FIRST TEXT-SHADOW MIXIN ------------ */
/* gear_first_shadow #3 */
/* gear_first_shadow #3 */
/* line 237, ../../scss/index/mixins.scss */
.gear_first_shadow {
  -ms-text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000;
  -webkit-text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000;
  -o-text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000;
  -moz-text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000;
  text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000;
}

/* -------------------- GEAR SAGONDO TEXT-SHADOW MIXIN ------------ */
/* gear_sagondo_shadow #4 */
/* gear_sagondo_shadow #4 */
/* line 252, ../../scss/index/mixins.scss */
.gear_sagondo_shadow {
  -ms-text-shadow: 1px 1px #805300, 2px 2px #805300, 3px 3px #805300, 4px 4px #805300, 5px 5px #805300, 6px 6px #805300, 7px 7px #805300, 8px 8px #805300, 9px 9px #805300, 10px 10px #805300, 11px 11px #805300;
  -webkit-text-shadow: 1px 1px #805300, 2px 2px #805300, 3px 3px #805300, 4px 4px #805300, 5px 5px #805300, 6px 6px #805300, 7px 7px #805300, 8px 8px #805300, 9px 9px #805300, 10px 10px #805300, 11px 11px #805300;
  -o-text-shadow: 1px 1px #805300, 2px 2px #805300, 3px 3px #805300, 4px 4px #805300, 5px 5px #805300, 6px 6px #805300, 7px 7px #805300, 8px 8px #805300, 9px 9px #805300, 10px 10px #805300, 11px 11px #805300;
  -moz-text-shadow: 1px 1px #805300, 2px 2px #805300, 3px 3px #805300, 4px 4px #805300, 5px 5px #805300, 6px 6px #805300, 7px 7px #805300, 8px 8px #805300, 9px 9px #805300, 10px 10px #805300, 11px 11px #805300;
  text-shadow: 1px 1px #805300, 2px 2px #805300, 3px 3px #805300, 4px 4px #805300, 5px 5px #805300, 6px 6px #805300, 7px 7px #805300, 8px 8px #805300, 9px 9px #805300, 10px 10px #805300, 11px 11px #805300;
}

/* -------------------- RETRO NEWS TEXT-SHADOW MIXIN #6 ------------ */
/* -------------------- NEON BRITE TEXT-SHADOW MIXIN #7 ------------ */
/* -------------------- BEVEL INSET TEXT-SHADOW MIXIN #8 ------------ */
/* -------------------- COLORS 3D TEXT-SHADOW MIXIN #9 ------------ */
/* -------------------- FIRE ONE TEXT-SHADOW MIXIN #10 ------------ */
/* -------------------- FIRE TWO TEXT-SHADOW MIXIN #10 1/2 ------------ */
/* -------------------- GAME TRI-COLOR TEXT-SHADOW MIXIN #11 ------------ */
/* -------------------- W3C COMPLIANT TEXT-SHADOW shiken FIRE MIXIN ------------ */
/* shiken color #1 ~ red */
/* fireFist_text_shadow ~ black[hardcoded] */
/* fireFist_text_shadow #2,3,4 ~ , yellow, sandy-orangish, orange peel */
/* line 344, ../../scss/index/mixins.scss */
.ftfx_Fire_1ShikenAblaze {
  color: red;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 1px, rgba(255, 255, 51, 0.9) 0px -5px 5px, rgba(255, 204, 51, 0.7) 2px -10px 7px, rgba(255, 153, 0, 0.6) -2px -15px 10px;
  /*TEXT-SHADOW*/
  /* IE6-9 INTERSPERSED W/LEGIT CODE */
  /* text-shadow: h-shadow v-shadow blur color|none|initial|inherit; */
  filter: dropshadow(color=rgba(255, 153, 0, 0.6), offx=2, offy=2);
  filter: dropshadow(color=rgba(255, 204, 51, 0.7), offx=1.5, offy=1.5);
  filter: dropshadow(color=rgba(255, 255, 51, 0.9), offx=1.5, offy=0.75);
  filter: dropshadow(color=#000000, offx=0.75, offy=0.75);
}

/* -------------------- InternetExplorer non-compliant TEXT-SHADOW with parametrical and default values for multilevel MIXIN ------------ */
/* nonCmpIETextShadow */
/* line 362, ../../scss/index/mixins.scss */
.nonCmpIETextShadow {
  /*TEXT-SHADOW*/
  /* IE6-9 INTERSPERSED W/LEGIT CODE */
  /* text-shadow: h-shadow v-shadow blur color|none|initial|inherit; */
  filter: dropshadow(color=#FF05B4, offx=2, offy=2);
  filter: dropshadow(color=#FF05B4, offx=1.5, offy=1.5);
  filter: dropshadow(color=#97026A, offx=1.5, offy=0.75);
  filter: dropshadow(color=#000000, offx=0.75, offy=0.75);
}

/* -------------------- W3C COMPLIANT BOX SHADOW with parametrical and default values for multilevel MIXIN ------------ */
/* bxShdw_default */
/* bxShdw_ltPm */
/* bxShdw_allPm */
/* line 399, ../../scss/index/mixins.scss */
.bxShdw_default {
  /* DEFAULT BEHAVIOUR BOX-SHADOW */
  /* box-shadow: none; */
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 402, ../../scss/index/mixins.scss */
.bxShdw_ltPm {
  /* light quantity parameters BOX-SHADOW */
  -ms-box-shadow: #bada55 8px -8px 32px;
  -webkit-box-shadow: 8px -8px 32px #bada55;
  -o-box-shadow: #bada55 8px -8px 32px;
  -moz-box-shadow: #bada55 8px -8px 32px;
  box-shadow: #bada55 8px -8px 32px;
}

/* line 405, ../../scss/index/mixins.scss */
.bxShdw_allPm {
  /* all parameters BOX-SHADOW */
  /* box-shadow: | inset|initial|inherit h-shadow v-shadow blur spread color; */
  -ms-box-shadow: inset 4px -4px 16px 6px #805300;
  -webkit-box-shadow: inset 4px -4px 16px 6px #805300;
  -o-box-shadow: inset 4px -4px 16px 6px #805300;
  -moz-box-shadow: inset 4px -4px 16px 6px #805300;
  box-shadow: inset 4px -4px 16px 6px #805300;
}

/* -------------------- InternetExplorer non-compliant BOX SHADOW with parametrical and default values for multilevel MIXIN ------------ */
/* nonCmpIEDropShadow */
/* line 424, ../../scss/index/mixins.scss */
.nonCmpIEDropShadow {
  /*JUST ADDITIONAL IE6-9 */
  filter: progid:DXImageTransform.Microsoft.DropShadow(color=$ieCLR_1, offx=1, offy=1);
  filter: progid:DXImageTransform.Microsoft.DropShadow(color=$ieCLR_2, offx=2, offy=2);
  filter: progid:DXImageTransform.Microsoft.DropShadow(color=$ieCLR_3, offx=3, offy=3);
  filter: dropshadow(color=#FF0077, offx=1, offy=1);
  filter: dropshadow(color=#9557AF, offx=2, offy=2);
  filter: dropshadow(color=#805300, offx=3, offy=3);
}

/* ----------------------------- FIN. --------------------------- */
/* deploy phase 2.5 */
/* mixins.scss */
/* @import 'staticVars.scss'; 
@import 'utils.scss'; */
/* REMEMBER THE BACON/CHEDDAR COLOR COMBINATION FOR LATER */
/* -------------------------------------------- ALL POSSIBLE static VARIABLES  -------------------------------------------- */
/* ---------------- UNNAMED AS OF YET ----------------- */
/* // If you want to position the inner element at the top right, you can use the pin-top-right instead of pin-bottom-right. You might have noticed in the above code I also added another helper class: The padding-one class ensures the element is not flush against the edge of the container or viewport.

// Floated Elements. Floating elements left or right can be done using left or right classes. The well-known clearfix class can be used on the parent element to clear floats, shown below using Sass s parent selector: */
/* ---------------------------------------- text transformation ~ new --------------------------------------- */
/* ---------------------------------------- FONT STACKS --------------------------------------- */
/* WEB FONT EFFECTs */
/* .ftfx_Fire_1Ablaze { } */
/* WEB FONTs */
/* PRINT FONTs */
/* font stack */
/* line 37, ../../scss/index/staticVars.scss */
.fs_Helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* font-size: 1.5em; */
/* line 38, ../../scss/index/staticVars.scss */
.fs_Trebuchet {
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

/* font-size: 1.5em; */
/* line 39, ../../scss/index/staticVars.scss */
.fs_Georgia {
  font-family: Georgia, serif;
}

/* font-size: 1.5em; */
/* line 40, ../../scss/index/staticVars.scss */
.fs_Cambria {
  font-family: Cambria, Georgia, serif;
}

/* font-size: 1.5em; */
/* line 41, ../../scss/index/staticVars.scss */
.fs_Lucida {
  font-family: "Lucida Grande", Arial, sans-serif;
}

/* font-size: 1.5em; */
/* line 42, ../../scss/index/staticVars.scss */
.fs_Blockquote {
  font-family: "Bitstream Vera Sans Mono", monospace;
}

/* font-size: 1.5em; */
/* line 44, ../../scss/index/staticVars.scss */
.fs_Print {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* font-size: 1.5em; */
/* ---------------------------------------- atFONTFACE Properties --------------------------------------- */
/* font face compass.rb specific variables */
/* ----------------------------- Text Typography   --------------------------- */
/* line 56, ../../scss/index/staticVars.scss */
.normalTxt {
  font-weight: normal;
}

/* line 57, ../../scss/index/staticVars.scss */
.boldTxt {
  font-weight: bold;
}

/* line 58, ../../scss/index/staticVars.scss */
.italicTxt {
  font-style: italic;
}

/* word wrap ~ You can create classes for things like font weight and text manipulation, like ellipsis text. */
/* line 69, ../../scss/index/staticVars.scss */
.wrdwrp_break-word {
  word-wrap: break-word;
}

/* line 70, ../../scss/index/staticVars.scss */
.wtspc_no-wrap {
  white-space: nowrap;
}

/* line 71, ../../scss/index/staticVars.scss */
.ovrflw_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 73, ../../scss/index/staticVars.scss */
.ovrflw_hidden {
  white-space: normal;
  overflow: hidden;
}

/* ----------------------------- DISPLAY properties   --------------------------- */
/* Display Values. The following helper classes give us the ability to use the different values for CSSs display property: */
/* line 85, ../../scss/index/staticVars.scss */
.inline-test {
  display: inline;
}

/* line 86, ../../scss/index/staticVars.scss */
.block-test {
  display: block;
}

/* line 87, ../../scss/index/staticVars.scss */
.inline-block-test {
  display: inline-block;
}

/* line 88, ../../scss/index/staticVars.scss */
.hide-test {
  display: none;
}

/* line 89, ../../scss/index/staticVars.scss */
.flex-test {
  display: flex;
}

/* ----------------------------- VISIBILITY  properties   --------------------------- */
/* line 98, ../../scss/index/staticVars.scss */
.coll-test {
  visibility: collapse;
}

/* line 99, ../../scss/index/staticVars.scss */
.hidd-test {
  visibility: hidden;
}

/* line 100, ../../scss/index/staticVars.scss */
.inhe-test {
  visibility: inherit;
}

/* line 101, ../../scss/index/staticVars.scss */
.visi-test {
  visibility: visible;
}

/* ---------------- HORIZONTAL COLUMNAR RHYTHM ----------------- */
/* ----------------  ELEMENT WIDTH AND HEIGHT HELPER CLASSES ------------------ */
/* Imagine that you need a section to be full height in different places on your website ~ we can create one class called full-height. */
/* ---------------- WIDTH constants  -------------------------- */
/* ---------------- MAX WIDTH ~ ELEMENT  -------------------------- */
/* line 113, ../../scss/index/staticVars.scss */
.fitmax-width {
  max-width: 100%;
}

/* ---------------- WIDTH ~ ELEMENT -------------------------- */
/* line 115, ../../scss/index/staticVars.scss */
.full-width {
  width: 100%;
}

/* line 116, ../../scss/index/staticVars.scss */
.half-width {
  width: 50%;
}

/* line 117, ../../scss/index/staticVars.scss */
.quarter-width {
  width: 25%;
}

/* ---------------- HEIGHT ~ ELEMENT -------------------------- */
/* line 119, ../../scss/index/staticVars.scss */
.full-height {
  height: 100%;
}

/* ---------------- MARGIN AND PADDING -------------------------- */
/* ----------------------- MARGIN Helper Classes --------------------------------- */
/*v2*/
/* ---------------- extra TOPPINGS - MY VERSION AND FINDINGS  -------------------------- */
/* These are arguably the most used properties in our CSS. Adding some abstract classes that can handle this will DRY our code. We start by defining a variable (using Sass) for the base space unit for our design. Lets start with 1em and on top of that we can create classes for different space sizes. */
/* ----------------------------- ELEMENT FLOATING AND ALIGNMENTS TO INCL. TEXT ALIGNMENT  --------------------------- */
/* Helper classes also called utility classes can help us write DRY less repetitive code and was discussed by Thierry Koblentzs at Smashing Magazine. What Are Helper Classes Helper classes can help remove repetition by creating a set of abstract classes that can be used over and over on HTML elements. Each helper class is responsible for doing one job and doing it well. In the future whenever you create a new component you will just need to combine some classes together to build it. */
/* ---------------- Text Alignment -------------------------- */
/* line 142, ../../scss/index/staticVars.scss */
.text-ali-left {
  text-align: left;
}

/* line 143, ../../scss/index/staticVars.scss */
.text-ali-center {
  text-align: center;
}

/* line 144, ../../scss/index/staticVars.scss */
.text-ali-right {
  text-align: right;
}

/* ---------------- Vertical Alignment -------------------------- */
/* line 151, ../../scss/index/staticVars.scss */
.vert-ali-top {
  vertical-align: top;
}

/* line 152, ../../scss/index/staticVars.scss */
.vert-ali-middle {
  vertical-align: middle;
}

/* line 153, ../../scss/index/staticVars.scss */
.vert-ali-bottom {
  vertical-align: bottom;
}

/* ----------------------------- ELEMENT POSITIONING AND ZED INDEX  --------------------------- */
/* The "pin" helper classes are inspired by Mapboxs CSS. Lets extend the full-height example to contain an element positioned at the bottom right. */
/* Position and Z-index. Position-related properties can be combined with other properties like z-index to create a complex layout. We can create a set of classes to set the exact position of any element in relation to the viewport or an ancestor element (right, left, top left, etc): */
/* ---------------- Positioning -------------------------- */
/* line 168, ../../scss/index/staticVars.scss */
.pos-fixed {
  position: fixed;
}

/* line 169, ../../scss/index/staticVars.scss */
.pos-rel {
  position: relative;
}

/* line 170, ../../scss/index/staticVars.scss */
.pos-abs {
  position: absolute;
}

/* line 171, ../../scss/index/staticVars.scss */
.pos-statc {
  position: static;
}

/* ---------------- ZedIndex -------------------------- */
/* ----------- HELPER CLASSES ------------------- */
/* ---------------- ZedIndices - 0 1 2 3 4 500 9999 -------------------------- */
/* line 185, ../../scss/index/staticVars.scss */
.zIdxNines {
  z-index: 9999;
}

/* line 186, ../../scss/index/staticVars.scss */
.zIdxFiveHundy {
  z-index: 500;
}

/* line 187, ../../scss/index/staticVars.scss */
.zIdx1 {
  z-index: 1;
}

/* line 188, ../../scss/index/staticVars.scss */
.zIdx2 {
  z-index: 2;
}

/* line 189, ../../scss/index/staticVars.scss */
.zIdx3 {
  z-index: 3;
}

/* ----------- quadrants top bottom right left ------------------- */
/* line 193, ../../scss/index/staticVars.scss */
.pin-top-right {
  top: 0;
  right: 0;
}

/* line 194, ../../scss/index/staticVars.scss */
.pin-btm-right {
  bottom: 0;
  right: 0;
}

/* line 195, ../../scss/index/staticVars.scss */
.pin-top-left {
  top: 0;
  left: 0;
}

/* line 196, ../../scss/index/staticVars.scss */
.pin-btm-left {
  bottom: 0;
  left: 0;
}

/* ------------------new 03/22/2015 ~ opacity stuff ------------------- */
/* line 203, ../../scss/index/staticVars.scss */
.halfsies {
  opacity: 0.5;
}

/* line 204, ../../scss/index/staticVars.scss */
.wholesies {
  opacity: 1;
}

/* ---------------------------------------- COLORS --------------------------------------- */
/* -------------------- alpha channels for for future use ------------------- */
/* yet to be determined */
/* white ALPHA */
/* grey ALPHA */
/* black ALPHA */
/* -------------------------------------------- union jack colors -------------------------------------------- */
/* -------------------------------------------- union jack colors -------------------------------------------- */
/* #AABBFF */
/* -------------------------- spurious colors ------------------------------ */
/* #FF05B4 */
/* #97026A */
/* #75215F */
/* #520039 */
/* #969696  */
/* #C2C2C2  */
/* #EFEFEF  */
/* #F8F8F8  */
/* #520101 magenta */
/* #2955CC navy blue*/
/* #C50202 brick red*/
/* #440E0E dark brick red */
/* #FF95EF vivrant pink */
/* #96EBFF vivrant baby-blue */
/* #006C88 */
/* #EEAA22*/
/* #EE5588*/
/* #FF9900*/
/* #5588EE*/
/* #EFEFEF */
/* #33CC77 */
/* -------------------------------------------- transparent value per se || "percy" -------------------------------------------- */
/* -------------------------------------------- transparent RGBAs -------------------------------------------- */
/*#AE12FF*/
/* #F89FF9 */
/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
/* -------------------------------------------- solid HEX VALUEs -------------------------------------------- */
/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
/* -------------------------------------------- CHOCOLATE MINT -------------------------------------------- */
/* -------------------------------------------- promise curves -------------------------------------------- */
/* -------------------------------------------- color systems -------------------------------------------- */
/* HELPER CLASSES ~ BACKGROUND COLOR application*/
/* line 442, ../../scss/index/staticVars.scss */
.alert-bg {
  background-color: #E74C3C;
}

/* line 443, ../../scss/index/staticVars.scss */
.notice-bg {
  background-color: #E74C3C;
}

/* line 444, ../../scss/index/staticVars.scss */
.success-bg {
  background-color: #E74C3C;
}

/* HELPER CLASSES ~ TEXT COLOR application */
/* line 447, ../../scss/index/staticVars.scss */
.alert {
  color: #E74C3C;
}

/* line 448, ../../scss/index/staticVars.scss */
.notice {
  color: #FFE9BF;
}

/* line 449, ../../scss/index/staticVars.scss */
.success {
  color: #1ABC9C;
}

/* whole kit and kaboodle */
/* @import "compass"; */
/* resetto v1 */
/* @import "compass/reset"; */
/* css3 schtuff - this permits mixins */
/* @import "compass/css3"; */
/* font face shared stuff */
/* @import "compass/css3/shared"; */
/* transition stuff */
/* @import "compass/css3/transition"; */
/* -------------------------------------------- ALL POSSIBLE MIXINS -------------------------------------------- */
/* ----------------------------- center div container class MIXIN ~  --------------------------- */
/* ----------------------------- control directive - if - container float_defNone class MIXIN ~  --------------------------- */
/* line 67, ../../scss/index/mixins_ctx_layout.scss */
.flo-no {
  /* position: absolute;
  top: 0; 
  float: none; */
  float: none;
  /* Declare left  */
}

/* line 68, ../../scss/index/mixins_ctx_layout.scss */
.flo-lt {
  /* position: absolute;
  top: 0; 
  float: none; */
  float: left;
  /* Declare left  */
  float: left;
}

/* line 69, ../../scss/index/mixins_ctx_layout.scss */
.flo-rt {
  /* position: absolute;
  top: 0; 
  float: none; */
  float: right;
  /* Declare left  */
  float: right;
}

/* line 70, ../../scss/index/mixins_ctx_layout.scss */
.flo-in {
  /* position: absolute;
  top: 0; 
  float: none; */
  float: inherit;
  /* Declare left  */
  float: inherit;
}

/* -------------------- MARGIN with parametrical and default values for multilevel MIXIN ------------ */
/*v1*/
/* line 77, ../../scss/index/mixins_ctx_layout.scss */
.defZeroMrgn {
  margin: 0.5em 0 0.5em 0;
}

/* ----------------------- HEAVY~HANDED MARGIN Helper Classes --------------------------------- */
/* copy */
/* $val_css_auto: auto;
$base-em-unit: 1em;
$half-em-unit: $base-em-unit  / 2;
$qtr-em-unit: $base-em-unit  / 4;
$two-em-units: $base-em-unit  * 2; */
/* end copy */
/* ---------------- MARGIN-TOP ~ top margin assortment  -------------------------- */
/* line 92, ../../scss/index/mixins_ctx_layout.scss */
.marTop-base {
  margin: 1em 0 0 0;
}

/* line 93, ../../scss/index/mixins_ctx_layout.scss */
.marTop-half {
  margin: 0.5em 0 0 0;
}

/* line 94, ../../scss/index/mixins_ctx_layout.scss */
.marTop-quarter {
  margin: 0.25em 0 0 0;
}

/* line 96, ../../scss/index/mixins_ctx_layout.scss */
.marTop-dbl {
  margin: 2em 0 0 0;
}

/* line 97, ../../scss/index/mixins_ctx_layout.scss */
.marTop-none {
  margin: 0 0 0 0;
}

/* ---------------- MARGIN-BOTTOM ~ bottom margin assortment  -------------------------- */
/* line 100, ../../scss/index/mixins_ctx_layout.scss */
.marBtm-base {
  margin: 0 0 1em 0;
}

/* line 101, ../../scss/index/mixins_ctx_layout.scss */
.marBtm-half {
  margin: 0 0 0.5em 0;
}

/* line 102, ../../scss/index/mixins_ctx_layout.scss */
.marBtm-quarter {
  margin: 0 0 0.25em 0;
}

/* line 104, ../../scss/index/mixins_ctx_layout.scss */
.marBtm-dbl {
  margin: 0 0 2em 0;
}

/* line 105, ../../scss/index/mixins_ctx_layout.scss */
.marBtm-none {
  margin: 0 0 0 0;
}

/* ---------------- MARGIN-RIGHT \ MARGIN-LEFT ~ right and left margin AUTO -------------------------- */
/* line 107, ../../scss/index/mixins_ctx_layout.scss */
.marAuto-LfRt {
  margin: 0 auto 0 auto;
}

/* -------------------- PADDING with parametrical and default values for multilevel MIXIN ------------ */
/* .defZeroPdng{ @include defZeroPdng( 0.5em, 0, 0.5em, 0 ); } */
/* ----------------------- HEAVY~HANDED PADDING Helper Classes --------------------------------- */
/* ---------------- PADDING-TOP ~ top padding assortment -------------------------- */
/* line 117, ../../scss/index/mixins_ctx_layout.scss */
.padTop-base {
  padding: 1em 0 0 0;
}

/* line 118, ../../scss/index/mixins_ctx_layout.scss */
.padTop-half {
  padding: 0.5em 0 0 0;
}

/* line 119, ../../scss/index/mixins_ctx_layout.scss */
.padTop-quarter {
  padding: 0.25em 0 0 0;
}

/* line 121, ../../scss/index/mixins_ctx_layout.scss */
.padTop-dbl {
  padding: 2em 0 0 0;
}

/* line 122, ../../scss/index/mixins_ctx_layout.scss */
.padTop-none {
  padding: 0 0 0 0;
}

/* ---------------- PADDING-BOTTOM ~ bottom padding assortment -------------------------- */
/* line 124, ../../scss/index/mixins_ctx_layout.scss */
.padBtm-base {
  padding: 0 0 1em 0;
}

/* line 125, ../../scss/index/mixins_ctx_layout.scss */
.padBtm-half {
  padding: 0 0 0.5em 0;
}

/* line 126, ../../scss/index/mixins_ctx_layout.scss */
.padBtm-quarter {
  padding: 0 0 0.25em 0;
}

/* line 128, ../../scss/index/mixins_ctx_layout.scss */
.padBtm-dbl {
  padding: 0 0 2em 0;
}

/* line 129, ../../scss/index/mixins_ctx_layout.scss */
.padBtm-none {
  padding: 0 0 0 0;
}

/* ---------------- PADDING-RIGHT \ PADDING-LEFT ~ right and left padding AUTO -------------------------- */
/* line 131, ../../scss/index/mixins_ctx_layout.scss */
.padAuto-LfRt {
  padding: 0 auto 0 auto;
}

/* -------------------- BORDER PER, SE || PERCY with parametrical and default values for multilevel MIXIN ------------ */
/* -------------------------------------------- BORDER  -------------------------------------------- */
/* border_all */
/* border_top */
/* border_right */
/* border_bottom */
/* border_left */
/* border_all */
/* line 167, ../../scss/index/mixins_ctx_layout.scss */
.border_all {
  /* border: width border-style color; */
  border: 1px solid #F2F2F2;
  /* TBD */
}

/* border_top */
/* line 171, ../../scss/index/mixins_ctx_layout.scss */
.border_top {
  /* border: width border-style color; */
  border-top: 1px solid #75215f;
  /* $col_lugrd_org_dkMid */
}

/* border_right */
/* line 175, ../../scss/index/mixins_ctx_layout.scss */
.border_right {
  /* border: width border-style color; */
  border-right: 1px solid #75215f;
  /* $col_lugrd_org_dkMid */
}

/* border_bottom */
/* line 179, ../../scss/index/mixins_ctx_layout.scss */
.border_bottom {
  /* border: width border-style color; */
  border-bottom: 1px solid #75215f;
  /* $col_lugrd_org_dkMid */
}

/* border_left */
/* line 183, ../../scss/index/mixins_ctx_layout.scss */
.border_left {
  /* border: width border-style color; */
  border-left: 1px solid #75215f;
  /* $col_lugrd_org_dkMid */
}

/* -----------------------------  W3C COMPLIANT BORDER RADIUS with parametrical and default values for multilevel MIXIN --------------------------- */
/* corners_eq */
/* corners_noneq */
/* inrcorners_noneq  */
/* nonBleedCrnr  */
/* corners_eq */
/* line 226, ../../scss/index/mixins_ctx_layout.scss */
.corners_eq {
  /*16px*/
  /* EQ BORDER-RADIUS */
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}

/* corners_noneq */
/* line 230, ../../scss/index/mixins_ctx_layout.scss */
.corners_noneq {
  /* NON~EQ BORDER-RADIUS */
  -moz-border-radius: 1.125em 16px 10px 8%;
  -ms-border-radius: 1.125em 16px 10px 8%;
  -webkit-border-radius: 1.125em 16px 10px 8%;
  -o-border-radius: 1.125em 16px 10px 8%;
  border-radius: 1.125em 16px 10px 8%;
  height: 100px;
  background-color: #898989;
}

/* inrcorners_noneq  */
/* line 236, ../../scss/index/mixins_ctx_layout.scss */
.inrcorners_noneq {
  /* NON~EQ BORDER-RADIUS */
  -moz-border-radius: 0.28125em 0.5em 0.3125em 2%;
  -ms-border-radius: 0.28125em 0.5em 0.3125em 2%;
  -webkit-border-radius: 0.28125em 0.5em 0.3125em 2%;
  -o-border-radius: 0.28125em 0.5em 0.3125em 2%;
  border-radius: 0.28125em 0.5em 0.3125em 2%;
  height: 50px;
  background-color: #000000;
}

/* nonBleedCrnr  */
/* line 242, ../../scss/index/mixins_ctx_layout.scss */
.nonBleedCrnr {
  /*Use to avoid the gradient bleeding through the corners when using rounded corners */
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
}

/* css3 schtuff - this permits mixins */
/* @import "compass/css3"; */
/* font face shared stuff */
/* @import "compass/css3/shared"; */
/* transition stuff */
/* @import "compass/css3/transition"; */
/* ---------------------------------------- FONT STACKS --------------------------------------- */
/* WEB FONT EFFECTs */
/* -------------------------------------------- text-shadow stuff  -------------------------------------------- */
/* line 45, ../../scss/index/dynamicVars.scss */
.ftfx_retroNews {
  font-family: Times New Roman;
  background-color: #EEEEEE;
  color: #989898;
  font-size: 2.125em;
  text-transform: uppercase;
  margin: 0 auto 0 auto;
  padding: 0 0 0 35px;
  /* text-shadow: 5px 5px 0px $col_Grey_xtrlt, 7px 7px 0px $col_Grey_md_lt ; */
  /* -------------------- RETRO NEWS TEXT-SHADOW MIXIN #6 ------------ */
  -o-text-shadow: 5px 5px 0px #EEEEEE, 7px 7px 0px #989898;
  -ms-text-shadow: 5px 5px 0px #EEEEEE, 7px 7px 0px #989898;
  -webkit-text-shadow: 5px 5px 0px #EEEEEE, 7px 7px 0px #989898;
  -moz-text-shadow: 5px 5px 0px #EEEEEE, 7px 7px 0px #989898;
  text-shadow: 5px 5px 0px #EEEEEE, 7px 7px 0px #989898;
}

/* line 63, ../../scss/index/dynamicVars.scss */
.ftfx_NeonBrite {
  font-family: Garamond;
  font-size: 2.125em;
  background-color: #000000;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 auto 0 auto;
  padding: 0 0 0 35px;
  /* text-shadow: 0 0 10px $col_whiteProper, 0 0 20px $col_whiteProper, 0 0 30px $col_whiteProper, 0 0 40px $col_hotPink, 0 0 70px $col_hotPink, 0 0 80px $col_hotPink, 0 0 100px $col_hotPink, 0 0 150px $col_hotPink_dk; */
  /* -------------------- NEON BRITE TEXT-SHADOW MIXIN #7 ------------ */
  -o-text-shadow: 0px 0px 10px #FFFFFF, 0px 0px 20px #FFFFFF, 0px 0px 30px #FFFFFF, 0px 0px 40px #ff05b4, 0px 0px 70px #ff05b4, 0px 0px 80px #ff05b4, 0px 0px 100px #ff05b4, 0px 0px 150px #75215f;
  -ms-text-shadow: 0px 0px 10px #FFFFFF, 0px 0px 20px #FFFFFF, 0px 0px 30px #FFFFFF, 0px 0px 40px #ff05b4, 0px 0px 70px #ff05b4, 0px 0px 80px #ff05b4, 0px 0px 100px #ff05b4, 0px 0px 150px #75215f;
  -webkit-text-shadow: 0px 0px 10px #FFFFFF, 0px 0px 20px #FFFFFF, 0px 0px 30px #FFFFFF, 0px 0px 40px #ff05b4, 0px 0px 70px #ff05b4, 0px 0px 80px #ff05b4, 0px 0px 100px #ff05b4, 0px 0px 150px #75215f;
  -moz-text-shadow: 0px 0px 10px #FFFFFF, 0px 0px 20px #FFFFFF, 0px 0px 30px #FFFFFF, 0px 0px 40px #ff05b4, 0px 0px 70px #ff05b4, 0px 0px 80px #ff05b4, 0px 0px 100px #ff05b4, 0px 0px 150px #75215f;
  text-shadow: 0px 0px 10px #FFFFFF, 0px 0px 20px #FFFFFF, 0px 0px 30px #FFFFFF, 0px 0px 40px #ff05b4, 0px 0px 70px #ff05b4, 0px 0px 80px #ff05b4, 0px 0px 100px #ff05b4, 0px 0px 150px #75215f;
}

/* line 81, ../../scss/index/dynamicVars.scss */
.ftfx_BevelInset {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-size: 2.125em; */
  background-color: #4D4D4D;
  color: #404040;
  /* text-transform: uppercase; */
  margin: 0 auto 0 auto;
  padding: 0 0 0 35px;
  /* text-shadow: 0px 2px 3px $col_Grey_md; */
  /* -------------------- BEVEL INSET TEXT-SHADOW MIXIN #8 ------------ */
  -o-text-shadow: 0px 2px 3px #898989;
  -ms-text-shadow: 0px 2px 3px #898989;
  -webkit-text-shadow: 0px 2px 3px #898989;
  -moz-text-shadow: 0px 2px 3px #898989;
  text-shadow: 0px 2px 3px #898989;
}

/* line 99, ../../scss/index/dynamicVars.scss */
.ftfx_Colors3D {
  font-family: Arial, "Lucida Grande", Arial, sans-serif;
  font-size: 2.125em;
  background-color: #FFFFFF;
  color: rgba(0, 168, 255, 0.5);
  text-transform: uppercase;
  margin: 0 auto 0 auto;
  padding: 0 0 0 35px;
  /* text-shadow: 8px 8px 0 $col_trans_hotPk; */
  /* -------------------- COLORS 3D TEXT-SHADOW MIXIN #9 ------------ */
  -o-text-shadow: 8px 8px 0px rgba(255, 0, 180, 0.5);
  -ms-text-shadow: 8px 8px 0px rgba(255, 0, 180, 0.5);
  -webkit-text-shadow: 8px 8px 0px rgba(255, 0, 180, 0.5);
  -moz-text-shadow: 8px 8px 0px rgba(255, 0, 180, 0.5);
  text-shadow: 8px 8px 0px rgba(255, 0, 180, 0.5);
}

/* line 117, ../../scss/index/dynamicVars.scss */
.ftfx_fire_two {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 2.125em;
  background-color: #000000;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 auto 0 auto;
  padding: 0 0 0 35px;
  /* text-shadow: 0 0 20px #FEFCC9, 10px -10px 30px #FEEC85, -20px -20px 40px #FFAE34, 20px -40px 50px #EC760C, -20px -60px 60px #CD4606, 0 -80px 70px #973716, 10px -90px 80px #451B0E; */
  /* -------------------- FIRE TWO TEXT-SHADOW MIXIN #10 ------------ */
  -o-text-shadow: 0px 0px 20px #FEFCC9, 10px -10px 30px #FEEC85, -20px -20px 40px #FFAE34, 20px -40px 50px #EC760C, -20px -60px 60px #CD4606, 0px -80px 70px #973716, 10px -90px 80px #451B0E;
  -ms-text-shadow: 0px 0px 20px #FEFCC9, 10px -10px 30px #FEEC85, -20px -20px 40px #FFAE34, 20px -40px 50px #EC760C, -20px -60px 60px #CD4606, 0px -80px 70px #973716, 10px -90px 80px #451B0E;
  -webkit-text-shadow: 0px 0px 20px #FEFCC9, 10px -10px 30px #FEEC85, -20px -20px 40px #FFAE34, 20px -40px 50px #EC760C, -20px -60px 60px #CD4606, 0px -80px 70px #973716, 10px -90px 80px #451B0E;
  -moz-text-shadow: 0px 0px 20px #FEFCC9, 10px -10px 30px #FEEC85, -20px -20px 40px #FFAE34, 20px -40px 50px #EC760C, -20px -60px 60px #CD4606, 0px -80px 70px #973716, 10px -90px 80px #451B0E;
  text-shadow: 0px 0px 20px #FEFCC9, 10px -10px 30px #FEEC85, -20px -20px 40px #FFAE34, 20px -40px 50px #EC760C, -20px -60px 60px #CD4606, 0px -80px 70px #973716, 10px -90px 80px #451B0E;
}

/* line 135, ../../scss/index/dynamicVars.scss */
.ftfx_game_triCol {
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 2.125em;
  background-color: #EEEEEE;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 auto 0 auto;
  /*@include defZeroPdng( 10px, 0, 50px, 35px );*/
  padding: 0 0 0 35px;
  /* text-shadow: 10px 10px 0 #FFD217, 20px 20px 0 #5AC7FF, 30px 30px 0 #FFD217, 40px 40px 0 #5AC7FF; */
  /* -------------------- GAME TRI-COLOR TEXT-SHADOW MIXIN #11 ------------ */
  -o-text-shadow: 10px 10px 0px #FFD217, 20px 20px 0px #5AC7FF, 30px 30px 0px #FFD217, 40px 40px 0px #5AC7FF;
  -ms-text-shadow: 10px 10px 0px #FFD217, 20px 20px 0px #5AC7FF, 30px 30px 0px #FFD217, 40px 40px 0px #5AC7FF;
  -webkit-text-shadow: 10px 10px 0px #FFD217, 20px 20px 0px #5AC7FF, 30px 30px 0px #FFD217, 40px 40px 0px #5AC7FF;
  -moz-text-shadow: 10px 10px 0px #FFD217, 20px 20px 0px #5AC7FF, 30px 30px 0px #FFD217, 40px 40px 0px #5AC7FF;
  text-shadow: 10px 10px 0px #FFD217, 20px 20px 0px #5AC7FF, 30px 30px 0px #FFD217, 40px 40px 0px #5AC7FF;
}

/* ---------------------------------------- atFONTFACE Properties --------------------------------------- */
	/* @include font-face( "VanillaRegular" , font-files( "Vanilla-webfont.woff","Vanilla-webfont.ttf","Vanilla-webfont.svg","Vanilla-webfont.eot" ) , $font_weight, $font_style );

	.ff_cst_VANI { font-family: "VanillaRegular"; font-size: inherit; } */
/* ----------------------------- GRADIENT INCLUDEs  --------------------------- */
/* v2 */
/*  This will yield a radial gradient with an apparent specular highlight */
/* line 166, ../../scss/index/dynamicVars.scss */
#radial-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjQ1cHgiIGN5PSI0NXB4IiByPSIzMCUiPjxzdG9wIG9mZnNldD0iMzMuMzMzMzMlIiBzdG9wLWNvbG9yPSIjMDBmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWU5MGZmIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-radial-gradient(45px 45px, #00ffff 10px, #1e90ff 30px);
  background-image: -webkit-radial-gradient(45px 45px, #00ffff 10px, #1e90ff 30px);
  background-image: radial-gradient(45px 45px, #00ffff 10px, #1e90ff 30px);
}

/*  This yields a linear gradient spanning from the upper left corner to the lower right corner */
/* line 170, ../../scss/index/dynamicVars.scss */
#linear-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(left top, #ffffff, #dddddd);
  background-image: -webkit-linear-gradient(left top, #ffffff, #dddddd);
  background-image: linear-gradient(to right bottom, #ffffff, #dddddd);
}

/*  This yields a gradient starting at the top with #fff, ending in #aaa */
/* line 174, ../../scss/index/dynamicVars.scss */
#v-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #aaaaaa));
  background-image: -moz-linear-gradient(#ffffff, #aaaaaa);
  background-image: -webkit-linear-gradient(#ffffff, #aaaaaa);
  background-image: linear-gradient(#ffffff, #aaaaaa);
}

/*  Same as above but with a #ccc at the halfway point */
/* line 178, ../../scss/index/dynamicVars.scss */
#v-gradient-2 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYWFhYWFhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #cccccc), color-stop(100%, #aaaaaa));
  background-image: -moz-linear-gradient(#ffffff, #cccccc, #aaaaaa);
  background-image: -webkit-linear-gradient(#ffffff, #cccccc, #aaaaaa);
  background-image: linear-gradient(#ffffff, #cccccc, #aaaaaa);
}

/*  Same as the first example but with #ccc at the 30% from the top, and #bbb at 70% from the top */
/* line 182, ../../scss/index/dynamicVars.scss */
#v-gradient-3 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIi8+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNiYmJiYmIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYWFhYWEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(30%, #cccccc), color-stop(70%, #bbbbbb), color-stop(100%, #aaaaaa));
  background-image: -moz-linear-gradient(#ffffff, #cccccc 30%, #bbbbbb 70%, #aaaaaa);
  background-image: -webkit-linear-gradient(#ffffff, #cccccc 30%, #bbbbbb 70%, #aaaaaa);
  background-image: linear-gradient(#ffffff, #cccccc 30%, #bbbbbb 70%, #aaaaaa);
}

/*  This yields a horizontal linear gradient spanning from left to right. */
/* line 186, ../../scss/index/dynamicVars.scss */
#h-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(left, #ffffff, #dddddd);
  background-image: -webkit-linear-gradient(left, #ffffff, #dddddd);
  background-image: linear-gradient(to right, #ffffff, #dddddd);
}

/*  This IS AN svg gradient evidently  */
/* line 190, ../../scss/index/dynamicVars.scss */
#svg-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhYzM2MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjY2Q4YzE0Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOWM0Y2MyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #2ac363), color-stop(50%, #cd8c14), color-stop(100%, #9c4cc2));
  background-image: -moz-linear-gradient(left, #2ac363, #cd8c14, #9c4cc2);
  background-image: -webkit-linear-gradient(left, #2ac363, #cd8c14, #9c4cc2);
  background-image: linear-gradient(to right, #2ac363, #cd8c14, #9c4cc2);
  width: 80px;
  height: 80px;
}

/* ----------------------------- EVENT BASED TRANSITION INCLUDEs  --------------------------- */
/* transitions */
/* line 197, ../../scss/index/dynamicVars.scss */
#width {
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
}

/* line 200, ../../scss/index/dynamicVars.scss */
#width:hover {
  width: 80px;
}

/* line 202, ../../scss/index/dynamicVars.scss */
#width-duration {
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}

/* line 206, ../../scss/index/dynamicVars.scss */
#width-duration:hover {
  width: 80px;
}

/* line 207, ../../scss/index/dynamicVars.scss */
#width-duration-easein {
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 212, ../../scss/index/dynamicVars.scss */
#width-duration-easein:hover {
  width: 80px;
}

/* line 214, ../../scss/index/dynamicVars.scss */
#width-delay {
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}

/* line 218, ../../scss/index/dynamicVars.scss */
#width-delay:hover {
  width: 80px;
}

/* -------------------------------------------- fin -------------------------------------------- */
/* start OF CONSTANT DECLARATIONS */
