/* mixins.scss */
/* @import 'staticVars.scss'; 
@import 'utils.scss'; */
/* REMEMBER THE BACON/CHEDDAR COLOR COMBINATION FOR LATER */
/* -------------------------------------------- ALL POSSIBLE static VARIABLES  -------------------------------------------- */
/* ---------------- UNNAMED AS OF YET ----------------- */
/* // If you want to position the inner element at the top right, you can use the pin-top-right instead of pin-bottom-right. You might have noticed in the above code I also added another helper class: The padding-one class ensures the element is not flush against the edge of the container or viewport.

// Floated Elements. Floating elements left or right can be done using left or right classes. The well-known clearfix class can be used on the parent element to clear floats, shown below using Sass s parent selector: */
/* ---------------------------------------- text transformation ~ new --------------------------------------- */
/* ---------------------------------------- FONT STACKS --------------------------------------- */
/* WEB FONT EFFECTs */
/* .ftfx_Fire_1Ablaze { } */
/* WEB FONTs */
/* PRINT FONTs */
/* font stack */
/* line 37, ../../scss/index/staticVars.scss */
.fs_Helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* font-size: 1.5em; */
/* line 38, ../../scss/index/staticVars.scss */
.fs_Trebuchet {
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

/* font-size: 1.5em; */
/* line 39, ../../scss/index/staticVars.scss */
.fs_Georgia {
  font-family: Georgia, serif;
}

/* font-size: 1.5em; */
/* line 40, ../../scss/index/staticVars.scss */
.fs_Cambria {
  font-family: Cambria, Georgia, serif;
}

/* font-size: 1.5em; */
/* line 41, ../../scss/index/staticVars.scss */
.fs_Lucida {
  font-family: "Lucida Grande", Arial, sans-serif;
}

/* font-size: 1.5em; */
/* line 42, ../../scss/index/staticVars.scss */
.fs_Blockquote {
  font-family: "Bitstream Vera Sans Mono", monospace;
}

/* font-size: 1.5em; */
/* line 44, ../../scss/index/staticVars.scss */
.fs_Print {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* font-size: 1.5em; */
/* ---------------------------------------- atFONTFACE Properties --------------------------------------- */
/* font face compass.rb specific variables */
/* ----------------------------- Text Typography   --------------------------- */
/* line 56, ../../scss/index/staticVars.scss */
.normalTxt {
  font-weight: normal;
}

/* line 57, ../../scss/index/staticVars.scss */
.boldTxt {
  font-weight: bold;
}

/* line 58, ../../scss/index/staticVars.scss */
.italicTxt {
  font-style: italic;
}

/* word wrap ~ You can create classes for things like font weight and text manipulation, like ellipsis text. */
/* line 69, ../../scss/index/staticVars.scss */
.wrdwrp_break-word {
  word-wrap: break-word;
}

/* line 70, ../../scss/index/staticVars.scss */
.wtspc_no-wrap {
  white-space: nowrap;
}

/* line 71, ../../scss/index/staticVars.scss */
.ovrflw_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 73, ../../scss/index/staticVars.scss */
.ovrflw_hidden {
  white-space: normal;
  overflow: hidden;
}

/* ----------------------------- DISPLAY properties   --------------------------- */
/* Display Values. The following helper classes give us the ability to use the different values for CSSs display property: */
/* line 85, ../../scss/index/staticVars.scss */
.inline-test {
  display: inline;
}

/* line 86, ../../scss/index/staticVars.scss */
.block-test {
  display: block;
}

/* line 87, ../../scss/index/staticVars.scss */
.inline-block-test {
  display: inline-block;
}

/* line 88, ../../scss/index/staticVars.scss */
.hide-test {
  display: none;
}

/* line 89, ../../scss/index/staticVars.scss */
.flex-test {
  display: flex;
}

/* ----------------------------- VISIBILITY  properties   --------------------------- */
/* line 98, ../../scss/index/staticVars.scss */
.coll-test {
  visibility: collapse;
}

/* line 99, ../../scss/index/staticVars.scss */
.hidd-test {
  visibility: hidden;
}

/* line 100, ../../scss/index/staticVars.scss */
.inhe-test {
  visibility: inherit;
}

/* line 101, ../../scss/index/staticVars.scss */
.visi-test {
  visibility: visible;
}

/* ---------------- HORIZONTAL COLUMNAR RHYTHM ----------------- */
/* ----------------  ELEMENT WIDTH AND HEIGHT HELPER CLASSES ------------------ */
/* Imagine that you need a section to be full height in different places on your website ~ we can create one class called full-height. */
/* ---------------- WIDTH constants  -------------------------- */
/* ---------------- MAX WIDTH ~ ELEMENT  -------------------------- */
/* line 113, ../../scss/index/staticVars.scss */
.fitmax-width {
  max-width: 100%;
}

/* ---------------- WIDTH ~ ELEMENT -------------------------- */
/* line 115, ../../scss/index/staticVars.scss */
.full-width {
  width: 100%;
}

/* line 116, ../../scss/index/staticVars.scss */
.half-width {
  width: 50%;
}

/* line 117, ../../scss/index/staticVars.scss */
.quarter-width {
  width: 25%;
}

/* ---------------- HEIGHT ~ ELEMENT -------------------------- */
/* line 119, ../../scss/index/staticVars.scss */
.full-height {
  height: 100%;
}

/* ---------------- MARGIN AND PADDING -------------------------- */
/* ----------------------- MARGIN Helper Classes --------------------------------- */
/*v2*/
/* ---------------- extra TOPPINGS - MY VERSION AND FINDINGS  -------------------------- */
/* These are arguably the most used properties in our CSS. Adding some abstract classes that can handle this will DRY our code. We start by defining a variable (using Sass) for the base space unit for our design. Lets start with 1em and on top of that we can create classes for different space sizes. */
/* ----------------------------- ELEMENT FLOATING AND ALIGNMENTS TO INCL. TEXT ALIGNMENT  --------------------------- */
/* Helper classes also called utility classes can help us write DRY less repetitive code and was discussed by Thierry Koblentzs at Smashing Magazine. What Are Helper Classes Helper classes can help remove repetition by creating a set of abstract classes that can be used over and over on HTML elements. Each helper class is responsible for doing one job and doing it well. In the future whenever you create a new component you will just need to combine some classes together to build it. */
/* ---------------- Text Alignment -------------------------- */
/* line 142, ../../scss/index/staticVars.scss */
.text-ali-left {
  text-align: left;
}

/* line 143, ../../scss/index/staticVars.scss */
.text-ali-center {
  text-align: center;
}

/* line 144, ../../scss/index/staticVars.scss */
.text-ali-right {
  text-align: right;
}

/* ---------------- Vertical Alignment -------------------------- */
/* line 151, ../../scss/index/staticVars.scss */
.vert-ali-top {
  vertical-align: top;
}

/* line 152, ../../scss/index/staticVars.scss */
.vert-ali-middle {
  vertical-align: middle;
}

/* line 153, ../../scss/index/staticVars.scss */
.vert-ali-bottom {
  vertical-align: bottom;
}

/* ----------------------------- ELEMENT POSITIONING AND ZED INDEX  --------------------------- */
/* The "pin" helper classes are inspired by Mapboxs CSS. Lets extend the full-height example to contain an element positioned at the bottom right. */
/* Position and Z-index. Position-related properties can be combined with other properties like z-index to create a complex layout. We can create a set of classes to set the exact position of any element in relation to the viewport or an ancestor element (right, left, top left, etc): */
/* ---------------- Positioning -------------------------- */
/* line 168, ../../scss/index/staticVars.scss */
.pos-fixed {
  position: fixed;
}

/* line 169, ../../scss/index/staticVars.scss */
.pos-rel {
  position: relative;
}

/* line 170, ../../scss/index/staticVars.scss */
.pos-abs {
  position: absolute;
}

/* line 171, ../../scss/index/staticVars.scss */
.pos-statc {
  position: static;
}

/* ---------------- ZedIndex -------------------------- */
/* ----------- HELPER CLASSES ------------------- */
/* ---------------- ZedIndices - 0 1 2 3 4 500 9999 -------------------------- */
/* line 185, ../../scss/index/staticVars.scss */
.zIdxNines {
  z-index: 9999;
}

/* line 186, ../../scss/index/staticVars.scss */
.zIdxFiveHundy {
  z-index: 500;
}

/* line 187, ../../scss/index/staticVars.scss */
.zIdx1 {
  z-index: 1;
}

/* line 188, ../../scss/index/staticVars.scss */
.zIdx2 {
  z-index: 2;
}

/* line 189, ../../scss/index/staticVars.scss */
.zIdx3 {
  z-index: 3;
}

/* ----------- quadrants top bottom right left ------------------- */
/* line 193, ../../scss/index/staticVars.scss */
.pin-top-right {
  top: 0;
  right: 0;
}

/* line 194, ../../scss/index/staticVars.scss */
.pin-btm-right {
  bottom: 0;
  right: 0;
}

/* line 195, ../../scss/index/staticVars.scss */
.pin-top-left {
  top: 0;
  left: 0;
}

/* line 196, ../../scss/index/staticVars.scss */
.pin-btm-left {
  bottom: 0;
  left: 0;
}

/* ------------------new 03/22/2015 ~ opacity stuff ------------------- */
/* line 203, ../../scss/index/staticVars.scss */
.halfsies {
  opacity: 0.5;
}

/* line 204, ../../scss/index/staticVars.scss */
.wholesies {
  opacity: 1;
}

/* ---------------------------------------- COLORS --------------------------------------- */
/* -------------------- alpha channels for for future use ------------------- */
/* yet to be determined */
/* white ALPHA */
/* grey ALPHA */
/* black ALPHA */
/* -------------------------------------------- union jack colors -------------------------------------------- */
/* -------------------------------------------- union jack colors -------------------------------------------- */
/* #AABBFF */
/* -------------------------- spurious colors ------------------------------ */
/* #FF05B4 */
/* #97026A */
/* #75215F */
/* #520039 */
/* #969696  */
/* #C2C2C2  */
/* #EFEFEF  */
/* #F8F8F8  */
/* #520101 magenta */
/* #2955CC navy blue*/
/* #C50202 brick red*/
/* #440E0E dark brick red */
/* #FF95EF vivrant pink */
/* #96EBFF vivrant baby-blue */
/* #006C88 */
/* #EEAA22*/
/* #EE5588*/
/* #FF9900*/
/* #5588EE*/
/* #EFEFEF */
/* #33CC77 */
/* -------------------------------------------- transparent value per se || "percy" -------------------------------------------- */
/* -------------------------------------------- transparent RGBAs -------------------------------------------- */
/*#AE12FF*/
/* #F89FF9 */
/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
/* -------------------------------------------- solid HEX VALUEs -------------------------------------------- */
/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
/* -------------------------------------------- CHOCOLATE MINT -------------------------------------------- */
/* -------------------------------------------- promise curves -------------------------------------------- */
/* -------------------------------------------- color systems -------------------------------------------- */
/* HELPER CLASSES ~ BACKGROUND COLOR application*/
/* line 442, ../../scss/index/staticVars.scss */
.alert-bg {
  background-color: #E74C3C;
}

/* line 443, ../../scss/index/staticVars.scss */
.notice-bg {
  background-color: #E74C3C;
}

/* line 444, ../../scss/index/staticVars.scss */
.success-bg {
  background-color: #E74C3C;
}

/* HELPER CLASSES ~ TEXT COLOR application */
/* line 447, ../../scss/index/staticVars.scss */
.alert {
  color: #E74C3C;
}

/* line 448, ../../scss/index/staticVars.scss */
.notice {
  color: #FFE9BF;
}

/* line 449, ../../scss/index/staticVars.scss */
.success {
  color: #1ABC9C;
}

/* -------------------------------------------- ALL POSSIBLE MIXINS -------------------------------------------- */
/* ----------------------------- control directive - if - container dropCap_defProgEn class MIXIN ~  --------------------------- */
/* line 34, ../../scss/index/mixins.scss */
.drpCp-PE:first-child:first-letter {
  /* Declare progressive enhancement  */
  float: left;
  color: #903;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia;
}

/* line 41, ../../scss/index/mixins.scss */
.drpCp-GD .firstcharacter {
  /* Declare progressive enhancement  */
  float: left;
  color: #903;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia;
}

/* ----------------------------- ANCHORS LOVE\HATE TRANSITION MIXIN ~ :link :visited :hover :active --------------------------- */
/* line 74, ../../scss/index/mixins.scss */
.love_hate_1 {
  /*love_hate_1 ~ LEGIT CODE */
  /*font-size: 100%; */
  text-decoration: none;
  color: #FFCC66;
  /* $col_LtOR */
  /* padding: 6px 12px; 
  height: 50px;*/
  /* -ms-transition: 0.17578s all linear; 
  -moz-transition: 0.17578s all linear; 
  -webkit-transition: 0.17578s all linear; 
  -o-transition: 0.17578s all linear; 
  transition: 0.17578s all linear; */
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.17578s;
  -o-transition-duration: 0.17578s;
  -webkit-transition-duration: 0.17578s;
  transition-duration: 0.17578s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 66, ../../scss/index/mixins.scss */
.love_hate_1:link {
  background-color: #520101;
  text-decoration: none;
  color: #FFCC66;
}
/* line 67, ../../scss/index/mixins.scss */
.love_hate_1:visited {
  background-color: #2955cc;
  text-decoration: none;
  color: #404040;
}
/* line 68, ../../scss/index/mixins.scss */
.love_hate_1:hover {
  background-color: #c50202;
  text-decoration: underline;
  color: #404040;
}
/* line 69, ../../scss/index/mixins.scss */
.love_hate_1:focus {
  background-color: #c50202;
  text-decoration: none;
  color: #404040;
}
/* line 70, ../../scss/index/mixins.scss */
.love_hate_1:active {
  background-color: #440e0e;
  text-decoration: none;
  color: #F2F2F2;
}

/* ----------------------------- ANCHORS LOVE\HATE TRANSITION MIXIN ~ :link :visited :hover :active --------------------------- */
/* line 92, ../../scss/index/mixins.scss */
.dry_transition_1 {
  /* @mixin love_hate_1( $pm_lk_pro: $col_ancho, $pm_vst: $col_ancho_visit, $pm_hv_foc: $col_ancho_hvr_fcs, $pm_actv: $col_ancho_active  ) { */
  /* transition: 0.17578s all linear; */
  /* transition: 1s all ease-in-out; */
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3515s;
  -o-transition-duration: 0.3515s;
  -webkit-transition-duration: 0.3515s;
  transition-duration: 0.3515s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  /* &:link { background-color: $pm_lk_pro; text-decoration: none; color: $col_LtOR; } */
}

/* ----------------------------- compliant w3c Gradients with parametrical and default values for multilevel MIXIN --------------------------- */
/* v1 */
/* gradient background attributes */
/* cmplt_gradient */
/* line 135, ../../scss/index/mixins.scss */
.cmplt_gradient {
  /* BACKGROUND */
  background: #efefef;
  /*background-repeat: no-repeat;*/
  /*MOZ 4++ & W3C*/
  background: linear-gradient(to bottom, #efefef 22%, #cdcdcd 44%, #898989 55%, #898989 77%);
  /*MOZ 3.6++ */
  /*Both with and w/o '-image' affect my Mozilla thus I have alternatives for inclusion -- b/w pattern SHOWN */
  /*background: -moz-linear-gradient(0% 100% 90deg, rgb(255, 250, 240) 22%, rgb(230, 149, 0) 44%, rgb(128,83,0) 55%, rgb(128,83,0) 77%); */
  background-image: -moz-linear-gradient(top, #898989 22%, #898989 44%, #cdcdcd 55%, #efefef 77%);
  /* Opera 11.10+ */
  /*Both with and w/o '-image' affect my Opera thus I have alternatives for inclusion*/
  /*background: -o-linear-gradient(top, #805300 22%, #805300 44%, #E69500 55%, #FFF9EF 77%);*/
  background-image: -o-linear-gradient(top, #898989 22%, #898989 44%, #cdcdcd 55%, #efefef 77%);
  /*SAFARI / WEBKIT /ETC */
  /* Chrome10+, Safari5.1+ WORKS*/
  background: -webkit-linear-gradient(top, #efefef 22%, #cdcdcd 44%, #898989 55%, #898989 77%);
  /*<!=Chrome10+, Safari4+ WORKS*/
  background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #efefef), color-stop(44%, #cdcdcd), color-stop(55%, #898989), color-stop(77%, #898989));
  /*<!=Chrome10+, Safari4+ WORKS*/
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.22, #efefef), color-stop(0.44, #cdcdcd), color-stop(0.55, #898989), color-stop(0.77, #898989));
  /* IE6-9 */
  /*CONTROL this is it OFF*/
  /**/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#805300', endColorstr='#FFF9EF', GradientType=0 );
  /**/
  /**/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#805300', EndColorStr='#FFF9EF');
  /**/
  /**/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99805300',EndColorStr='#99FFF9EF');
  /**/
  /*END CONTROL*/
}

/* ----------------------------- DIVER DOWN SYMBOL ~ Background Gradients with parametrical and default values for multilevel MIXIN --------------------------- */
/* v0 */
/* gradient background attributes */
/* grdnt_BizCard */
/* line 160, ../../scss/index/mixins.scss */
.grdnt_BizCard {
  background: #fe3232;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.6)), -webkit-linear-gradient(45deg, #fe3232 5em, #eeaa22 8.5em, #eeaa22 16em, #fe3232 20em);
  background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.6)), -moz-linear-gradient(45deg, #fe3232 5em, #eeaa22 8.5em, #eeaa22 16em, #fe3232 20em);
  background: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.6)), -ms-linear-gradient(45deg, #fe3232 5em, #eeaa22 8.5em, #eeaa22 16em, #fe3232 20em);
  background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.6)), -o-linear-gradient(45deg, #fe3232 5em, #eeaa22 8.5em, #eeaa22 16em, #fe3232 20em);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), linear-gradient(45deg, #fe3232 5em, #eeaa22 8.5em, #eeaa22 16em, #fe3232 20em);
}

/* ################### */
/* -------------------- W3C COMPLIANT TEXT-SHADOW with parametrical and default values for multilevel MIXIN ------------ */
/* text_shadow #0 */
/* line 195, ../../scss/index/mixins.scss */
.text_shadow {
  /*TEXT-SHADOW ~ LEGIT CODE */
  /* text-shadow: h-shadow v-shadow blur color|none|initial|inherit; */
  -ms-text-shadow: 5px 5px #FF0077 #805300;
  -webkit-text-shadow: 5px 5px #FF0077 #805300;
  -o-text-shadow: 5px 5px #FF0077 #805300;
  -moz-text-shadow: 5px 5px #FF0077 #805300;
  text-shadow: 5px 5px #FF0077 #805300;
  -ms-text-shadow: 1.5px 1.5px 2.25px #9557AF;
  -webkit-text-shadow: 1.5px 1.5px 2.25px #9557AF;
  -o-text-shadow: 1.5px 1.5px 2.25px #9557AF;
  -moz-text-shadow: 1.5px 1.5px 2.25px #9557AF;
  text-shadow: 1.5px 1.5px 2.25px #9557AF;
  -ms-text-shadow: 1.5px 0.75px 0.75px #805300;
  -webkit-text-shadow: 1.5px 0.75px 0.75px #805300;
  -o-text-shadow: 1.5px 0.75px 0.75px #805300;
  -moz-text-shadow: 1.5px 0.75px 0.75px #805300;
  text-shadow: 1.5px 0.75px 0.75px #805300;
  -ms-text-shadow: 0.75px 0.75px 0.75px #000000;
  -webkit-text-shadow: 0.75px 0.75px 0.75px #000000;
  -o-text-shadow: 0.75px 0.75px 0.75px #000000;
  -moz-text-shadow: 0.75px 0.75px 0.75px #000000;
  text-shadow: 0.75px 0.75px 0.75px #000000;
}

/* plain_2pm_shadow #1 */
/* line 208, ../../scss/index/mixins.scss */
.plain_2pm_shadow {
  -ms-text-shadow: 0 1px 0 rgba(0, 108, 136, 0.8), 3px 3px 5px #006C88;
  -o-text-shadow: 0 1px 0 rgba(0, 108, 136, 0.8), 3px 3px 5px #006C88;
  -moz-text-shadow: 0 1px 0 rgba(0, 108, 136, 0.8), 3px 3px 5px #006C88;
  -webkit-text-shadow: 0 1px 0 rgba(0, 108, 136, 0.8), 3px 3px 5px #006C88;
  text-shadow: 0 1px 0 rgba(0, 108, 136, 0.8), 3px 3px 5px #006C88;
}

/* -------------------- DIODE TEXT-SHADOW MIXIN ------------ */
/* plain_3pm_shadow #2 */
/* plain_3pm_shadow #2 */
/* line 222, ../../scss/index/mixins.scss */
.plain_3pm_shadow {
  -ms-text-shadow: 5px 0px 0px #805300;
  -webkit-text-shadow: 5px 0px 0px #805300;
  -o-text-shadow: 5px 0px 0px #805300;
  -moz-text-shadow: 5px 0px 0px #805300;
  text-shadow: 5px 0px 0px #805300;
}

/* -------------------- GEAR FIRST TEXT-SHADOW MIXIN ------------ */
/* gear_first_shadow #3 */
/* gear_first_shadow #3 */
/* line 237, ../../scss/index/mixins.scss */
.gear_first_shadow {
  -ms-text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000;
  -webkit-text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000;
  -o-text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000;
  -moz-text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000;
  text-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000, 6px 6px #000000, 7px 7px #000000, 8px 8px #000000;
}

/* -------------------- GEAR SAGONDO TEXT-SHADOW MIXIN ------------ */
/* gear_sagondo_shadow #4 */
/* gear_sagondo_shadow #4 */
/* line 252, ../../scss/index/mixins.scss */
.gear_sagondo_shadow {
  -ms-text-shadow: 1px 1px #805300, 2px 2px #805300, 3px 3px #805300, 4px 4px #805300, 5px 5px #805300, 6px 6px #805300, 7px 7px #805300, 8px 8px #805300, 9px 9px #805300, 10px 10px #805300, 11px 11px #805300;
  -webkit-text-shadow: 1px 1px #805300, 2px 2px #805300, 3px 3px #805300, 4px 4px #805300, 5px 5px #805300, 6px 6px #805300, 7px 7px #805300, 8px 8px #805300, 9px 9px #805300, 10px 10px #805300, 11px 11px #805300;
  -o-text-shadow: 1px 1px #805300, 2px 2px #805300, 3px 3px #805300, 4px 4px #805300, 5px 5px #805300, 6px 6px #805300, 7px 7px #805300, 8px 8px #805300, 9px 9px #805300, 10px 10px #805300, 11px 11px #805300;
  -moz-text-shadow: 1px 1px #805300, 2px 2px #805300, 3px 3px #805300, 4px 4px #805300, 5px 5px #805300, 6px 6px #805300, 7px 7px #805300, 8px 8px #805300, 9px 9px #805300, 10px 10px #805300, 11px 11px #805300;
  text-shadow: 1px 1px #805300, 2px 2px #805300, 3px 3px #805300, 4px 4px #805300, 5px 5px #805300, 6px 6px #805300, 7px 7px #805300, 8px 8px #805300, 9px 9px #805300, 10px 10px #805300, 11px 11px #805300;
}

/* -------------------- RETRO NEWS TEXT-SHADOW MIXIN #6 ------------ */
/* -------------------- NEON BRITE TEXT-SHADOW MIXIN #7 ------------ */
/* -------------------- BEVEL INSET TEXT-SHADOW MIXIN #8 ------------ */
/* -------------------- COLORS 3D TEXT-SHADOW MIXIN #9 ------------ */
/* -------------------- FIRE ONE TEXT-SHADOW MIXIN #10 ------------ */
/* -------------------- FIRE TWO TEXT-SHADOW MIXIN #10 1/2 ------------ */
/* -------------------- GAME TRI-COLOR TEXT-SHADOW MIXIN #11 ------------ */
/* -------------------- W3C COMPLIANT TEXT-SHADOW shiken FIRE MIXIN ------------ */
/* shiken color #1 ~ red */
/* fireFist_text_shadow ~ black[hardcoded] */
/* fireFist_text_shadow #2,3,4 ~ , yellow, sandy-orangish, orange peel */
/* line 344, ../../scss/index/mixins.scss */
.ftfx_Fire_1ShikenAblaze {
  color: red;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 1px, rgba(255, 255, 51, 0.9) 0px -5px 5px, rgba(255, 204, 51, 0.7) 2px -10px 7px, rgba(255, 153, 0, 0.6) -2px -15px 10px;
  /*TEXT-SHADOW*/
  /* IE6-9 INTERSPERSED W/LEGIT CODE */
  /* text-shadow: h-shadow v-shadow blur color|none|initial|inherit; */
  filter: dropshadow(color=rgba(255, 153, 0, 0.6), offx=2, offy=2);
  filter: dropshadow(color=rgba(255, 204, 51, 0.7), offx=1.5, offy=1.5);
  filter: dropshadow(color=rgba(255, 255, 51, 0.9), offx=1.5, offy=0.75);
  filter: dropshadow(color=#000000, offx=0.75, offy=0.75);
}

/* -------------------- InternetExplorer non-compliant TEXT-SHADOW with parametrical and default values for multilevel MIXIN ------------ */
/* nonCmpIETextShadow */
/* line 362, ../../scss/index/mixins.scss */
.nonCmpIETextShadow {
  /*TEXT-SHADOW*/
  /* IE6-9 INTERSPERSED W/LEGIT CODE */
  /* text-shadow: h-shadow v-shadow blur color|none|initial|inherit; */
  filter: dropshadow(color=#FF05B4, offx=2, offy=2);
  filter: dropshadow(color=#FF05B4, offx=1.5, offy=1.5);
  filter: dropshadow(color=#97026A, offx=1.5, offy=0.75);
  filter: dropshadow(color=#000000, offx=0.75, offy=0.75);
}

/* -------------------- W3C COMPLIANT BOX SHADOW with parametrical and default values for multilevel MIXIN ------------ */
/* bxShdw_default */
/* bxShdw_ltPm */
/* bxShdw_allPm */
/* line 399, ../../scss/index/mixins.scss */
.bxShdw_default {
  /* DEFAULT BEHAVIOUR BOX-SHADOW */
  /* box-shadow: none; */
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 402, ../../scss/index/mixins.scss */
.bxShdw_ltPm {
  /* light quantity parameters BOX-SHADOW */
  -ms-box-shadow: #bada55 8px -8px 32px;
  -webkit-box-shadow: 8px -8px 32px #bada55;
  -o-box-shadow: #bada55 8px -8px 32px;
  -moz-box-shadow: #bada55 8px -8px 32px;
  box-shadow: #bada55 8px -8px 32px;
}

/* line 405, ../../scss/index/mixins.scss */
.bxShdw_allPm {
  /* all parameters BOX-SHADOW */
  /* box-shadow: | inset|initial|inherit h-shadow v-shadow blur spread color; */
  -ms-box-shadow: inset 4px -4px 16px 6px #805300;
  -webkit-box-shadow: inset 4px -4px 16px 6px #805300;
  -o-box-shadow: inset 4px -4px 16px 6px #805300;
  -moz-box-shadow: inset 4px -4px 16px 6px #805300;
  box-shadow: inset 4px -4px 16px 6px #805300;
}

/* -------------------- InternetExplorer non-compliant BOX SHADOW with parametrical and default values for multilevel MIXIN ------------ */
/* nonCmpIEDropShadow */
/* line 424, ../../scss/index/mixins.scss */
.nonCmpIEDropShadow {
  /*JUST ADDITIONAL IE6-9 */
  filter: progid:DXImageTransform.Microsoft.DropShadow(color=$ieCLR_1, offx=1, offy=1);
  filter: progid:DXImageTransform.Microsoft.DropShadow(color=$ieCLR_2, offx=2, offy=2);
  filter: progid:DXImageTransform.Microsoft.DropShadow(color=$ieCLR_3, offx=3, offy=3);
  filter: dropshadow(color=#FF0077, offx=1, offy=1);
  filter: dropshadow(color=#9557AF, offx=2, offy=2);
  filter: dropshadow(color=#805300, offx=3, offy=3);
}

/* ----------------------------- FIN. --------------------------- */
