/*@charset "utf-8";  */
/* MQs_new.scss */
/* REMEMBER THE BACON/CHEDDAR COLOR COMBINATION FOR LATER */
/* -------------------------------------------- ALL POSSIBLE static VARIABLES  -------------------------------------------- */
/* ---------------- UNNAMED AS OF YET ----------------- */
/* // If you want to position the inner element at the top right, you can use the pin-top-right instead of pin-bottom-right. You might have noticed in the above code I also added another helper class: The padding-one class ensures the element is not flush against the edge of the container or viewport.

// Floated Elements. Floating elements left or right can be done using left or right classes. The well-known clearfix class can be used on the parent element to clear floats, shown below using Sass s parent selector: */
/* ---------------------------------------- text transformation ~ new --------------------------------------- */
/* ---------------------------------------- FONT STACKS --------------------------------------- */
/* WEB FONT EFFECTs */
/* .ftfx_Fire_1Ablaze { } */
/* WEB FONTs */
/* PRINT FONTs */
/* font stack */
/* line 37, ../../scss/index/staticVars.scss */
.fs_Helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* font-size: 1.5em; */
/* line 38, ../../scss/index/staticVars.scss */
.fs_Trebuchet {
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

/* font-size: 1.5em; */
/* line 39, ../../scss/index/staticVars.scss */
.fs_Georgia {
  font-family: Georgia, serif;
}

/* font-size: 1.5em; */
/* line 40, ../../scss/index/staticVars.scss */
.fs_Cambria {
  font-family: Cambria, Georgia, serif;
}

/* font-size: 1.5em; */
/* line 41, ../../scss/index/staticVars.scss */
.fs_Lucida {
  font-family: "Lucida Grande", Arial, sans-serif;
}

/* font-size: 1.5em; */
/* line 42, ../../scss/index/staticVars.scss */
.fs_Blockquote {
  font-family: "Bitstream Vera Sans Mono", monospace;
}

/* font-size: 1.5em; */
/* line 44, ../../scss/index/staticVars.scss */
.fs_Print {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* font-size: 1.5em; */
/* ---------------------------------------- atFONTFACE Properties --------------------------------------- */
/* font face compass.rb specific variables */
/* ----------------------------- Text Typography   --------------------------- */
/* line 56, ../../scss/index/staticVars.scss */
.normalTxt {
  font-weight: normal;
}

/* line 57, ../../scss/index/staticVars.scss */
.boldTxt {
  font-weight: bold;
}

/* line 58, ../../scss/index/staticVars.scss */
.italicTxt {
  font-style: italic;
}

/* word wrap ~ You can create classes for things like font weight and text manipulation, like ellipsis text. */
/* line 69, ../../scss/index/staticVars.scss */
.wrdwrp_break-word {
  word-wrap: break-word;
}

/* line 70, ../../scss/index/staticVars.scss */
.wtspc_no-wrap {
  white-space: nowrap;
}

/* line 71, ../../scss/index/staticVars.scss */
.ovrflw_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 73, ../../scss/index/staticVars.scss */
.ovrflw_hidden {
  white-space: normal;
  overflow: hidden;
}

/* ----------------------------- DISPLAY properties   --------------------------- */
/* Display Values. The following helper classes give us the ability to use the different values for CSSs display property: */
/* line 85, ../../scss/index/staticVars.scss */
.inline-test {
  display: inline;
}

/* line 86, ../../scss/index/staticVars.scss */
.block-test {
  display: block;
}

/* line 87, ../../scss/index/staticVars.scss */
.inline-block-test {
  display: inline-block;
}

/* line 88, ../../scss/index/staticVars.scss */
.hide-test {
  display: none;
}

/* line 89, ../../scss/index/staticVars.scss */
.flex-test {
  display: flex;
}

/* ----------------------------- VISIBILITY  properties   --------------------------- */
/* line 98, ../../scss/index/staticVars.scss */
.coll-test {
  visibility: collapse;
}

/* line 99, ../../scss/index/staticVars.scss */
.hidd-test {
  visibility: hidden;
}

/* line 100, ../../scss/index/staticVars.scss */
.inhe-test {
  visibility: inherit;
}

/* line 101, ../../scss/index/staticVars.scss */
.visi-test {
  visibility: visible;
}

/* ---------------- HORIZONTAL COLUMNAR RHYTHM ----------------- */
/* ----------------  ELEMENT WIDTH AND HEIGHT HELPER CLASSES ------------------ */
/* Imagine that you need a section to be full height in different places on your website ~ we can create one class called full-height. */
/* ---------------- WIDTH constants  -------------------------- */
/* ---------------- MAX WIDTH ~ ELEMENT  -------------------------- */
/* line 113, ../../scss/index/staticVars.scss */
.fitmax-width {
  max-width: 100%;
}

/* ---------------- WIDTH ~ ELEMENT -------------------------- */
/* line 115, ../../scss/index/staticVars.scss */
.full-width {
  width: 100%;
}

/* line 116, ../../scss/index/staticVars.scss */
.half-width {
  width: 50%;
}

/* line 117, ../../scss/index/staticVars.scss */
.quarter-width {
  width: 25%;
}

/* ---------------- HEIGHT ~ ELEMENT -------------------------- */
/* line 119, ../../scss/index/staticVars.scss */
.full-height {
  height: 100%;
}

/* ---------------- MARGIN AND PADDING -------------------------- */
/* ----------------------- MARGIN Helper Classes --------------------------------- */
/*v2*/
/* ---------------- extra TOPPINGS - MY VERSION AND FINDINGS  -------------------------- */
/* These are arguably the most used properties in our CSS. Adding some abstract classes that can handle this will DRY our code. We start by defining a variable (using Sass) for the base space unit for our design. Lets start with 1em and on top of that we can create classes for different space sizes. */
/* ----------------------------- ELEMENT FLOATING AND ALIGNMENTS TO INCL. TEXT ALIGNMENT  --------------------------- */
/* Helper classes also called utility classes can help us write DRY less repetitive code and was discussed by Thierry Koblentzs at Smashing Magazine. What Are Helper Classes Helper classes can help remove repetition by creating a set of abstract classes that can be used over and over on HTML elements. Each helper class is responsible for doing one job and doing it well. In the future whenever you create a new component you will just need to combine some classes together to build it. */
/* ---------------- Text Alignment -------------------------- */
/* line 142, ../../scss/index/staticVars.scss */
.text-ali-left {
  text-align: left;
}

/* line 143, ../../scss/index/staticVars.scss */
.text-ali-center {
  text-align: center;
}

/* line 144, ../../scss/index/staticVars.scss */
.text-ali-right {
  text-align: right;
}

/* ---------------- Vertical Alignment -------------------------- */
/* line 151, ../../scss/index/staticVars.scss */
.vert-ali-top {
  vertical-align: top;
}

/* line 152, ../../scss/index/staticVars.scss */
.vert-ali-middle {
  vertical-align: middle;
}

/* line 153, ../../scss/index/staticVars.scss */
.vert-ali-bottom {
  vertical-align: bottom;
}

/* ----------------------------- ELEMENT POSITIONING AND ZED INDEX  --------------------------- */
/* The "pin" helper classes are inspired by Mapboxs CSS. Lets extend the full-height example to contain an element positioned at the bottom right. */
/* Position and Z-index. Position-related properties can be combined with other properties like z-index to create a complex layout. We can create a set of classes to set the exact position of any element in relation to the viewport or an ancestor element (right, left, top left, etc): */
/* ---------------- Positioning -------------------------- */
/* line 168, ../../scss/index/staticVars.scss */
.pos-fixed {
  position: fixed;
}

/* line 169, ../../scss/index/staticVars.scss */
.pos-rel {
  position: relative;
}

/* line 170, ../../scss/index/staticVars.scss */
.pos-abs {
  position: absolute;
}

/* line 171, ../../scss/index/staticVars.scss */
.pos-statc {
  position: static;
}

/* ---------------- ZedIndex -------------------------- */
/* ----------- HELPER CLASSES ------------------- */
/* ---------------- ZedIndices - 0 1 2 3 4 500 9999 -------------------------- */
/* line 185, ../../scss/index/staticVars.scss */
.zIdxNines {
  z-index: 9999;
}

/* line 186, ../../scss/index/staticVars.scss */
.zIdxFiveHundy {
  z-index: 500;
}

/* line 187, ../../scss/index/staticVars.scss */
.zIdx1 {
  z-index: 1;
}

/* line 188, ../../scss/index/staticVars.scss */
.zIdx2 {
  z-index: 2;
}

/* line 189, ../../scss/index/staticVars.scss */
.zIdx3 {
  z-index: 3;
}

/* ----------- quadrants top bottom right left ------------------- */
/* line 193, ../../scss/index/staticVars.scss */
.pin-top-right {
  top: 0;
  right: 0;
}

/* line 194, ../../scss/index/staticVars.scss */
.pin-btm-right {
  bottom: 0;
  right: 0;
}

/* line 195, ../../scss/index/staticVars.scss */
.pin-top-left {
  top: 0;
  left: 0;
}

/* line 196, ../../scss/index/staticVars.scss */
.pin-btm-left {
  bottom: 0;
  left: 0;
}

/* ------------------new 03/22/2015 ~ opacity stuff ------------------- */
/* line 203, ../../scss/index/staticVars.scss */
.halfsies {
  opacity: 0.5;
}

/* line 204, ../../scss/index/staticVars.scss */
.wholesies {
  opacity: 1;
}

/* ---------------------------------------- COLORS --------------------------------------- */
/* -------------------- alpha channels for for future use ------------------- */
/* yet to be determined */
/* white ALPHA */
/* grey ALPHA */
/* black ALPHA */
/* -------------------------------------------- union jack colors -------------------------------------------- */
/* -------------------------------------------- union jack colors -------------------------------------------- */
/* #AABBFF */
/* -------------------------- spurious colors ------------------------------ */
/* #FF05B4 */
/* #97026A */
/* #75215F */
/* #520039 */
/* #969696  */
/* #C2C2C2  */
/* #EFEFEF  */
/* #F8F8F8  */
/* #520101 magenta */
/* #2955CC navy blue*/
/* #C50202 brick red*/
/* #440E0E dark brick red */
/* #FF95EF vivrant pink */
/* #96EBFF vivrant baby-blue */
/* #006C88 */
/* #EEAA22*/
/* #EE5588*/
/* #FF9900*/
/* #5588EE*/
/* #EFEFEF */
/* #33CC77 */
/* -------------------------------------------- transparent value per se || "percy" -------------------------------------------- */
/* -------------------------------------------- transparent RGBAs -------------------------------------------- */
/*#AE12FF*/
/* #F89FF9 */
/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
/* -------------------------------------------- solid HEX VALUEs -------------------------------------------- */
/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
/* -------------------------------------------- CHOCOLATE MINT -------------------------------------------- */
/* -------------------------------------------- promise curves -------------------------------------------- */
/* -------------------------------------------- color systems -------------------------------------------- */
/* HELPER CLASSES ~ BACKGROUND COLOR application*/
/* line 442, ../../scss/index/staticVars.scss */
.alert-bg {
  background-color: #E74C3C;
}

/* line 443, ../../scss/index/staticVars.scss */
.notice-bg {
  background-color: #E74C3C;
}

/* line 444, ../../scss/index/staticVars.scss */
.success-bg {
  background-color: #E74C3C;
}

/* HELPER CLASSES ~ TEXT COLOR application */
/* line 447, ../../scss/index/staticVars.scss */
.alert {
  color: #E74C3C;
}

/* line 448, ../../scss/index/staticVars.scss */
.notice {
  color: #FFE9BF;
}

/* line 449, ../../scss/index/staticVars.scss */
.success {
  color: #1ABC9C;
}

/* mixins.scss */
/* @import 'staticVars.scss'; 
@import 'utils.scss'; */
/* REMEMBER THE BACON/CHEDDAR COLOR COMBINATION FOR LATER */
/* -------------------------------------------- ALL POSSIBLE static VARIABLES  -------------------------------------------- */
/* ---------------- UNNAMED AS OF YET ----------------- */
/* // If you want to position the inner element at the top right, you can use the pin-top-right instead of pin-bottom-right. You might have noticed in the above code I also added another helper class: The padding-one class ensures the element is not flush against the edge of the container or viewport.

// Floated Elements. Floating elements left or right can be done using left or right classes. The well-known clearfix class can be used on the parent element to clear floats, shown below using Sass s parent selector: */
/* ---------------------------------------- text transformation ~ new --------------------------------------- */
/* ---------------------------------------- FONT STACKS --------------------------------------- */
/* WEB FONT EFFECTs */
/* .ftfx_Fire_1Ablaze { } */
/* WEB FONTs */
/* PRINT FONTs */
/* font stack */
/* line 37, ../../scss/index/staticVars.scss */
.fs_Helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* font-size: 1.5em; */
/* line 38, ../../scss/index/staticVars.scss */
.fs_Trebuchet {
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

/* font-size: 1.5em; */
/* line 39, ../../scss/index/staticVars.scss */
.fs_Georgia {
  font-family: Georgia, serif;
}

/* font-size: 1.5em; */
/* line 40, ../../scss/index/staticVars.scss */
.fs_Cambria {
  font-family: Cambria, Georgia, serif;
}

/* font-size: 1.5em; */
/* line 41, ../../scss/index/staticVars.scss */
.fs_Lucida {
  font-family: "Lucida Grande", Arial, sans-serif;
}

/* font-size: 1.5em; */
/* line 42, ../../scss/index/staticVars.scss */
.fs_Blockquote {
  font-family: "Bitstream Vera Sans Mono", monospace;
}

/* font-size: 1.5em; */
/* line 44, ../../scss/index/staticVars.scss */
.fs_Print {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* font-size: 1.5em; */
/* ---------------------------------------- atFONTFACE Properties --------------------------------------- */
/* font face compass.rb specific variables */
/* ----------------------------- Text Typography   --------------------------- */
/* line 56, ../../scss/index/staticVars.scss */
.normalTxt {
  font-weight: normal;
}

/* line 57, ../../scss/index/staticVars.scss */
.boldTxt {
  font-weight: bold;
}

/* line 58, ../../scss/index/staticVars.scss */
.italicTxt {
  font-style: italic;
}

/* word wrap ~ You can create classes for things like font weight and text manipulation, like ellipsis text. */
/* line 69, ../../scss/index/staticVars.scss */
.wrdwrp_break-word {
  word-wrap: break-word;
}

/* line 70, ../../scss/index/staticVars.scss */
.wtspc_no-wrap {
  white-space: nowrap;
}

/* line 71, ../../scss/index/staticVars.scss */
.ovrflw_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 73, ../../scss/index/staticVars.scss */
.ovrflw_hidden {
  white-space: normal;
  overflow: hidden;
}

/* ----------------------------- DISPLAY properties   --------------------------- */
/* Display Values. The following helper classes give us the ability to use the different values for CSSs display property: */
/* line 85, ../../scss/index/staticVars.scss */
.inline-test {
  display: inline;
}

/* line 86, ../../scss/index/staticVars.scss */
.block-test {
  display: block;
}

/* line 87, ../../scss/index/staticVars.scss */
.inline-block-test {
  display: inline-block;
}

/* line 88, ../../scss/index/staticVars.scss */
.hide-test {
  display: none;
}

/* line 89, ../../scss/index/staticVars.scss */
.flex-test {
  display: flex;
}

/* ----------------------------- VISIBILITY  properties   --------------------------- */
/* line 98, ../../scss/index/staticVars.scss */
.coll-test {
  visibility: collapse;
}

/* line 99, ../../scss/index/staticVars.scss */
.hidd-test {
  visibility: hidden;
}

/* line 100, ../../scss/index/staticVars.scss */
.inhe-test {
  visibility: inherit;
}

/* line 101, ../../scss/index/staticVars.scss */
.visi-test {
  visibility: visible;
}

/* ---------------- HORIZONTAL COLUMNAR RHYTHM ----------------- */
/* ----------------  ELEMENT WIDTH AND HEIGHT HELPER CLASSES ------------------ */
/* Imagine that you need a section to be full height in different places on your website ~ we can create one class called full-height. */
/* ---------------- WIDTH constants  -------------------------- */
/* ---------------- MAX WIDTH ~ ELEMENT  -------------------------- */
/* line 113, ../../scss/index/staticVars.scss */
.fitmax-width {
  max-width: 100%;
}

/* ---------------- WIDTH ~ ELEMENT -------------------------- */
/* line 115, ../../scss/index/staticVars.scss */
.full-width {
  width: 100%;
}

/* line 116, ../../scss/index/staticVars.scss */
.half-width {
  width: 50%;
}

/* line 117, ../../scss/index/staticVars.scss */
.quarter-width {
  width: 25%;
}

/* ---------------- HEIGHT ~ ELEMENT -------------------------- */
/* line 119, ../../scss/index/staticVars.scss */
.full-height {
  height: 100%;
}

/* ---------------- MARGIN AND PADDING -------------------------- */
/* ----------------------- MARGIN Helper Classes --------------------------------- */
/*v2*/
/* ---------------- extra TOPPINGS - MY VERSION AND FINDINGS  -------------------------- */
/* These are arguably the most used properties in our CSS. Adding some abstract classes that can handle this will DRY our code. We start by defining a variable (using Sass) for the base space unit for our design. Lets start with 1em and on top of that we can create classes for different space sizes. */
/* ----------------------------- ELEMENT FLOATING AND ALIGNMENTS TO INCL. TEXT ALIGNMENT  --------------------------- */
/* Helper classes also called utility classes can help us write DRY less repetitive code and was discussed by Thierry Koblentzs at Smashing Magazine. What Are Helper Classes Helper classes can help remove repetition by creating a set of abstract classes that can be used over and over on HTML elements. Each helper class is responsible for doing one job and doing it well. In the future whenever you create a new component you will just need to combine some classes together to build it. */
/* ---------------- Text Alignment -------------------------- */
/* line 142, ../../scss/index/staticVars.scss */
.text-ali-left {
  text-align: left;
}

/* line 143, ../../scss/index/staticVars.scss */
.text-ali-center {
  text-align: center;
}

/* line 144, ../../scss/index/staticVars.scss */
.text-ali-right {
  text-align: right;
}

/* ---------------- Vertical Alignment -------------------------- */
/* line 151, ../../scss/index/staticVars.scss */
.vert-ali-top {
  vertical-align: top;
}

/* line 152, ../../scss/index/staticVars.scss */
.vert-ali-middle {
  vertical-align: middle;
}

/* line 153, ../../scss/index/staticVars.scss */
.vert-ali-bottom {
  vertical-align: bottom;
}

/* ----------------------------- ELEMENT POSITIONING AND ZED INDEX  --------------------------- */
/* The "pin" helper classes are inspired by Mapboxs CSS. Lets extend the full-height example to contain an element positioned at the bottom right. */
/* Position and Z-index. Position-related properties can be combined with other properties like z-index to create a complex layout. We can create a set of classes to set the exact position of any element in relation to the viewport or an ancestor element (right, left, top left, etc): */
/* ---------------- Positioning -------------------------- */
/* line 168, ../../scss/index/staticVars.scss */
.pos-fixed {
  position: fixed;
}

/* line 169, ../../scss/index/staticVars.scss */
.pos-rel {
  position: relative;
}

/* line 170, ../../scss/index/staticVars.scss */
.pos-abs {
  position: absolute;
}

/* line 171, ../../scss/index/staticVars.scss */
.pos-statc {
  position: static;
}

/* ---------------- ZedIndex -------------------------- */
/* ----------- HELPER CLASSES ------------------- */
/* ---------------- ZedIndices - 0 1 2 3 4 500 9999 -------------------------- */
/* line 185, ../../scss/index/staticVars.scss */
.zIdxNines {
  z-index: 9999;
}

/* line 186, ../../scss/index/staticVars.scss */
.zIdxFiveHundy {
  z-index: 500;
}

/* line 187, ../../scss/index/staticVars.scss */
.zIdx1 {
  z-index: 1;
}

/* line 188, ../../scss/index/staticVars.scss */
.zIdx2 {
  z-index: 2;
}

/* line 189, ../../scss/index/staticVars.scss */
.zIdx3 {
  z-index: 3;
}

/* ----------- quadrants top bottom right left ------------------- */
/* line 193, ../../scss/index/staticVars.scss */
.pin-top-right {
  top: 0;
  right: 0;
}

/* line 194, ../../scss/index/staticVars.scss */
.pin-btm-right {
  bottom: 0;
  right: 0;
}

/* line 195, ../../scss/index/staticVars.scss */
.pin-top-left {
  top: 0;
  left: 0;
}

/* line 196, ../../scss/index/staticVars.scss */
.pin-btm-left {
  bottom: 0;
  left: 0;
}

/* ------------------new 03/22/2015 ~ opacity stuff ------------------- */
/* line 203, ../../scss/index/staticVars.scss */
.halfsies {
  opacity: 0.5;
}

/* line 204, ../../scss/index/staticVars.scss */
.wholesies {
  opacity: 1;
}

/* ---------------------------------------- COLORS --------------------------------------- */
/* -------------------- alpha channels for for future use ------------------- */
/* yet to be determined */
/* white ALPHA */
/* grey ALPHA */
/* black ALPHA */
/* -------------------------------------------- union jack colors -------------------------------------------- */
/* -------------------------------------------- union jack colors -------------------------------------------- */
/* #AABBFF */
/* -------------------------- spurious colors ------------------------------ */
/* #FF05B4 */
/* #97026A */
/* #75215F */
/* #520039 */
/* #969696  */
/* #C2C2C2  */
/* #EFEFEF  */
/* #F8F8F8  */
/* #520101 magenta */
/* #2955CC navy blue*/
/* #C50202 brick red*/
/* #440E0E dark brick red */
/* #FF95EF vivrant pink */
/* #96EBFF vivrant baby-blue */
/* #006C88 */
/* #EEAA22*/
/* #EE5588*/
/* #FF9900*/
/* #5588EE*/
/* #EFEFEF */
/* #33CC77 */
/* -------------------------------------------- transparent value per se || "percy" -------------------------------------------- */
/* -------------------------------------------- transparent RGBAs -------------------------------------------- */
/*#AE12FF*/
/* #F89FF9 */
/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
/* -------------------------------------------- solid HEX VALUEs -------------------------------------------- */
/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
/* -------------------------------------------- CHOCOLATE MINT -------------------------------------------- */
/* -------------------------------------------- promise curves -------------------------------------------- */
/* -------------------------------------------- color systems -------------------------------------------- */
/* HELPER CLASSES ~ BACKGROUND COLOR application*/
/* line 442, ../../scss/index/staticVars.scss */
.alert-bg {
  background-color: #E74C3C;
}

/* line 443, ../../scss/index/staticVars.scss */
.notice-bg {
  background-color: #E74C3C;
}

/* line 444, ../../scss/index/staticVars.scss */
.success-bg {
  background-color: #E74C3C;
}

/* HELPER CLASSES ~ TEXT COLOR application */
/* line 447, ../../scss/index/staticVars.scss */
.alert {
  color: #E74C3C;
}

/* line 448, ../../scss/index/staticVars.scss */
.notice {
  color: #FFE9BF;
}

/* line 449, ../../scss/index/staticVars.scss */
.success {
  color: #1ABC9C;
}

/* whole kit and kaboodle */
/* @import "compass"; */
/* resetto v1 */
/* @import "compass/reset"; */
/* css3 schtuff - this permits mixins */
/* @import "compass/css3"; */
/* font face shared stuff */
/* @import "compass/css3/shared"; */
/* transition stuff */
/* @import "compass/css3/transition"; */
/* -------------------------------------------- ALL POSSIBLE MIXINS -------------------------------------------- */
/* ----------------------------- center div container class MIXIN ~  --------------------------- */
/* ----------------------------- control directive - if - container float_defNone class MIXIN ~  --------------------------- */
/* line 67, ../../scss/index/mixins_ctx_layout.scss */
.flo-no {
  /* position: absolute;
  top: 0; 
  float: none; */
  float: none;
  /* Declare left  */
}

/* line 68, ../../scss/index/mixins_ctx_layout.scss */
.flo-lt {
  /* position: absolute;
  top: 0; 
  float: none; */
  float: left;
  /* Declare left  */
  float: left;
}

/* line 69, ../../scss/index/mixins_ctx_layout.scss */
.flo-rt {
  /* position: absolute;
  top: 0; 
  float: none; */
  float: right;
  /* Declare left  */
  float: right;
}

/* line 70, ../../scss/index/mixins_ctx_layout.scss */
.flo-in {
  /* position: absolute;
  top: 0; 
  float: none; */
  float: inherit;
  /* Declare left  */
  float: inherit;
}

/* -------------------- MARGIN with parametrical and default values for multilevel MIXIN ------------ */
/*v1*/
/* line 77, ../../scss/index/mixins_ctx_layout.scss */
.defZeroMrgn {
  margin: 0.5em 0 0.5em 0;
}

/* ----------------------- HEAVY~HANDED MARGIN Helper Classes --------------------------------- */
/* copy */
/* $val_css_auto: auto;
$base-em-unit: 1em;
$half-em-unit: $base-em-unit  / 2;
$qtr-em-unit: $base-em-unit  / 4;
$two-em-units: $base-em-unit  * 2; */
/* end copy */
/* ---------------- MARGIN-TOP ~ top margin assortment  -------------------------- */
/* line 92, ../../scss/index/mixins_ctx_layout.scss */
.marTop-base {
  margin: 1em 0 0 0;
}

/* line 93, ../../scss/index/mixins_ctx_layout.scss */
.marTop-half {
  margin: 0.5em 0 0 0;
}

/* line 94, ../../scss/index/mixins_ctx_layout.scss */
.marTop-quarter {
  margin: 0.25em 0 0 0;
}

/* line 96, ../../scss/index/mixins_ctx_layout.scss */
.marTop-dbl {
  margin: 2em 0 0 0;
}

/* line 97, ../../scss/index/mixins_ctx_layout.scss */
.marTop-none {
  margin: 0 0 0 0;
}

/* ---------------- MARGIN-BOTTOM ~ bottom margin assortment  -------------------------- */
/* line 100, ../../scss/index/mixins_ctx_layout.scss */
.marBtm-base {
  margin: 0 0 1em 0;
}

/* line 101, ../../scss/index/mixins_ctx_layout.scss */
.marBtm-half {
  margin: 0 0 0.5em 0;
}

/* line 102, ../../scss/index/mixins_ctx_layout.scss */
.marBtm-quarter {
  margin: 0 0 0.25em 0;
}

/* line 104, ../../scss/index/mixins_ctx_layout.scss */
.marBtm-dbl {
  margin: 0 0 2em 0;
}

/* line 105, ../../scss/index/mixins_ctx_layout.scss */
.marBtm-none {
  margin: 0 0 0 0;
}

/* ---------------- MARGIN-RIGHT \ MARGIN-LEFT ~ right and left margin AUTO -------------------------- */
/* line 107, ../../scss/index/mixins_ctx_layout.scss */
.marAuto-LfRt {
  margin: 0 auto 0 auto;
}

/* -------------------- PADDING with parametrical and default values for multilevel MIXIN ------------ */
/* .defZeroPdng{ @include defZeroPdng( 0.5em, 0, 0.5em, 0 ); } */
/* ----------------------- HEAVY~HANDED PADDING Helper Classes --------------------------------- */
/* ---------------- PADDING-TOP ~ top padding assortment -------------------------- */
/* line 117, ../../scss/index/mixins_ctx_layout.scss */
.padTop-base {
  padding: 1em 0 0 0;
}

/* line 118, ../../scss/index/mixins_ctx_layout.scss */
.padTop-half {
  padding: 0.5em 0 0 0;
}

/* line 119, ../../scss/index/mixins_ctx_layout.scss */
.padTop-quarter {
  padding: 0.25em 0 0 0;
}

/* line 121, ../../scss/index/mixins_ctx_layout.scss */
.padTop-dbl {
  padding: 2em 0 0 0;
}

/* line 122, ../../scss/index/mixins_ctx_layout.scss */
.padTop-none {
  padding: 0 0 0 0;
}

/* ---------------- PADDING-BOTTOM ~ bottom padding assortment -------------------------- */
/* line 124, ../../scss/index/mixins_ctx_layout.scss */
.padBtm-base {
  padding: 0 0 1em 0;
}

/* line 125, ../../scss/index/mixins_ctx_layout.scss */
.padBtm-half {
  padding: 0 0 0.5em 0;
}

/* line 126, ../../scss/index/mixins_ctx_layout.scss */
.padBtm-quarter {
  padding: 0 0 0.25em 0;
}

/* line 128, ../../scss/index/mixins_ctx_layout.scss */
.padBtm-dbl {
  padding: 0 0 2em 0;
}

/* line 129, ../../scss/index/mixins_ctx_layout.scss */
.padBtm-none {
  padding: 0 0 0 0;
}

/* ---------------- PADDING-RIGHT \ PADDING-LEFT ~ right and left padding AUTO -------------------------- */
/* line 131, ../../scss/index/mixins_ctx_layout.scss */
.padAuto-LfRt {
  padding: 0 auto 0 auto;
}

/* -------------------- BORDER PER, SE || PERCY with parametrical and default values for multilevel MIXIN ------------ */
/* -------------------------------------------- BORDER  -------------------------------------------- */
/* border_all */
/* border_top */
/* border_right */
/* border_bottom */
/* border_left */
/* border_all */
/* line 167, ../../scss/index/mixins_ctx_layout.scss */
.border_all {
  /* border: width border-style color; */
  border: 1px solid #F2F2F2;
  /* TBD */
}

/* border_top */
/* line 171, ../../scss/index/mixins_ctx_layout.scss */
.border_top {
  /* border: width border-style color; */
  border-top: 1px solid #75215f;
  /* $col_lugrd_org_dkMid */
}

/* border_right */
/* line 175, ../../scss/index/mixins_ctx_layout.scss */
.border_right {
  /* border: width border-style color; */
  border-right: 1px solid #75215f;
  /* $col_lugrd_org_dkMid */
}

/* border_bottom */
/* line 179, ../../scss/index/mixins_ctx_layout.scss */
.border_bottom {
  /* border: width border-style color; */
  border-bottom: 1px solid #75215f;
  /* $col_lugrd_org_dkMid */
}

/* border_left */
/* line 183, ../../scss/index/mixins_ctx_layout.scss */
.border_left {
  /* border: width border-style color; */
  border-left: 1px solid #75215f;
  /* $col_lugrd_org_dkMid */
}

/* -----------------------------  W3C COMPLIANT BORDER RADIUS with parametrical and default values for multilevel MIXIN --------------------------- */
/* corners_eq */
/* corners_noneq */
/* inrcorners_noneq  */
/* nonBleedCrnr  */
/* corners_eq */
/* line 226, ../../scss/index/mixins_ctx_layout.scss */
.corners_eq {
  /*16px*/
  /* EQ BORDER-RADIUS */
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -webkit-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}

/* corners_noneq */
/* line 230, ../../scss/index/mixins_ctx_layout.scss */
.corners_noneq {
  /* NON~EQ BORDER-RADIUS */
  -moz-border-radius: 1.125em 16px 10px 8%;
  -ms-border-radius: 1.125em 16px 10px 8%;
  -webkit-border-radius: 1.125em 16px 10px 8%;
  -o-border-radius: 1.125em 16px 10px 8%;
  border-radius: 1.125em 16px 10px 8%;
  height: 100px;
  background-color: #898989;
}

/* inrcorners_noneq  */
/* line 236, ../../scss/index/mixins_ctx_layout.scss */
.inrcorners_noneq {
  /* NON~EQ BORDER-RADIUS */
  -moz-border-radius: 0.28125em 0.5em 0.3125em 2%;
  -ms-border-radius: 0.28125em 0.5em 0.3125em 2%;
  -webkit-border-radius: 0.28125em 0.5em 0.3125em 2%;
  -o-border-radius: 0.28125em 0.5em 0.3125em 2%;
  border-radius: 0.28125em 0.5em 0.3125em 2%;
  height: 50px;
  background-color: #000000;
}

/* nonBleedCrnr  */
/* line 242, ../../scss/index/mixins_ctx_layout.scss */
.nonBleedCrnr {
  /*Use to avoid the gradient bleeding through the corners when using rounded corners */
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
}

/* ----------------- Media Query Properties ----------------- */
/*  ----------------- ----------------- 	  Normal coding ENDS here  */
/* --- MQs initiate here... --- */
/* combo.html accel.html gyro.html */
@media (orientation: landscape) {
  /* line 22, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_panoramic {
    opacity: 1;
  }
  /* line 23, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_portrait {
    opacity: 0.1;
  }
}
/* combo.html accel.html gyro.html */
@media (orientation: portrait) {
  /* line 45, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_panoramic {
    opacity: 0.1;
  }
  /* line 46, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_portrait {
    opacity: 1;
  }
}
/*  ====  Responsive Design Media Queries START here  ===== */
@media (max-width: 1024px) {
  /* line 61, ../../scss/index/MQs_new.scss */
  body {
    /* background-color: $col_trans_purple; */
    /*END article */
  }
  /* line 81, ../../scss/index/MQs_new.scss */
  body article {
    /*END div.outer properties */
    /* footer properties */
    /*END footer */
  }
  /* line 83, ../../scss/index/MQs_new.scss */
  body article .outer {
    /* END div.lay_lt properties */
    /* GEOLOCATION ITEMs */
    /* END section.container properties */
  }
  /* line 86, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic {
    /*0.95em*/
    /* 96% */
    /* 84% */
    /* GEOLOCATION ITEMs */
    /* DRAG AND DROP ITEMs */
    /* fauxDRAG DROP ITEMs */
    /* device.html ~ dvczone ITEMs */
    /* END .dvczone ITEMs ~ combo accel gyro */
    /* CANVAS ITEMs */
    /* PAGE FLIP ITEMS */
    /* end PAGE FLIP ITEMs */
  }
  /* line 87, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic h2 {
    font-size: 0.80em;
  }
  /* line 89, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic h3 {
    margin: 7% 0 0 0;
    padding: 7% 3% 7% 3%;
    font-size: 0.95em;
  }
  /* line 94, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic p {
    font-size: 0.84em;
    padding: 4% 7% 8% 5%;
  }
  /* line 152, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .degree {
    top: 2.5%;
    left: 43%;
    font-size: 90%;
    -moz-transform-origin: 50% 420%;
    -webkit-transform-origin: 50% 420%;
    -o-transform-origin: 50% 420%;
    -ms-transform-origin: 50% 420%;
    transform-origin: 50% 420%;
  }
  /* line 158, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .point {
    top: 28%;
    left: 40%;
    -moz-transform-origin: 60% 285%;
    -webkit-transform-origin: 60% 285%;
    -o-transform-origin: 60% 285%;
    -ms-transform-origin: 60% 285%;
    transform-origin: 60% 285%;
  }
  /* line 163, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .point.main {
    font-size: 93%;
    top: 25%;
    left: 40%;
    -moz-transform-origin: 60% 215%;
    -webkit-transform-origin: 60% 215%;
    -o-transform-origin: 60% 215%;
    -ms-transform-origin: 60% 215%;
    transform-origin: 60% 215%;
  }
  /* line 170, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow {
    /* top: 2%; left: 46.5%; */
    /**/
    top: 12.5%;
    left: 46.5%;
    /**/
    -moz-transform-origin: 60% 990%;
    -webkit-transform-origin: 60% 990%;
    -o-transform-origin: 60% 990%;
    -ms-transform-origin: 60% 990%;
    transform-origin: 60% 990%;
  }
  /* line 175, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow.main {
    /* top: 4%; left: 46%; */
    /**/
    top: 15%;
    left: 46%;
    /**/
    -moz-transform-origin: 60% 450%;
    -webkit-transform-origin: 60% 450%;
    -o-transform-origin: 60% 450%;
    -ms-transform-origin: 60% 450%;
    transform-origin: 60% 450%;
  }
  /* line 217, ../../scss/index/MQs_new.scss */
  body article .outer .container {
    /* END header.headless properties */
    /* END .inner properties */
  }
  /* line 218, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless {
    /* END nav.navigation properties */
  }
  /* line 220, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation {
    /* END #uniformNavigation properties */
  }
  /* line 239, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #uniformNavigation {
    /* END #uniformNavigation li properties */
  }
  /* line 241, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #uniformNavigation li {
    font-size: 0.8em;
    /*80%*/
    display: inline;
    /* display: $dsp_infx; */
    margin-top: 0;
  }
  /* line 269, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner {
    /* END ~ CTA properties */
    /* .leftyPlay properties */
    /* .rightyPlay properties */
    /* END .peripheral properties ~ aside */
  }
  /* line 270, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA {
    /* div ~ enhance.html */
    /* div#LessonCon.closer */
    /* inspiration.html */
    /* index page image ~ future carousel spot */
    /* END ~ #AverageOut properties */
  }
  /* line 273, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA p {
    font-size: 0.94em;
    /* 94% */
  }
  /* line 297, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .inspiration .electricList .goldenTruth {
    font-size: 0.94em;
    /* 94% */
  }
  /* line 337, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .contento {
    font-size: 1.95em;
    /* 195% */
  }
  /* line 356, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA #AverageOut .caroSpyglass ul.caroFatUL {
    /* &:before {
    	content: "";
    	display: table;
    } 
    &:after { 
    	content: ".";
    	display: block;
    	height: 0;
    	visibility: hidden;
    	clear: both; 
    } */
  }
  /* line 387, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .leftyPlay {
    /* position: relative; */
    /* default ~ off by its entirety */
    /* .imgCTA properties */
  }
  /* line 399, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .leftyPlay .imgCTA {
    /* .figcaption properties */
  }
  /* line 410, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .rightyPlay {
    /* position: relative; */
    /* default ~ off by its entirety */
    /* .imgCTA properties */
  }
  /* line 421, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .rightyPlay .imgCTA {
    /* .figcaption properties */
  }
  /* line 433, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic {
    /* 96% */
    /* new axis form controls */
    /* END .axis_form */
  }
  /* line 435, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic h4 {
    font-size: 0.96em;
  }
  /* line 439, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic p {
    font-size: 0.84em;
    /* 84% */
  }
  /* line 447, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon {
    /* combo.html accel.html gyro.html */
  }
  /* line 452, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_panoramic, body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_portrait {
    font-size: 65%;
  }
  /* line 459, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .axis_form {
    /* fieldsets */
  }
  /* line 461, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .axis_form .axis_fldst {
    /* legends */
    /* div.labelcon */
  }
  /* line 466, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .axis_form .axis_fldst .labelcon {
    /*labels*/
    /*range sliders*/
    /*buttons*/
  }
  /* line 492, ../../scss/index/MQs_new.scss */
  body article footer {
    /* END .footrow ~ properties */
  }
  /* line 493, ../../scss/index/MQs_new.scss */
  body article footer .footrow {
    padding: 1.375% 1.5% 1.375% 1.5%;
    /* 1170px */
    /* .container ~= 1170 / 1600 ~ 73.125% */
    max-width: 97%;
    width: 100%;
    /* margin: 0 auto; */
    /* @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */
    height: 100%;
    /* END .logoWrapper properties */
    /* END .bigfoot properties */
    /* END .footbumpLeft properties */
    /* END .littlefeet properties */
    /* END .copyright properties */
  }
  /* line 510, ../../scss/index/MQs_new.scss */
  body article footer .footrow .footbumpLeft {
    margin: 0 auto 0 auto;
  }
  /* line 514, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet {
    font-size: 95%;
    /*100%*/
    /*font-size: 95%;*/
  }
  /* line 524, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet ul li {
    font-size: 90%;
  }
  /* line 530, ../../scss/index/MQs_new.scss */
  body article footer .footrow .bigsole {
    margin-bottom: 7.25em;
  }
  /* line 536, ../../scss/index/MQs_new.scss */
  body article footer .footrow .copyright {
    position: relative;
    top: 4.875em;
    /*-1.75em 5em 25px 22px 20px 40px 45px 0%*/
    /* END .lowWrapper properties */
  }
  /* line 541, ../../scss/index/MQs_new.scss */
  body article footer .footrow .copyright .lowWrapper p {
    /* online-offline schtuff */
  }

  /* END body properties */
}
/* END @media (max-width: 1024px)  */
@media only screen and (max-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 561, ../../scss/index/MQs_new.scss */
  body {
    /*END article */
  }
  /* line 562, ../../scss/index/MQs_new.scss */
  body article {
    /*END div.outer properties */
  }
  /* line 563, ../../scss/index/MQs_new.scss */
  body article .outer {
    /* END div.lay_lt properties */
    /* END section.container properties */
  }
  /* line 565, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt {
    /* END .inner_elastic properties */
  }
  /* line 567, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic {
    /* LITE*/
    /* device.html ~ dvczone ITEMs */
    /* END .dvczone ITEMs ~ combo accel gyro */
  }
  /* line 574, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose {
    height: 152px;
  }
  /* line 578, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .compass {
    height: 152px;
  }
  /* line 593, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone #spinner {
    height: 126px;
  }
  /* line 594, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone #pin {
    height: 12px;
  }
  /* line 597, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic #DVCninetynine {
    height: 152px;
  }
  /* line 605, ../../scss/index/MQs_new.scss */
  body article .outer .container {
    /* END .inner properties */
  }
  /* line 606, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner {
    /* END .inner .CTA properties */
    /* combo.html accel.html gyro.html */
  }
  /* line 607, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA {
    /* inspiration.html */
  }
  /* line 609, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .imgCTA img.borderless {
    width: 430px;
    /* !431px */
  }
  /* line 649, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_panoramic, body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_portrait {
    /* width: 45%;*/
    /* 43% 45% 48.5% */
    height: 60px;
    font-size: 63.5%;
  }
  /* line 654, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_panoramic {
    opacity: 1;
  }
  /* line 655, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_portrait {
    opacity: 0.1;
  }

  /* END body properties */
}
/* END @media only screen and (max-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) */
@media (max-width: 800px) {
  /* line 670, ../../scss/index/MQs_new.scss */
  body {
    /*background-color: $col_trans_lime; */
    /*END article */
  }
  /* line 690, ../../scss/index/MQs_new.scss */
  body article {
    /*END div.outer properties */
    /* footer properties */
    /*END footer */
  }
  /* line 692, ../../scss/index/MQs_new.scss */
  body article .outer {
    /* END div.lay_lt properties */
    /* GEOLOCATION ITEMs */
    /* END section.container properties */
  }
  /* line 694, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt {
    width: 36.875%;
    /* position: absolute;
    top: 0; 
    float: none; */
    float: left;
    /* Declare left  */
    float: left;
  }
  /* line 699, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic {
    /* GEOLOCATION ITEMs */
    /* DRAG AND DROP ITEMs */
    /* fauxDRAG DROP ITEMs */
    /* device.html ~ dvczone ITEMs */
    /* END .dvczone ITEMs ~ combo accel gyro */
    /* CANVAS ITEMs */
    /* PAGE FLIP ITEMS */
    /* end PAGE FLIP ITEMs */
  }
  /* line 757, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .degree {
    top: 3%;
    left: 42.5%;
    /* 41.5% */
    font-size: large;
    -moz-transform-origin: 50% 515%;
    -webkit-transform-origin: 50% 515%;
    -o-transform-origin: 50% 515%;
    -ms-transform-origin: 50% 515%;
    transform-origin: 50% 515%;
    /* 50% 490% 50% 515% */
  }
  /* line 763, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .point {
    -moz-transform-origin: 60% 465%;
    -webkit-transform-origin: 60% 465%;
    -o-transform-origin: 60% 465%;
    -ms-transform-origin: 60% 465%;
    transform-origin: 60% 465%;
  }
  /* line 766, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .point.main {
    font-size: 100%;
    -moz-transform-origin: 55% 380%;
    -webkit-transform-origin: 55% 380%;
    -o-transform-origin: 55% 380%;
    -ms-transform-origin: 55% 380%;
    transform-origin: 55% 380%;
    /* 60% 245% 55% 390% */
    top: 19%;
    left: 40%;
    /* top: 28%; left: 40%; */
  }
  /* line 775, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow {
    -moz-transform-origin: 60% 1500%;
    -webkit-transform-origin: 60% 1500%;
    -o-transform-origin: 60% 1500%;
    -ms-transform-origin: 60% 1500%;
    transform-origin: 60% 1500%;
  }
  /* line 778, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow.main {
    -moz-transform-origin: 60% 700%;
    -webkit-transform-origin: 60% 700%;
    -o-transform-origin: 60% 700%;
    -ms-transform-origin: 60% 700%;
    transform-origin: 60% 700%;
  }
  /* line 816, ../../scss/index/MQs_new.scss */
  body article .outer #colLeft {
    display: none;
  }
  /* line 818, ../../scss/index/MQs_new.scss */
  body article .outer .container {
    /* END header.headless properties */
    /* END .inner properties */
  }
  /* line 819, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless {
    /* END nav.navigation properties */
  }
  /* line 821, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation {
    /* END #uniformNavigation properties */
  }
  /* line 827, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #silky #anchorX.gear {
    font-size: 1.3125em;
  }
  /* line 828, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #silky #firstFour.gear {
    font-size: 1.3125em;
  }
  /* line 830, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #silky #secondFour.gear {
    font-size: 1.575em;
  }
  /* line 831, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #silky #thirdFour.gear {
    font-size: 1.575em;
  }
  /* line 833, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #silky #fourthFour.gear {
    font-size: 1.3125em;
  }
  /* line 842, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #uniformNavigation {
    /* END #uniformNavigation li properties */
  }
  /* line 844, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #uniformNavigation li {
    font-size: 0.76em;
    /* 76% */
  }
  /* line 871, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner {
    /* CTA properties */
    /* .leftyPlay properties */
    /* .rightyPlay properties */
    /* END .peripheral properties ~ aside */
  }
  /* line 872, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA {
    width: 93%;
    margin: 0 3.5% 0 3.5%;
    /* div ~ enhance.html */
    /* div#LessonCon.closer */
    /* inspiration.html */
    /* transform.html */
    /* END transform.html */
    /* index page image ~ future carousel spot */
    /* END ~ #AverageOut properties */
  }
  /* line 921, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .inspiration cite#electricQuote {
    width: 55%;
  }
  /* line 941, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .imgCTA {
    width: 95%;
  }
  /* line 948, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .zoomWrap {
    width: 95%;
  }
  /* line 978, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA #AverageOut {
    width: 95%;
    /* width: 230px; */
    /* ! 330px DEFINITELY TEMPORARY */
  }
  /* line 986, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA #AverageOut .caroSpyglass ul.caroFatUL {
    /* &:before {
    	content: "";
    	display: table;
    } 
    &:after { 
    	content: ".";
    	display: block;
    	height: 0;
    	visibility: hidden;
    	clear: both; 
    } */
  }
  /* line 1017, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .leftyPlay {
    position: static;
    /* .imgCTA properties */
    /* transform.html */
    /* END transform.html */
  }
  /* line 1021, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .leftyPlay h3 {
    padding: 0 5% 0.25em 5%;
    /* clear: none; */
    /* both inherit */
  }
  /* line 1030, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .leftyPlay .pubdate {
    width: inherit;
    /* position: absolute;
    top: 0; 
    float: none; */
    float: none;
    /* Declare left  */
  }
  /* line 1035, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .leftyPlay .contento {
    width: inherit;
    /* position: absolute;
    top: 0; 
    float: none; */
    float: none;
    /* Declare left  */
  }
  /* line 1040, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .leftyPlay .imgCTA {
    left: 0;
    position: static;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    /* position: absolute;
    top: 0; 
    float: none; */
    float: none;
    /* Declare left  */
    /* width: inherit; */
    width: 84%;
    /* .figcaption properties */
  }
  /* line 1053, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .leftyPlay .imgCTA .figcaption {
    top: 0;
    left: 0;
    margin: -18% auto 0 auto;
  }
  /* line 1065, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .leftyPlay .zoomWrap {
    left: 0;
    position: static;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    /* position: absolute;
    top: 0; 
    float: none; */
    float: none;
    /* Declare left  */
    /* width: inherit; */
    width: 84%;
  }
  /* line 1101, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .rightyPlay {
    position: static;
    /* .imgCTA properties */
    /* transform.html */
    /* END transform.html */
  }
  /* line 1105, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .rightyPlay h3 {
    padding: 0 5% 0.25em 5%;
    /* clear: none; */
    /* both inherit */
  }
  /* line 1114, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .rightyPlay .pubdate {
    width: inherit;
    /* position: absolute;
    top: 0; 
    float: none; */
    float: none;
    /* Declare left  */
  }
  /* line 1119, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .rightyPlay .contento {
    width: inherit;
    /* position: absolute;
    top: 0; 
    float: none; */
    float: none;
    /* Declare left  */
  }
  /* line 1124, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .rightyPlay .imgCTA {
    right: 0;
    position: static;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    /* position: absolute;
    top: 0; 
    float: none; */
    float: none;
    /* Declare left  */
    /* width: inherit; */
    width: 84%;
    /* .figcaption properties */
  }
  /* line 1136, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .rightyPlay .imgCTA .figcaption {
    top: 0;
    left: 0;
    margin: -18% auto 0 auto;
  }
  /* line 1149, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .rightyPlay .zoomWrap {
    right: 0;
    position: static;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    /* position: absolute;
    top: 0; 
    float: none; */
    float: none;
    /* Declare left  */
    /* width: inherit; */
    width: 84%;
  }
  /* line 1184, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral {
    width: 100%;
    margin: 0 1.5% 0 1.5%;
  }
  /* line 1189, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic {
    width: 64%;
    /* new axis form controls */
    /* END .axis_form */
  }
  /* line 1207, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .axis_form {
    /* fieldsets */
  }
  /* line 1209, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .axis_form .axis_fldst {
    /* legends */
    /* div.labelcon */
  }
  /* line 1214, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .axis_form .axis_fldst .labelcon {
    /*labels*/
    /*range sliders*/
    /*buttons*/
  }
  /* line 1231, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .dip_out {
    display: none;
  }
  /* line 1241, ../../scss/index/MQs_new.scss */
  body article footer {
    padding-left: 0;
    padding-right: 0;
    /* END .footrow ~ properties */
  }
  /* line 1246, ../../scss/index/MQs_new.scss */
  body article footer .footrow {
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    /* END .logoWrapper properties */
    /* END .bigfoot properties */
    /* END .footbumpLeft properties */
    /* END .littlefeet properties */
    /* END .copyright properties */
  }
  /* line 1253, ../../scss/index/MQs_new.scss */
  body article footer .footrow .logoWrapper {
    /* width: 19%; */
    width: auto;
    /* position: absolute;
    top: 0; 
    float: none; */
    float: none;
    /* Declare left  */
    margin: 0.25% 0.125% 0 0.25%;
    padding: 7% 0.25% 0.125% 0.25%;
  }
  /* line 1263, ../../scss/index/MQs_new.scss */
  body article footer .footrow .logoWrapper .diodeTextCon {
    width: 70%;
    margin: 0 auto 0 auto;
  }
  /* line 1270, ../../scss/index/MQs_new.scss */
  body article footer .footrow .bigfoot {
    width: auto;
    /* width: 70%; */
    /* position: absolute;
    top: 0; 
    float: none; */
    float: none;
    /* Declare left  */
    min-height: 3.25em;
    margin: 2% 5% 0 5%;
    padding: 0 5% 2% 5%;
    /* 142.5% */
  }
  /* line 1279, ../../scss/index/MQs_new.scss */
  body article footer .footrow .bigfoot h4 {
    font-size: 1.425em;
  }
  /* line 1280, ../../scss/index/MQs_new.scss */
  body article footer .footrow .bigfoot p {
    font-size: 0.95em;
    /* 95% */
  }
  /* line 1283, ../../scss/index/MQs_new.scss */
  body article footer .footrow .bigfoot p a {
    font-size: inherit;
  }
  /* line 1287, ../../scss/index/MQs_new.scss */
  body article footer .footrow .footbumpLeft {
    margin: 0 0 0 0;
  }
  /* line 1291, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet {
    min-height: 3.25em;
    width: 92%;
    /* 92% 97% 100% */
    padding: 1.5% 1.5% 1.5% 1.5%;
    /* position: absolute;
    top: 0; 
    float: none; */
    float: none;
    /* Declare left  */
  }
  /* line 1299, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet h4 {
    width: auto;
    font-size: 1em;
    /* 95% */
    margin: 1% 6% 0 4%;
    padding: 0 0 0 0;
    position: relative;
  }
  /* line 1307, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet p.opn_clo {
    display: block;
    margin: -2.5% auto 0 auto;
    /* margin: 0 auto; */
    /*-2%, $val_css_auto, 0, $val_css_auto*/
    /* -4.5%, $val_css_auto, 0, $val_css_auto */
    padding: 0 0 0 0;
    /* padding: 0 0; */
    /* float: right; */
    position: relative;
    top: 0%;
    /* -40% -35% -3% 5% 35% 0% -1%*/
    right: -40%;
    /* 0% */
    width: 140px;
    /* clear: both; */
  }
  /* line 1321, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet p.opn_clo a {
    margin: 0 auto;
    padding: 0 0 0 5%;
    /* display: block; */
  }
  /* line 1328, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet ul {
    font-size: 0.95em;
    /* 95% */
    margin: 1% 6% 0 4%;
    /* open-close schtuff */
    overflow: hidden;
  }
  /* line 1337, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet ul li {
    display: inline-block;
    /* width: 100%; */
    border-left: none;
    text-align: left;
    display: block;
    text-align: center;
    color: #FFCC66;
    /* border: width border-style color; */
    border-bottom: 1px dotted #898989;
    padding: 1.5% 0 1.5% 0;
  }
  /* line 1350, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet ul li a {
    display: block;
    margin: 2% auto 0 auto;
    padding: 0 0 0 0;
    width: 100%;
  }
  /* line 1360, ../../scss/index/MQs_new.scss */
  body article footer .footrow .bigsole {
    margin-bottom: 2.75em;
  }
  /* line 1373, ../../scss/index/MQs_new.scss */
  body article footer .footrow .copyright {
    position: static;
    top: 0;
    /* position: absolute;
    top: 0; 
    float: none; */
    float: none;
    /* Declare left  */
    height: auto;
    margin: 5.5% 0 3.5% 0;
    /* END .lowWrapper properties */
  }
  /* line 1382, ../../scss/index/MQs_new.scss */
  body article footer .footrow .copyright #loadicon {
    left: 45%;
  }
  /* line 1387, ../../scss/index/MQs_new.scss */
  body article footer .footrow .copyright .lowWrapper p {
    /* online-offline schtuff */
  }
  /* line 1389, ../../scss/index/MQs_new.scss */
  body article footer .footrow .copyright .lowWrapper p #colorBlock {
    /* online-offline schtuff */
  }

  /* END body properties */
}
/* END @media (max-width: 800px) */
@media only screen and (max-width: 768px) and (max-device-width: 768px) and (orientation: portrait) {
  /* line 1420, ../../scss/index/MQs_new.scss */
  body div#specialBox {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    width: 80%;
    height: auto;
    background: floralwhite;
    display: none;
    position: relative;
    z-index: 100;
    color: #232927;
    margin: 50px auto 0 auto;
    padding: 4% 9% 4% 9%;
    /* border: width border-style color; */
    border: 10px solid #904B30;
    /* MARGIN 10% vs 150px ( 150px, $val_css_auto, 0, $val_css_auto ) */
    /* PADDING ( 4%, 9%, 4%, 9% ) */
  }
  /* line 1453, ../../scss/index/MQs_new.scss */
  body article {
    /*END div.outer properties */
    /*END footer ~ properties */
  }
  /* line 1455, ../../scss/index/MQs_new.scss */
  body article .outer {
    /* END section.container properties */
  }
  /* line 1458, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic {
    /* device.html ~ dvczone ITEMs */
  }
  /* line 1463, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose {
    height: 231px;
  }
  /* line 1467, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .compass {
    height: 231px;
  }
  /* line 1470, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .degree {
    top: 1.5%;
    left: 42.5%;
    font-size: large;
    -moz-transform-origin: 50% 515%;
    -webkit-transform-origin: 50% 515%;
    -o-transform-origin: 50% 515%;
    -ms-transform-origin: 50% 515%;
    transform-origin: 50% 515%;
  }
  /* line 1476, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .point {
    -moz-transform-origin: 60% 465%;
    -webkit-transform-origin: 60% 465%;
    -o-transform-origin: 60% 465%;
    -ms-transform-origin: 60% 465%;
    transform-origin: 60% 465%;
  }
  /* line 1479, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .point.main {
    font-size: 100%;
    -moz-transform-origin: 55% 380%;
    -webkit-transform-origin: 55% 380%;
    -o-transform-origin: 55% 380%;
    -ms-transform-origin: 55% 380%;
    transform-origin: 55% 380%;
    top: 19%;
    left: 40%;
  }
  /* line 1488, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow {
    -moz-transform-origin: 60% 1500%;
    -webkit-transform-origin: 60% 1500%;
    -o-transform-origin: 60% 1500%;
    -ms-transform-origin: 60% 1500%;
    transform-origin: 60% 1500%;
  }
  /* line 1491, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow.main {
    -moz-transform-origin: 60% 700%;
    -webkit-transform-origin: 60% 700%;
    -o-transform-origin: 60% 700%;
    -ms-transform-origin: 60% 700%;
    transform-origin: 60% 700%;
  }
  /* line 1496, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone #spinner {
    height: 192px;
  }
  /* line 1497, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone #pin {
    height: 19px;
  }
  /* line 1500, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic #DVCninetynine {
    height: 231px;
  }
  /* line 1506, ../../scss/index/MQs_new.scss */
  body article .outer .container {
    /* END .inner properties */
  }
  /* line 1507, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner {
    /* END .inner .CTA properties */
    /* combo.html accel.html gyro.html */
  }
  /* line 1509, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA {
    /* inspiration.html */
  }
  /* line 1511, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .imgCTA img.borderless {
    width: 410px;
    /*!419px*/
  }
  /* line 1539, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .inspiration cite#electricQuote {
    width: 55%;
  }
  /* line 1549, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_panoramic {
    opacity: 0.1;
  }
  /* line 1550, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_portrait {
    opacity: 1;
  }
  /* line 1560, ../../scss/index/MQs_new.scss */
  body article footer {
    /* END .footrow ~ properties */
  }
  /* line 1561, ../../scss/index/MQs_new.scss */
  body article footer .footrow {
    /* END .littlefeet ~ properties */
  }
  /* line 1562, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet {
    /* END p.opn_clo ~ properties */
  }
  /* line 1564, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet p.opn_clo {
    margin: -2% auto 0 auto;
    /*( -1%, $val_css_auto, 0, $val_css_auto )*/
    top: 0%;
    /*-1%*/
    right: -44%;
    /* -31% */
  }
}
/* END ~ @ media only screen and (max-width: 768px) and (max-device-width: 768px) and (orientation: portrait) */
@media (max-width: 480px) {
  /* line 1580, ../../scss/index/MQs_new.scss */
  body {
    /*END article */
  }
  /* line 1581, ../../scss/index/MQs_new.scss */
  body article {
    /*END div.outer properties */
  }
  /* line 1582, ../../scss/index/MQs_new.scss */
  body article .outer {
    /* END div.lay_lt properties */
  }
  /* line 1583, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt {
    /* END .inner_elastic properties */
  }
  /* line 1585, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic {
    /* device.html ~ dvczone ITEMs */
    /* END .dvczone ITEMs ~ combo accel gyro */
  }
  /* line 1593, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .degree {
    font-size: 80%;
    top: 1.5%;
    left: 41.5%;
    -moz-transform-origin: 50% 380%;
    -webkit-transform-origin: 50% 380%;
    -o-transform-origin: 50% 380%;
    -ms-transform-origin: 50% 380%;
    transform-origin: 50% 380%;
  }
  /* line 1601, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .point {
    font-size: 80%;
    top: 21%;
    left: 40%;
    -moz-transform-origin: 60% 225%;
    -webkit-transform-origin: 60% 225%;
    -o-transform-origin: 60% 225%;
    -ms-transform-origin: 60% 225%;
    transform-origin: 60% 225%;
  }
  /* line 1607, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .point.main {
    font-size: 80%;
    -moz-transform-origin: 60% 220%;
    -webkit-transform-origin: 60% 220%;
    -o-transform-origin: 60% 220%;
    -ms-transform-origin: 60% 220%;
    transform-origin: 60% 220%;
    top: 21%;
    left: 40%;
  }
  /* line 1616, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow {
    top: 15.5%;
    left: 43.5%;
    -moz-transform-origin: 60% 780%;
    -webkit-transform-origin: 60% 780%;
    -o-transform-origin: 60% 780%;
    -ms-transform-origin: 60% 780%;
    transform-origin: 60% 780%;
  }
  /* line 1621, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow.main {
    -moz-transform-origin: 60% 430%;
    -webkit-transform-origin: 60% 430%;
    -o-transform-origin: 60% 430%;
    -ms-transform-origin: 60% 430%;
    transform-origin: 60% 430%;
    top: 13%;
    left: 44.5%;
  }

  /* END body properties */
}
/* END @media (max-width: 480px) */
@media only screen and (max-width: 480px) and (max-device-width: 480px) and (orientation: landscape) {
  /* line 1643, ../../scss/index/MQs_new.scss */
  body div#overlay {
    width: 100%;
    height: 2320%;
    background: #000000;
    display: none;
    position: fixed;
    z-index: 50;
    /*2*/
    top: 0px;
    left: 0px;
    text-align: center;
  }
  /* line 1655, ../../scss/index/MQs_new.scss */
  body div#specialBox {
    /* width: 500px; */
    font-family: "Trebuchet MS", Verdana, sans-serif;
    width: 320px;
    height: auto;
    /*300px*/
    background: floralwhite;
    display: none;
    position: relative;
    z-index: 100;
    /*3*/
    color: #000000;
    margin: 70px auto 0 auto;
    /* @include defZeroMrgn( 10%, $val_css_auto, 0, $val_css_auto ); */
    padding: 4% 9% 4% 9%;
    /* border: width border-style color; */
    border: 10px solid #904B30;
    /**/
  }
  /* line 1672, ../../scss/index/MQs_new.scss */
  body div#specialBox h6 {
    text-transform: lowercase;
    font-size: 1.25em;
  }
  /* line 1673, ../../scss/index/MQs_new.scss */
  body div#specialBox p {
    font-size: 1em;
    color: rgba(104, 190, 190, 0.7);
    margin: 20px auto 20px auto;
  }
  /* line 1681, ../../scss/index/MQs_new.scss */
  body div#specialBox a {
    font-size: 1em;
    text-decoration: none;
    color: #904B30;
    margin: 20px auto 20px auto;
  }
  /* line 1685, ../../scss/index/MQs_new.scss */
  body article {
    /*END div.outer properties */
    /*END footer ~ properties */
  }
  /* line 1686, ../../scss/index/MQs_new.scss */
  body article .outer {
    /* END div.lay_lt properties */
    /* END section.container properties */
  }
  /* line 1688, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt {
    /* END .inner_elastic properties */
  }
  /* line 1690, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic {
    /* LITE*/
    /* device.html ~ dvczone ITEMs */
    /* END .dvczone ITEMs ~ combo accel gyro */
  }
  /* line 1697, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose {
    height: 143px;
  }
  /* line 1700, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .compass {
    height: 143px;
  }
  /* line 1703, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .degree {
    top: 2.5%;
    -moz-transform-origin: 50% 430%;
    -webkit-transform-origin: 50% 430%;
    -o-transform-origin: 50% 430%;
    -ms-transform-origin: 50% 430%;
    transform-origin: 50% 430%;
    /* 50% 380% 50% 430% */
  }
  /* line 1707, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .point {
    font-size: 70%;
    top: 27%;
    left: 40%;
  }
  /* line 1711, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .point.main {
    top: 24%;
    left: 40%;
  }
  /* line 1716, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow {
    /**/
    top: 12.5%;
    left: 46.5%;
    /**/
  }
  /* line 1719, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow.main {
    /**/
    top: 15%;
    left: 46%;
    /**/
  }
  /* line 1724, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone #spinner {
    height: 119px;
  }
  /* line 1725, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone #pin {
    height: 11px;
  }
  /* line 1728, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic #DVCninetynine {
    height: 143px;
  }
  /* line 1736, ../../scss/index/MQs_new.scss */
  body article .outer .container {
    /* END .inner properties */
  }
  /* line 1737, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner {
    /* END .inner .CTA properties */
    /* combo.html accel.html gyro.html */
  }
  /* line 1738, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA {
    /* inspiration.html */
  }
  /* line 1740, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .imgCTA img.borderless {
    width: 260px;
    /*!262px*/
  }
  /* line 1767, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .inspiration cite#electricQuote {
    width: 83%;
  }
  /* line 1778, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_panoramic, body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_portrait {
    height: 58px;
    width: 43%;
  }
  /* line 1783, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_panoramic {
    opacity: 1;
  }
  /* line 1784, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_portrait {
    opacity: 0.1;
  }
  /* line 1793, ../../scss/index/MQs_new.scss */
  body article footer {
    /* END .footrow ~ properties */
  }
  /* line 1794, ../../scss/index/MQs_new.scss */
  body article footer .footrow {
    /* END .littlefeet ~ properties */
  }
  /* line 1795, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet {
    /* END p.opn_clo ~ properties */
  }
  /* line 1796, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet p.opn_clo {
    /* 	@include defZeroMrgn( -5%, $val_css_auto, 0, $val_css_auto ); 
    top: -1%; 
    right: -31%; */
    margin: -3.875% auto 0 auto;
    /* -1% auto 0 auto | -2% auto 0 auto  */
    top: 0%;
    /* 0% */
    right: -38%;
    /* -44% */
  }
}
/* END ~ @media only screen and (max-width: 480px) and (max-device-width: 480px) and (orientation: landscape) */
/*@media (max-width: 400px), only screen and (max-width: 480px) and (max-device-width: 480px) and (orientation: landscape), only screen and (max-width: 320px) and (max-device-width: 320px) and (orientation: portrait) {} */
@media (max-width: 427px) {
  /* MY ANDROID IN LANDSCAPE */
  /* line 1814, ../../scss/index/MQs_new.scss */
  body {
    /*END article */
  }
  /* line 1815, ../../scss/index/MQs_new.scss */
  body article {
    /*END div.outer properties */
  }
  /* line 1816, ../../scss/index/MQs_new.scss */
  body article .outer {
    /* END div.lay_lt properties */
  }
  /* line 1817, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt {
    /* END .inner_elastic properties */
  }
  /* line 1819, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic {
    /* device.html ~ dvczone ITEMs */
    /* END .dvczone ITEMs ~ combo accel gyro */
  }
  /* line 1827, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .degree {
    font-size: 80%;
    top: 1.5%;
    left: 41.5%;
    -moz-transform-origin: 50% 330%;
    -webkit-transform-origin: 50% 330%;
    -o-transform-origin: 50% 330%;
    -ms-transform-origin: 50% 330%;
    transform-origin: 50% 330%;
  }
  /* line 1835, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .point {
    font-size: 80%;
    top: 21%;
    left: 40%;
    -moz-transform-origin: 60% 225%;
    -webkit-transform-origin: 60% 225%;
    -o-transform-origin: 60% 225%;
    -ms-transform-origin: 60% 225%;
    transform-origin: 60% 225%;
  }
  /* line 1841, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .point.main {
    font-size: 80%;
    -moz-transform-origin: 60% 190%;
    -webkit-transform-origin: 60% 190%;
    -o-transform-origin: 60% 190%;
    -ms-transform-origin: 60% 190%;
    transform-origin: 60% 190%;
    top: 21%;
    left: 40%;
  }
  /* line 1850, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow {
    top: 15.5%;
    left: 43.5%;
    -moz-transform-origin: 60% 700%;
    -webkit-transform-origin: 60% 700%;
    -o-transform-origin: 60% 700%;
    -ms-transform-origin: 60% 700%;
    transform-origin: 60% 700%;
  }
  /* line 1855, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow.main {
    -moz-transform-origin: 60% 380%;
    -webkit-transform-origin: 60% 380%;
    -o-transform-origin: 60% 380%;
    -ms-transform-origin: 60% 380%;
    transform-origin: 60% 380%;
    top: 13%;
    left: 44.5%;
  }

  /* END body properties */
}
/* @media (max-width: 427px) ~ END MY ANDROID IN LANDSCAPE */
@media (max-width: 400px) {
  /* line 1876, ../../scss/index/MQs_new.scss */
  body {
    /* background-color: $col_trans_BabyBL_dk; */
    /*END article */
  }
  /* line 1896, ../../scss/index/MQs_new.scss */
  body article {
    /*END div.outer properties */
    /* footer properties */
    /*END footer */
  }
  /* line 1898, ../../scss/index/MQs_new.scss */
  body article .outer {
    /* width: 97%;*/
    /*99.75%*/
    /* margin: 0 auto; */
    /* END div.lay_lt properties */
    /* GEOLOCATION ITEMs */
    /* END section.container properties */
  }
  /* line 1904, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic {
    /* width: 84%;	*/
    /* GEOLOCATION ITEMs */
    /* DRAG AND DROP ITEMs */
    /* fauxDRAG DROP ITEMs */
    /* device.html ~ dvczone ITEMs */
    /* END .dvczone ITEMs ~ combo accel gyro */
    /* CANVAS ITEMs */
    /* PAGE FLIP ITEMS */
    /* end PAGE FLIP ITEMs */
  }
  /* line 1969, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow {
    /* top: 2%; left: 46.5%; */
    /**/
    top: 12.5%;
    left: 46.5%;
    /**/
  }
  /* line 1973, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow.main {
    /* top: 4%; left: 46%; */
    /**/
    top: 15%;
    left: 46%;
    /**/
  }
  /* line 2012, ../../scss/index/MQs_new.scss */
  body article .outer #colRight {
    /* @include float_defNone( $floa_left );*/
    /* @include float_defNone( ); */
    /* ~ potential DEALBREAKER */
    /*@include defZeroPdng( 2.5%, 2.5%, 2.5%, 2.5% ); */
    /* @include centerCntnr(100%); */
    padding: 1.375% 1.5% 1.375% 1.5%;
    /* 1170px */
    /* .container ~= 1170 / 1600 ~ 73.125% */
    max-width: 97%;
    width: 100%;
    /* margin: 0 auto; */
    /* @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */
    height: 100%;
  }
  /* line 2021, ../../scss/index/MQs_new.scss */
  body article .outer #colRight .inner_elastic {
    margin: 5% auto 5% auto;
  }
  /* line 2033, ../../scss/index/MQs_new.scss */
  body article .outer .container {
    /* @include float_defNone( $floa_left );*/
    /* @include float_defNone( ); */
    /* ~ POTENTIAL DEALBREAKER */
    /* @include centerCntnr(100%); */
    padding: 1.375% 1.5% 1.375% 1.5%;
    /* 1170px */
    /* .container ~= 1170 / 1600 ~ 73.125% */
    max-width: 97%;
    width: 100%;
    /* margin: 0 auto; */
    /* @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */
    height: 100%;
    /* END header.headless properties */
    /* END .inner properties */
  }
  /* line 2042, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless {
    /* END nav.navigation properties */
  }
  /* line 2044, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation {
    /* END #uniformNavigation properties */
  }
  /* line 2050, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #silky #anchorX.gear {
    font-size: 1.125em;
  }
  /* line 2051, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #silky #firstFour.gear {
    font-size: 1.125em;
  }
  /* line 2052, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #silky #secondFour.gear {
    font-size: 1.125em;
  }
  /* line 2053, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #silky #thirdFour.gear {
    font-size: 1.125em;
  }
  /* line 2054, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #silky #fourthFour.gear {
    font-size: 1.3125em;
  }
  /* line 2062, ../../scss/index/MQs_new.scss */
  body article .outer .container header.headless nav.navigation #uniformNavigation {
    /* END #uniformNavigation li properties */
  }
  /* line 2086, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner {
    /* CTA properties */
    /* .leftyPlay properties */
    /* .rightyPlay properties */
    /* END .peripheral properties ~ aside */
  }
  /* line 2087, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA {
    /* div ~ enhance.html */
    /* div#LessonCon.closer */
    /* inspiration.html */
    /* index page image ~ future carousel spot */
    /* END ~ #AverageOut properties */
  }
  /* line 2089, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA p {
    font-size: 0.9em;
    /* 90%*/
  }
  /* line 2113, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .inspiration .electricList .goldenTruth {
    font-size: 0.9em;
    /* 90%*/
  }
  /* line 2136, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .inspiration cite#electricQuote {
    width: 76%;
  }
  /* line 2156, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .imgCTA {
    /*width: 95%;*/
  }
  /* line 2167, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA #AverageOut {
    /* width: 95%; */
    /* width: 230px; */
    /* ! 330px DEFINITELY TEMPORARY */
  }
  /* line 2175, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA #AverageOut .caroSpyglass ul.caroFatUL {
    /* &:before {
    	content: "";
    	display: table;
    } 
    &:after { 
    	content: ".";
    	display: block;
    	height: 0;
    	visibility: hidden;
    	clear: both; 
    } */
  }
  /* line 2206, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .leftyPlay {
    /* .imgCTA properties */
  }
  /* line 2215, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .leftyPlay .imgCTA {
    /* width: 80%; */
    /* .figcaption properties */
  }
  /* line 2229, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .rightyPlay {
    /* .imgCTA properties */
  }
  /* line 2237, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .rightyPlay .imgCTA {
    /*width: 80%;*/
    /* .figcaption properties */
  }
  /* line 2251, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic {
    width: 95%;
    /* 50 75%*/
    /* new axis form controls */
    /* END .axis_form */
  }
  /* line 2267, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .axis_form {
    /* fieldsets */
  }
  /* line 2269, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .axis_form .axis_fldst {
    /* legends */
    /* div.labelcon */
  }
  /* line 2274, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .axis_form .axis_fldst .labelcon {
    /*labels*/
    /*range sliders*/
    /*buttons*/
  }
  /* line 2301, ../../scss/index/MQs_new.scss */
  body article footer {
    /* END .footrow ~ properties */
  }
  /* line 2302, ../../scss/index/MQs_new.scss */
  body article footer .footrow {
    /* END .logoWrapper properties */
    /* END .bigfoot properties */
    /* END .footbumpLeft properties */
    /* END .littlefeet properties */
    /* END .copyright properties */
  }
  /* line 2307, ../../scss/index/MQs_new.scss */
  body article footer .footrow .bigfoot {
    margin: 0 auto;
  }
  /* line 2317, ../../scss/index/MQs_new.scss */
  body article footer .footrow .footbumpLeft {
    margin: 0 0 0 0;
  }
  /* line 2321, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet {
    width: 97%;
    /* 92% 97% 100% */
  }
  /* line 2327, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet p.opn_clo {
    margin: -5% auto 0 auto;
    /* margin: 0 auto; */
    top: -1%;
    /* -38% -43%*/
    right: -31%;
    /* 0% */
    width: 85px;
    font-size: 95%;
  }
  /* line 2340, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet ul {
    font-size: 0.95em;
    /* 95%*/
    margin: 1% 6% 5% 4%;
  }
  /* line 2351, ../../scss/index/MQs_new.scss */
  body article footer .footrow .bigsole {
    margin-bottom: 2.75em;
  }
  /* line 2365, ../../scss/index/MQs_new.scss */
  body article footer .footrow .copyright {
    font-size: .9em;
    /* 90% */
    margin: 0 auto;
    /* END .lowWrapper properties */
  }
  /* line 2371, ../../scss/index/MQs_new.scss */
  body article footer .footrow .copyright #loadicon {
    margin: -6.125% 0 0 0;
    /* -12.125% 0 0 0; */
  }
  /* line 2376, ../../scss/index/MQs_new.scss */
  body article footer .footrow .copyright .lowWrapper p {
    /* online-offline schtuff */
  }
  /* line 2378, ../../scss/index/MQs_new.scss */
  body article footer .footrow .copyright .lowWrapper p #colorBlock {
    /* online-offline schtuff */
  }
  /* line 2389, ../../scss/index/MQs_new.scss */
  body article footer .footrow .copyright .lowWrapper #partners span {
    line-height: inherit;
  }

  /* END body properties */
}
/* END @media (max-width: 400px) */
@media (max-width: 320px) {
  /* line 2403, ../../scss/index/MQs_new.scss */
  body {
    /*END article */
  }
  /* line 2404, ../../scss/index/MQs_new.scss */
  body article {
    /*END div.outer properties */
  }
  /* line 2405, ../../scss/index/MQs_new.scss */
  body article .outer {
    /* END div.lay_lt properties */
    /* END .container */
  }
  /* line 2406, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt {
    /* END .inner_elastic properties */
  }
  /* line 2408, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic {
    /* device.html ~ dvczone ITEMs */
    /* END .dvczone ITEMs ~ combo accel gyro */
  }
  /* line 2415, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .degree {
    font-size: large;
    top: 1.5%;
    left: 41.5%;
    -moz-transform-origin: 50% 440%;
    -webkit-transform-origin: 50% 440%;
    -o-transform-origin: 50% 440%;
    -ms-transform-origin: 50% 440%;
    transform-origin: 50% 440%;
  }
  /* line 2423, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .point {
    font-size: 100%;
    top: 17%;
    left: 40%;
    -moz-transform-origin: 60% 385%;
    -webkit-transform-origin: 60% 385%;
    -o-transform-origin: 60% 385%;
    -ms-transform-origin: 60% 385%;
    transform-origin: 60% 385%;
  }
  /* line 2430, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .point.main {
    font-size: large;
    -moz-transform-origin: 60% 260%;
    -webkit-transform-origin: 60% 260%;
    -o-transform-origin: 60% 260%;
    -ms-transform-origin: 60% 260%;
    transform-origin: 60% 260%;
    top: 21%;
    left: 40%;
  }
  /* line 2439, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow {
    top: 33.5%;
    left: 47.5%;
    -moz-transform-origin: 60% 700%;
    -webkit-transform-origin: 60% 700%;
    -o-transform-origin: 60% 700%;
    -ms-transform-origin: 60% 700%;
    transform-origin: 60% 700%;
  }
  /* line 2445, ../../scss/index/MQs_new.scss */
  body article .outer div.lay_lt .inner_elastic .dvczone .PREluchoPose .arrow.main {
    -moz-transform-origin: 60% 780%;
    -webkit-transform-origin: 60% 780%;
    -o-transform-origin: 60% 780%;
    -ms-transform-origin: 60% 780%;
    transform-origin: 60% 780%;
    top: 13%;
    left: 45.5%;
  }
  /* line 2461, ../../scss/index/MQs_new.scss */
  body article .outer .container {
    /* END .inner */
  }
  /* line 2462, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner {
    /* END .CTA */
  }
  /* line 2463, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA {
    /* transition.html */
    /* END .threeXOne */
    /* transform.html */
    /* END .bizwrap */
    /* transform.html */
    /* END transform.html */
    /* inspiration.html */
  }
  /* line 2468, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .zoomWrap .zoomCard .zoomPic {
    max-width: 76%;
    max-height: 76%;
    /* max-width: 76%; max-height: auto; */
    /* <<!-- 'auto' was lastmost value... max-height: 100%; */
  }
  /* line 2483, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .threeXOne .thereAndBack .bidirect {
    width: 7em;
    height: 7em;
  }
  /* line 2517, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .lawWrap .lawCard .lawside {
    min-height: 427px;
    height: 427px;
    max-width: 242px;
    /* width: 242px;*/
  }
  /* line 2522, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .lawWrap .lawCard .lawfront .LawBubble {
    left: 64%;
  }
  /* line 2525, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .lawWrap .lawCard .lawfront .LawBubble:first-child {
    left: 24%;
  }
  /* line 2562, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .inspiration cite#electricQuote {
    width: 83%;
  }

  /* END body properties */
}
/* END @media (max-width: 320px) */
@media only screen and (max-width: 320px) and (max-device-width: 320px) and (orientation: portrait) {
  /* line 2578, ../../scss/index/MQs_new.scss */
  body div#overlay {
    width: 100%;
    height: 1600%;
    background: #000000;
    display: none;
    position: fixed;
    z-index: 50;
    /*2*/
    top: 0px;
    left: 0px;
    text-align: center;
  }
  /* line 2592, ../../scss/index/MQs_new.scss */
  body div#specialBox {
    /* width: 500px; */
    font-family: "Trebuchet MS", Verdana, sans-serif;
    width: 220px;
    height: auto;
    /*300px*/
    background: floralwhite;
    display: none;
    position: relative;
    z-index: 100;
    /*3*/
    color: #000000;
    margin: 20px auto 0 auto;
    /* @include defZeroMrgn( 10%, $val_css_auto, 0, $val_css_auto ); */
    padding: 4% 9% 4% 9%;
    /* border: width border-style color; */
    border: 10px solid #904B30;
    /**/
  }
  /* line 2609, ../../scss/index/MQs_new.scss */
  body div#specialBox h6 {
    text-transform: lowercase;
    font-size: 1.25em;
  }
  /* line 2610, ../../scss/index/MQs_new.scss */
  body div#specialBox p {
    font-size: .75em;
    color: rgba(104, 190, 190, 0.7);
    margin: 20px auto 20px auto;
  }
  /* line 2616, ../../scss/index/MQs_new.scss */
  body div#specialBox a {
    font-size: .75em;
    text-decoration: none;
    color: #904B30;
    margin: 20px auto 20px auto;
  }
  /* line 2620, ../../scss/index/MQs_new.scss */
  body article {
    /* END div.lay_lt properties */
    /*END div.outer properties */
    /*END footer ~ properties */
  }
  /* line 2622, ../../scss/index/MQs_new.scss */
  body article div.lay_lt {
    /* END .inner_elastic properties */
  }
  /* line 2623, ../../scss/index/MQs_new.scss */
  body article div.lay_lt .inner_elastic {
    /* device.html ~ dvczone ITEMs */
    /* END .dvczone ITEMs ~ combo accel gyro */
  }
  /* line 2627, ../../scss/index/MQs_new.scss */
  body article div.lay_lt .inner_elastic .dvczone .PREluchoPose {
    height: 286px;
  }
  /* line 2629, ../../scss/index/MQs_new.scss */
  body article div.lay_lt .inner_elastic .dvczone .PREluchoPose .compass {
    height: 286px;
  }
  /* line 2632, ../../scss/index/MQs_new.scss */
  body article div.lay_lt .inner_elastic .dvczone .PREluchoPose .degree {
    top: 1.5%;
    left: 41%;
    -moz-transform-origin: 50% 580%;
    -webkit-transform-origin: 50% 580%;
    -o-transform-origin: 50% 580%;
    -ms-transform-origin: 50% 580%;
    transform-origin: 50% 580%;
  }
  /* line 2637, ../../scss/index/MQs_new.scss */
  body article div.lay_lt .inner_elastic .dvczone .PREluchoPose .point {
    font-size: 75%;
    top: 18%;
    left: 41%;
    -moz-transform-origin: 55% 545%;
    -webkit-transform-origin: 55% 545%;
    -o-transform-origin: 55% 545%;
    -ms-transform-origin: 55% 545%;
    transform-origin: 55% 545%;
  }
  /* line 2643, ../../scss/index/MQs_new.scss */
  body article div.lay_lt .inner_elastic .dvczone .PREluchoPose .point.main {
    top: 28%;
    left: 40%;
  }
  /* line 2653, ../../scss/index/MQs_new.scss */
  body article div.lay_lt .inner_elastic .dvczone #spinner {
    height: 192px;
  }
  /* line 2654, ../../scss/index/MQs_new.scss */
  body article div.lay_lt .inner_elastic .dvczone #pin {
    height: 19px;
  }
  /* line 2657, ../../scss/index/MQs_new.scss */
  body article div.lay_lt .inner_elastic #DVCninetynine {
    height: 286px;
  }
  /* line 2664, ../../scss/index/MQs_new.scss */
  body article .outer {
    /* END section.container properties */
  }
  /* line 2665, ../../scss/index/MQs_new.scss */
  body article .outer .container {
    /* END .inner properties */
  }
  /* line 2666, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner {
    /* END .inner .CTA properties */
    /* combo.html accel.html gyro.html */
  }
  /* line 2667, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA {
    /* inspiration.html */
  }
  /* line 2669, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .CTA .imgCTA img.borderless {
    width: 260px;
    /*!419px*/
  }
  /* line 2708, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_panoramic, body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_portrait {
    width: 45%;
    height: 75px;
  }
  /* line 2712, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_panoramic {
    opacity: 0.1;
    margin: 5px 1.5% 5px auto;
  }
  /* line 2713, ../../scss/index/MQs_new.scss */
  body article .outer .container .inner .peripheral .choco_elastic .imagitoCon.dvc_prez #dvc_portrait {
    opacity: 1;
    margin: 5px auto 5px 1.5%;
  }
  /* line 2722, ../../scss/index/MQs_new.scss */
  body article footer {
    /* END .footrow ~ properties */
  }
  /* line 2723, ../../scss/index/MQs_new.scss */
  body article footer .footrow {
    /* END .littlefeet ~ properties */
  }
  /* line 2724, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet {
    /* END p.opn_clo ~ properties */
  }
  /* line 2725, ../../scss/index/MQs_new.scss */
  body article footer .footrow .littlefeet p.opn_clo {
    /* @include defZeroMrgn( -5%, $val_css_auto, 0, $val_css_auto ); 
    top: -1%; 
    right: -31%; */
    margin: -3.875% auto 0 auto;
    /* -1% auto 0 auto | -2% auto 0 auto  */
    top: 0%;
    /* 0% */
    right: -38%;
    /* -44% */
  }
}
/* END @media only screen and (max-width: 320px) and (max-device-width: 320px) and (orientation: portrait) */
/*  ----------  Responsive Design Media Queries END here  --------------  */
