/* sprites.scss */
/* @charset "utf-8"; */
/* ---------------- SPRITEs ~ MUCH IMPROVED -------------------------- */
/* @import 'utils.scss'; */
/* css3 schtuff - this permits mixins */
/* @import "compass/css3"; */
/* font face shared stuff */
/* @import "compass/css3/shared"; */
/* transition stuff */
/* @import "compass/css3/transition"; */
/* @import "compass/utilities/sprites"; */
/* spacing between images ~ pre work setting*/
/*20px bt your images*/
/* ditto above ~ spacing between images ~ pre work setting*/
/*30px bt Sanji image ONLY*/
/* image layout ~ pre work setting ~ smart is for an assortment of different sized images*/
/* finally, the invocation */
/* line 232, jollyRMugiwaraTwo/*.png */
.jollyRMugiwaraTwo-sprite, #Jinbei, #Luffy, #Vivi, #Chopper, #Nami, #Robin, #Usopp, #Sanji, #Franky, #Brooke, #Law, #Zoro {
  background-image: url('/img/vanguard/jollyRMugiwaraTwo-sf06a7bd594.png');
  background-repeat: no-repeat;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/* @import 'staticVars.scss'; */
/* line 32, ../../scss/index/sprites.scss */
#Jinbei {
  background-position: 0 -288px;
}
/* line 59, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#Jinbei:hover, #Jinbei.Jinbei-hover {
  background-position: 0 -336px;
}

/* line 33, ../../scss/index/sprites.scss */
#Luffy {
  background-position: 0 -480px;
}
/* line 59, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#Luffy:hover, #Luffy.Luffy-hover {
  background-position: 0 -528px;
}

/* line 34, ../../scss/index/sprites.scss */
#Vivi {
  background-position: 0 -960px;
}
/* line 59, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#Vivi:hover, #Vivi.Vivi-hover {
  background-position: 0 -1008px;
}

/* line 35, ../../scss/index/sprites.scss */
#Chopper {
  background-position: 0 -96px;
}
/* line 59, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#Chopper:hover, #Chopper.Chopper-hover {
  background-position: 0 -144px;
}

/* line 36, ../../scss/index/sprites.scss */
#Nami {
  background-position: 0 -576px;
}
/* line 59, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#Nami:hover, #Nami.Nami-hover {
  background-position: 0 -624px;
}

/* line 37, ../../scss/index/sprites.scss */
#Robin {
  background-position: 0 -672px;
}
/* line 59, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#Robin:hover, #Robin.Robin-hover {
  background-position: 0 -720px;
}

/* line 38, ../../scss/index/sprites.scss */
#Usopp {
  background-position: 0 -864px;
}
/* line 59, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#Usopp:hover, #Usopp.Usopp-hover {
  background-position: 0 -912px;
}

/* line 39, ../../scss/index/sprites.scss */
#Sanji {
  background-position: 0 -768px;
}
/* line 59, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#Sanji:hover, #Sanji.Sanji-hover {
  background-position: 0 -816px;
}

/* line 40, ../../scss/index/sprites.scss */
#Franky {
  background-position: 0 -192px;
}
/* line 59, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#Franky:hover, #Franky.Franky-hover {
  background-position: 0 -240px;
}

/* line 41, ../../scss/index/sprites.scss */
#Brooke {
  background-position: 0 0;
}
/* line 59, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#Brooke:hover, #Brooke.Brooke-hover {
  background-position: 0 -48px;
}

/* line 42, ../../scss/index/sprites.scss */
#Law {
  background-position: 0 -384px;
}
/* line 59, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#Law:hover, #Law.Law-hover {
  background-position: 0 -432px;
}

/* line 43, ../../scss/index/sprites.scss */
#Zoro {
  background-position: 0 -1056px;
}
/* line 59, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
#Zoro:hover, #Zoro.Zoro-hover {
  background-position: 0 -1104px;
}

/* sudden notes bohica */
