/* REMEMBER THE BACON/CHEDDAR COLOR COMBINATION FOR LATER */
/* -------------------------------------------- ALL POSSIBLE static VARIABLES  -------------------------------------------- */
/* ---------------- UNNAMED AS OF YET ----------------- */
/* // If you want to position the inner element at the top right, you can use the pin-top-right instead of pin-bottom-right. You might have noticed in the above code I also added another helper class: The padding-one class ensures the element is not flush against the edge of the container or viewport.

// Floated Elements. Floating elements left or right can be done using left or right classes. The well-known clearfix class can be used on the parent element to clear floats, shown below using Sass s parent selector: */
/* ---------------------------------------- text transformation ~ new --------------------------------------- */
/* ---------------------------------------- FONT STACKS --------------------------------------- */
/* WEB FONT EFFECTs */
/* .ftfx_Fire_1Ablaze { } */
/* WEB FONTs */
/* PRINT FONTs */
/* font stack */
/* line 37, ../../scss/index/staticVars.scss */
.fs_Helvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* font-size: 1.5em; */
/* line 38, ../../scss/index/staticVars.scss */
.fs_Trebuchet {
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

/* font-size: 1.5em; */
/* line 39, ../../scss/index/staticVars.scss */
.fs_Georgia {
  font-family: Georgia, serif;
}

/* font-size: 1.5em; */
/* line 40, ../../scss/index/staticVars.scss */
.fs_Cambria {
  font-family: Cambria, Georgia, serif;
}

/* font-size: 1.5em; */
/* line 41, ../../scss/index/staticVars.scss */
.fs_Lucida {
  font-family: "Lucida Grande", Arial, sans-serif;
}

/* font-size: 1.5em; */
/* line 42, ../../scss/index/staticVars.scss */
.fs_Blockquote {
  font-family: "Bitstream Vera Sans Mono", monospace;
}

/* font-size: 1.5em; */
/* line 44, ../../scss/index/staticVars.scss */
.fs_Print {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* font-size: 1.5em; */
/* ---------------------------------------- atFONTFACE Properties --------------------------------------- */
/* font face compass.rb specific variables */
/* ----------------------------- Text Typography   --------------------------- */
/* line 56, ../../scss/index/staticVars.scss */
.normalTxt {
  font-weight: normal;
}

/* line 57, ../../scss/index/staticVars.scss */
.boldTxt {
  font-weight: bold;
}

/* line 58, ../../scss/index/staticVars.scss */
.italicTxt {
  font-style: italic;
}

/* word wrap ~ You can create classes for things like font weight and text manipulation, like ellipsis text. */
/* line 69, ../../scss/index/staticVars.scss */
.wrdwrp_break-word {
  word-wrap: break-word;
}

/* line 70, ../../scss/index/staticVars.scss */
.wtspc_no-wrap {
  white-space: nowrap;
}

/* line 71, ../../scss/index/staticVars.scss */
.ovrflw_ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 73, ../../scss/index/staticVars.scss */
.ovrflw_hidden {
  white-space: normal;
  overflow: hidden;
}

/* ----------------------------- DISPLAY properties   --------------------------- */
/* Display Values. The following helper classes give us the ability to use the different values for CSSs display property: */
/* line 85, ../../scss/index/staticVars.scss */
.inline-test {
  display: inline;
}

/* line 86, ../../scss/index/staticVars.scss */
.block-test {
  display: block;
}

/* line 87, ../../scss/index/staticVars.scss */
.inline-block-test {
  display: inline-block;
}

/* line 88, ../../scss/index/staticVars.scss */
.hide-test {
  display: none;
}

/* line 89, ../../scss/index/staticVars.scss */
.flex-test {
  display: flex;
}

/* ----------------------------- VISIBILITY  properties   --------------------------- */
/* line 98, ../../scss/index/staticVars.scss */
.coll-test {
  visibility: collapse;
}

/* line 99, ../../scss/index/staticVars.scss */
.hidd-test {
  visibility: hidden;
}

/* line 100, ../../scss/index/staticVars.scss */
.inhe-test {
  visibility: inherit;
}

/* line 101, ../../scss/index/staticVars.scss */
.visi-test {
  visibility: visible;
}

/* ---------------- HORIZONTAL COLUMNAR RHYTHM ----------------- */
/* ----------------  ELEMENT WIDTH AND HEIGHT HELPER CLASSES ------------------ */
/* Imagine that you need a section to be full height in different places on your website ~ we can create one class called full-height. */
/* ---------------- WIDTH constants  -------------------------- */
/* ---------------- MAX WIDTH ~ ELEMENT  -------------------------- */
/* line 113, ../../scss/index/staticVars.scss */
.fitmax-width {
  max-width: 100%;
}

/* ---------------- WIDTH ~ ELEMENT -------------------------- */
/* line 115, ../../scss/index/staticVars.scss */
.full-width {
  width: 100%;
}

/* line 116, ../../scss/index/staticVars.scss */
.half-width {
  width: 50%;
}

/* line 117, ../../scss/index/staticVars.scss */
.quarter-width {
  width: 25%;
}

/* ---------------- HEIGHT ~ ELEMENT -------------------------- */
/* line 119, ../../scss/index/staticVars.scss */
.full-height {
  height: 100%;
}

/* ---------------- MARGIN AND PADDING -------------------------- */
/* ----------------------- MARGIN Helper Classes --------------------------------- */
/*v2*/
/* ---------------- extra TOPPINGS - MY VERSION AND FINDINGS  -------------------------- */
/* These are arguably the most used properties in our CSS. Adding some abstract classes that can handle this will DRY our code. We start by defining a variable (using Sass) for the base space unit for our design. Lets start with 1em and on top of that we can create classes for different space sizes. */
/* ----------------------------- ELEMENT FLOATING AND ALIGNMENTS TO INCL. TEXT ALIGNMENT  --------------------------- */
/* Helper classes also called utility classes can help us write DRY less repetitive code and was discussed by Thierry Koblentzs at Smashing Magazine. What Are Helper Classes Helper classes can help remove repetition by creating a set of abstract classes that can be used over and over on HTML elements. Each helper class is responsible for doing one job and doing it well. In the future whenever you create a new component you will just need to combine some classes together to build it. */
/* ---------------- Text Alignment -------------------------- */
/* line 142, ../../scss/index/staticVars.scss */
.text-ali-left {
  text-align: left;
}

/* line 143, ../../scss/index/staticVars.scss */
.text-ali-center {
  text-align: center;
}

/* line 144, ../../scss/index/staticVars.scss */
.text-ali-right {
  text-align: right;
}

/* ---------------- Vertical Alignment -------------------------- */
/* line 151, ../../scss/index/staticVars.scss */
.vert-ali-top {
  vertical-align: top;
}

/* line 152, ../../scss/index/staticVars.scss */
.vert-ali-middle {
  vertical-align: middle;
}

/* line 153, ../../scss/index/staticVars.scss */
.vert-ali-bottom {
  vertical-align: bottom;
}

/* ----------------------------- ELEMENT POSITIONING AND ZED INDEX  --------------------------- */
/* The "pin" helper classes are inspired by Mapboxs CSS. Lets extend the full-height example to contain an element positioned at the bottom right. */
/* Position and Z-index. Position-related properties can be combined with other properties like z-index to create a complex layout. We can create a set of classes to set the exact position of any element in relation to the viewport or an ancestor element (right, left, top left, etc): */
/* ---------------- Positioning -------------------------- */
/* line 168, ../../scss/index/staticVars.scss */
.pos-fixed {
  position: fixed;
}

/* line 169, ../../scss/index/staticVars.scss */
.pos-rel {
  position: relative;
}

/* line 170, ../../scss/index/staticVars.scss */
.pos-abs {
  position: absolute;
}

/* line 171, ../../scss/index/staticVars.scss */
.pos-statc {
  position: static;
}

/* ---------------- ZedIndex -------------------------- */
/* ----------- HELPER CLASSES ------------------- */
/* ---------------- ZedIndices - 0 1 2 3 4 500 9999 -------------------------- */
/* line 185, ../../scss/index/staticVars.scss */
.zIdxNines {
  z-index: 9999;
}

/* line 186, ../../scss/index/staticVars.scss */
.zIdxFiveHundy {
  z-index: 500;
}

/* line 187, ../../scss/index/staticVars.scss */
.zIdx1 {
  z-index: 1;
}

/* line 188, ../../scss/index/staticVars.scss */
.zIdx2 {
  z-index: 2;
}

/* line 189, ../../scss/index/staticVars.scss */
.zIdx3 {
  z-index: 3;
}

/* ----------- quadrants top bottom right left ------------------- */
/* line 193, ../../scss/index/staticVars.scss */
.pin-top-right {
  top: 0;
  right: 0;
}

/* line 194, ../../scss/index/staticVars.scss */
.pin-btm-right {
  bottom: 0;
  right: 0;
}

/* line 195, ../../scss/index/staticVars.scss */
.pin-top-left {
  top: 0;
  left: 0;
}

/* line 196, ../../scss/index/staticVars.scss */
.pin-btm-left {
  bottom: 0;
  left: 0;
}

/* ------------------new 03/22/2015 ~ opacity stuff ------------------- */
/* line 203, ../../scss/index/staticVars.scss */
.halfsies {
  opacity: 0.5;
}

/* line 204, ../../scss/index/staticVars.scss */
.wholesies {
  opacity: 1;
}

/* ---------------------------------------- COLORS --------------------------------------- */
/* -------------------- alpha channels for for future use ------------------- */
/* yet to be determined */
/* white ALPHA */
/* grey ALPHA */
/* black ALPHA */
/* -------------------------------------------- union jack colors -------------------------------------------- */
/* -------------------------------------------- union jack colors -------------------------------------------- */
/* #AABBFF */
/* -------------------------- spurious colors ------------------------------ */
/* #FF05B4 */
/* #97026A */
/* #75215F */
/* #520039 */
/* #969696  */
/* #C2C2C2  */
/* #EFEFEF  */
/* #F8F8F8  */
/* #520101 magenta */
/* #2955CC navy blue*/
/* #C50202 brick red*/
/* #440E0E dark brick red */
/* #FF95EF vivrant pink */
/* #96EBFF vivrant baby-blue */
/* #006C88 */
/* #EEAA22*/
/* #EE5588*/
/* #FF9900*/
/* #5588EE*/
/* #EFEFEF */
/* #33CC77 */
/* -------------------------------------------- transparent value per se || "percy" -------------------------------------------- */
/* -------------------------------------------- transparent RGBAs -------------------------------------------- */
/*#AE12FF*/
/* #F89FF9 */
/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
/* -------------------------------------------- solid HEX VALUEs -------------------------------------------- */
/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
/* -------------------------------------------- CHOCOLATE MINT -------------------------------------------- */
/* -------------------------------------------- promise curves -------------------------------------------- */
/* -------------------------------------------- color systems -------------------------------------------- */
/* HELPER CLASSES ~ BACKGROUND COLOR application*/
/* line 442, ../../scss/index/staticVars.scss */
.alert-bg {
  background-color: #E74C3C;
}

/* line 443, ../../scss/index/staticVars.scss */
.notice-bg {
  background-color: #E74C3C;
}

/* line 444, ../../scss/index/staticVars.scss */
.success-bg {
  background-color: #E74C3C;
}

/* HELPER CLASSES ~ TEXT COLOR application */
/* line 447, ../../scss/index/staticVars.scss */
.alert {
  color: #E74C3C;
}

/* line 448, ../../scss/index/staticVars.scss */
.notice {
  color: #FFE9BF;
}

/* line 449, ../../scss/index/staticVars.scss */
.success {
  color: #1ABC9C;
}
