/* animations.scss */

	/* deploy phase 1 */
	@import 'staticVars.scss';	
	/* deploy phase 1.5 */
	@import 'utils.scss';
	/* deploy phase 2 */
	@import 'mixins.scss';
	/* deploy phase 2.5 */
	@import 'mixins_ctx_layout.scss';
	
/* ---------------------------------------- ANIMATION EFFECTs --------------------------------------- */
/* WEB FONTS EX. - .animfx_diodeText { } */
/* diode text GLITCH ~ http://codepen.io/lbebber/pen/ypgql */


/* before */
.animfx_diodeText:before{
	content:attr(data-diode);
	position:absolute;
	
	top: 5px;
	left: 8px;
	
	color:$col_whiteProper;
	background-color:$col_transparent;
	
	@include plain_3pm_shadow( 5px, 0px, 0px, $col_ancho_visit ); 
	overflow:hidden;
	
	/*clip: auto|shape|initial|inherit;
	~ rect (top, right, bottom, left) clips an element and is the only valid 'shape' value */ 
	
	/*clip:rect(0,900px,0,0); */
	clip:rect(5px, 450px, 56px, 0); 
	
	font-size: inherit;
	max-height: inherit;
	
	width: 100%;
	height: 100%;
	
	-webkit-animation: noise-anim-two 1582ms infinite linear alternate-reverse;
	-moz-animation: noise-anim-two 1582ms infinite linear alternate-reverse;
	animation: noise-anim-two 1582ms infinite linear alternate-reverse;
}
	
/* before */
@-webkit-keyframes noise-anim-two {	
	0% { clip: rect(5px, 450px, 76px, 0);}
	20% { clip: rect(29px, 450px, 16px, 0);}
	40% { clip: rect(76px, 450px, 3px, 0);}
	60% { clip: rect(42px, 450px, 78px, 0);}
	80% { clip: rect(15px, 450px, 13px, 0);}
	100% { clip: rect(53px, 450px, 5px, 0);}
}
/* before */
@-moz-keyframes noise-anim-two {	
	0% { clip: rect(5px, 450px, 76px, 0);}
	20% { clip: rect(29px, 450px, 16px, 0);}
	40% { clip: rect(76px, 450px, 3px, 0);}
	60% { clip: rect(42px, 450px, 78px, 0);}
	80% { clip: rect(15px, 450px, 13px, 0);}
	100% { clip: rect(53px, 450px, 5px, 0);}
}

@keyframes noise-anim-two {	
	0% { clip: rect(5px, 450px, 76px, 0);}
	20% { clip: rect(29px, 450px, 16px, 0);}
	40% { clip: rect(76px, 450px, 3px, 0);}
	60% { clip: rect(42px, 450px, 78px, 0);}
	80% { clip: rect(15px, 450px, 13px, 0);}
	100% { clip: rect(53px, 450px, 5px, 0);}
}

.animfx_diodeText{ 
	
	position:relative;	
	
	color:$col_whiteProper; 
	
	/* font-size:1.5em; */
	font-size: 1.25em;
	
	@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
	@include defZeroPdng( 0.5em, 1.5em, 0.5em, 0 );	
	/*max-width: inherit; */
	/* width:400px;*/
	
	top: 0;
	left: 0; 
	
	/* width: 107%;*/ /* this is hackish and relieves stress on footer anim */
}


/* after */
.animfx_diodeText:after{ 
	content:attr(data-diode);
	
	position:absolute;
	
	top:0;
	left: -8px;
	
	color:$col_whiteProper;
	background-color:$col_blackProper;
	
	@include plain_3pm_shadow( -5px, 0px, 0px, $col_uj_blue ); 
	overflow:hidden; 
	/*clip:rect(0,900px,0,0); */
	clip:rect(5px, 450px, 56px, 0); 
	
	font-size: inherit;
	max-height: inherit;
	width: 100%;
	height: 100%;
	
	-webkit-animation: noise-anim 1406ms infinite linear alternate-reverse;
	-moz-animation: noise-anim 1406ms infinite linear alternate-reverse;
	animation: noise-anim 1406ms infinite linear alternate-reverse;	
	
}

/* after */
@-webkit-keyframes noise-anim {	
	0% { clip: rect(5px, 450px, 76px, 0);}
	20% { clip: rect(29px, 450px, 16px, 0);}
	40% { clip: rect(76px, 450px, 3px, 0);}
	60% { clip: rect(42px, 450px, 78px, 0);}
	80% { clip: rect(15px, 450px, 13px, 0);}
	100% { clip: rect(53px, 450px, 5px, 0);}
}
/* after */
@-moz-keyframes noise-anim {	
	0% { clip: rect(5px, 450px, 76px, 0);}
	20% { clip: rect(29px, 450px, 16px, 0);}
	40% { clip: rect(76px, 450px, 3px, 0);}
	60% { clip: rect(42px, 450px, 78px, 0);}
	80% { clip: rect(15px, 450px, 13px, 0);}
	100% { clip: rect(53px, 450px, 5px, 0);}
}
/* after */
@keyframes noise-anim {	
	0% { clip: rect(5px, 450px, 76px, 0);}
	20% { clip: rect(29px, 450px, 16px, 0);}
	40% { clip: rect(76px, 450px, 3px, 0);}
	60% { clip: rect(42px, 450px, 78px, 0);}
	80% { clip: rect(15px, 450px, 13px, 0);}
	100% { clip: rect(53px, 450px, 5px, 0);}
}
/* END diode text GLITCH ~ */	