/* dynamicVars.scss */
/* INCLUDING FONTFACE */

/* -------------------------------------------- ALL POSSIBLE VARIABLES  -------------------------------------------- */
	
	/* @import 'staticVars.scss'; 
	@import 'utils.scss';
	@import 'mixins_ctx_layout.scss';  */
	
	/* deploy phase 1 */
	@import 'staticVars.scss';
	
	/* deploy phase FONT FACE */ /* old version ~ pre October 2015*/
	/* @import "compass/css3/shared"; */ 
	
	/* deploy phase FONT FACE */ /* new version as of October 2015*/
	@import "compass/css3"; 
	
	@import "compass/css3/deprecated-support"; 

	/* new insertion point */
	/* /usr/share/compass/frameworks/compass/stylesheets/compass/css3/_deprecated-support.scss */
	/* end new insertion point */
	
	/* deploy phase 1.5 */
	@import 'utils.scss';
	/* deploy phase 2 */
	@import 'mixins.scss';
	
	/* deploy phase 2.5 */
	@import 'mixins_ctx_layout.scss';
	
/* css3 schtuff - this permits mixins */
	/* @import "compass/css3"; */
/* font face shared stuff */
	/* @import "compass/css3/shared"; */
/* transition stuff */
	/* @import "compass/css3/transition"; */
/* ---------------------------------------- FONT STACKS --------------------------------------- */
/* WEB FONT EFFECTs */

.ftfx_Fire_1Ablaze { }

/* -------------------------------------------- text-shadow stuff  -------------------------------------------- */	
.ftfx_retroNews{
	
	font-family: Times New Roman;
	
	background-color: $col_Grey_xtrlt;
    color: $col_Grey_md_lt;
    
	font-size: 2.125em;
	
	text-transform: uppercase;
    @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
	@include defZeroPdng( 0, 0, 0, 35px );
    
    /* text-shadow: 5px 5px 0px $col_Grey_xtrlt, 7px 7px 0px $col_Grey_md_lt ; */
	/* -------------------- RETRO NEWS TEXT-SHADOW MIXIN #6 ------------ */
	@include retroNews_shadow( $col_Grey_xtrlt, $col_Grey_md_lt );
}

.ftfx_NeonBrite {
	font-family: Garamond;
	
	font-size: 2.125em;
	
	background-color: $col_blackProper;
    color: $col_whiteProper;
    
    text-transform: uppercase;
	@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
	@include defZeroPdng( 0, 0, 0, 35px );
    
    /* text-shadow: 0 0 10px $col_whiteProper, 0 0 20px $col_whiteProper, 0 0 30px $col_whiteProper, 0 0 40px $col_hotPink, 0 0 70px $col_hotPink, 0 0 80px $col_hotPink, 0 0 100px $col_hotPink, 0 0 150px $col_hotPink_dk; */
	
	/* -------------------- NEON BRITE TEXT-SHADOW MIXIN #7 ------------ */
	@include neonBrite_shadow( 0px, 10px, 20px, 30px, 40px, 70px, 80px, 100px, 150px, $col_whiteProper, $col_hotPink, $col_hotPink_dk );
}

.ftfx_BevelInset {
	font-family: $fnt_Helvetica;
	
	/* font-size: 2.125em; */
	
	background-color: $col_Grey_dk;
	color: $col_Grey_dk_blood;
	
	/* text-transform: uppercase; */
    @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
	@include defZeroPdng( 0, 0, 0, 35px );
        
    /* text-shadow: 0px 2px 3px $col_Grey_md; */
	/* -------------------- BEVEL INSET TEXT-SHADOW MIXIN #8 ------------ */
	@include bevelInset_shadow( $col_Grey_md );
	
}

.ftfx_Colors3D {
	
	font-family: Arial, $fnt_Lucida;
	
	font-size: 2.125em;
	
	background-color: $col_whiteProper;
    color: rgba(0,168,255,0.5);
	
	text-transform: uppercase;
    @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
	@include defZeroPdng( 0, 0, 0, 35px );
	
	/* text-shadow: 8px 8px 0 $col_trans_hotPk; */
	/* -------------------- COLORS 3D TEXT-SHADOW MIXIN #9 ------------ */
	@include colorsthreeD_shadow( $col_trans_hotPk );
}

.ftfx_fire_two {
	
	font-family: /*Courier,*/ $fnt_Print;
	
	font-size: 2.125em;
	
	background-color: $col_blackProper;
    color: $col_whiteProper;
	
	text-transform: uppercase;
	@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
	@include defZeroPdng( 0, 0, 0, 35px );
	
    /* text-shadow: 0 0 20px #FEFCC9, 10px -10px 30px #FEEC85, -20px -20px 40px #FFAE34, 20px -40px 50px #EC760C, -20px -60px 60px #CD4606, 0 -80px 70px #973716, 10px -90px 80px #451B0E; */
	/* -------------------- FIRE TWO TEXT-SHADOW MIXIN #10 ------------ */
	@include shiken_two_shadow( #FEFCC9, #FEEC85, #FFAE34, #EC760C, #CD4606, #973716, #451B0E );
}
	
.ftfx_game_triCol { 
	
	font-family: $fnt_Lucida;
	
	font-size: 2.125em;
	
	background-color: $col_Grey_xtrlt;
	color: $col_whiteProper;
	
	text-transform: uppercase;
	@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
	
	/*@include defZeroPdng( 10px, 0, 50px, 35px );*/
	@include defZeroPdng( 0, 0, 0, 35px );
	
    /* text-shadow: 10px 10px 0 #FFD217, 20px 20px 0 #5AC7FF, 30px 30px 0 #FFD217, 40px 40px 0 #5AC7FF; */
	/* -------------------- GAME TRI-COLOR TEXT-SHADOW MIXIN #11 ------------ */	
	@include gameTriCol_shadow( 10px, 20px, 30px, 40px, #FFD217, #5AC7FF );
}

/* ---------------------------------------- atFONTFACE Properties --------------------------------------- */
	
	/* @include font-face( "VanillaRegular" , font-files( "Vanilla-webfont.woff","Vanilla-webfont.ttf","Vanilla-webfont.svg","Vanilla-webfont.eot" ) , $font_weight, $font_style );

	.ff_cst_VANI { font-family: "VanillaRegular"; font-size: inherit; } */

	
/* ----------------------------- GRADIENT INCLUDEs  --------------------------- */
	/* v2 */
	
	/*  This will yield a radial gradient with an apparent specular highlight */
	#radial-gradient {
		@include background-image(radial-gradient(45px 45px, cyan 10px, dodgerblue 30px));
	}
	/*  This yields a linear gradient spanning from the upper left corner to the lower right corner */
	#linear-gradient {
		@include background-image(linear-gradient(left top, $col_whiteProper, #dddddd));
	}
	/*  This yields a gradient starting at the top with #fff, ending in #aaa */
	#v-gradient {
		@include background-image(linear-gradient($col_whiteProper, #aaaaaa));
	}
	/*  Same as above but with a #ccc at the halfway point */
	#v-gradient-2 {
		@include background-image(linear-gradient($col_whiteProper, #cccccc, #aaaaaa));
	}
	/*  Same as the first example but with #ccc at the 30% from the top, and #bbb at 70% from the top */
	#v-gradient-3 {
		@include background-image(linear-gradient($col_whiteProper, #cccccc 30%, #bbbbbb 70%, #aaaaaa));
	}
	/*  This yields a horizontal linear gradient spanning from left to right. */
	#h-gradient {
		@include background-image(linear-gradient(left, $col_whiteProper, #dddddd));
	}
	/*  This IS AN svg gradient evidently  */
	#svg-gradient {
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(left, #2ac363, #cd8c14, #9c4cc2)); width: 80px; height: 80px; 
	}
	
/* ----------------------------- EVENT BASED TRANSITION INCLUDEs  --------------------------- */
	/* transitions */
	#width {
		@include transition-property(width);
	}
	#width:hover { width: 80px; }

	#width-duration {
		@include transition-property(width);
		@include transition-duration(2s);
	}
	#width-duration:hover { width: 80px; }
	#width-duration-easein {
		@include transition-property(width);
		@include transition-duration(2s);
		@include transition-timing-function(ease-in);
	}
	#width-duration-easein:hover { width: 80px; }

	#width-delay {  
		@include transition-property(width);
		@include transition-delay(2s);
	}
	#width-delay:hover { width: 80px; }	
	

/* -------------------------------------------- fin -------------------------------------------- */
/* start OF CONSTANT DECLARATIONS */