@charset "utf-8"; 
/* incomplete.scss */

/* ------------------------------------------------------------------- */
/* 93.75%  = 1583 ~ IE */
/* 94.756790903348073278584965255843% = 1600 ~ IE */
/* 98.6875%  = 1579/1600 ~ IE6 ~ 1.3125 / 2 = 0.65625 */

/* ------------------------------------------------------------------- */

@import 'staticVars.scss';
@import 'utils.scss';

/* deploy phase 200% */
@import 'dynamicVars.scss';
@import 'mixins.scss';
@import 'mixins_ctx_layout.scss';
@import 'animations.scss';

/* START OF VARIABLE DECLARATIONS -- 1160-default FOR IEs SAKE */

body { 
	/* background-color: $col_trans_purple; */
	/* background-color: $col_trans_lime; */
	/* background-color: $col_trans_brkRd; */
	/* background-color: $col_trans_purple;  */
	/* background-color: $col_trans_BabyBL_dk; */
	/* background-color: #FFFAF0; */
	
	font-family: $fnt_Helvetica; background-color: $col_lugrd_org_sprfade; font-size: 100%;
	
	
	div#overlay { 
	}
	
	div#specialBox {
	
		width: 500px; 
		height: 170px; /*450px 340px*/
		
		h6 {}
		p{ 
			
			strong {
			
			}
		}
		a{}
		.pro{}
		.anti{}
	}
	
	article { 
	
		.outer { 
			
			height: 1300px; /* HACKISH FIX ~ 03/16/2014 */
			
			&:after { 
				content: ".";
				display: block;
				height: 0;
				visibility: hidden;
				clear: both; 
			} 
			
			div.lay_lt { 
				
				height: 400px;
				
				.inner_elastic {
					
					font-size: 1em;
					background-color: #68BEBE; 
					min-height: 120px;
					height: 290px;
					
					text-align: center;
					
					width: auto; /*this was here */ /* 85% */
					/* padding: 0 5%;*/ /*see this NOW */
					
					@include defZeroMrgn( 14px, 14px, 14px, 14px ); 
					@include defZeroPdng( 5px, 5px, 5px, 5px ); 
					@include border_all( 5px, solid, $col_Dk_Brn );	
					
					
					h2 { 
						font-size: 1.05em;
						background-color: $col_Dk_Brn;
						color: #FFFAF0; 
						
						/* width: auto; */ /*this was here */
						@include defZeroMrgn( 1.65em, 0, 0, 0 ); 
						@include defZeroPdng( 1.155em, 5%, 1.2375em, 5% );
						
					} /* END .inner_elastic h2 properties */
					
					h3, p {
						text-align: left;
						/* width: auto; */ /*this was here */
					} /* END .inner_elastic h3 and p properties */
					
					h3 {
						color: $col_Dk_Brn;
						
						@include defZeroMrgn( 1.155em, 0, 0, 0 ); 
						@include defZeroPdng( 1.155em, 3%, 1.155em, 3% ); 
						
					} /* END .inner_elastic h3 properties */
					
					p {
						font-size: .91em; 
						line-height: 1.36; 
						color: $col_uj_Dk_Amethyst;
						
						@include defZeroPdng( 0.66em, 7%, 1.32em, 5% );
						
						a{} 
						
					} /* END .inner_elastic p properties */
					
					/* GEOLOCATION ITEMs */
					.geostatus{
					}
					.geoBtnCon {
					}
					.readout {
					}
					.checking {
					}
					.success {
					}
					.fail {
					}
					
					/* DRAG AND DROP ITEMs */
					.dz {
						@include border_all( 5px, dashed, $col_Dk_Brn );
						/* width: 98%; */
						@include defZeroMrgn( 0.3125em, 14%, 0.625em, 14% ); /* ( 0, $val_css_auto, 0, $val_css_auto )*/
						@include defZeroPdng( 10px, 0, 10px, 0 ); /* ( 10px, 0, 10px, 0 )*/
						
						/* width ~= border 5px + 5px (5%) + margin 14% + 14% (28%) approx ~= UNDECLARED 67% container*/
						height: 150px;
						
						.back_n_forth {
						
						}
					}
					
					/* fauxDRAG DROP ITEMs */
					.fauxdz{
						
						.fauxMemb {
							
							.faux_drag{
								
							}
							
							#Brooke_fxDrg{}
							#Franky_fxDrg{}
							#Robin_fxDrg{}
							#Sanji_fxDrg{}
							#Chopper_fxDrg{}
							#Usopp_fxDrg{}
							#Zoro_fxDrg{}
							#Nami_fxDrg{}
							#Luffy_fxDrg{}
							
						}
						
					}
					
					/* CANVAS ITEMs */
					.cnvspace{
						
						height: auto;
						/**/ width: 100%; /**/
						
						@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
						@include defZeroPdng( 0, 0, 0, 0 ); 
						
						.cnvMemb {
							width: 219px; 
							height: 250px;
							background-color: $col_medOR;
							@include defZeroMrgn( 7px, 9px, 7px, 9px ); 
							text-align: left;
							
							.cnv { 
							
								_display: block;
								
								width: 219px; 
								height: 250px;
								
								@include defZeroMrgn( 0, 0, 0, 0); 
								@include defZeroPdng( 0, 0, 0, 0 ); 
								color: $col_blackProper; 
								font-size: 100%;
								font-family: $fnt_Helvetica;
								background-color: $col_Dk_Brn;
								/*display: none; */
							}
						}
					}
					
					/* PAGE FLIP ITEMS */
					.jabezspace{ 
						
						.jbzMemb {
							
							.coverwrapper { 
								
								.bookspine {}
								.leftpage , .rightpage  {}
								.leftpage {}
								.rightpage {}
								
							}
						}
					}
					/* end PAGE FLIP ITEMs */
					
				}
			}  /* END div.lay_lt properties */
			
			/* GEOLOCATION ITEMs */
			#geolo {}
			
			/* #colLeft { display: none; } */
			
			.container { 
				
				
				header.headless { 
					
					&:after { 
						content: ".";
						display: block;
						height: 0;
						visibility: hidden;
						clear: both; 
					} 
					
					a {	} 
					nav.navigation {
						
						#silky { 
							h1 {}
								
							#anchorX.gear {}
							#firstFour.gear {}
							#secondFour.gear {}
							#thirdFour.gear {}
							#fourthFour.gear {}
							
							#anchorX.gear.sagondo {} 
							#firstFour.gear.sagondo {} 
							#secondFour.gear.sagondo {} 
							#thirdFour.gear.sagondo {}
							#fourthFour.gear.sagondo {} 
							
						}
						
						#uniformNavigation { 
							
							&:after { 
								content: ".";
								display: block;
								height: 0;
								visibility: hidden;
								clear: both; 
							} 
							
							li { 
								
								font-size: inherit;
								font-size: 0.76em; /* .88em */
								font-weight: bold; 
								color: $col_whiteProper;
								display: $dsp_inli; /* display: $dsp_infx; */ 
								margin-top: 0; 
								margin-right: 0.825em; 
								padding-right: 1.25em;
								@include border_right( 1px, solid, $col_teal_lt );
								
								&.navfirst { } 
								&.custom_selected { 
								
									a { 
										border-bottom: none;
										&:hover { }
									}
								}
								
								&.navlast { }
								
								a { 
									color: $col_whiteProper;
									&:hover { }
								} 
							}  /* END #uniformNavigation li properties */
							
							li.flow {
							}
							
						}  /* END #uniformNavigation properties */
						
						p#dtField { }
						
					} /* END nav.navigation properties */
				}  /* END header.headless properties */
				
				.inner { 					
					/* width: 976.7852032px; */
					/* width: 976px; */					
					/* width: 954.7852032px; */
					/* width: 954px;  */					
					/* 	width: auto; @include defZeroPdng( .125%, 0.25%, .125%, 0.25% ); */					
					/* @include defZeroPdng( 1.125%, 1%, 1.125%, 1% ); */
					/* background-color: purple; */ /* testing purposes */
					
					width: 979.283375px;
					@include defZeroPdng( 11px, 9.9926875px, 11px, 9.9926875px ); 
					
					&:after { 
						content: ".";
						display: block;
						height: 0;
						visibility: hidden;
						clear: both; 
					} 
					
					.CTA { 
					
						/* TRUE WIDTH ~= 91%(1170px) | 1064.7px *//*@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */
						/* width: 75%;*/ /* TRUE WIDTH ~= 75%(1064.7px) | 798px */
						/* width: 68%;*/ /* adjust for margin ~ TRUE WIDTH ~= 68%(1064.7px) | 723.52px */
						/* @include defZeroMrgn( 0, 3.5%, 0, 3.5% ); */
						/* adjust for margin ~ TRUE WIDTH ~= 68%(1064.7px) | 723.52px */ 
						/* width: 779.429625px;
						@include defZeroMrgn( 0, 34px, 0, 34px ); */
						/* @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */ 
						
						
						/* width: 63%; *//* 63% 65% 67% !68%*/ /* adjust for margin ~ TRUE WIDTH ~= 68%(1064px) | !798px */
						/* @include defZeroMrgn( 0, 0.375%, 0, 0.375% ); */	
						/* @include defZeroMrgn( 0, 3.5%, 0, 3.5% );  */
						/* width: 664px; */
						
						/* position: static; 
						width: 665.912695px;
						@include float_defNone( $floa_left );
						@include defZeroMrgn( 0, 17px, 0, 17px ); */
						
						position: static; 
						@include float_defNone( $floa_left );
						width: 665.912695px;
						@include defZeroMrgn( 0, 23.30694432px, 0, 23.30694432px );
						
						h3 { }
						p { 
							font-size: 100%;
							
							em { }
							strong { }
							a {}
							
							.illus { } 
							
						}
						
						/* div ~ enhance.html */
						div { 
							font-size: 100%;
						}
						.closer{		
							.view{
								.axis{}
								.ball{}
								.face{ p{} }
							}
						} /* div#LessonCon.closer */
						
						.fsBtnCon {
							
							.fs{ 
								
							}
							
						}
						
						.pubdate {							
							abbr { 							
								&:hover { }
							}
						}						
						.contento {
							strong {  }
						}
						
						.imgCTA { 
							img.intro { /* width: 370.5px; height: auto; */ }
							img.borderless {}
						}
						.caps{}
						.red{}
						
						/* index page image ~ future carousel spot */
						#AverageOut {
							
							/* width: 370.5px; */
							text-align: center;
							@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
							@include defZeroPdng();
							
							.caroSpyglass { 
								
								/* width: 370.5px; */
								height: auto; 
								overflow: hidden;
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								
								ul.caroFatUL {
									
									/* width: 1482px; */ /* 370.5 x 4 */
									text-align: center;
									margin-left: 0;	
									@include defZeroPdng();	
									list-style: none; 
									/* width: 2000px; */
									
									&:after { 
										content: ".";
										display: block;
										height: 0;
										visibility: hidden;
										clear: both; 
									}
									
									li.caroBling { 
										float: left; 
										img.caroImg {
											/* width: 370.5px; height: auto; */
											border: none; 
											display: block; 
											/* @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */
											@include defZeroMrgn(); 
										} /*width: 83%\9; *width: 83%; _width: 83%; */
									}
								}
								
							}
							
							#AvgBtnCon {
								.caroButton {
									
								}
							}
							
						} /* END ~ #AverageOut properties */
						
					} /* CTA properties */
					
					.leftyPlay {
						h3 {
							@include defZeroPdng( 21px, 33px, 5px, 0 ); 
							clear: both; 
						}
						p {	
							.illus { }
						}
						
						.pubdate { 
							/* letter-spacing: 0.03125px; */
							display: block; 
							/* width: 340px; */
							
							abbr { 
								/* width: 238px; */
								display: inline; 
								
								&:hover { }
							}
							
						} /* 320px */
						.contento { /* width: 420px;*/ }
						
						#PlayLeft  { 
							/* width: 246px; */
							position: relative;
							top: 0%; /* -4%*/
							left: -13px; /* -2% */
							@include defZeroMrgn( -79px, $val_css_auto, 0, $val_css_auto ); 
							@include defZeroPdng( 0,0,16px,0 );
							@include float_defNone( $floa_left );
							
							
							img.intro { position: relative; }
							
							.figcaption {
								height: 68px;
								
								background-color: #FF00B4;
								font-family: $fnt_Trebuchet;
								text-align: left; 
								color: $col_Grey_dk; 
								
								position: relative;
								top: -5px; /*-3%*/
								left: 0%;
								
								@include defZeroPdng( 4px, 2px, 9px, 17px ); /*2%, 1%, 4%, 7%*/
								@include defZeroMrgn( -73px, $val_css_auto, 0, $val_css_auto ); 
								
								span { 
									
									@include defZeroPdng( 1px, 1px, 1px, 1px ); 
									
									strong { }
								}
							} /* .figcaption properties */
						} /* .imgCTA properties */
						
					} /* .leftyPlay properties */
					
					.rightyPlay { 
						h3 { 
							@include defZeroPdng( 21px, 33px, 5px, 0 ); 
							clear: both; 
						}
						p { 
							.illus { }
						}
						
						.pubdate { 
							/* letter-spacing: 0.03125px; */
							display: block; 
							/* width: 340px; */
							
							abbr { 
								/* width: 238px; */
								display: inline; 
								
								&:hover { }
							}
							
						} /* 320px */
						.contento { width: 420px; }
						#PlayRight {
							
							/* width: 246px; */
							position: relative;	
							top: 0%; /* -4%*/
							right: -17px; /* -2% */
							
							@include defZeroMrgn( -79px, $val_css_auto, 0, $val_css_auto ); 
							@include defZeroPdng( 0,0,16px,0 );
							@include float_defNone( $floa_righ ); 
						
							img.intro { position: relative; } 
							
							.figcaption { 
								
								height: 68px;
								
								background-color: #FF00B4;
								font-family: $fnt_Trebuchet;
								text-align: left; 
								color: $col_Grey_dk; 
								
								position: relative;
								top: 0; /*0*/
								left: -20px; /* -10% */
								
								@include defZeroPdng( 4px, 2px, 9px, 17px );
								@include defZeroMrgn( -73px, $val_css_auto, 0, $val_css_auto ); 
								
								span { 
									
									@include defZeroPdng( 1px, 1px, 1px, 1px ); 
									
									strong { } 
								} 
							} /* .figcaption properties */
						} /* .imgCTA properties */
					} /* .rightyPlay properties */
					
					#asideContent { 
						
						/* background-color: red; */
						@include float_defNone( $floa_left ); /* @include float_defNone( $floa_righ ); */
						
						width: 215px; /* 22% 219.839125px */ /* adjust for margin ~ TRUE WIDTH ~= 22%(1064px) | !266px */
						@include defZeroMrgn( 0, 7px, 0, 7px ); 
						/*@include defZeroMrgn( 0, 0, 0, 28px );*/ /* ( 0, 0, 0, 28px ) ( 0, 3px, 0, 25px ) ( 0, 7px, 0, 21px )*/
						
						/* @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */ 
						
						.choco_elastic {
							
							font-size: 1em;
							text-align: center;
							background-color: $col_Dk_Brn; 
							color: $col_whiteProper;
							
							
							@include defZeroMrgn( 17px, $val_css_auto, 8px, $val_css_auto ); 
							@include border_all( 2.5px, solid, $col_teal_lt );
							@include corners_eq( 30px );
							@include nonBleedCorner(); 
							@include defZeroPdng( 17px, 0, 25px, 0);
							
							width: 211px; /* 90% */
							
							h4 { 
								width: 179px;
								text-transform: lowercase; 
								background-color: $col_teal_lt; 
								font-size: 1.25em; 
								
								@include defZeroMrgn( 8px, 16px, 8px, 16px ); 
								@include defZeroPdng( 10px, 0, 10px, 0 );
								
								/* width: auto; */
								
							} /* END .peripheral .choco_elastic h4 properties */
							
							h5 { 
								width: 195px;
								font-weight: normal;
								text-align: left;
								
								@include defZeroMrgn( 0, 8px, 0, 8px );
								@include defZeroPdng( 24px, 0, 8px, 0 );	
								@include border_bottom( 1px, solid, $col_BabyBL_dk );
								/* width: auto;*/
								
							} /* END .peripheral .choco_elastic h5 properties */
							
							p { 
								width: 191px;
								
								text-align: left;
								font-size: .86em; 
								line-height: 1.16;
								
								@include defZeroMrgn( 10px, $val_css_auto, 10px, $val_css_auto ); 
								@include defZeroPdng( 0, 10px, 0, 10px );
								
								/* width: auto; */
								
								&:first-line { 
									font-style: italic; 
								}
								
								a {}
								
							} /* END .peripheral .choco_elastic p properties */
							
							.imagitoCon { 
								
								@include defZeroPdng( 0, 0.5em, 0, 0.5em );
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								width: auto;
								
								img{
									/* max-width: 146px; */	
									display: $dsp_bloc;	
									@include defZeroPdng( 0.5em, 0, 0.25em, 0 );
									@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								}
							} /* END .peripheral .choco_elastic .imagitoCon properties */
							
							/* new axis form controls */
							.axis_form{	
								
								.axis_fldst{
									
									.axis_lgnd{
									}/* legends */
									
									.labelcon{ 
										
										.axis_lab{
										} /*labels*/
										
										.axis_in{
										} /*range sliders*/
										
										.axis_btn{
										} /*buttons*/
										
									} /* div.labelcon */
									
								} /* fieldsets */
							}/* END .axis_form */
							
						} /* END .peripheral .choco_elastic properties */
						
						.dip_out{}
					}  /* END .peripheral properties ~ aside */
					
				} /* END .inner properties */
				
			}  /* END section.container properties */
		} /*END div.outer properties */
		
		article #elastic {
			
			&:after { 
				content: ".";
				display: block;
				height: 0;
				visibility: hidden;
				clear: both; 
			} 
		}
		
		/* footer properties */
		footer { 
			height: 250px;
			&:after { 
				content: ".";
				display: block;
				height: 0;
				visibility: hidden;
				clear: both; 
			} 
			
			.footrow { 
				
				/* _width: 100%; */
				
				a { } 
				.logoWrapper { 
					
					.diodeTextCon {
						background-color:$col_blackProper; 
					}
					
				}  /* END .logoWrapper properties */
				.bigfoot { 
					width: 55%; /* 60% */
					@include float_defNone( $floa_left ); 					
					@include defZeroMrgn( 1em, 5%, 0, 5% ); 
					@include defZeroPdng( 0, 5%, 1em, 5% ); 					
					height: 6.5em; 
					
					h4 { }
					p {
						
						a {
							font-size: 1em; 
							line-height: 1.175; /* 1.05 */
							
							&#caroLink {
								display: none;
							}
							
						}
					} 
				}  /* END .bigfoot properties */				
				
				.footbumpLeft { 
					@include defZeroMrgn( 0, 0, 0, 4% ); /* 0 0 0 10% */
				} /* END .footbumpLeft properties */
				
				.littlefeet {
					
					height: 6.5em; 
					
					p.opn_clo { 
					
						a {
							
						}
						
					}
					
					ul { 
						@include defZeroMrgn( 1.5em, 6%, 0, 4% );
						/* &:after { 
							content: ".";
							display: block;
							height: 0;
							visibility: hidden;
							clear: both; 
						} */
						
						li { 
							display: inline; 
							line-height: 1.375; /*line-height: 1.15;*/
							@include defZeroPdng( 0, 2.5px, 0, 5px );
							border-left: none;
							margin: 0; 
							width: 45%;
							
							a { 
								display: inline;
								height: 30px; 
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								width: 95%;
								@include defZeroPdng(); 
							}
						} 
					}
				} /* END .littlefeet properties */
				
				.bigsole {
				
					h4#retexpHotelFour4 {
						
					}
					
					ul#retexpUL4 {
						
					}
				}
				
				.copyright { 
				
					height: 25px; 
					
					#loadicon { 
						display: none;
					}
					
					.lowWrapper { 
						p {
							
							/* online-offline schtuff */
							#colorBlock { 
							
								display: none; 
								/* online-offline schtuff */
								span.online { display: none; }
								span.offline { display: none; }
								span.toggleState {}
							} 
							
							&#loadOps {
								display: none;
							}
						}
						
						.placedLow { }
						
						#partners {
							
							font-size: 1.0625em; 
							line-height: 1 !important; 
							
							span { 
								display: inline; font-size: 1.0625em; line-height: 1 !important; 
							}
						}
					} /* END .lowWrapper properties */
				} /* END .copyright properties */
			} /* END .footrow ~ properties */
		} /*END footer */
		
	} /*END article */
} /* END body properties */

/* END OF VARIABLE DECLARATIONS -- 1160-default FOR IEs SAKE */