/* END OF CONSTANT DECLARATIONS */

/* ~ properties */

/* -------------------------------------------- ALL POSSIBLE VARIABLES  -------------------------------------------- */
	
	/* @import 'staticVars.scss'; 
	@import 'utils.scss';
	@import 'mixins.scss';
	@import 'mixins_ctx_layout.scss'; */

/* deploy phase 1 */
@import 'staticVars.scss';
@import 'reset.scss';
@import 'utils.scss';

/* deploy phase 2 */
@import 'dynamicVars.scss';
@import 'mixins.scss';
@import 'mixins_ctx_layout.scss';
/* @import 'sprites.scss'; */
@import 'animations.scss';

/* ---------------------------------------- VERTICAL BASE HEIGHT RHYTHM DEFINITION --------------------------------------- */
/* ---------------- extra toppings - COMPASS LESSON VERSION -------------------------- */

/* no doubt here */
$base-font-size: 16px; 
$base-line-height: 24px; 
@include establish-baseline;

/* DO NOT NEED AT THIS TIME
$default-rhythm-border-style: dashed;
.xtra_first { @include leader(); }
.xtra_ft_exception { @include adjust-font-size-to(17px); }
.xtra_borders { @include rhythm-borders(2px); }
.xtra_last { @include trailer(); } */

/* ---------------------------------------- END VERTICAL BASE HEIGHT RHYTHM DEFINITION --------------------------------------- */


body { 
	
	/* body properties */
	font-family: $fnt_Helvetica; background-color: $col_lugrd_org_sprfade; font-size: inherit;
	
	div#overlay {
		
		width: 100%; 
		height: 100%; 
		background: $col_blackProper; 
		
		display: none; 
		position: fixed; 
		z-index: 50; 
		
		top: 0px; 
		left: 0px; 
		text-align: center; 
	}
	div#specialBox { 
	
		/* width: 500px; */
		font-family: $fnt_Trebuchet; 
		width: 80%; 
		height: auto; /*300px*/
		background: $col_lugrd_org_sprfade;
		
		display: none; 
		position: relative; 
		z-index: 100; 
		
		color: $col_uj_Dk_Amethyst; /* $col_blackProper */
		@include defZeroMrgn( 150px, $val_css_auto, 0, $val_css_auto ); /* @include defZeroMrgn( 10%, $val_css_auto, 0, $val_css_auto ); */
		@include defZeroPdng( 4%, 9%, 4%, 9% ); 
		@include border_all( 10px, solid, $col_Dk_Brn );
		
		h6 { 
			text-transform: lowercase; 
			font-size: 1.25em; 
		}
		p{ 
			font-size: 1em; color: $col_trans_BabyBL_dk; @include defZeroMrgn( 20px, $val_css_auto, 20px, $val_css_auto );
			
			strong {
				font-weight: bold; 
			}
		}
		a{ font-size: 1em; text-decoration: none; color: $col_Dk_Brn; @include defZeroMrgn( 20px, $val_css_auto, 20px, $val_css_auto ); }
		
		.pro {
			display: none;
			h6, p { color: $col_green_literal; }
			p { 
				&.caution {
					color: $col_uj_khaki; background-color: $col_Grey_dk_blood;
				}
			}
		}
		.anti {
			display: none;
			h6, p { color: $col_red_literal; }
		}
	}
	
	article { 
		
		border: none; outline: none; vertical-align: baseline; background-color: $col_transparent; 
		
		display: block; 
		/* @include defZeroPdng( 0, 0, 0, 0 );
		@include defZeroMrgn( 0, 0, 0, 0 ); */ 
		
		/* position: absolute; top: 0; left: 0; */
		
		/* margin-top: -450px; */ /* ~= margin-top @150px and height 300px ~= #specialBox offset */
		
		.outer { 
			
			background-color: $col_transparent; /*$col_lugrd_org_sprfade*/
			/* width: 100%; */
			
			&:before {
				content: "";
				display: table;
			} 
			&:after { 
				content: ".";
				display: block;
				height: 0;
				visibility: hidden;
				clear: both; 
			} 
			
			div.lay_lt { 
				
				text-align: left; 
				background-color: $col_transparent;
				
				float: left; /* @include float_defNone( $floa_left ); */
				
				@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto );
				width: 18.4375%; /* assumption: centerpiece is @1010px/1600 */
				
				min-height: inherit; 
				
				.inner_elastic {
					
					text-align: center; 
					font-size: inherit;	
					background-color: $col_trans_BabyBL_dk;
					
					min-height: 120px;
					height: 100%;
					
					width: auto; /*this was here */ /* 85% */
					/* padding: 0 5%;*/ /*see this NOW */
					
					@include defZeroMrgn( 5%, 5%, 5%, 5% ); 
					@include defZeroPdng( 5px, 2.5%, 5px, 2.5% ); 
					@include border_all( 5px, solid, $col_Dk_Brn );
					
					@include bxShdw_allPm( inset, 0, 1px, 4px, 0, $col_Grey_dk_blood ); 
					@include corners_eq( 25px );
					@include nonBleedCorner(); 
					
					
					h2 { 
						font-size: 1.05em;
						background-color: $col_Dk_Brn;
						color: $col_lugrd_org_sprfade; 
						
						width: auto; /*this was here */
						@include defZeroMrgn( 10%, 0, 0, 0 ); 
						@include defZeroPdng( 7%, 5%, 7.5%, 5% );
						
					} /* END .inner_elastic h2 properties */
					
					h3, p {
						text-align: left;
						width: auto; /*this was here */
					} /* END .inner_elastic h3 and p properties */
					
					h3 {
						color: $col_Dk_Brn;
						
						@include defZeroMrgn( 1.5%, 0, 0, 0 ); 
						@include defZeroPdng( 7%, 3%, 2%, 3% ); 
						
					} /* END .inner_elastic h3 properties */
					
					p {
						font-size: .91em; 
						line-height: 1.36; 
						color: $col_uj_Dk_Amethyst;
						
						@include defZeroPdng( 7%, 7%, 4%, 5% );
						
						a{ text-decoration: none; color: $col_Dk_Brn; font-weight: bold; }
						
					} /* END .inner_elastic p properties */
					
					/* GEOLOCATION ITEMs */
					.geostatus{
						text-align: right;
						padding-right: 10px;
					}
					.geoBtnCon {
						text-align: center; 
					}
					.readout {
						color: $col_uj_khaki;
						background-color: $col_uj_Dk_Amethyst;
						font-family: $fnt_Blockquote;
						font-size: 0.86em; 
					}
					.checking {
						color: $col_Grey_md;
						background-color: $col_triClr_notice;
						font-size: 0.86em; 
					}
					.success {
						color: $col_whiteProper;
						background-color: $col_triClr_success;
						font-size: 0.86em; 
					}
					.fail {
						color: $col_whiteProper;
						background-color: $col_triClr_alert;
						font-size: 0.86em; 
					}
					
					/* DRAG AND DROP ITEMs */
					.dz {
						
						@include border_all( 5px, dashed, $col_Dk_Brn );
						/* width: 98%; */ 
						@include defZeroMrgn( 0.3125em, $val_css_auto, 0.625em, $val_css_auto ); /* ( 0, $val_css_auto, 0, $val_css_auto ) ( 0.3125em, 14%, 0.625em, 14% )*/
						@include defZeroPdng( 10px, 0, 10px, 0 ); /* ( 10px, 0, 10px, 0 )*/
						
						/* width ~= border 5px + 5px (5%) + margin 14% + 14% (28%) approx ~= UNDECLARED 67% container*/	
						min-height: 150px;
							
						.back_n_forth {
							vertical-align: super;
							@include defZeroPdng( 0, 2px, 0, 2px ); 
						}
					}
					
					/* fauxDRAG DROP ITEMs */
					.fauxdz{
						
						position: relative;
						height: 560px; 
						
						@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
						@include defZeroPdng( 10px, 0, 10px, 0 ); 
						
						/**/ width: 100%; /**/
						
						.fauxMemb {
							
							width: inherit;
							height: inherit;
							/* height: 0px; */
							
							.faux_drag { 
							
								position: absolute;
								
								/*$col_imageWidthUnit: 60;*/
								
								width: 60px; 
								height: 60px; 
								
								color: $col_whiteProper; 
								/* font: bold 16px Helvetica,Arial,Sans-serif; */
								font-weight: bold;
								font-size: 100%;
								font-family: $fnt_Helvetica;
								text-align: center; 
								background-color: $uj_blu_greyMid; 
								@include border_all( 3px, solid, $col_Grey_md );
								
								margin-top: -30px; 
								margin-left: -30px; 
								
								left: 30px;  
								top: 30px; 
							}
							
							
							#Brooke_fxDrg{ background: $col_blackProper url(/img/vanguard/jollyRMugiwara/Brooke.jpg) no-repeat 6px 2px;}
							#Franky_fxDrg{ background: $col_blackProper url(/img/vanguard/jollyRMugiwara/Franky.jpg) no-repeat 6px 2px;}
							#Robin_fxDrg{ background: $col_blackProper url(/img/vanguard/jollyRMugiwara/Robin.jpg) no-repeat 6px 2px;}
							#Sanji_fxDrg{ background: $col_blackProper url(/img/vanguard/jollyRMugiwara/Sanji.jpg) no-repeat 6px 2px;}
							#Chopper_fxDrg{ background: $col_blackProper url(/img/vanguard/jollyRMugiwara/Chopper.jpg) no-repeat 6px 2px;}
							#Usopp_fxDrg{ background: $col_blackProper url(/img/vanguard/jollyRMugiwara/Usopp.jpg) no-repeat 6px 2px;}
							#Zoro_fxDrg{ background: $col_blackProper url(/img/vanguard/jollyRMugiwara/Zoro.jpg) no-repeat 6px 2px;}
							#Nami_fxDrg{ background: $col_blackProper url(/img/vanguard/jollyRMugiwara/Nami.jpg) no-repeat 6px 2px; }
							#Luffy_fxDrg{ background: $col_blackProper url(/img/vanguard/jollyRMugiwara/Luffy.jpg) no-repeat 6px 2px; }
							
						}
						
					}
					
					
					/* device.html ~ dvczone ITEMs */
					.dvczone{ 
						height: 230px; 
						@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
						/* margin-bottom: .75em; */
						
						@include defZeroPdng( 10px, 0, 10px, 0 ); 
						/* padding-bottom: .75em; */
						width: 100%; 
						
						.dvcMemb { 
							width: inherit;
							height: inherit;
						} 
						
						/* DEVICEORIENTATION ITEMs */
						.PREluchoPose { /* <div class="dvcMemb PREluchoPose" id="dvcMembTwo"> */	
							width: inherit; /* height:460px; */
							@include defZeroMrgn(); 
							@include defZeroPdng(); 
							background: $col_blackProper; color: $col_blackProper; position: relative;
							
							.compass{ /* <p class="compass" id="compass"> */
								width:100%;  /* height:240px; */ /* display:block; */
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								@include defZeroPdng(); 
								position: relative;	
								
								background-color: $col_midYellow;
								background-image: -moz-radial-gradient(50% 50%, circle contain, $col_midYellow, $col_midYellow 0%,$col_midYellow 30%,$col_midYellow 30%,$col_yellowBlk 100%);
								background-image: -webkit-radial-gradient(50% 50%, circle contain, $col_midYellow, $col_midYellow 0%,$col_midYellow 30%,$col_midYellow 30%,$col_yellowBlk 100%);
								background-image: -o-radial-gradient(50% 50%, circle contain, $col_midYellow, $col_midYellow 0%,$col_midYellow 30%,$col_midYellow 30%,$col_yellowBlk 100%);
								background-image: -ms-radial-gradient(50% 50%, circle contain, $col_midYellow, $col_midYellow 0%,$col_midYellow 30%,$col_midYellow 30%,$col_yellowBlk 100%);
								background-image: radial-gradient(50% 50%, circle contain, $col_midYellow, $col_midYellow 0%,$col_midYellow 30%,$col_midYellow 30%,$col_yellowBlk 100%); 
								
								@include corners_eq( 50% ); 
								@include nonBleedCorner(); 
							}
							
							/* moocy */
							.degree {  /* <label class="degree"> */
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								@include defZeroPdng(); 
								width: 16.67%; text-align: center; color: $col_Grey_dk_blood; 
								position: absolute; 
								top: 1.5%; left: 41.5%;  
								
								-moz-transform-origin: 50% 600%; -webkit-transform-origin: 50% 600%; -o-transform-origin: 50% 600%; -ms-transform-origin: 50% 600%; transform-origin: 50% 600%; 
							}
							.point { /* <label class="point"> */
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								@include defZeroPdng(); 
								width: 16.67%; text-align: center; font-size:10px; 
								position: absolute; 
								top: 28%; left: 40%; 
								-moz-transform-origin: 55% 480%; -webkit-transform-origin: 55% 480%; -o-transform-origin: 55% 480%; -ms-transform-origin: 55% 480%; transform-origin: 55% 480%; /* 55% 480% 60% 465%*/
								
								&.main{
									font-weight:bold; font-size:large; 
									-moz-transform-origin: 55% 325%; -webkit-transform-origin: 55% 325%; -o-transform-origin: 55% 325%; -ms-transform-origin: 55% 325%; transform-origin: 55% 325%; /* 60% 245% 55% 325%*/
									
									top: 21.5%; 
									left: 40%;
								}
							} 
							.arrow { /* <p class="arrow"> */
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								@include defZeroPdng(); 
								width: 0; height: 0; text-align: center; 
								position: absolute; 
								
								/* top: 2%; left: 46.5%; */
								/**/ top: 12.5%; left: 46.5%; /**/
								border-right: 5px solid $col_transparent; border-bottom: 5px solid $col_Grey_md; border-left: 5px solid $col_transparent;
								-moz-transform-origin: 60% 1500%; -webkit-transform-origin: 60% 1500%; -o-transform-origin: 60% 1500%; -ms-transform-origin: 60% 1500%; transform-origin: 60% 1500%; 
								
								&.main { 
									border-bottom: 10px solid $col_Grey_dk;
									-moz-transform-origin: 60% 700%; -webkit-transform-origin: 60% 700%; -o-transform-origin: 60% 700%; -ms-transform-origin: 60% 700%; transform-origin: 60% 700%; 
									
									/* top: 4%; left: 46%; */
									/**/ top: 15%; left: 46%; /**/
								}
							} 
							/* moocy */
						} /* END DEVICEORIENTATION ITEMs */ 
						
						/* sassy */
						#spinner { /* <p class="spinner" id="spinner"> */
							@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
							@include defZeroPdng(); 
							width: 83.33%; /* height: 200px; position:relative; */
							position: absolute;
							top:8.33%; left:8.33%; 
							@include dry_transition();	
							@include bxShdw_allPm( inset, 0, 0, 4px, 0, $col_Grey_dk );
							
							background-color: $col_pinkSkin;
							background-image: -moz-radial-gradient(50% 50%, circle contain, $col_pinkSkin, $col_pinkSkin 0%,$col_pinkSkin 30%,$col_pinkSkin 30%,$col_cymblGld 100%);
							background-image: -webkit-radial-gradient(50% 50%, circle contain, $col_pinkSkin, $col_pinkSkin 0%,$col_pinkSkin 30%,$col_pinkSkin 30%,$col_cymblGld 100%);
							background-image: -o-radial-gradient(50% 50%, circle contain, $col_pinkSkin, $col_pinkSkin 0%,$col_pinkSkin 30%,$col_pinkSkin 30%,$col_cymblGld 100%);
							background-image: -ms-radial-gradient(50% 50%, circle contain, $col_pinkSkin, $col_pinkSkin 0%,$col_pinkSkin 30%,$col_pinkSkin 30%,$col_cymblGld 100%);
							background-image: radial-gradient(50% 50%, circle contain, $col_pinkSkin, $col_pinkSkin 0%,$col_pinkSkin 30%,$col_pinkSkin 30%,$col_cymblGld 100%);
							
							@include corners_eq( 50% ); 
							@include nonBleedCorner(); 	
						} /* sassy */
						
						/*lassie*/
						#pin { /* <p class="pin" id="pin"> */
							@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
							@include defZeroPdng(); 
							width: 10%; /* height: 20px; position:relative; */
							position: absolute;
							top: 45%; left: 45%; 
							@include bxShdw_allPm( initial, 0, 0, 4px, 0, $col_Grey_dk ); /*inset|initial|inherit*/	
							
							background-color: $col_midYellow;
							background-image: -moz-radial-gradient(50% 50%, circle contain, $col_midYellow, $col_midYellow 0%,$col_midYellow 30%,$col_midYellow 30%,$col_yellowBlk 100%);
							background-image: -webkit-radial-gradient(50% 50%, circle contain, $col_midYellow, $col_midYellow 0%,$col_midYellow 30%,$col_midYellow 30%,$col_yellowBlk 100%);
							background-image: -o-radial-gradient(50% 50%, circle contain, $col_midYellow, $col_midYellow 0%,$col_midYellow 30%,$col_midYellow 30%,$col_yellowBlk 100%);
							background-image: -ms-radial-gradient(50% 50%, circle contain, $col_midYellow, $col_midYellow 0%,$col_midYellow 30%,$col_midYellow 30%,$col_yellowBlk 100%);
							background-image: radial-gradient(50% 50%, circle contain, $col_midYellow, $col_midYellow 0%,$col_midYellow 30%,$col_midYellow 30%,$col_yellowBlk 100%);
							
							@include corners_eq( 50% ); 
							@include nonBleedCorner(); 
						} 
						/*lassie*/
						
						/* DEVICEMOTION ITEMs */ 
						/* END DEVICEMOTION ITEMs */
					} 
					/* END .dvczone ITEMs ~ device */
					
					/* CANVAS ITEMs */
					.cnvspace{
						
						height: auto;
						max-height: 100%;
						/**/ width: 100%; /**/
						
						@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
						@include defZeroPdng( 0, 0, 0, 0 ); 
						
						.cnvMemb {
							width: 92%; 
							/* _width: 100%; */
							height: 250px;
							/* _height: 230px; */
							background-color: $col_medOR;
							@include defZeroMrgn( 3%, 4%, 3%, 4% ); 
							text-align: left;
							
							.cnv { 
								
								width: 20px; 
								height: 20px;
								
								@include defZeroMrgn( 0, 0, 0, 0); 
								@include defZeroPdng( 0, 0, 0, 0 ); 
								color: $col_blackProper; 
								font-size: 100%;
								font-family: $fnt_Helvetica;
								background-color: $col_Dk_Brn;
								/*display: none; */
							}
						}
					}
					
					/* PAGE FLIP ITEMS */
					.jabezspace{
						
						height: auto;
						max-height: 100%;
						/**/ width: 100%; /**/
						
						@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
						@include defZeroPdng( 0, 0, 0, 0 ); 
						
						.jbzMemb {
							width: 92%; /* _width: 100%; */
							/* height: auto; */ /* _height: 250px; 
							background-color: $col_medOR; */
							/* min-height: 189px; */
							
							@include defZeroMrgn( 3%, 4%, 3%, 4% ); 
							text-align: left;
							
							.coverwrapper { 
								@include defZeroMrgn( 0, 0, 0, 0 ); 
								@include defZeroPdng( 0, 0, 0, 0 ); 
								
								/* color: $col_blackProper; 
								font-size: 100%;
								font-family: $fnt_Helvetica; */	
								
								width: 100%; /* 146px 302px*/
								max-width: 219px;
								
								min-height: 203px;
								height: 210px; /* 210px*/
								
								position: relative; 
								/*306px x 203px*/
								
								.bookspine {
									/* 354px x 210px ~= 115px each spine state */
									position: absolute; 
									top: -6px;
									width: 68px; /*118px*/
									min-height: 210px;
									height: 210px; 
									z-index: 5;
								}
								.leftpage, .rightpage {
									position: absolute;	
									float: left; 
									
									/*293px x 1134px ~= TBDpx each page AND TBDpx each ROW*/
									overflow: hidden;
									width: 50%; /* width: 146px; */
									min-height: 189px;
									height: 189px;
									top: 5px;
									
									cursor: pointer;
								}
								.leftpage {	left: 0px; }
								.rightpage { }
							}
						}
					}
					/* end PAGE FLIP ITEMs */
					
				} /* END .inner_elastic properties */
				
				/* LIGHTSABER ITEMs ~ POSTPONED*/
				#dvc_ninetyeight { display: none; }
				
				/* GEOLOCATION ITEMs */
				#geolo { display: none; }
				
			}  /* END div.lay_lt properties */
			
			#colLeft {}
			#colRight {}
			
			section { border: none; outline: none; vertical-align: baseline; background-color: $col_transparent;  display: block; }
			
			.container { 
				
				background-color: $col_medOR;
				
				float: left; /* @include float_defNone( $floa_left ); */
				
				@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto );
				/* @include defZeroPdng( 2.5%, 2.5%, 2.5%, 2.5% ); */ /* ~ no place for padding here */
				/* assumption: @1010px */
				width: 63.125%; /* 63.125% 93.75% */ /* @include centerCntnr(63.125%);  */
				
				header.headless { 				
					/* TRUE WIDTH ~= 95%(1170px) | 1111.5px */
					
					width: auto; /*this was here */
					/* padding: 0 5%;*/ /*see this NOW */
					
					&:before {
						content: "";
						display: table;
					} 
					&:after { 
						content: ".";
						display: block;
						height: 0;
						visibility: hidden;
						clear: both; 
					} 
					
					a {	
						text-decoration: none; 
					} 
					
					nav.navigation { 
						
						#silky { 
							
							@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
							@include defZeroPdng( 1.75em, 1.5%, 2.25em, 1.5% );	
							width: auto;
							
							background-color: $col_Dk_Brn; 
							
							h1 { 
								
								font-family: $fnt_Trebuchet; 
								// font-family: 'VanillaRegular'; 

								/* font-size: 1.5em; */ /* 2.375em 1.78125em 1.3125em 0.95em 1.5em */
								text-align: center; 
								
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								@include defZeroPdng( 2.5%, 0, 1.125%, 0 ); 
								
								width: auto;
								
								/* margin-top: 7%;*/
								background-color: $col_transparent; 
								overflow: visible; 
								
							} 
							
							#anchorX.gear { 	display: block; font-weight: bold; line-height: 0.9em; margin-bottom: 10px; position: relative; text-transform: uppercase; color: $col_teal_lt; text-decoration: none; cursor: pointer; font-size: 1.5em;  }

							#firstFour.gear  { text-transform: uppercase; text-decoration: none; color: $col_lugrd_mdGry_dkRed; display: block; line-height: 0.8em; color: $col_lugrd_mdGry_dkRed; @include gear_first_shadow( $col_blackProper );  font-size: 1.5em; } 

							#secondFour.gear { text-transform: uppercase; text-decoration: none; color: $col_lugrd_mdGry_dkRed; display: block; line-height: 0.9em; font-weight: bold; color: $col_lugrd_mdGry_dkRed; @include gear_first_shadow( $col_blackProper ); font-size: 1.78125em; }

							#thirdFour.gear { text-transform: uppercase; text-decoration: none; color: $col_lugrd_mdGry_dkRed; display: block; line-height: 0.8em; color: $col_lugrd_mdGry_dkRed; @include gear_first_shadow( $col_blackProper ); font-size: 1.78125em; } 

							#fourthFour.gear { text-transform: uppercase; text-decoration: none; color: $col_lugrd_mdGry_dkRed; display: block; line-height: 0.9em; font-weight: bold; color: $col_lugrd_mdGry_dkRed; @include gear_first_shadow( $col_blackProper ); font-size: 1.3125em; } /* 1.125em 1.78125em 1.3125em */  

							#anchorX.gear.sagondo { color: $col_whiteProper; top: -3px; left: -3px; background: none; } 

							#firstFour.gear.sagondo { color: $col_whiteProper; @include gear_sagondo_shadow( $col_Green_leafy ); } 
							#secondFour.gear.sagondo { color: $col_whiteProper; @include gear_sagondo_shadow( $col_teal_dk ); } 
							#thirdFour.gear.sagondo { color: $col_whiteProper; @include gear_sagondo_shadow( $col_medOR ); } 
							#fourthFour.gear.sagondo { color: $col_whiteProper; @include gear_sagondo_shadow( $col_teal_lt ); } 
							
							/*#kicker.gear { margin: 0; padding: 0; background: $col_transparent; position: relative; left: 0; top: 0; margin-bottom: 0; padding: 1.5px auto 1.5%; color: $col_lugrd_mdGry_dkRed; cursor: pointer; }

							#kicker.gear.sagondo { color: $col_whiteProper; text-shadow: 1px 1px $col_Dk_Brn, 2px 2px $col_Dk_Brn, 3px 3px $col_Dk_Brn, 4px 4px $col_Dk_Brn, 5px 5px $col_Dk_Brn, 6px 6px $col_Dk_Brn, 7px 7px $col_Dk_Brn, 8px 8px $col_Dk_Brn, 9px 9px $col_Dk_Brn, 10px 10px $col_Dk_Brn, 11px 11px $col_Dk_Brn; top: -3px; left: -3px; } */
							
						}
						
						#uniformNavigation { 
							
							background-color: $col_teal_dk; 
							color: $col_yellow; 
							line-height: 2.25em; 
							text-align: center; 
							
							@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
							@include defZeroPdng( 1.75em, 1.5%, 2.25em, 1.5% );	/* padding: 1.75em 1.75% 1em 1.75%; */
							width: auto;
							
							&:before {
								content: "";
								display: table;
							} 
							&:after { 
								content: ".";
								display: block;
								height: 0;
								visibility: hidden;
								clear: both; 
							} 
							
							li {
								font-size: inherit;
								font-size: 0.76em; /* .88em */
								font-weight: bold; 
								color: $col_whiteProper;
								display: $dsp_infx; /* display: $dsp_inli; */ 
								margin-top: 0.9em; 
								margin-right: 0.825em; 
								
								padding-right: 1.25em;
								@include border_right( 1px, solid, $col_teal_lt );
								
								&.navfirst { 
									margin-left: 0.825em; 
									padding-left: 1.25em;
									@include border_left( 1px, solid, $col_teal_lt );
								} 
								
								&.custom_selected { 
									
									border-bottom: none; 
									text-transform: uppercase; 
									
									a { 
										border-bottom: inherit; 
										color: $col_yellow; 
										
										&:hover { 
											border-bottom: none; 
										}
									}
								}
								
								&.navlast { 
									border-right: none; 
								}
								
								a { 
									color: inherit; 
									@include border_bottom( 1px, dotted, $col_whiteProper );
									
									&:hover { 
										@include border_bottom( 1px, solid, $col_whiteProper );
									}
									
								} /* END #uniformNavigation li a properties */
								
							}  /* END #uniformNavigation li properties */
							
							li.flow{
								color: $col_Dk_Brn; /*$col_lugrd_org_sprfade $col_lugrd_org_fade $col_lugrd_org_vivrant $col_lugrd_org_sprfade $col_Dk_Brn */
							}
						}  /* END #uniformNavigation properties */
						
						p#dtField { display: none; }
						
					} /* END nav.navigation properties */
				}  /* END header.headless properties */
				
				.inner { 
					
					/* !!!!TRUE WIDTH ~= 93%(1170px) | 1088.1px */
					/*'auto' was here *//*padding: 0 0.5%; */
					
					/* width: 98%;  */ /* implied */
					@include defZeroPdng( 1.125%, 1%, 1.125%, 1% );	
					color: $col_Grey_dk_blood; 
					
					&:before {
						content: "";
						display: table;
					} 
					&:after { 
						content: ".";
						display: block;
						height: 0;
						visibility: hidden;
						clear: both; 
					} 
					
					.CTA { 
						/* TRUE WIDTH ~= 91%(1170px) | 1064.7px *//*@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */
						/* width: 75%;*/ /* TRUE WIDTH ~= 75%(1064.7px) | 798px */
						/* adjust for margin ~ TRUE WIDTH ~= 68%(1064.7px) | 723.52px */
						
						/* position: static; 
						@include float_defNone( $floa_left );
						width: 68%; 
						@include defZeroMrgn( 0, 3.5%, 0, 3.5% ); */
						
						position: static; 
						@include float_defNone( $floa_left );
						width: 68%; /*!76%*/ 
						@include defZeroMrgn( 0, 3.5%, 0, 3.5% ); 
						
						h3 { 
							font-size: 1.38725em; /* 1.13725em */
							color: $col_Dk_Brn; 
							@include defZeroPdng( 0, 5%, 0.25em, 5% ); /* padding-bottom: 0.25em; */
							@include defZeroMrgn( 5%, $val_css_auto, 5%, $val_css_auto ); /*margin: 0.5em 0; */
							@include border_bottom( 1px, dotted, $col_teal_lt );
						}
						
						/* WARNING ~ RE: ul > li at THIS level */
						/* AVOID DIRECT STYLE APPLICATION AT THIS LEVEL */
						/* DO NOT DO IT ~ YOU WILL ENTER INTO A WORLD OF HURT */
						/* ul { li {} } */
						
						p { 
							font-size: inherit;
							line-height: 1.375; 
							font-family: $fnt_Trebuchet;
							
							@include defZeroPdng( 0, 5%, 1em, 5% );
							@include defZeroMrgn( 1.125%, $val_css_auto, 1.125%, $val_css_auto ); 
							
							em { 
								font-style: italic; 
							} 
							
							strong { 
								font-weight: bold; 
							}
							
							a { 
								color: $col_Dk_Brn; 
								text-decoration: none; 
								
								/* sitemap.html */ 
								&.dip_sitemap{ display: none; } 
								
							}
							
							.illus { } 
							
						}
						
						
						/* sitemap.html */
						.maplist{ 
							font-size: inherit;
							line-height: 1.375; 
							@include defZeroPdng( 0, 0, 1em, 0 );
							@include defZeroMrgn( 1.125%, $val_css_auto, 1.125%, $val_css_auto ); 
							
							li { 
								font-size: inherit;
								line-height: 1.375; 
								font-family: $fnt_Trebuchet;
								@include defZeroPdng( 0, 5%, 1em, 5% );
								@include defZeroMrgn( 1.125%, $val_css_auto, 1.125%, $val_css_auto ); 
								
								a { color: $col_Dk_Brn; text-decoration: none; }
								
							}
						} 
						
						/* inspiration.html */
						.inspiration{ 
							.electricList { 
								vertical-align: baseline; background: $col_transparent; 
								
								.goldenTruth { /* li */
									
									font-size: inherit;
									line-height: 1.375; 
									font-family: $fnt_Trebuchet;
									/* @include defZeroPdng( 0, 5%, 1em, 5% ); */
									@include defZeroPdng( .0625em, 3%, 0.21875em, 4.625% ); 
									@include defZeroMrgn( 0.5625%, $val_css_auto, 0.5625%, $val_css_auto ); 
									width: 92.375%; 
									
									.verseCallOut { /* cite */
										font-style: normal; 
										font-weight: normal; 
										font-size: 79.625%; 
										text-align: left; 
										font-family: $fnt_Print;
									}
									
									.callOutRider { /* abbr */
										
										font-family: $fnt_Trebuchet; 
										// font-family: 'VanillaRegular'; 

										color: $col_OceanDayDive; 
										letter-spacing: 0.1em; 
										@include plain_2pm_shadow( $col_OceanDayDive, $col_oceanDayDive_alfa );
									}
									
									.callOutRef { /* span */
										text-decoration: none; 
										
										font: normal 63.7% $fnt_Trebuchet; 
										// font: normal 63.7% 'VanillaRegular'; 

										color: $col_OceanDayDive; 
										letter-spacing: 0.1em; background-color: $col_transparent; 
										
										@include transition-property( color );
										@include transition-duration( 0.17578s );
										@include transition-timing-function( linear );
										
										@include plain_2pm_shadow( $col_OceanDayDive, $col_oceanDayDive_alfa );
										
										&:hover, &:focus { 
											border-bottom: 1px dotted $col_OceanDayDive; 
											color: $col_OceanDayDive; 
											background-color: $col_OceanDaySky; 
											@include plain_2pm_shadow( $col_OceanDayDive, $col_oceanDayDive_alfa );
										}
									}
									
									& > cite:hover { cursor: pointer; }
									& > cite.originalState { position: inherit; color: $col_Grey_dk_blood; z-index: 1; }
									& > cite.electricStateChanged { position: relative; }
									& > cite.electricSelection { color: $col_OceanRustyBottom; opacity: 0.20; z-index: 2; }	
								}
								
								&+cite.originalState { 
									position: inherit; visibility: hidden; display: none; color: $col_Grey_dk_blood; background-color: $col_trans_BabyBL_dk;
								}
								&+cite.electricStateChanged { 
									position: absolute; visibility: visible; display: block; background-color: $col_lugrd_BabyBL_dk; overflow: inherit; 
								} 
							}
							
							span.electricCloseX { 
								color: $col_OceanRustyBottom; 
								
								font: normal 63.7% $fnt_Trebuchet; 
								// font: normal 63.7% 'VanillaRegular'; 

								letter-spacing: 0.1em; text-transform: uppercase; z-index: 3; 
								@include plain_2pm_shadow( $col_OceanRustyBottom, $col_OceanRustyBottomLt );
								
								&:hover { 
									cursor: pointer; 
								}
							}
							
							span.electricClosePos { 
								position: absolute; top: 10%; left: 94%; display: block; padding: 2% 2% 2% 2%; 
							} /*padding-top: 2%; padding-right: 2%; padding-bottom: 2%; padding-left: 2%;*/
							
							strong.electricStrong { 
								color: $col_OceanRustyBottom; font-size: 1.375em; font-weight: bold; padding-top: 0.625em; display: block; 
							}
							
							cite#electricQuote { 
								
								width:55%; 
								
								@include corners_eq( 25px );
								@include nonBleedCorner(); 
								padding: 3% 1.5% 2% 1.5%; /* ripped from JS */
								margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; z-index: 1; 
							}
							
						}
						
						/*  enhance.html || sitemap.html  ||   combo.html accel.html gyro.html  */
						.enhanceCom { 
							font-size: inherit;
							line-height: 1.375; 
							font-family: $fnt_Trebuchet;
							
							@include defZeroPdng( 0, 0, 1em, 0 );
							@include defZeroMrgn( 1.125%, $val_css_auto, 1.125%, $val_css_auto ); 
						}
						
						/* enhance.html */
						.closer{
							position: relative;
							height: 300px;
							
							.jwp {
								position: absolute;
							}
							
							.view{
								
								.axis{ display: none;  }  
								.axis {left: -280px; top: 0px; }
								.axis { font: 18pt $fnt_Helvetica bold; width:500px; } 
								.axis { 
									background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $col_bada_green), color-stop(100%, $col_blkMist_lite)); 
									background: -webkit-linear-gradient(top, $col_bada_green 0%, $col_blkMist_lite 100%); 
									background: -o-linear-gradient(top, $col_bada_green 0%, $col_blkMist_lite 100%); 
									background: -ms-linear-gradient(top, $col_bada_green 0%, $col_blkMist_lite 100%); 
									background: linear-gradient(to bottom, $col_bada_green 0%, $col_blkMist_lite 100%); 
									/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bada55', endColorstr='#00000000', GradientType=0 ); */
									filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bada55', endColorstr='#00000000', GradientType=0 ); 
								}
								
								.ball { left: -55px; top: 25px; } 
								.ball { height:50px; width:50px; } 
								.ball { @include corners_eq( 25px ); @include nonBleedCorner(); } 
								
								.ball { 
									background: -moz-radial-gradient(center, ellipse cover, $col_whiteProper 0%, $col_fluor_purple 20%, $col_blackProper 100%); 
									background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $col_whiteProper), color-stop(20%, $col_fluor_purple), color-stop(100%, $col_blackProper)); 
									background: -webkit-radial-gradient(center, ellipse cover, $col_whiteProper 0%, $col_fluor_purple 20%, $col_blackProper 100%); 
									background: -o-radial-gradient(center, ellipse cover, $col_whiteProper 0%, $col_fluor_purple 20%, $col_blackProper 100%); 
									background: -ms-radial-gradient(center, ellipse cover, $col_whiteProper 0%, $col_fluor_purple 20%, $col_blackProper 100%); 
									background: radial-gradient(ellipse at center, $col_whiteProper 0%, $col_fluor_purple 20%, $col_blackProper 100%); 
								}
								
								.face { left:-80px; top:30px; }
								.face { @include border_all( 1px, solid, $col_blackProper ); height:100px; width:100px; }
								.face { 
									background: -moz-radial-gradient( $col_whiteProper 0%, $col_fadedSun 20%, $col_fadedSun 60%, $col_blackProper 100% ); 
									background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $col_whiteProper), color-stop(20%, $col_fadedSun), color-stop(60%, $col_fadedSun), color-stop(100%, $col_blackProper)); 
									background: -webkit-radial-gradient( $col_whiteProper 0%, $col_fadedSun 20%, $col_fadedSun 60%, $col_blackProper 100% ); 
									background: -o-radial-gradient( $col_whiteProper 0%, $col_fadedSun 20%, $col_fadedSun 60%, $col_blackProper 100% ); 
									background: -ms-radial-gradient( $col_whiteProper 0%, $col_fadedSun 20%, $col_fadedSun 60%, $col_blackProper 100% ); 
									background: radial-gradient( $col_whiteProper 0%, $col_fadedSun 20%, $col_fadedSun 60%, $col_blackProper 100% ); 
									filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
									
									p{ @include defZeroPdng( 10px, 15px, 10px, 15px ); text-align: center; }
								}
								
							}
							
						}  /* div#LessonCon.closer */
						
						/* device.html */
						.device{
							
							.orient{
								.descr { 
									text-align: center; 
									p{ 
										text-align: left; 
										line-height: 1.375; 
										font-family: $fnt_Trebuchet;
										
										@include defZeroPdng( 0, 5%, 1em, 5% ); 
										@include defZeroMrgn( 1.125%, $val_css_auto, 1.125%, $val_css_auto ); 
									}
									.deviceImg{ 
										width: 256px; height: 256px; /* width: 222px; height: 131px; */
										display: block; 
										@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
									} 
								}
							} 
							
							.move{
								.descr { 
									text-align: center; 
									
									p{ 
										text-align: left; 
										line-height: 1.375; 
										font-family: $fnt_Trebuchet;
										
										@include defZeroPdng( 0, 5%, 1em, 5% ); 
										@include defZeroMrgn( 1.125%, $val_css_auto, 1.125%, $val_css_auto ); 
									}
									.deviceImg{ width: 256px; height: 256px; } 
								}
							} 
						}
						
						/* interaction.html */
						.touch { 
							.spar { 
								.interact { 
									
									/* text-align: center; */
									text-align: left; 
									
									p { 
										/* text-align: left; */
										line-height: 1.375; 
										font-family: $fnt_Trebuchet; 
										@include defZeroPdng( 0, 5%, 1em, 5% ); 
										@include defZeroMrgn( 1.125%, $val_css_auto, 1.125%, $val_css_auto ); 
									}
									
									.touchPrez{ 
										/* text-align: left; */
										line-height: 1.375; 
										font-family: $fnt_Trebuchet;
										min-height: 300px;
										
										@include defZeroPdng( 0, 5%, 1em, 5% ); 
										@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); /* ( 1.125%, $val_css_auto, 1.125%, $val_css_auto ) */
										position: relative; 
										background-color: $col_extrude_orange;
										
										.crnrRnd {  }
										
										/* width: 150px; height: 150px; */ .gestureINTFC {  } 
										/* width: 50px; height: 50px; */ .gestureCOL { font-size: inherit; } 
										/* height: 46px; width: 46px;  */.gestureBRDR { border: 2px; border-color: $col_blackProper; } 
									} 
									
									#gesture { background-color: $col_Grey_xtrxtrlt; position: absolute; @include corners_eq( .625em ); @include nonBleedCorner(); } 
									#green { background-color: $col_Green_leafy; position: absolute; left: 10px; @include corners_eq( .625em ); @include nonBleedCorner(); }
									#blue { background-color: $col_uj_blue; position: absolute; left: 10px; @include corners_eq( .625em ); @include nonBleedCorner();}
									#red { background-color: $col_uj_red; position: absolute; left: 10px; @include corners_eq( .625em ); @include nonBleedCorner();}
									#solid { border-style: solid; position: absolute; right: 10px; }
									#dashed { border-style: dashed; position: absolute; right: 10px; }
									#dotted { border-style: dotted; position: absolute; right: 10px; }
									
								} /* END .interact */
							} /* END .spar */
						} /* END .touch */
						
						.fsBtnCon {
							
							text-align: center; 
							display: none; 
							
							.fs{ 
								display: none;
								font-weight: bold; 
								/* padding-left: 20px; */
							}
							
							#fsLaunch{}
							#fsRestore{}
							
						}
						
						.pubdate { 
							
							font-size: .90em; /* 90% */
							text-align: center;
							
							display: $dsp_bloc;
							/*pb 1em | mt 2em */
							@include defZeroPdng( 0, 0, 2.5%, 0 );
							@include defZeroMrgn( 5%, $val_css_auto, 0, $val_css_auto );
							
							abbr {
							
								@include border_bottom( 1px, dotted, $col_medBrn );
								color: $col_medBrn; 
								cursor: pointer;
								
								&:hover { 
									@include border_bottom( 1px, solid, $col_medBrn );
								}
								
							}
						}						
						.contento {
							@include defZeroMrgn(); @include defZeroPdng();
							
							font-family: $fnt_Georgia; 
							text-align: center; 
							text-transform: lowercase; 
							background-color: $col_Dk_Brn;
							color: $col_Green_leafy;
							@include border_bottom( 3px, solid, $col_Grey_md );
							font-size: 2.75em; 
							line-height: 1.18725; 
							
							strong { 
								color: $col_LtOR; 
							}
						}
						
						.imgCTA { 
							
							text-align: center;
							@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
							@include defZeroPdng();
							
							img.intro {
								display: $dsp_bloc; /* previously commented */
								@include border_all( 3px, double, $col_Grey_lt ); /*$col_Grey_md*/
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
							}
							
							img.borderless {
								display: $dsp_bloc; /* previously commented */
								border: none;
								/* @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */
								@include defZeroMrgn( 1.25%, $val_css_auto, 1.25%, $val_css_auto ); 
							}
							
						} 
						
						/* enhance.html */
						.caps { text-transform: $txttr_uppr; } 
						.red { color: $col_3d_red; font-family: $fnt_Georgia; } 
						
						/* transition.html */
						.strikeArama { text-decoration: line-through; } 
						
						/* transition.html */
						.zoomWrap { 
							text-align: center; @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); @include defZeroPdng();
							
							.zoomCard { 
								position: relative; 
								
								.flipside { 
									position: absolute;
									display: $dsp_hidd;
								} 
								.zoomPic { 
									@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
									display: $dsp_bloc;
								}	
							}
						} /* #zoomWrapper */
						
						/* transition.html */
						.threeXOne { 
							font-size: inherit; position: relative;
							
							h2 { font-size: 1.38725em; color: $col_Dk_Brn; line-height: 1.375; font-family: $fnt_Trebuchet; @include defZeroPdng( 0, 5%, 0.25em, 5% ); @include defZeroMrgn( 5%, $val_css_auto, 5%, $val_css_auto ); }
							
							.turtleHead { background-color: $col_teal_lt; width: 3em; height: 3em; }
							
							.thereAndBack { 
								position: relative;
								left: 0;
								@include defZeroPdng( 0, 5%, 0.25em, 5% ); /*@include defZeroMrgn(1.125%,$val_css_auto,1.125%,$val_css_auto);*//*LEAVE OUT*/
								
								.bidirect{ 
									width:9em; height:9em; 
									position:relative; top: 0; left: 0;
									@include defZeroPdng( 1.25%, 2.5%, 1.25%, 2.5% ); /*@include defZeroMrgn()*/
								} 
							}
							
							.ovniOuterPerimeter { 
								position: relative; /* margin-top: 12em;*/ @include defZeroMrgn( 1.125%, $val_css_auto, 1.125%, $val_css_auto ); @include defZeroPdng( 0, 5%, 0.25em, 5% ); height: 21em; 
								
								.ovni {
									position: relative; top: 14em; left: 0; /* left: 30% left: 0 left: 5%*/
									width: 7em; height: 7em;
									background: none repeat scroll 0% 0% $col_teal_lt; 
									@include defZeroPdng( 1.25%, 2.5%, 1.25%, 2.5% );
									color: $col_Dk_Brn;
									
									p { font-size: 80%; }
								}
							}
							.thr_ext { font-size: inherit; line-height: 1.375; font-family: $fnt_Trebuchet; }
							
						} /* END .threeXOne */
						
						/* transform.html */
						.bizWrap { 
							/* position: relative;*/ /*killed*/  /*WAIT AND SEE ~ MAY HAVE TO TOAST */
							font-size: inherit;
							line-height: 1.375; 
							font-family: $fnt_Trebuchet; 
							@include defZeroPdng( 0, 0, 1em, 0 );
							@include defZeroMrgn( 1.125%, $val_css_auto, 1.125%, $val_css_auto ); 
							
							.bizCard {
								/* position: relative;*/ /*killed*/
								@include defZeroPdng( 0, 5%, 1em, 5% );
								@include defZeroMrgn( 1.125%, $val_css_auto, 1.125%, $val_css_auto ); 
								font-size: inherit;
								line-height: 1.375; 
								font-family: $fnt_Trebuchet;
								
								.bizside {
									@include bxShdw_ltPm( $col_blkMist, 0.3125em, 0.3125em, 0.625em );
									@include grdnt_BizCard( $col_3d_red, $col_extrude_orangeLt, $col_alfa_black_trans, $col_alfa_black_opque );
								}
								
								.bizfront { 
									z-index: 2; 
									
									position: relative;
									top: 0; left: 0; 
									/* position: absolute; top: 0; left: 0; */
									
									@include defZeroPdng( 1.25em, 1.25em, 3.75em, 1.25em ); 
									
									display: none; /* NEW */
									
									.hotelOneBiz { 
										@include defZeroMrgn(); 
										@include defZeroPdng();	
										@include defZeroMrgn( 5%, 0, 0, 3% ); 
										font-family: $fnt_sans_serif; 
										font-size: 1.875em; font-size: 3rem; /* color: $col_Dk_Brn;*/
										z-index: 3; 
									} 
									.hotelTwoBiz { 
										@include defZeroMrgn(); @include defZeroPdng();
										font-family: $fnt_sans_serif; 
										font-size: 0.9375em; font-size: 1.5rem; 
										color: $col_Dk_Brn; 
										
										@include shiken_one_shadow($col_whiteProper, $col_yellow, $col_medOR, $col_DkOR, $col_3d_red);  
									} 
									.genericBiz { 
										@include defZeroMrgn( 1rem, 0, 0, 0.5rem ); 
										@include defZeroMrgn( 0.625em, 0, 0, 0.3125em ); 
										@include defZeroPdng();	
										font-size: 0.6875em; font-size: 1.1rem; 
										color: $col_lugrd_org_sprfade; 
										@include plain_3pm_shadow( 0.0625em, 0.0625em, 0.0625em, $col_lugrd_org_dkMid ); /* $col_blackProper */
									}

								} 

								.bizback { 
									
									/**/ position: absolute; top: 0; left: 0; /**/
									/* position: relative; */ /*killed*/
									@include defZeroPdng( 1.25em, 1.25em, 3.75em, 1.25em ); 
									
									display: none; /* NEW */
									
									.unlimabiz { 
										list-style: none; 
										/* @include defZeroMrgn( 5%, 0, 0, 3% ); 
										padding-top: 5%;*/
										@include defZeroMrgn( 1.5em, 0, 0, 3% ); 
										padding-top: 5%;
									}
									.limabiz { 
										@include defZeroMrgn( 1rem, 0, 0, 0.5rem ); 
										@include defZeroMrgn( 0.625em, 0, 0, 0.3125em ); 
										font-size: 0.6875em; font-size: 1.1rem; 
										/* color: $col_lugrd_org_sprfade; color: $col_Dk_Brn; */
										
										.strongbiz {
										
											color: $col_Dk_Brn; 
											@include shiken_one_shadow($col_whiteProper, $col_yellow, $col_medOR, $col_DkOR, $col_3d_red); 
											
										}
									} 
								} 
								
							} 
							
						} /* END .bizwrap */
						
						/* transform.html */
						.lawWrap { 
							min-height: 427px; height: 427px;
							
							.lawCard { 
								/*position: relative;*//*killed*/
								font-size: inherit; 
								
								.lawside {
									min-height: 427px; height: 427px;
									max-width: 320px; /* width: 320px;*/
									/*position: absolute;*//*killed*/									
									top: 0;
									left: 0;
								}
								
								.lawfront {
									position: relative; top: 0; left: 0;
									z-index: 2; 
									@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
									
									background-color: $col_gryLt; /* color | transparent */
									background-image: url(/img/vanguard/aboutcontent/lawflip.jpg); /* url | none */
									background-repeat: no-repeat; /* repeat-x, repeat-y, no-repeat, repeat | repeat */
									/* background-attachment: scroll; */ /* omitted */ /* fixed | scroll */
									
									background-position: 0% 0%; /* length, percentage, top, right, bottom, left, center | 0% 0% */
									
									display: none; /* NEW */
									
									.LawBubble { 
										position: absolute;
										top: 76%; left: 72%; 
										
										/* @include defZeroPdng( 5px,10px,5px,10px ); */
										font-size: 2em; 
										height: 40px;
										display: inline-block;
										font-family: $fnt_Courier;
										color: $col_gryUltaLt;
										background: $col_dkBloodMist;
										@include corners_eq( 5px ); @include nonBleedCorner(); 
										@include plain_3pm_shadow( 0.1em, 0.1em, 0.05em, $col_dkBloodMist ); 
										
										&:first-child {
											top: 70%; left: 33%; /* left: 37%; */
										}
									} 
									
								}
								
								.lawback { 
									position: absolute; top: 0; left: 0;
									@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
									text-align: center;
									
									background-color: $col_Grey_lifeless; /* color | transparent */
									background-image: url(/img/vanguard/aboutcontent/lawflip2.jpg); /* url | none */
									background-repeat: no-repeat; /* repeat-x, repeat-y, no-repeat, repeat | repeat */
									/* background-attachment: scroll; */ /* omitted */ /* fixed | scroll */	
									background-position: 0% 0%; /* length, percentage, top, right, bottom, left, center | 0% 0% */
									
									display: none; /* NEW */
									
									.LawLogo { 
										position: absolute; /*KEY*/
										top: 30px;  /*KEY*/
										/* left: 90px; */ /*KEY*/
										
										height: 150px; max-height: 150px;
										width: 150px; max-width: 150px;	
										
										background-color: $col_transparent; /* color | transparent */
										background-image: url(/img/vanguard/aboutcontent/LawLogo.png); /* url | none */
										background-repeat: no-repeat; /* repeat-x, repeat-y, no-repeat, repeat | repeat */
										/* background-attachment: scroll; */ /* omitted */ /* fixed | scroll */	
										background-position: 0% 0%; /* length, percentage, top, right, bottom, left, center | 0% 0% */
										
									}
									
									.shadowLaw {	
										position: absolute; 
										top: 200px; /*KEY*/
										left: 0; /*KEY*/
										right: 0; /*KEY*/
										
										font-size: 2em;
										font-family: $fnt_Courier;
										color: $col_MoonlessOcean;
										font-weight: bold; 
										@include plain_3pm_shadow( 0.1em, 0.1em, 0.05em, $col_OceanSurfacing );
									}
									.LawCallsign { 
										position: relative; /* changed */
										/* position: absolute; */ /*KEY*/
										top: 335px; /*KEY*/
										/* left: 105px; */ /*KEY*/
										
										/* @include defZeroPdng( 0,20px,0,20px ); */ 
										font-size: 112%;
										color: $col_whiteProper; 
										@include plain_3pm_shadow( 0.1em, 0.1em, 0.05em, $col_OceanSurfacing );
									}
								}
							}
						}
						/* END transform.html */
						
						/* index page image ~ future carousel spot */
						#AverageOut {
							
							text-align: center;
							@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
							@include defZeroPdng();
							
							/* width: 600px; */ /* ! width: 623px; DEFINITELY TEMPORARY */
							
							.caroSpyglass { 
								/* 
								width: inherit; 
								_width: 600px;
								*/
								/* width: auto;*/ /*75%*/ 
								height: auto; 
								overflow: hidden;
								
								
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								/* changed just now @ 2204h on 2/18/15 */
								/**/ 
								/* this may be a good idea*/
								
								
								ul.caroFatUL {
									
									text-align: center;
									margin-left: 0;
									/*margin-top: 0;
									margin-right: auto;
									margin-bottom: 0;
									margin-left: auto;*/
									
									
									@include defZeroPdng();
									/* changed just now @ 2204h on 2/18/15 */
									/**/ 
									/* this may be a good idea*/
									list-style: none; 
									
									&:before {
										content: "";
										display: table;
									} 
									&:after { 
										content: ".";
										display: block;
										height: 0;
										visibility: hidden;
										clear: both; 
									} 
									
									
									li.caroBling {
										/* display: block; */
										/* float: left; */ /* OUCH! */
										float: left;  /* OUCH! */
										
										
										/* changed just now @ 2204h on 2/18/15 */
										/* @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */
										/* this may be a good idea*/
										
										/* @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */
										
										
										img.caroImg { 
											
											/*width: 70.67%; 
											max-width: 83%;*/ 
											
											border: none; 
											display: block; 
											
											/* changed just now @ 2204h on 2/18/15 */
											/* @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */ 
											/* this may be a good idea*/
											/* @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */
											@include defZeroMrgn(); 
											
										}
									}
								}
								
							}
							
							#AvgBtnCon {
								
								margin-top: 1em;
								/**/display: none;/**/
								
								.caroButton {
									
									@include defZeroPdng( 1em, 1em, 1em, 1em );
									margin-right: 1em; 
									
									@include corners_eq( 10px ); 
									@include nonBleedCorner(); 
									
									cursor: pointer;
								}
							}
							
						} /* END ~ #AverageOut properties */
						
					} /* END .inner .CTA properties */
					
					.leftyPlay {
						
						position: relative; 
						
						h3 {
							/* width: 63%; */ /* default ~ switched off in entirety */
							/* @include float_defNone( $floa_righ ); */ /* default ~ switched off in entirety */
							@include defZeroPdng( 4%, 5%, 0.25em, 0 ); /* 0.25em */
							clear: both; 
						}
						
						p {	
							/* @include float_defNone( $floa_righ ); */ /* default ~ switched off in entirety */
							
							.illus {
								@include float_defNone( $floa_righ );
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto );
								@include defZeroPdng( 1em, 1.5%, 1em, 1.5% );
							}
							
						}
						
						.pubdate {
							width: 63%;
							@include float_defNone( $floa_righ );
						} 
						
						.contento {
							width: 63%;
							@include float_defNone( $floa_righ );
						}
						
						.imgCTA { 
							
							
							position: relative;
							top: 0%; /* -4%*/
							left: -2%;
							@include defZeroMrgn( -12%, $val_css_auto, 0, $val_css_auto ); 
							@include defZeroPdng( 0,0,1em,0 );
							@include float_defNone( $floa_left );
							width: 37%;
							
							/* text-align: center; */ /* default ~ switched off in entirety */
							
							img.intro { 
								position: relative; 
							}
							
							.figcaption {
								
								background-color: $col_trans_hotPk;
								font-family: $fnt_Trebuchet;
								text-align: left; 
								color: $col_Grey_dk; 
								
								position: relative;
								top: -3%;
								left: 0%;
								
								@include corners_eq( 30px );
								@include nonBleedCorner();
								
								@include defZeroPdng( 2%, 1%, 4%, 7% );
								@include defZeroMrgn( -30%, $val_css_auto, 0, $val_css_auto ); 
								
								/*font-size: 100%;
								line-height: 1.75;
								width: 240px; */ 
								
								span { 
									
									color: $col_whiteProper;
									
									/* display: block; */
									@include defZeroPdng( 0.5%, 0.5%, 0.5%, 0.5% ); /* 1em, 1em, 1em, 1em */
									
									strong {
										
									}
									
								}
							} /* .figcaption properties */
						} /* .imgCTA properties */
						
					} /* END .inner .CTA.leftyPlay properties */
					
					.rightyPlay { 
						
						position: relative; 
						
						h3 {
							/* width: 63%; */ /* default ~ switched off in entirety */
							/* @include float_defNone( $floa_left ); */ /* default ~ switched off in entirety */
							@include defZeroPdng( 4%, 5%, 0.25em, 0 );
							clear: both; 
						}
						
						p { 
							/* @include float_defNone( $floa_left ); */ /* default ~ switched off in entirety */
							
							.illus { 
								@include float_defNone( $floa_left );
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto );
								@include defZeroPdng( 1em, 1.5%, 1em, 1.5% );
							}
							
						}
						
						.pubdate {
							width: 63%;
							@include float_defNone( $floa_left );
						}
						
						.contento { 
							width: 63%;
							@include float_defNone( $floa_left );
						}
						
						.imgCTA {
							
							position: relative;	
							top: 0%; /* -4%*/
							right: -2%;
							
							@include defZeroMrgn( -12%, $val_css_auto, 0, $val_css_auto ); 	
							@include defZeroPdng( 0,0,1em,0 ); 
							@include float_defNone( $floa_righ ); 
							width: 37%; 
							/* text-align: center; */
							
							img.intro {
								position: relative; 
							} 
							
							.figcaption { 
								
								background-color: $col_trans_hotPk;
								font-family: $fnt_Trebuchet;
								text-align: left; 
								color: $col_Grey_dk; 
								
								/*font-size: 100%;
								line-height: 1.75; 
								width: 240px; */
								
								position: relative;
								top: 0; /*0*/
								left: -10%; /* -5% */
								@include corners_eq( 30px );
								@include nonBleedCorner(); 
								/* @include defZeroPdng( 0, 0, 4%, 0); */
								@include defZeroPdng( 2%, 1%, 4%, 7% );
								@include defZeroMrgn( -30%, $val_css_auto, 0, $val_css_auto ); /* -26% */
								
								
								span { 
									
									color: $col_whiteProper; 
									
									/* display: block; */
									@include defZeroPdng( 0.5%, 0.5%, 0.5%, 0.5% ); /* 1em, 1em, 1em, 1em */
									
									strong { 
										
									} 
								} 
							} /* .figcaption properties */
							
						} /* .imgCTA properties */
						
					} /* END .inner .CTA.rightyPlay properties */
					
					.peripheral { 
						
						@include float_defNone( $floa_left );
						/*@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */
						width: 22%; /* adjust for margin ~ TRUE WIDTH ~= 22%(1064.7px) | !266px */
						@include defZeroMrgn( 0, 1.5%, 0, 1.5% ); 
						
						.choco_elastic {
							
							font-size: inherit;
							text-align: center;
							background-color: $col_Dk_Brn; 
							color: $col_whiteProper;
							
							@include defZeroPdng( 8%, 0, 12%, 0);
							@include defZeroMrgn( 8%, $val_css_auto, 4%, $val_css_auto ); 
							@include border_all( 2.5px, solid, $col_teal_lt );
							@include corners_eq( 30px );
							@include nonBleedCorner(); 
							width: auto;
							
							h4 { 
								text-transform: lowercase; 
								background-color: $col_teal_lt; 
								font-size: 1.25em; 
								
								@include defZeroPdng( 5%, 0, 5%, 0 );
								@include defZeroMrgn( 0.4em, 0.8em, 0.4em, 0.8em ); 
								width: auto;
								
							} /* END .peripheral .choco_elastic h4 properties */
							
							h5 { 
								font-weight: normal;
								text-align: left;
								
								@include defZeroPdng( 1.5em, 0, 0.5em, 0 );
								@include defZeroMrgn( 0, 0.5em, 0, 0.5em ); 
								@include border_bottom( 1px, solid, $col_BabyBL_dk );
								width: auto;
								
							} /* END .peripheral .choco_elastic h5 properties */
							
							p { 
								text-align: left;
								font-size: .86em; 
								line-height: 1.16;
								
								@include defZeroPdng( 0, 5%, 0, 5% );
								@include defZeroMrgn( 5%, $val_css_auto, 5%, $val_css_auto ); 
								width: auto;
								
								&:first-line { 
									font-style: italic; 
								}
								
								a { color: $col_medOR; text-decoration: none; font-weight: bold; }
								
							} /* END .peripheral .choco_elastic p properties */
							
							.imagitoCon { 
								
								@include defZeroPdng( 0, 5%, 0, 5% );
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								width: auto;
								
								img{
									/* max-width: 146px; */	
									display: $dsp_bloc;	
									@include defZeroPdng( 5%, 0, 1.25%, 0 );
									@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								}
								
								/* device.html */
								&.dvc_prez {
									height: 100px; 
								}
								
								&.dvc_prezGar {
									height: 250px; 
								}
								
								.dvc_garden{
									width: 95%; 
									height: 225px; 
									background-color: $col_blackProper;
									
									@include defZeroPdng();
									@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
									font-size: 85%; 
									
									@include border_all( 5px, solid, $col_gryLt );
									
									position: relative;
									
									.dvc_ball{ 
										height: 20px;
										width: 20px;
										background-color: $col_medOR; 
										@include corners_eq( 100% ); 
										@include nonBleedCorner(); 
										
										position: absolute;
										top: 0px; left: 0px; 
									}
								}
								
								#dvc_panoramic, #dvc_portrait{ 
									width: 48.5%; 
									height: 100px;
									@include float_defNone( $floa_left );
									background-color: $col_blackProper;
									@include defZeroPdng( 15%, 5px, 0, 5px );
									@include defZeroMrgn( 5px, $val_css_auto, 5px, $val_css_auto ); 
									font-size: 85%; 
									
									@include dry_transition(); 
								}
								
								#dvc_panoramic{ 
									@include defZeroMrgn( 5px, 1.5%, 5px, $val_css_auto ); 
								}
								#dvc_portrait{ 
									@include defZeroMrgn( 5px, $val_css_auto, 5px, 1.5% ); 
								}
								
							} /* END .peripheral .choco_elastic .imagitoCon properties */
							
							/* enhance.html */ 
							.axis_form{ 
								text-align: left; 
								@include defZeroPdng( 0, 5%, 0, 5% );
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto );
								width: auto;
								
								.axis_fldst{
									text-align: left; 
									@include border_all( 2px, solid, $col_teal_lt ); 
									@include defZeroPdng( 0, 0, .5em, .25em );
									@include defZeroMrgn( 0, 2.25%, 0, 2.25% );
									
									input{}
									input[type="button"]{ display: block; width: 47%;@include defZeroMrgn();@include defZeroPdng(0,0.75%,0,0.75%);float: left; }
									
									.axis_lgnd{ 
										@include defZeroMrgn( 5px, $val_css_auto, 10px, $val_css_auto ); 
										font-weight: bold; 
										text-align: center; 
									} 
									.axis_btn{
										font-size: 70%;
										color: $col_Grey_dk_blood;
									} 
									.labelcon{ 
										@include defZeroPdng();
										@include defZeroMrgn( 0, $val_css_auto, 16px, $val_css_auto ); 
										width: auto;
										
										input[type="range"]{ 
											color: $col_medOR; width: 95%; @include defZeroMrgn( 10px, 0, 0, 0 ); 
										}
										.axis_in{
											font-size: inherit;
										} 
										
										.axis_lab{
											font-size: inherit;
										} 
										
									} 
								} 
								
								fieldset:nth-child(3){
									text-align: center; 
								} 
								
							} /* END .axis_form */
							
							
						} /* END .peripheral .choco_elastic properties */
						
						/* sitemap.html */
						.dip_sitemap{display: none; } 
						
						/* enhance.html */
						.dip_out { display: block; }
						
					}  /* END .peripheral properties ~ aside */
					
				} /* END .inner properties */
				
			}  /* END section.container properties */
		} /*END div.outer properties */
		
		/* footer properties */
		footer { 
			display: block; 
			
			border: none; 
			outline: none; 
			vertical-align: baseline; 
			
			/* font-family: $fnt_Georgia; */
			background-color: $col_blackProper;
			
			@include float_defNone();
			min-height: 200px;
			
			padding-right: 18.4375%; /* footer .footrow ~= 63.125%*/
			padding-bottom: 2.5em;
			padding-left: 18.4375%;
			
			@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto );
			/* @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */
			/* width: 100%; */
			/* width: 97%; */ /*LEGIT ie hack */
			
			&:before {
				content: "";
				display: table;
			} 
			&:after { 
				content: ".";
				display: block;
				height: 0;
				visibility: hidden;
				clear: both; 
			} 
			 
			.footrow { 
				
				color: $col_whiteProper; 
				min-height: inherit; /* BINGO WAS HIS NAME O!*/
				
				background-color: $col_transparent; 
				/* background-color: purple; */ /* TESTING PURPOSES */
				font-family: $fnt_Trebuchet;
				
				float: none; /*@include float_defNone();*/
				@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); /* @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */
				/* @include defZeroPdng( 1.375%, 1.5%, 1.375%, 1.5% ); */
				
				@include centerCntnr(100%); /*width: 100%; */
				
				a { 
					text-decoration: none; 
					color: $col_LtOR; 
					font-family: $fnt_Helvetica; 
				} /* END .footrow a properties */
				
				.logoWrapper { 
				
					/* TRUE WIDTH approx ~= 227px */
					width: 19%; 
					float: left; 
					@include defZeroMrgn( .25%, .125%, 0, .25% ); 
					@include defZeroPdng( 4%, .25%, .125%, .25% ); 
					
					.diodeTextCon { 
						max-width: 100%; 
						width: auto; 
						min-height: 5.5em; 
						max-height: 7.5em; 
						height: auto; 
						@include defZeroPdng( 1.375%, 1.375%, 1.375%, 1.375% ); 
						@include border_right( 2px, solid, $col_Grey_md ); 
						
						p {
							font-family: $fnt_Trebuchet; 
							// font-family: 'VanillaRegular'; 
							/* font-size: inherit; */
						}
					} 
					
				}  /* END .logoWrapper properties */
				
				.bigfoot { 
					
					font-family: $fnt_Helvetica; 
					width: 70%; 
					
					@include float_defNone( $floa_left ); 
					@include defZeroMrgn( 2%, 5%, 0, 5% ); 
					@include defZeroPdng( 0, 5%, 2%, 5% ); 					
					min-height: 6.5em; 
					
					h4 {
						background-color: $col_transparent;
						color: $col_Grey_dk_blood;
						
						@include plain_3pm_shadow( 0px, 2px, 3px, $col_Grey_md ); 
						/* text-shadow: 0px 2px 3px $col_Grey_md; */
						
						font-size: 2.125em;
						text-transform: uppercase; 
						@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
						
					} /* END .bigfoot h4 properties */
					
					p {
						font-size: 1em; 
						line-height: 1.175; /* 1.05 */
						
						@include defZeroPdng( 2%, 2%, 2%, 2% ); 
						width: 96%;	
						
						a { 
							font-size: inherit; 
							line-height: inherit; 
							
							&#caroLink { }
							
						} /* END .bigfoot p a properties */
						
					} /* END .bigfoot p properties */
					
				}  /* END .bigfoot properties */				
				
				.footbumpLeft { 
					@include defZeroMrgn( 0, 0, 0, 10% ); 
				} /* END .footbumpLeft properties */
				
				.littlefeet { 
					
					font-size: 86%;
					
					width: 22.5%; 
					@include float_defNone( $floa_left ); 					
					min-height: 6.5em; 
					
					h4{ font-size: 91%; }
					p.opn_clo { display: none;
					
						a{ }
					} 
					ul { 
						width: auto; 
						@include defZeroMrgn( 5%, 6%, 0, 4% );
						
						li { 
							display: inline; 
							line-height: 1.375;
							@include defZeroPdng( 0, 2.5px, 0, 5px );
							border-left: 1px solid $col_Grey_xtrxtrlt;
							@include defZeroMrgn( 2px,0,2px,0 );
							color: $col_LtOR; 
							
							a { 
								display: inline;	
								min-height: 30px; 
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								min-width: 40px; 
								@include defZeroPdng();
								@include love_hate_1( $col_transparent, $col_LtOR, $col_lugrd_org_sprfade, $col_Grey_md ); /* $col_whiteProper */ 
							}
						} 
						li:nth-child(1){
							border-left: none;
							padding-left: 0;
						} 
					} 

				} /* END .littlefeet properties */
				
				.bigsole { 
					margin-bottom: 6.25em; 
					
					h4#retexpHotelFour4 {
						
					}
					
					ul#retexpUL4 {
						
					}
				} /* 1.25em */
				
				/* TRUE WIDTH approx ~= 1135px */
				.copyright{ 
					
					width: auto; /*100%*/
					
					/* float: left; */ /* may be toasted altogether */
					/* height: 100px; */
					@include defZeroMrgn( 2.5%, 0, 0, 0 );
					@include border_top( 2px, dotted, $col_whiteProper );
					clear: both; 
					top: 1.5em; /* 0 */
					position: relative; /*static */
					
					#loadicon { 
						position: relative; 
						
						width: 30px; 
						height: 30px; 
						@include defZeroMrgn( -12.125%, 0, 0, 0 ); /* -12.125% 0 0 0; */
						@include border_all( 8px, solid, $col_OceanSunCrest_Lite );
						border-left-color: $col_transparent; 
						border-right-color: $col_transparent; 
						
						/* -ms-border-radius: 50%; -o-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; */
						
						@include corners_eq( 50% ); 
						@include nonBleedCorner(); 
						
						top: -3%; /*0%*/
						left: 50%; 
						@include defZeroPdng( 2.5%, 2.5%, 2.5%, 2.5% );
						background-color: $col_orangeMist; 
						display: none;
						
						@include bxShdw_ltPm( $col_OceanSunCrest, 0, 0, 25px );
						/* -moz-box-shadow: 0 0 25px 2px $col_OceanSunCrest; -o-box-shadow: 0 0 25px 2px $col_OceanSunCrest; -webkit-box-shadow: 0 0 25px 2px $col_OceanSunCrest; box-shadow: 0 0 25px 2px $col_OceanSunCrest; */
						
					}

					#loadicon::after{ 
						display: block; 
						content: " "; 
						
						width: 9px; 
						height: 9px; 
						@include defZeroMrgn( -6px, -6px, -6px, -6px ); /*4px; */
						@include border_all( 6px, solid, $col_OceanSunCrest_Lite );
						
						border-left-color: $col_transparent; 
						border-right-color: $col_transparent; 
						
						/* -ms-border-radius: 50%; -webkit-border-radius: 50%; -o-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; */
						@include corners_eq( 50% ); 
						@include nonBleedCorner(); 
					}
					
					.lowWrapper { 
						
						text-align: center;
						
						p {
							@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto );
							padding-top: 10px;
							
							/* online-offline schtuff */
							#colorBlock { 
								
								background-color: $col_desertSand; 
								color: $col_DeepBlueSea; 
								display: inline; /* display: inline-block;*/
								margin-top: 1.375em;
								
								/* online-offline schtuff */
								span.online { padding-left: 0; background:$col_green_literal; color: $col_limeSherbet; text-align: center; }
								span.offline { padding-left: 0; background:$col_red_literal; color: $col_whiteProper; text-align: center; } 
								
								span.toggleState {
									font-size: inherit;
								}
							}
							
							&#loadOps {
								display: none;
							}
							
						}
						
						.placedLow {
							@include defZeroMrgn( 1.125%, 0, 1.125%, 0 );
						}
						
						#partners {
							
							font-size: 1.0625em; 
							line-height: 1; 
							clear: both; 
							
							span { 
								font-family: Arial, $fnt_Lucida; 
								color: $col_LtOR; 
								text-transform: uppercase;							
								display: inline-block;
								font-size: 1.0625em; 
								line-height: 2.3; 
								background-color: $col_transparent;	
								
								@include plain_3pm_shadow( 8px, 8px, 0px, $col_whtMist_lite ); 
								
								height: 100%;
							} /* END #partners span properties */
						} /* END #partners properties */
						
					} /* END .lowWrapper properties */
					
				} /* END .copyright properties */
				
				/*p { padding: 1.8625%; } */ 
				
			} /* END .footrow ~ properties */
		} /*END footer */
		
	} /*END article */
} /* END body properties */


/*------------------------- safari haxx -------------------------*/
/* @media screen and (-webkit-min-device-pixel-ratio:0) { } */

/* -------------------------------------------- clearfix class definition -------------------------------------------- */
.clearfixClass { 
	
	/* &:before, &:after {
		content: "";
		display: table;
	} 
	&:after { clear: both; } 
	*/
	&:before {
		content: "";
		display: table;
	} 
	&:after { 
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
		clear: both; 
	} 
} 

/* URL LINK CUASI-INITIATION AND CUASI-FOCUSING ATTRIBUTES ~ http://tech.pro/blog/1557/7-useful-mobile-html-css-and-javascript-snippets */
/* for some buttons or links, simply hide the selection color all together */

.no-highlight {
	-webkit-tap-highlight-color: $col_alfa_black_trans; 
}

.halfsies { opacity: 0.5; }
.wholesies { opacity: 1.0; }

@import 'MQs_new.scss'; 

/* -------------------------------------------- SASSY  -------------------------------------------- */