/* mixins.scss */

	/* @import 'staticVars.scss'; 
	@import 'utils.scss'; */

	@import 'staticVars.scss';
	@import "compass/css3";
	
/* whole kit and kaboodle */
	/* @import "compass"; */

/* resetto v1 */
	/* @import "compass/reset"; */

/* css3 schtuff - this permits mixins */
	/* @import "compass/css3"; */

/* font face shared stuff */
	/* @import "compass/css3/shared"; */

/* transition stuff */
	/* @import "compass/css3/transition"; */

/* -------------------------------------------- ALL POSSIBLE MIXINS -------------------------------------------- */

/* ----------------------------- center div container class MIXIN ~  --------------------------- */

@mixin centerCntnr( $pm-mxwdth ) {

	/* 1170px */
	/* .container ~= 1170 / 1600 ~ 73.125% */
	
	max-width: $pm-mxwdth;
    width: 100%;
    
	/* margin: 0 auto; */
	/* @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); */
	
	height: 100%;
	
}

/* ----------------------------- control directive - if - container float_defNone class MIXIN ~  --------------------------- */
@mixin float_defNone( $pmlr:none ) {
	
	/* position: absolute;
	top: 0; 
	float: none; */
	float: $pmlr;
	
	/* Declare left  */
	@if $pmlr == left {
		float: left;
	}
	/* Declare right */
	@else if $pmlr == right {
		float: right;
	}
	
	/* Declare right */
	@else if $pmlr == inherit {
		float: inherit;
	}
	
}

.flo-no { @include float_defNone( $floa_none ); }
.flo-lt { @include float_defNone( $floa_left ); }
.flo-rt { @include float_defNone( $floa_righ ); }
.flo-in { @include float_defNone( $floa_inhrt ); }

/* -------------------- MARGIN with parametrical and default values for multilevel MIXIN ------------ */
/*v1*/
@mixin defZeroMrgn( $pm-top: 0, $pm-right: $val_css_auto, $pm-bottom: 0, $pm-left: $val_css_auto ) { 
	margin: $pm-top $pm-right $pm-bottom $pm-left; 
}
.defZeroMrgn {
	@include defZeroMrgn( 0.5em, 0, 0.5em, 0 );
}

/* ----------------------- HEAVY~HANDED MARGIN Helper Classes --------------------------------- */

/* copy */
/* $val_css_auto: auto;
$base-em-unit: 1em;
$half-em-unit: $base-em-unit  / 2;
$qtr-em-unit: $base-em-unit  / 4;
$two-em-units: $base-em-unit  * 2; */
/* end copy */

/* ---------------- MARGIN-TOP ~ top margin assortment  -------------------------- */
.marTop-base    { @include defZeroMrgn( $base-em-unit, 0, 0, 0 );}
.marTop-half    { @include defZeroMrgn( $half-em-unit, 0, 0, 0 );}
.marTop-quarter { @include defZeroMrgn( $qtr-em-unit, 0, 0, 0 );}

.marTop-dbl     { @include defZeroMrgn( $two-em-units, 0, 0, 0 );}
.marTop-none    {  @include defZeroMrgn( $val_css_zero, 0, 0, 0 );}

/* ---------------- MARGIN-BOTTOM ~ bottom margin assortment  -------------------------- */
.marBtm-base    { @include defZeroMrgn( 0, 0, $base-em-unit, 0 );}
.marBtm-half    {  @include defZeroMrgn( 0, 0, $half-em-unit, 0 );}
.marBtm-quarter { @include defZeroMrgn( 0, 0, $qtr-em-unit, 0 );}

.marBtm-dbl     { @include defZeroMrgn( 0, 0, $two-em-units, 0 );}
.marBtm-none    { @include defZeroMrgn( 0, 0, $val_css_zero, 0 );}
/* ---------------- MARGIN-RIGHT \ MARGIN-LEFT ~ right and left margin AUTO -------------------------- */
.marAuto-LfRt { @include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); }

/* -------------------- PADDING with parametrical and default values for multilevel MIXIN ------------ */
@mixin defZeroPdng( $pm-top: 0, $pm-right:0, $pm-bottom: 0, $pm-left:0 ) { 
	padding: $pm-top $pm-right $pm-bottom $pm-left;
}
/* .defZeroPdng{ @include defZeroPdng( 0.5em, 0, 0.5em, 0 ); } */

/* ----------------------- HEAVY~HANDED PADDING Helper Classes --------------------------------- */
/* ---------------- PADDING-TOP ~ top padding assortment -------------------------- */
.padTop-base     { @include defZeroPdng( $base-em-unit, 0, 0, 0 ); }
.padTop-half    { @include defZeroPdng( $half-em-unit, 0, 0, 0 ); }
.padTop-quarter { @include defZeroPdng( $qtr-em-unit, 0, 0, 0 ); }

.padTop-dbl     { @include defZeroPdng( $two-em-units, 0, 0, 0 ); }
.padTop-none    { @include defZeroPdng( $val_css_zero, 0, 0, 0 ); }
/* ---------------- PADDING-BOTTOM ~ bottom padding assortment -------------------------- */
.padBtm-base     { @include defZeroPdng( 0, 0, $base-em-unit, 0 ); }
.padBtm-half    { @include defZeroPdng( 0, 0, $half-em-unit, 0 ); }
.padBtm-quarter { @include defZeroPdng( 0, 0, $qtr-em-unit, 0 ); }

.padBtm-dbl     { @include defZeroPdng( 0, 0, $two-em-units, 0 ); }
.padBtm-none    { @include defZeroPdng( 0, 0, $val_css_zero, 0 ); }
/* ---------------- PADDING-RIGHT \ PADDING-LEFT ~ right and left padding AUTO -------------------------- */
.padAuto-LfRt     { @include defZeroPdng( 0, $val_css_auto, 0, $val_css_auto ); }

/* -------------------- BORDER PER, SE || PERCY with parametrical and default values for multilevel MIXIN ------------ */
/* -------------------------------------------- BORDER  -------------------------------------------- */

/* border_all */
@mixin border_all( $borderW:1px, $borderStyle:solid, $borderCLR:$col_lugrd_org_dkMid ) { 
	/* border: width border-style color; */
	border: $borderW $borderStyle $borderCLR;
}

/* border_top */
@mixin border_top( $borderW:1px, $borderStyle:solid, $borderCLR:#805300 ) { 
	/* border: width border-style color; */
	border-top: $borderW $borderStyle $borderCLR;
}

/* border_right */
@mixin border_right( $borderW:1px, $borderStyle:solid, $borderCLR:#805300 ) { 
	/* border: width border-style color; */
	border-right: $borderW $borderStyle $borderCLR;
}

/* border_bottom */
@mixin border_bottom( $borderW:1px, $borderStyle:solid, $borderCLR:#805300 ) { 
	/* border: width border-style color; */
	border-bottom: $borderW $borderStyle $borderCLR;
}

/* border_left */
@mixin border_left( $borderW:1px, $borderStyle:solid, $borderCLR:#805300 ) { 
	/* border: width border-style color; */
	border-left: $borderW $borderStyle $borderCLR;
}

/* border_all */
.border_all { 
	@include border_all( 1px, solid, $col_Grey_xtrxtrlt ); /* TBD */
}
/* border_top */
.border_top { 
	@include border_top( 1px, solid, $col_hotPink_dk ); /* $col_lugrd_org_dkMid */
}
/* border_right */
.border_right { 
	@include border_right( 1px, solid, $col_hotPink_dk ); /* $col_lugrd_org_dkMid */
}
/* border_bottom */
.border_bottom { 
	@include border_bottom( 1px, solid, $col_hotPink_dk ); /* $col_lugrd_org_dkMid */
}
/* border_left */
.border_left { 
	@include border_left( 1px, solid, $col_hotPink_dk ); /* $col_lugrd_org_dkMid */
}

/* -----------------------------  W3C COMPLIANT BORDER RADIUS with parametrical and default values for multilevel MIXIN --------------------------- */
/* corners_eq */
@mixin corners_eq( $allRadii:3em ) { /*16px*/
	/* EQ BORDER-RADIUS */
	-moz-border-radius: $allRadii;
	-ms-border-radius: $allRadii;
	-webkit-border-radius: $allRadii;
	-o-border-radius: $allRadii;
	border-radius: $allRadii;
}
/* corners_noneq */
@mixin corners_noneq( $topLeftCrnr:3em, $topRightCrnr:0, $btmRightCrnr:25%, $btmLeftCrnr:10px ) { 
	/* NON~EQ BORDER-RADIUS */
	-moz-border-radius: $topLeftCrnr $topRightCrnr $btmRightCrnr $btmLeftCrnr;
	-ms-border-radius: $topLeftCrnr $topRightCrnr $btmRightCrnr $btmLeftCrnr;
	-webkit-border-radius: $topLeftCrnr $topRightCrnr $btmRightCrnr $btmLeftCrnr;
	-o-border-radius: $topLeftCrnr $topRightCrnr $btmRightCrnr $btmLeftCrnr;
	border-radius: $topLeftCrnr $topRightCrnr $btmRightCrnr $btmLeftCrnr;
}
/* inrcorners_noneq  */
@mixin inrcorners_noneq( $toLeftCrnr:3em, $toRightCrnr:0, $btRightCrnr:25%, $btLeftCrnr:10px ) { 
	/* NON~EQ BORDER-RADIUS */
	-moz-border-radius: $toLeftCrnr $toRightCrnr $btRightCrnr $btLeftCrnr;
	-ms-border-radius: $toLeftCrnr $toRightCrnr $btRightCrnr $btLeftCrnr;
	-webkit-border-radius: $toLeftCrnr $toRightCrnr $btRightCrnr $btLeftCrnr;
	-o-border-radius: $toLeftCrnr $toRightCrnr $btRightCrnr $btLeftCrnr;
	border-radius: $toLeftCrnr $toRightCrnr $btRightCrnr $btLeftCrnr;
}
/* nonBleedCrnr  */
@mixin nonBleedCorner( $bgClip: padding-box ){	
	/*Use to avoid the gradient bleeding through the corners when using rounded corners */
	-moz-background-clip: $bgClip; 
	-ms-background-clip: $bgClip; 
	-webkit-background-clip: $bgClip; 
	-o-background-clip: $bgClip; 
	background-clip: $bgClip;
}

/* corners_eq */
.corners_eq { 
	@include corners_eq( 25px );
}
/* corners_noneq */
.corners_noneq { 
	@include corners_noneq( 1.125em, 16px, 10px, 8% );
	height: 100px;
	background-color: #898989;
}
/* inrcorners_noneq  */
.inrcorners_noneq {
	@include inrcorners_noneq( 0.28125em, 0.5em, 0.3125em, 2% );
	height: 50px;
	background-color: #000000;
}
/* nonBleedCrnr  */
.nonBleedCrnr { 
	@include nonBleedCorner(); 
}