/* mixins.scss */

	/* @import 'staticVars.scss'; 
	@import 'utils.scss'; */
	
	@import 'staticVars.scss';
	@import "compass/css3";

/* -------------------------------------------- ALL POSSIBLE MIXINS -------------------------------------------- */

/* ----------------------------- control directive - if - container dropCap_defProgEn class MIXIN ~  --------------------------- */
@mixin dropCap_defProgEn( $pmlr:ProgEn ) {
	
	
	/* Declare progressive enhancement  */
	@if $pmlr == ProgEn {
		float: left; 
		color: #903; 
		font-size: 75px; line-height: 60px; 
		padding-top: 4px; padding-right: 8px; padding-left: 3px; 
		font-family: Georgia;
	}
	/* Declare graceful degradation  */
	@else if $pmlr == GrcDeg {
		float: left; 
		color: #903; 
		font-size: 75px; line-height: 60px; 
		padding-top: 4px; padding-right: 8px; padding-left: 3px; 
		font-family: Georgia; 
	}
}

.drpCp-PE { 
	&:first-child:first-letter { 
		@include dropCap_defProgEn( ProgEn ); 
	}
}

.drpCp-GD { 
	
	.firstcharacter {
		@include dropCap_defProgEn( GrcDeg ); 
	}
}

/* ----------------------------- ANCHORS LOVE\HATE TRANSITION MIXIN ~ :link :visited :hover :active --------------------------- */
@mixin love_hate_1( $pm_lk_pro: $col_ancho, $pm_vst: $col_ancho_visit, $pm_hv_foc: $col_ancho_hvr_fcs, $pm_actv: $col_ancho_active  ) { 
	
	/*love_hate_1 ~ LEGIT CODE */
	/*font-size: 100%; */
	text-decoration: none; 
	color: $col_LtOR; /* $col_LtOR */
	/* padding: 6px 12px; 
	height: 50px;*/
	
	/* -ms-transition: 0.17578s all linear; 
	-moz-transition: 0.17578s all linear; 
	-webkit-transition: 0.17578s all linear; 
	-o-transition: 0.17578s all linear; 
	transition: 0.17578s all linear; */
	
	@include transition-property(all);
	@include transition-duration(0.17578s);
	@include transition-timing-function(linear);
	
	&:link { background-color: $pm_lk_pro; text-decoration: none; color: $col_LtOR; }
	&:visited { background-color: $pm_vst; text-decoration: none; color: $col_Grey_dk_blood;}
	&:hover  { background-color: $pm_hv_foc; text-decoration: underline; color: $col_Grey_dk_blood;}
	&:focus { background-color: $pm_hv_foc; text-decoration: none; color: $col_Grey_dk_blood;} 
	&:active { background-color: $pm_actv; text-decoration: none; color: $col_Grey_xtrxtrlt;} 
	
}

.love_hate_1 { 
	@include love_hate_1(); 
}


/* ----------------------------- ANCHORS LOVE\HATE TRANSITION MIXIN ~ :link :visited :hover :active --------------------------- */
@mixin dry_transition() { 
/* @mixin love_hate_1( $pm_lk_pro: $col_ancho, $pm_vst: $col_ancho_visit, $pm_hv_foc: $col_ancho_hvr_fcs, $pm_actv: $col_ancho_active  ) { */
	
	/* transition: 0.17578s all linear; */
	/* transition: 1s all ease-in-out; */
	
	@include transition-property(all);
	@include transition-duration(0.3515s);
	@include transition-timing-function(ease-in-out); 
	/* &:link { background-color: $pm_lk_pro; text-decoration: none; color: $col_LtOR; } */
}

.dry_transition_1 { 
	@include dry_transition(); 
}

/* ----------------------------- compliant w3c Gradients with parametrical and default values for multilevel MIXIN --------------------------- */
/* v1 */
/* gradient background attributes */
/* cmplt_gradient */
@mixin cmplt_gradient( $baseCol:$col_lugrd_org_fade, $twoCol:$col_lugrd_org_vivrant, $threeCol:$col_lugrd_org_dkMid, $fourCol:$col_lugrd_org_dkMid ){
	
	/* BACKGROUND */
	background: $baseCol /*url("../images/bg.png")*/; 	
	/*background-repeat: no-repeat;*/	
	
	/*MOZ 4++ & W3C*/ 
	background: linear-gradient(top, $baseCol 22%, $twoCol 44%, $threeCol 55%, $fourCol 77%);
	
	/*MOZ 3.6++ */	
	/*Both with and w/o '-image' affect my Mozilla thus I have alternatives for inclusion -- b/w pattern SHOWN */
	/*background: -moz-linear-gradient(0% 100% 90deg, rgb(255, 250, 240) 22%, rgb(230, 149, 0) 44%, rgb(128,83,0) 55%, rgb(128,83,0) 77%); */
	background-image: -moz-linear-gradient(top, $fourCol 22%, $threeCol 44%, $twoCol 55%, $baseCol 77%); 
	
	/* Opera 11.10+ */ /*Both with and w/o '-image' affect my Opera thus I have alternatives for inclusion*/
	/*background: -o-linear-gradient(top, #805300 22%, #805300 44%, #E69500 55%, #FFF9EF 77%);*/
	background-image: -o-linear-gradient(top, $fourCol 22%, $threeCol 44%, $twoCol 55%, $baseCol 77%);
	
	/*SAFARI / WEBKIT /ETC */	
	/* Chrome10+, Safari5.1+ WORKS*/
	background: -webkit-linear-gradient(top, $baseCol 22%, $twoCol 44%, $threeCol 55%, $fourCol 77%);	
	
	/*<!=Chrome10+, Safari4+ WORKS*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, $baseCol), color-stop(44%, $twoCol), color-stop(55%, $threeCol), color-stop(77%, $fourCol)); 
	
	/*<!=Chrome10+, Safari4+ WORKS*/
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.22, $baseCol), color-stop(0.44, $twoCol), color-stop(0.55, $threeCol), color-stop(0.77, $fourCol)); 
	
	/* IE6-9 */		
	/*CONTROL this is it OFF*/	
	/**/filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#805300', endColorstr='#FFF9EF', GradientType=0 );/**/
	/**/filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#805300', EndColorStr='#FFF9EF'); /**/
	/**/filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99805300',EndColorStr='#99FFF9EF'); /**/
	/*END CONTROL*/
}
.cmplt_gradient { 
	@include cmplt_gradient( #efefef, #cdcdcd, #898989, #898989 ); 
}

/* ----------------------------- DIVER DOWN SYMBOL ~ Background Gradients with parametrical and default values for multilevel MIXIN --------------------------- */
/* v0 */
/* gradient background attributes */

/* grdnt_BizCard */
@mixin grdnt_BizCard( $baseCol:$col_3d_red, $twoCol:$col_extrude_orangeLt, $threeGrad:$col_alfa_black_trans, $fourGrad:$col_alfa_black_opque ){
	
	background: $baseCol; 
	
	background: -webkit-linear-gradient( top, $threeGrad, $fourGrad ), -webkit-linear-gradient( 45deg, $baseCol 5em, $twoCol 8.5em, $twoCol 16em, $baseCol 20em ); 
	
	background: -moz-linear-gradient( top, $threeGrad, $fourGrad ), -moz-linear-gradient( 45deg, $baseCol 5em, $twoCol 8.5em, $twoCol 16em, $baseCol 20em ); 
	
	background: -ms-linear-gradient( top, $threeGrad, $fourGrad ), -ms-linear-gradient( 45deg, $baseCol 5em, $twoCol 8.5em, $twoCol 16em, $baseCol 20em ); 
	
	background: -o-linear-gradient( top, $threeGrad, $fourGrad ), -o-linear-gradient( 45deg, $baseCol 5em, $twoCol 8.5em, $twoCol 16em, $baseCol 20em ); 
	
	background: linear-gradient( top, $threeGrad, $fourGrad ), linear-gradient( 45deg, $baseCol 5em, $twoCol 8.5em, $twoCol 16em, $baseCol 20em ); 
}


.grdnt_BizCard { 
	@include grdnt_BizCard( $col_3d_red, $col_extrude_orangeLt, $col_alfa_black_trans, $col_alfa_black_opque );
}
/* ################### */

/* -------------------- W3C COMPLIANT TEXT-SHADOW with parametrical and default values for multilevel MIXIN ------------ */
/* text_shadow #0 */
@mixin text_shadow( $txtSh_hShad:2px, $txtSh_vShad:2px, $txtSh_blur:2px, $txtSh_col_1:$col_hotPink, $txtSh_col_2:$col_hotPink_dk, $txtSh_col_3:$col_hotPink_md, $txtSh_col_4:$col_blackProper ) { 
	/*TEXT-SHADOW ~ LEGIT CODE */
	/* text-shadow: h-shadow v-shadow blur color|none|initial|inherit; */
	
	-ms-text-shadow: $txtSh_hShad $txtSh_vShad $txtSh_blur $txtSh_col_1;
	-webkit-text-shadow: $txtSh_hShad $txtSh_vShad $txtSh_blur $txtSh_col_1;
	-o-text-shadow: $txtSh_hShad $txtSh_vShad $txtSh_blur $txtSh_col_1;
	-moz-text-shadow: $txtSh_hShad $txtSh_vShad $txtSh_blur $txtSh_col_1;
	text-shadow: $txtSh_hShad $txtSh_vShad $txtSh_blur $txtSh_col_1;
	
	-ms-text-shadow: 1.5px 1.5px 2.25px $txtSh_col_2;
	-webkit-text-shadow: 1.5px 1.5px 2.25px $txtSh_col_2;
	-o-text-shadow: 1.5px 1.5px 2.25px $txtSh_col_2;
	-moz-text-shadow: 1.5px 1.5px 2.25px $txtSh_col_2;
	text-shadow: 1.5px 1.5px 2.25px $txtSh_col_2;
	
	-ms-text-shadow: 1.5px .75px .75px $txtSh_col_3;
	-webkit-text-shadow: 1.5px .75px .75px $txtSh_col_3;
	-o-text-shadow: 1.5px .75px .75px $txtSh_col_3;
	-moz-text-shadow: 1.5px .75px .75px $txtSh_col_3;
	text-shadow: 1.5px .75px .75px $txtSh_col_3;
	
	-ms-text-shadow: .75px .75px .75px $txtSh_col_4;
	-webkit-text-shadow: .75px .75px .75px $txtSh_col_4;
	-o-text-shadow: .75px .75px .75px $txtSh_col_4;
	-moz-text-shadow: .75px .75px .75px $txtSh_col_4;
	text-shadow: .75px .75px .75px $txtSh_col_4;	
}
.text_shadow { 
	@include text_shadow( 5px, 5px, #FF0077, $col_lugrd_org_dkMid, #9557AF, $col_lugrd_org_dkMid ); 
}

/* plain_2pm_shadow #1 */
@mixin plain_2pm_shadow ( $blur_col:$col_OceanDayDive, $blur_alfa_col:$col_oceanDayDive_alfa ) { 
	-ms-text-shadow: 0 1px 0 $blur_alfa_col, 3px 3px 5px $blur_col; 
	-o-text-shadow: 0 1px 0 $blur_alfa_col, 3px 3px 5px $blur_col; 
	-moz-text-shadow: 0 1px 0 $blur_alfa_col, 3px 3px 5px $blur_col; 
	-webkit-text-shadow: 0 1px 0 $blur_alfa_col, 3px 3px 5px $blur_col; 
	text-shadow: 0 1px 0 $blur_alfa_col, 3px 3px 5px $blur_col; 
}

.plain_2pm_shadow { 
	@include plain_2pm_shadow( $col_OceanDayDive, $col_oceanDayDive_alfa ) ;
}

/* -------------------- DIODE TEXT-SHADOW MIXIN ------------ */
/* plain_3pm_shadow #2 */
@mixin plain_3pm_shadow( $xCoor:5px, $yCoor:0px, $blurRad:0px, $blurcolor:$col_lugrd_org_dkMid ) { 	
	-ms-text-shadow: $xCoor $yCoor $blurRad $blurcolor;
	-webkit-text-shadow: $xCoor $yCoor $blurRad $blurcolor;
	-o-text-shadow: $xCoor $yCoor $blurRad $blurcolor;
	-moz-text-shadow: $xCoor $yCoor $blurRad $blurcolor;
	text-shadow: $xCoor $yCoor $blurRad $blurcolor;	
}
/* plain_3pm_shadow #2 */
.plain_3pm_shadow { 
	@include plain_3pm_shadow( 5px, 0px, 0px, $col_lugrd_org_dkMid ); 
}

/* -------------------- GEAR FIRST TEXT-SHADOW MIXIN ------------ */
/* gear_first_shadow #3 */
@mixin gear_first_shadow( $txtshad_color:$col_blackProper ) { 
	
	-ms-text-shadow: 1px 1px $col_blackProper, 2px 2px $txtshad_color, 3px 3px $txtshad_color, 4px 4px $txtshad_color, 5px 5px $txtshad_color, 6px 6px $txtshad_color, 7px 7px $txtshad_color, 8px 8px $txtshad_color; 
	-webkit-text-shadow: 1px 1px $col_blackProper, 2px 2px $txtshad_color, 3px 3px $txtshad_color, 4px 4px $txtshad_color, 5px 5px $txtshad_color, 6px 6px $txtshad_color, 7px 7px $txtshad_color, 8px 8px $txtshad_color; 
	-o-text-shadow: 1px 1px $col_blackProper, 2px 2px $txtshad_color, 3px 3px $txtshad_color, 4px 4px $txtshad_color, 5px 5px $txtshad_color, 6px 6px $txtshad_color, 7px 7px $txtshad_color, 8px 8px $txtshad_color; 
	-moz-text-shadow: 1px 1px $col_blackProper, 2px 2px $txtshad_color, 3px 3px $txtshad_color, 4px 4px $txtshad_color, 5px 5px $txtshad_color, 6px 6px $txtshad_color, 7px 7px $txtshad_color, 8px 8px $txtshad_color; 
	text-shadow: 1px 1px $col_blackProper, 2px 2px $txtshad_color, 3px 3px $txtshad_color, 4px 4px $txtshad_color, 5px 5px $txtshad_color, 6px 6px $txtshad_color, 7px 7px $txtshad_color, 8px 8px $txtshad_color; 
}
/* gear_first_shadow #3 */
.gear_first_shadow { 
	@include gear_first_shadow( $col_blackProper ); 
}

/* -------------------- GEAR SAGONDO TEXT-SHADOW MIXIN ------------ */
/* gear_sagondo_shadow #4 */
@mixin gear_sagondo_shadow( $txtshad_color:$col_lugrd_org_dkMid ) { 	
	
	-ms-text-shadow: 1px 1px $txtshad_color, 2px 2px $txtshad_color, 3px 3px $txtshad_color, 4px 4px $txtshad_color, 5px 5px $txtshad_color, 6px 6px $txtshad_color, 7px 7px $txtshad_color, 8px 8px $txtshad_color, 9px 9px $txtshad_color, 10px 10px $txtshad_color, 11px 11px $txtshad_color;	
	-webkit-text-shadow: 1px 1px $txtshad_color, 2px 2px $txtshad_color, 3px 3px $txtshad_color, 4px 4px $txtshad_color, 5px 5px $txtshad_color, 6px 6px $txtshad_color, 7px 7px $txtshad_color, 8px 8px $txtshad_color, 9px 9px $txtshad_color, 10px 10px $txtshad_color, 11px 11px $txtshad_color;	
	-o-text-shadow: 1px 1px $txtshad_color, 2px 2px $txtshad_color, 3px 3px $txtshad_color, 4px 4px $txtshad_color, 5px 5px $txtshad_color, 6px 6px $txtshad_color, 7px 7px $txtshad_color, 8px 8px $txtshad_color, 9px 9px $txtshad_color, 10px 10px $txtshad_color, 11px 11px $txtshad_color;	
	-moz-text-shadow: 1px 1px $txtshad_color, 2px 2px $txtshad_color, 3px 3px $txtshad_color, 4px 4px $txtshad_color, 5px 5px $txtshad_color, 6px 6px $txtshad_color, 7px 7px $txtshad_color, 8px 8px $txtshad_color, 9px 9px $txtshad_color, 10px 10px $txtshad_color, 11px 11px $txtshad_color;	
	text-shadow: 1px 1px $txtshad_color, 2px 2px $txtshad_color, 3px 3px $txtshad_color, 4px 4px $txtshad_color, 5px 5px $txtshad_color, 6px 6px $txtshad_color, 7px 7px $txtshad_color, 8px 8px $txtshad_color, 9px 9px $txtshad_color, 10px 10px $txtshad_color, 11px 11px $txtshad_color;
}
/* gear_sagondo_shadow #4 */
.gear_sagondo_shadow { 
	@include gear_sagondo_shadow( $col_lugrd_org_dkMid ); 
}

/* -------------------- RETRO NEWS TEXT-SHADOW MIXIN #6 ------------ */
@mixin retroNews_shadow( $retroCol1:$col_Grey_xtrlt, $retroCol2:$col_Grey_md_lt ) { 
	-o-text-shadow: 5px 5px 0px $retroCol1, 7px 7px 0px $retroCol2;
	-ms-text-shadow: 5px 5px 0px $retroCol1, 7px 7px 0px $retroCol2;
	-webkit-text-shadow: 5px 5px 0px $retroCol1, 7px 7px 0px $retroCol2;
	-moz-text-shadow: 5px 5px 0px $retroCol1, 7px 7px 0px $retroCol2;
	text-shadow: 5px 5px 0px $retroCol1, 7px 7px 0px $retroCol2;
}

/* -------------------- NEON BRITE TEXT-SHADOW MIXIN #7 ------------ */
@mixin neonBrite_shadow( $px_mult:0px, $px_mult2:10px, $px_mult3:20px, $px_mult4:30px, $px_mult5:40px, $px_mult6:70px, $px_mult7:80px, $px_mult8:100px, $px_mult9:150px, $nbCol1:$col_whiteProper, $nbCol2:$col_hotPink, $nbCol3:$col_hotPink_dk ) { 

	-o-text-shadow: $px_mult $px_mult $px_mult2 $nbCol1, $px_mult $px_mult $px_mult3 $nbCol1, $px_mult $px_mult $px_mult4 $nbCol1, $px_mult $px_mult $px_mult5 $nbCol2, $px_mult $px_mult $px_mult6 $nbCol2, $px_mult $px_mult $px_mult7 $nbCol2, $px_mult $px_mult $px_mult8 $nbCol2, $px_mult $px_mult $px_mult9 $nbCol3;
	-ms-text-shadow: $px_mult $px_mult $px_mult2 $nbCol1, $px_mult $px_mult $px_mult3 $nbCol1, $px_mult $px_mult $px_mult4 $nbCol1, $px_mult $px_mult $px_mult5 $nbCol2, $px_mult $px_mult $px_mult6 $nbCol2, $px_mult $px_mult $px_mult7 $nbCol2, $px_mult $px_mult $px_mult8 $nbCol2, $px_mult $px_mult $px_mult9 $nbCol3;
	-webkit-text-shadow: $px_mult $px_mult $px_mult2 $nbCol1, $px_mult $px_mult $px_mult3 $nbCol1, $px_mult $px_mult $px_mult4 $nbCol1, $px_mult $px_mult $px_mult5 $nbCol2, $px_mult $px_mult $px_mult6 $nbCol2, $px_mult $px_mult $px_mult7 $nbCol2, $px_mult $px_mult $px_mult8 $nbCol2, $px_mult $px_mult $px_mult9 $nbCol3;
	-moz-text-shadow: $px_mult $px_mult $px_mult2 $nbCol1, $px_mult $px_mult $px_mult3 $nbCol1, $px_mult $px_mult $px_mult4 $nbCol1, $px_mult $px_mult $px_mult5 $nbCol2, $px_mult $px_mult $px_mult6 $nbCol2, $px_mult $px_mult $px_mult7 $nbCol2, $px_mult $px_mult $px_mult8 $nbCol2, $px_mult $px_mult $px_mult9 $nbCol3;
	text-shadow: $px_mult $px_mult $px_mult2 $nbCol1, $px_mult $px_mult $px_mult3 $nbCol1, $px_mult $px_mult $px_mult4 $nbCol1, $px_mult $px_mult $px_mult5 $nbCol2, $px_mult $px_mult $px_mult6 $nbCol2, $px_mult $px_mult $px_mult7 $nbCol2, $px_mult $px_mult $px_mult8 $nbCol2, $px_mult $px_mult $px_mult9 $nbCol3;
}

/* -------------------- BEVEL INSET TEXT-SHADOW MIXIN #8 ------------ */
@mixin bevelInset_shadow( $bevel_color:$col_Grey_md ) { 
	-o-text-shadow: 0px 2px 3px $bevel_color;
	-ms-text-shadow: 0px 2px 3px $bevel_color;
	-webkit-text-shadow: 0px 2px 3px $bevel_color;
	-moz-text-shadow: 0px 2px 3px $bevel_color;
	text-shadow: 0px 2px 3px $bevel_color;
}

/* -------------------- COLORS 3D TEXT-SHADOW MIXIN #9 ------------ */
@mixin colorsthreeD_shadow( $threeD_color:$col_trans_hotPk ) { 
	-o-text-shadow: 8px 8px 0px $threeD_color;
	-ms-text-shadow: 8px 8px 0px $threeD_color;
	-webkit-text-shadow: 8px 8px 0px $threeD_color;
	-moz-text-shadow: 8px 8px 0px $threeD_color;
	text-shadow: 8px 8px 0px $threeD_color;
}

/* -------------------- FIRE ONE TEXT-SHADOW MIXIN #10 ------------ */
@mixin shiken_one_shadow( $shikenCol1:$col_whiteProper, $shikenCol2:$col_yellow, $shikenCol3:$col_medOR, $shikenCol4:$col_DkOR, $shikenCol5:$col_3d_red ) { 
	
	-o-text-shadow: 0 0 0.25em $shikenCol1, 0 -.3125em 0.25em $shikenCol2, 0.125em -0.625em 0.375em $shikenCol3, -0.125em -0.9375em 0.6875em $shikenCol4, 0.125em -1.5625em 1.125em $shikenCol5;
	
	-ms-text-shadow: 0 0 0.25em $shikenCol1, 0 -.3125em 0.25em $shikenCol2, 0.125em -0.625em 0.375em $shikenCol3, -0.125em -0.9375em 0.6875em $shikenCol4, 0.125em -1.5625em 1.125em $shikenCol5;
	
	-webkit-text-shadow: 0 0 0.25em $shikenCol1, 0 -.3125em 0.25em $shikenCol2, 0.125em -0.625em 0.375em $shikenCol3, -0.125em -0.9375em 0.6875em $shikenCol4, 0.125em -1.5625em 1.125em $shikenCol5;
	
	-moz-text-shadow: 0 0 0.25em $shikenCol1, 0 -.3125em 0.25em $shikenCol2, 0.125em -0.625em 0.375em $shikenCol3, -0.125em -0.9375em 0.6875em $shikenCol4, 0.125em -1.5625em 1.125em $shikenCol5;
	
	text-shadow: 0 0 0.25em $shikenCol1, 0 -.3125em 0.25em $shikenCol2, 0.125em -0.625em 0.375em $shikenCol3, -0.125em -0.9375em 0.6875em $shikenCol4, 0.125em -1.5625em 1.125em $shikenCol5;
}

/* -------------------- FIRE TWO TEXT-SHADOW MIXIN #10 1/2 ------------ */
@mixin shiken_two_shadow( $shikenCol1:#FEFCC9, $shikenCol2:#FEEC85, $shikenCol3:#FFAE34, $shikenCol4:#EC760C, $shikenCol5:#CD4606, $shikenCol6:#973716, $shikenCol7:#451B0E ) { 
	-o-text-shadow: 0px 0px 20px $shikenCol1, 10px -10px 30px $shikenCol2, -20px -20px 40px $shikenCol3, 20px -40px 50px $shikenCol4, -20px -60px 60px $shikenCol5, 0px -80px 70px $shikenCol6, 10px -90px 80px $shikenCol7;
	-ms-text-shadow: 0px 0px 20px $shikenCol1, 10px -10px 30px $shikenCol2, -20px -20px 40px $shikenCol3, 20px -40px 50px $shikenCol4, -20px -60px 60px $shikenCol5, 0px -80px 70px $shikenCol6, 10px -90px 80px $shikenCol7;
	-webkit-text-shadow: 0px 0px 20px $shikenCol1, 10px -10px 30px $shikenCol2, -20px -20px 40px $shikenCol3, 20px -40px 50px $shikenCol4, -20px -60px 60px $shikenCol5, 0px -80px 70px $shikenCol6, 10px -90px 80px $shikenCol7;
	-moz-text-shadow: 0px 0px 20px $shikenCol1, 10px -10px 30px $shikenCol2, -20px -20px 40px $shikenCol3, 20px -40px 50px $shikenCol4, -20px -60px 60px $shikenCol5, 0px -80px 70px $shikenCol6, 10px -90px 80px $shikenCol7;
	text-shadow: 0px 0px 20px $shikenCol1, 10px -10px 30px $shikenCol2, -20px -20px 40px $shikenCol3, 20px -40px 50px $shikenCol4, -20px -60px 60px $shikenCol5, 0px -80px 70px $shikenCol6, 10px -90px 80px $shikenCol7;
}

/* -------------------- GAME TRI-COLOR TEXT-SHADOW MIXIN #11 ------------ */	
@mixin gameTriCol_shadow( $px_mult:10px, $px_mult2:20px, $px_mult3:30px, $px_mult4:40px, $gameTri_color:#FFD217, $gameTri_color2:#5AC7FF ) { 
	-o-text-shadow: $px_mult $px_mult 0px $gameTri_color, $px_mult2 $px_mult2 0px $gameTri_color2, $px_mult3 $px_mult3 0px $gameTri_color, $px_mult4 $px_mult4 0px $gameTri_color2; 
	-ms-text-shadow: $px_mult $px_mult 0px $gameTri_color, $px_mult2 $px_mult2 0px $gameTri_color2, $px_mult3 $px_mult3 0px $gameTri_color, $px_mult4 $px_mult4 0px $gameTri_color2; 
	-webkit-text-shadow: $px_mult $px_mult 0px $gameTri_color, $px_mult2 $px_mult2 0px $gameTri_color2, $px_mult3 $px_mult3 0px $gameTri_color, $px_mult4 $px_mult4 0px $gameTri_color2; 
	-moz-text-shadow: $px_mult $px_mult 0px $gameTri_color, $px_mult2 $px_mult2 0px $gameTri_color2, $px_mult3 $px_mult3 0px $gameTri_color, $px_mult4 $px_mult4 0px $gameTri_color2; 
	text-shadow: $px_mult $px_mult 0px $gameTri_color, $px_mult2 $px_mult2 0px $gameTri_color2, $px_mult3 $px_mult3 0px $gameTri_color, $px_mult4 $px_mult4 0px $gameTri_color2; 
}

/* -------------------- W3C COMPLIANT TEXT-SHADOW shiken FIRE MIXIN ------------ */
	/* shiken color #1 ~ red */
	/* fireFist_text_shadow ~ black[hardcoded] */
	/* fireFist_text_shadow #2,3,4 ~ , yellow, sandy-orangish, orange peel */
@mixin def_fireFist_text_shadow( $pm1_col: rgba( 255,0,0,1 ), $pm2_ts2_yel:rgba(255,255,51,0.9), $pm3_ts2_sndy:rgba(255,204,51,0.7), $pm4_ts2_orng:rgba(255,153,0,0.6) ) {
	color: $pm1_col;
	text-shadow: rgba(0,0,0,0.9) 0px 0px 1px, $pm2_ts2_yel 0px -5px 5px, $pm3_ts2_sndy 2px -10px 7px, $pm4_ts2_orng -2px -15px 10px;
	
	/*TEXT-SHADOW*/
	/* IE6-9 INTERSPERSED W/LEGIT CODE */
	/* text-shadow: h-shadow v-shadow blur color|none|initial|inherit; */
	
	filter: dropshadow(color=$pm4_ts2_orng, offx=2, offy=2); 
	filter: dropshadow(color=$pm3_ts2_sndy, offx=1.5, offy=1.5);
	filter: dropshadow(color=$pm2_ts2_yel, offx=1.5, offy=.75);	
	filter: dropshadow(color=#000000, offx=.75, offy=.75);
	
}

.ftfx_Fire_1ShikenAblaze { 
	@include def_fireFist_text_shadow();
}

/* -------------------- InternetExplorer non-compliant TEXT-SHADOW with parametrical and default values for multilevel MIXIN ------------ */
/* nonCmpIETextShadow */
@mixin nonCmpIETextShadow( $txtSh_col_1:#FF05B4, $txtSh_hShad:2, $txtSh_vShad:2,$txtSh_col_2:#FF05B4, $txtSh_col_3:#97026A, $txtSh_col_4:#000000 ) { 
	
	/*TEXT-SHADOW*/
	/* IE6-9 INTERSPERSED W/LEGIT CODE */
	/* text-shadow: h-shadow v-shadow blur color|none|initial|inherit; */
	
	filter: dropshadow(color=$txtSh_col_1, offx=$txtSh_hShad, offy=$txtSh_vShad); 
	filter: dropshadow(color=$txtSh_col_2, offx=1.5, offy=1.5);
	filter: dropshadow(color=$txtSh_col_3, offx=1.5, offy=.75);	
	filter: dropshadow(color=$txtSh_col_4, offx=.75, offy=.75);
	
}
.nonCmpIETextShadow { 
	@include nonCmpIETextShadow( #FF05B4, 2, 2, #FF05B4, #97026A, #000000 ); 
}

/* -------------------- W3C COMPLIANT BOX SHADOW with parametrical and default values for multilevel MIXIN ------------ */	
/* bxShdw_default */
@mixin bxShdw_default( ) { 
	/* DEFAULT BEHAVIOUR BOX-SHADOW */
	/* box-shadow: none; */	
	-ms-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* bxShdw_ltPm */
@mixin bxShdw_ltPm( $shdwcolor:$col_lugrd_org_dkMid, $hShadow:4px, $vShadow:-4px, $blur:16px ) { 
	/* light quantity parameters BOX-SHADOW */
	-ms-box-shadow: $shdwcolor $hShadow $vShadow $blur;
	-webkit-box-shadow: $hShadow $vShadow $blur $shdwcolor;
	-o-box-shadow: $shdwcolor $hShadow $vShadow $blur;
	-moz-box-shadow: $shdwcolor $hShadow $vShadow $blur;
	box-shadow: $shdwcolor $hShadow $vShadow $blur;	
}

/* bxShdw_allPm */
@mixin bxShdw_allPm( $nonOuter:inset, $hShadow:4px, $vShadow:-4px, $blur:16px, $spread:6px, $shdwcolor:#805300 ) { 	
	/* all parameters BOX-SHADOW */
	/* box-shadow: | inset|initial|inherit h-shadow v-shadow blur spread color; */	
	-ms-box-shadow: $nonOuter $hShadow $vShadow $blur $spread $shdwcolor;
	-webkit-box-shadow: $nonOuter $hShadow $vShadow $blur $spread $shdwcolor;
	-o-box-shadow: $nonOuter $hShadow $vShadow $blur $spread $shdwcolor;
	-moz-box-shadow: $nonOuter $hShadow $vShadow $blur $spread $shdwcolor;
	box-shadow: $nonOuter $hShadow $vShadow $blur $spread $shdwcolor;	
}

.bxShdw_default { 
	@include bxShdw_default( );
}
.bxShdw_ltPm { 
	@include bxShdw_ltPm( #bada55, 8px, -8px, 32px );
}
.bxShdw_allPm { 
	@include bxShdw_allPm( inset, 4px, -4px, 16px, 6px, $col_lugrd_org_dkMid ); 
}

/* -------------------- InternetExplorer non-compliant BOX SHADOW with parametrical and default values for multilevel MIXIN ------------ */
/* nonCmpIEDropShadow */
@mixin nonCmpIEDropShadow( $ieCLR_1:#DEDEDE, $ieCLR_2:#898989, $ieCLR_3:#010101 ) { 
	
	/*JUST ADDITIONAL IE6-9 */	
	filter: progid:DXImageTransform.Microsoft.DropShadow(color=$ieCLR_1, offx=1, offy=1);
	filter: progid:DXImageTransform.Microsoft.DropShadow(color=$ieCLR_2, offx=2, offy=2);
	filter: progid:DXImageTransform.Microsoft.DropShadow(color=$ieCLR_3, offx=3, offy=3);
	
	filter: dropshadow(color=$ieCLR_1, offx=1, offy=1);
	filter: dropshadow(color=$ieCLR_2, offx=2, offy=2);
	filter: dropshadow(color=$ieCLR_3, offx=3, offy=3);
	
}

.nonCmpIEDropShadow{ 
	@include nonCmpIEDropShadow( #FF0077, #9557AF, #805300 ); 
}
/* ----------------------------- FIN. --------------------------- */