/*@charset "utf-8";  */

/* MQs_new.scss */
@import 'staticVars.scss'; 
@import 'mixins_ctx_layout.scss';

/* ----------------- Media Query Properties ----------------- */
/*  ----------------- ----------------- 	  Normal coding ENDS here  */

/* --- MQs initiate here... --- */
/* combo.html accel.html gyro.html */
@media (orientation: landscape) { 
	body { 
		article { 
			.outer { 
				.container { 
					.inner { 
						.peripheral { 
							.choco_elastic { 
								.imagitoCon { 
									&.dvc_prez{
										#dvc_panoramic { opacity: 1; }
										#dvc_portrait{ opacity: 0.1; } 
									} 
								}
							}
						}
					}
				}
			}
		}
	} 
}
/* combo.html accel.html gyro.html */
@media (orientation: portrait) { 
	body { 
		article { 
			.outer { 
				.container { 
					.inner { 
						.peripheral { 
							.choco_elastic { 
								.imagitoCon { 
									&.dvc_prez{
										#dvc_panoramic{ opacity: 0.1; }
										#dvc_portrait{ opacity: 1; }
									}
								}
							}
						}
					}
				}  
			}
		}
	} 
}

/*  ====  Responsive Design Media Queries START here  ===== */
@media (max-width: 1024px) { 
	
	body { 
		
		/* background-color: $col_trans_purple; */
		
		div#overlay {
			
		}
		div#specialBox {
			h6 {}
			p{ 
				
				strong {
				
				}
			}
			a{}
			.pro{}
			.anti{}
		}
		
		article { 
		
			.outer { 
				
				div.lay_lt { 
					.inner_elastic {
						h2 { font-size: 0.80em; } /*0.95em*/
						h3, p { } 
						h3 { 
							@include defZeroMrgn( 7%, 0, 0, 0 ); 
							@include defZeroPdng( 7%, 3%, 7%, 3% ); 
							font-size: 0.95em;  
						} /* 96% */
						p { 
							font-size: 0.84em; 
							@include defZeroPdng( 4%, 7%, 8%, 5% );
							
							a{ }
							
						} /* 84% */
						
						/* GEOLOCATION ITEMs */
						.geostatus{
						}
						.geoBtnCon {
						}
						.readout {
						}
						.checking {
						}
						.success {
						}
						.fail {
						}
						
						/* DRAG AND DROP ITEMs */
						.dz {
						
							.back_n_forth {
							
							}
						} 
						
						/* fauxDRAG DROP ITEMs */
						.fauxdz{
							
							.fauxMemb {
								
								.faux_drag{
									
								}
								
								#Brooke_fxDrg{}
								#Franky_fxDrg{}
								#Robin_fxDrg{}
								#Sanji_fxDrg{}
								#Chopper_fxDrg{}
								#Usopp_fxDrg{}
								#Zoro_fxDrg{}
								#Nami_fxDrg{}
								#Luffy_fxDrg{}
								
							}
							
						}
						
						/* device.html ~ dvczone ITEMs */
						.dvczone{ 
							
							.PREluchoPose {								
								.compass{} 
								.degree {
									top: 2.5%;
									left: 43%; 
									font-size: 90%;
									-moz-transform-origin: 50% 420%; -webkit-transform-origin: 50% 420%; -o-transform-origin: 50% 420%; -ms-transform-origin: 50% 420%; transform-origin: 50% 420%; 
								} 
								.point {
									top: 28%;
									left: 40%; 
									-moz-transform-origin: 60% 285%; -webkit-transform-origin: 60% 285%; -o-transform-origin: 60% 285%; -ms-transform-origin: 60% 285%; transform-origin: 60% 285%;
									
									&.main{
										font-size: 93%; 
										top: 25%;
										left: 40%; 
										-moz-transform-origin: 60% 215%; -webkit-transform-origin: 60% 215%; -o-transform-origin: 60% 215%; -ms-transform-origin: 60% 215%; transform-origin: 60% 215%; 
									}
								} 
								.arrow { 
									/* top: 2%; left: 46.5%; */
									/**/ top: 12.5%; left: 46.5%; /**/
									-moz-transform-origin: 60% 990%; -webkit-transform-origin: 60% 990%; -o-transform-origin: 60% 990%; -ms-transform-origin: 60% 990%; transform-origin: 60% 990%; 
									
									&.main { 
										/* top: 4%; left: 46%; */
										/**/ top: 15%; left: 46%; /**/
										-moz-transform-origin: 60% 450%; -webkit-transform-origin: 60% 450%; -o-transform-origin: 60% 450%; -ms-transform-origin: 60% 450%; transform-origin: 60% 450%; 
									}
								} 
							}  							
							#spinner{} 
							#pin{} 
						} /* END .dvczone ITEMs ~ combo accel gyro */
						
						/* CANVAS ITEMs */
						.cnvspace{ 
							.cnvMemb { 
								.cnv { 
								}
							} 
						}
						
						/* PAGE FLIP ITEMS */
						.jabezspace{ 
							
							.jbzMemb {
								
								.coverwrapper { 
									
									.bookspine {}
									.leftpage , .rightpage  {}
									.leftpage {}
									.rightpage {}
									
								}
							}
						}
						/* end PAGE FLIP ITEMs */
						
					}
				}  /* END div.lay_lt properties */
				
				/* GEOLOCATION ITEMs */
				#geolo {}
				
				.container { 
					header.headless { 				
						a {	} 
						nav.navigation { 
							
							#silky { 
								
								h1 {}
								
								#anchorX.gear {}
								#firstFour.gear {}
								#secondFour.gear {}
								#thirdFour.gear {}
								#fourthFour.gear {}
								
								#anchorX.gear.sagondo {} 
								#firstFour.gear.sagondo {} 
								#secondFour.gear.sagondo {} 
								#thirdFour.gear.sagondo {}
								#fourthFour.gear.sagondo {} 
							}
							
							#uniformNavigation { 
								
								li { 
									
									font-size: 0.8em; /*80%*/
									display: $dsp_inli; /* display: $dsp_infx; */ 
									margin-top: 0; 
									&.navfirst { } 
									&.custom_selected { 
										a { 
											&:hover { }
										}
									}
									
									&.navlast { }
									
									a { 								
										&:hover { }
									} 
								}  /* END #uniformNavigation li properties */
								
								li.flow{}
								
							}  /* END #uniformNavigation properties */
							
							p#dtField { }
							
						} /* END nav.navigation properties */
					}  /* END header.headless properties */
					
					.inner { 
						.CTA { 
							h3 { }
							
							p { 
								font-size: 0.94em; /* 94% */
								
								em { }							
								strong { }
								a {}
								
								.illus { } 
								
							} 
							
							/* div ~ enhance.html */
							div{}
							.closer{		
								.view{
									.axis{}
									.ball{}
									.face{ p{} }
								}
							} /* div#LessonCon.closer */
							
							/* inspiration.html */
							.inspiration{ 
								.electricList { 
									.goldenTruth { 
										
										font-size: 0.94em; /* 94% */
										
										.verseCallOut {}
										.callOutRider {}
										.callOutRef { 
											&:hover, &:focus {}
										}
										& > cite:hover {}
										& > cite.originalState {}
										& > cite.electricStateChanged {}
										& > cite.electricSelection {}
									}
									&+cite.originalState {}
									&+cite.electricStateChanged {}
								}
								span.electricCloseX {
									&:hover {
									}
								}
								span.electricClosePos {}
								strong.electricStrong {}
								cite#electricQuote {}
							} 
							
							.fsBtnCon {
								
								.fs{ 
									
								}
								
							}
							
							.pubdate {							
								abbr { 							
									&:hover { }
								}
							} 
							
							.contento { 
								font-size: 1.95em; /* 195% */
								
								strong {
									
								}
							} 
							
							.imgCTA {
								img.intro {}
								img.borderless {}
							}
							.caps{}
							.red{}
							/* index page image ~ future carousel spot */
							#AverageOut {
								
								.caroSpyglass {
									
									ul.caroFatUL {
										
										/* &:before {
											content: "";
											display: table;
										} 
										&:after { 
											content: ".";
											display: block;
											height: 0;
											visibility: hidden;
											clear: both; 
										} */
										
										li.caroBling {
											img.caroImg {}
										}
									}
									
								}
								
								#AvgBtnCon {
									.caroButton {
										
									}
								}
								
							} /* END ~ #AverageOut properties */
							
						} /* END ~ CTA properties */
						
						.leftyPlay {
							
							/* position: relative; */ /* default ~ off by its entirety */
							
							h3 { }
							p {	
								.illus { }
							}
							
							.pubdate { }						
							.contento { }
							
							.imgCTA { 
								img.intro { }
								.figcaption {
									span { 
										strong { }
									}
								} /* .figcaption properties */
							} /* .imgCTA properties */
							
						} /* .leftyPlay properties */
						
						.rightyPlay { 
							
							/* position: relative; */ /* default ~ off by its entirety */
							
							h3 { }
							p { 
								.illus { }
							}
							
							.pubdate { }
							.contento { }
							.imgCTA {
							
								img.intro { } 
								.figcaption { 
									span { 
										strong { } 
									} 
								} /* .figcaption properties */
							} /* .imgCTA properties */
						} /* .rightyPlay properties */
						
						.peripheral { 
							.choco_elastic { 
								
								h4 { font-size: 0.96em; } /* 96% */ 
								
								h5 {}
								
								p {	
									font-size: 0.84em; /* 84% */
									
									&:first-line {}
									
									a {}
								}
								
								.imagitoCon { 
									img{}
									
									/* combo.html accel.html gyro.html */
									&.dvc_prez{ 
										#dvc_panoramic, #dvc_portrait{
											font-size: 65%;
										} 
									}
								}
								
								/* new axis form controls */
								.axis_form{	
									
									.axis_fldst{
										
										.axis_lgnd{
										}/* legends */
										
										.labelcon{ 
											
											.axis_lab{
											} /*labels*/
											
											.axis_in{
											} /*range sliders*/
											
											.axis_btn{
											} /*buttons*/
											
										} /* div.labelcon */
										
									} /* fieldsets */
								}/* END .axis_form */
							}							
							
							.dip_out{}
						}  /* END .peripheral properties ~ aside */
						
					} /* END .inner properties */
					
				}  /* END section.container properties */
			} /*END div.outer properties */
			
			/* footer properties */
			footer { 
				.footrow { 
					
					@include defZeroPdng( 1.375%, 1.5%, 1.375%, 1.5% );	
					@include centerCntnr(97%);
					
					a { } 
					.logoWrapper { 
						.diodeTextCon { } 
					}  /* END .logoWrapper properties */
					
					.bigfoot { 
						h4 { }
						p {
							a {  } 
						} 
					}  /* END .bigfoot properties */
					
					.footbumpLeft {
						@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
					} /* END .footbumpLeft properties */
					
					.littlefeet { 
						
						font-size: 95%; /*100%*/
						
						h4 {} /*font-size: 95%;*/ 
						p.opn_clo { 
							a{}
						}
						
						ul { 
							li{ font-size: 90%;
								a{}
							} 
						}
					} /* END .littlefeet properties */	
					
					.bigsole { margin-bottom: 7.25em; 
						
						h4#retexpHotelFour4{}
						ul#retexpUL4{}
					}
					
					.copyright{ 
						position: relative; 
						top: 4.875em; /*-1.75em 5em 25px 22px 20px 40px 45px 0%*/
						
						.lowWrapper { 
							p {	
								/* online-offline schtuff */
								#colorBlock { 
									span.online {}
									span.offline {} 
								}
							}
							.placedLow{}
							#partners { span{} }
						} /* END .lowWrapper properties */
					} /* END .copyright properties */
				} /* END .footrow ~ properties */
			} /*END footer */
			
		} /*END article */
	} /* END body properties */

} /* END @media (max-width: 1024px)  */ 

@media only screen and (max-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) {
	body { 
		article {
			.outer { 
				
				div.lay_lt { 
				
					.inner_elastic {
					
						/* LITE*/
						
						/* device.html ~ dvczone ITEMs */
						.dvczone{ 
							
							.PREluchoPose { 
								
								height: 152px;
								
								.compass{ 
									height: 152px; 
								} 
								.degree {
									
								} 
								.point { 
									&.main{}
								} 
								.arrow { 
									&.main {
									}
								} 
								
							}  
							#spinner{ height: 126px; } 
							#pin{ height: 12px; } 
						} /* END .dvczone ITEMs ~ combo accel gyro */
						
						#DVCninetynine {
							height: 152px;
						}
						
					} /* END .inner_elastic properties */
					
				}  /* END div.lay_lt properties */	
				
				.container{
					.inner{
						.CTA{
							.imgCTA{
								img.borderless {
									width: 430px; /* !431px */
								}
							}
							
							/* inspiration.html */
							.inspiration{ 
								.electricList { 
									.goldenTruth { 
										.verseCallOut {}
										.callOutRider {}
										.callOutRef { 
											&:hover, &:focus {}
										}
										& > cite:hover {}
										& > cite.originalState {}
										& > cite.electricStateChanged {}
										& > cite.electricSelection {}
									}
									&+cite.originalState {}
									&+cite.electricStateChanged {}
								}
								span.electricCloseX {
									&:hover {
									}
								}
								span.electricClosePos {}
								strong.electricStrong {}
								cite#electricQuote {}
							} 
							
						} /* END .inner .CTA properties */
						
						/* combo.html accel.html gyro.html */
						.peripheral { 
							.choco_elastic { 
								.imagitoCon { 
									
									&.dvc_prez{
									
										#dvc_panoramic, #dvc_portrait{
											/* width: 45%;*/ /* 43% 45% 48.5% */
											height: 60px; 
											font-size: 63.5%; 
										}
										#dvc_panoramic{ opacity: 1; }
										#dvc_portrait{ opacity: 0.1; }
									}
								}
							}
						}
						
					} /* END .inner properties */				
				}  /* END section.container properties */			
			} /*END div.outer properties */	
		} /*END article */
	} /* END body properties */
} /* END @media only screen and (max-width: 1024px) and (max-device-width: 1024px) and (orientation: landscape) */

@media (max-width: 800px) { 
	
	body { 
		
		/*background-color: $col_trans_lime; */
		
		div#overlay {
			
		}
		div#specialBox {
			h6 {}
			p{ 
				
				strong {
				
				}
			}
			a{}
			.pro{}
			.anti{}
		}
		
		article { 
		
			.outer { 
				
				div.lay_lt { 
					
					width: 36.875%;
					@include float_defNone( $floa_left ); 
					
					.inner_elastic {
						h2 { }
						h3, p { } 
						h3 { }
						p {
							a{}
						} 
						
						/* GEOLOCATION ITEMs */
						.geostatus{
						}
						.geoBtnCon {
						}
						.readout {
						}
						.checking {
						}
						.success {
						}
						.fail {
						}
						
						/* DRAG AND DROP ITEMs */
						.dz {
						
							.back_n_forth {
							
							}
						} 
						
						/* fauxDRAG DROP ITEMs */
						.fauxdz{
							
							.fauxMemb {
								
								.faux_drag{
									
								}
								
								#Brooke_fxDrg{}
								#Franky_fxDrg{}
								#Robin_fxDrg{}
								#Sanji_fxDrg{}
								#Chopper_fxDrg{}
								#Usopp_fxDrg{}
								#Zoro_fxDrg{}
								#Nami_fxDrg{}
								#Luffy_fxDrg{}
								
							}
							
						}
						
						/* device.html ~ dvczone ITEMs */
						.dvczone{ 
							
							.PREluchoPose { 
								.compass{} 
								.degree {
									top: 3%;
									left: 42.5%; /* 41.5% */
									font-size: large;
									-moz-transform-origin: 50% 515%; -webkit-transform-origin: 50% 515%; -o-transform-origin: 50% 515%; -ms-transform-origin: 50% 515%; transform-origin: 50% 515%; /* 50% 490% 50% 515% */
								} 
								.point { 
									-moz-transform-origin: 60% 465%; -webkit-transform-origin: 60% 465%; -o-transform-origin: 60% 465%; -ms-transform-origin: 60% 465%; transform-origin: 60% 465%; 
									
									&.main{
									
										font-size: 100%;
										
										-moz-transform-origin: 55% 380%; -webkit-transform-origin: 55% 380%; -o-transform-origin: 55% 380%; -ms-transform-origin: 55% 380%; transform-origin: 55% 380%; /* 60% 245% 55% 390% */
										
										top: 19%; left: 40%;  /* top: 28%; left: 40%; */
									}
								} 
								.arrow { 
									-moz-transform-origin: 60% 1500%; -webkit-transform-origin: 60% 1500%; -o-transform-origin: 60% 1500%; -ms-transform-origin: 60% 1500%; transform-origin: 60% 1500%; 
									
									&.main { 
										-moz-transform-origin: 60% 700%; -webkit-transform-origin: 60% 700%; -o-transform-origin: 60% 700%; -ms-transform-origin: 60% 700%; transform-origin: 60% 700%; 
									} 
								} 
							}  
							#spinner{} 
							#pin{} 
						} /* END .dvczone ITEMs ~ combo accel gyro */
						
						/* CANVAS ITEMs */
						.cnvspace{ 
							.cnvMemb { 
								.cnv { 
								}
							} 
						}
						/* PAGE FLIP ITEMS */
						.jabezspace{ 
							
							.jbzMemb {
								
								.coverwrapper { 
									
									.bookspine {}
									.leftpage , .rightpage  {}
									.leftpage {}
									.rightpage {}
									
								}
							}
						}
						/* end PAGE FLIP ITEMs */
					}
				}  /* END div.lay_lt properties */
				
				/* GEOLOCATION ITEMs */
				#geolo {}
				
				#colLeft { display: none; }
				
				.container { 
					header.headless { 				
						a {	} 
						nav.navigation { 
							
							#silky { 
								
								h1 {}
								
								#anchorX.gear { font-size: 1.3125em; }
								#firstFour.gear { font-size: 1.3125em; }
								
								#secondFour.gear { font-size: 1.575em; }
								#thirdFour.gear { font-size: 1.575em; }
								
								#fourthFour.gear { font-size: 1.3125em; }
								
								#anchorX.gear.sagondo {} 
								#firstFour.gear.sagondo {} 
								#secondFour.gear.sagondo {} 
								#thirdFour.gear.sagondo {}
								#fourthFour.gear.sagondo {} 
							}
							
							#uniformNavigation { 
							
								li { 
									
									font-size: 0.76em; /* 76% */
									
									&.navfirst { } 
									&.custom_selected { 
										a { 
											&:hover { }
										}
									}
									
									&.navlast { }
									
									a { 								
										&:hover { }
									} 
								}  /* END #uniformNavigation li properties */
								
								li.flow{}
								
							}  /* END #uniformNavigation properties */
							
							p#dtField { }
							
						} /* END nav.navigation properties */
					}  /* END header.headless properties */
					
					.inner { 
						.CTA { 
							
							width: 93%; 
							@include defZeroMrgn( 0, 3.5%, 0, 3.5% ); 
							
							h3 { }
							ul {
								li { }
							}
							p { 
								em { }							
								strong { }
								a {}
								
								.illus { } 							
							}
							/* div ~ enhance.html */
							div{}
							.closer{		
								.view{
									.axis{}
									.ball{}
									.face{ p{} }
								}
							} /* div#LessonCon.closer */
							
							/* inspiration.html */
							.inspiration{ 
								.electricList { 
									.goldenTruth { 
										.verseCallOut {}
										.callOutRider {}
										.callOutRef { 
											&:hover, &:focus {}
										}
										& > cite:hover {}
										& > cite.originalState {}
										& > cite.electricStateChanged {}
										& > cite.electricSelection {}
									}
									&+cite.originalState {}
									&+cite.electricStateChanged {}
								}
								span.electricCloseX {
									&:hover {
									}
								}
								span.electricClosePos {}
								strong.electricStrong {}
								cite#electricQuote { width: 55%; }
							} 
							
							.fsBtnCon {
								
								.fs{ 
									
								}
								
							}
							
							.pubdate {							
								abbr { 							
									&:hover { }
								}
							}						
							.contento {
								strong {  }
							}
							
							.imgCTA { 
								width: 95%;
								
								img.intro {}
								img.borderless {}
							}
							
							.zoomWrap { 
								width: 95%;
								
								.zoomCard { 
									.flipside {}
									.zoomPic {}
								}
							} 
							
							/* transform.html */
							.lawWrap { 
								.lawCard {
									.lawside {}
									.lawfront { 
										.LawBubble { 
											&:first-child {}
										} 
									}
									.lawback { 
										.LawLogo {}
										.shadowLaw  {}
										.LawCallsign  {}
									}
								}
							}
							/* END transform.html */
							
							.caps{}
							.red{}
							/* index page image ~ future carousel spot */
							#AverageOut {
								
								width: 95%;
								
								/* width: 230px; */ /* ! 330px DEFINITELY TEMPORARY */
								
								.caroSpyglass {
									
									ul.caroFatUL {
										
										/* &:before {
											content: "";
											display: table;
										} 
										&:after { 
											content: ".";
											display: block;
											height: 0;
											visibility: hidden;
											clear: both; 
										} */
										
										li.caroBling {
											img.caroImg {}
										}
									}
									
								}
								
								#AvgBtnCon {
									.caroButton {
										
									}
								}
								
							} /* END ~ #AverageOut properties */
							
						} /* CTA properties */
						
						.leftyPlay {
							
							position: static; 
							
							h3 { 
								@include defZeroPdng( 0, 5%, 0.25em, 5% ); 
								/* clear: none; */ /* both inherit */
							}
							
							p {	
								.illus { }
							}
							
							.pubdate { 
								width: inherit;
								@include float_defNone();
							}						
							
							.contento { 
								width: inherit;
								@include float_defNone();
							}
							
							.imgCTA { 
								
								left: 0;
								position: static;
								
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								@include defZeroPdng( ); 
								@include float_defNone();
								/* width: inherit; */
								width: 84%;
								
								
								img.intro { }
								.figcaption {
									
									top: 0;
									left: 0;
									@include defZeroMrgn( -18%, $val_css_auto, 0, $val_css_auto ); 
									
									span { 
										strong { }
									}
								} /* .figcaption properties */
							} /* .imgCTA properties */
							
							.zoomWrap { 
								left: 0;
								position: static;
								
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								@include defZeroPdng( ); 
								@include float_defNone();
								/* width: inherit; */
								width: 84%;
								
								.zoomCard { 
									.flipside {}
									.zoomPic {}
								}
							}
							
							/* transform.html */
							.lawWrap { 
								.lawCard {
									.lawside {}
									.lawfront { 
										.LawBubble { 
											&:first-child {}
										} 
									}
									.lawback { 
										.LawLogo {}
										.shadowLaw  {}
										.LawCallsign  {}
									}
								}
							}
							/* END transform.html */
							
						} /* .leftyPlay properties */
						
						.rightyPlay { 
							
							position: static; 
							
							h3 { 
								@include defZeroPdng( 0, 5%, 0.25em, 5% ); 
								/* clear: none; */ /* both inherit */ 
							}
							
							p { 
								.illus { }
							}
							
							.pubdate { 
								width: inherit;
								@include float_defNone();
							}
							
							.contento { 
								width: inherit;
								@include float_defNone();
							}
							
							.imgCTA {
								
								right: 0;
								position: static;
								
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								@include defZeroPdng( ); 
								@include float_defNone();
								/* width: inherit; */
								width: 84%;
								
								img.intro { } 
								.figcaption { 
									
									top: 0;
									left: 0;
									@include defZeroMrgn( -18%, $val_css_auto, 0, $val_css_auto ); 
									
									span { 
										strong { } 
									} 
									
								} /* .figcaption properties */
							} /* .imgCTA properties */
							
							.zoomWrap { 
								right: 0;
								position: static;
								
								@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
								@include defZeroPdng( ); 
								@include float_defNone();
								/* width: inherit; */
								width: 84%;
								
								.zoomCard { 
									.flipside {}
									.zoomPic {}
								}
							} 
							
							/* transform.html */
							.lawWrap { 
								.lawCard {
									.lawside {}
									.lawfront { 
										.LawBubble { 
											&:first-child {}
										} 
									}
									.lawback { 
										.LawLogo {}
										.shadowLaw  {}
										.LawCallsign  {}
									}
								}
							}
							/* END transform.html */
						} /* .rightyPlay properties */
						
						.peripheral { 
							
							width: 100%; 
							@include defZeroMrgn( 0, 1.5%, 0, 1.5% ); 
							
							.choco_elastic {
								
								width: 64%;
								
								h4 {}							
								h5 { }							
								
								p {	
									&:first-line {}
									
									a {}
								}
								
								.imagitoCon { 
									img{ }
								}
								
								/* new axis form controls */
								.axis_form{	
									
									.axis_fldst{
										
										.axis_lgnd{
										}/* legends */
										
										.labelcon{ 
											
											.axis_lab{
											} /*labels*/
											
											.axis_in{
											} /*range sliders*/
											
											.axis_btn{
											} /*buttons*/
											
										} /* div.labelcon */
										
									} /* fieldsets */
								}/* END .axis_form */
							} 
							
							.dip_out{ display: none; }
							
						}  /* END .peripheral properties ~ aside */
						
					} /* END .inner properties */
					
				}  /* END section.container properties */
			} /*END div.outer properties */
			
			/* footer properties */
			footer { 
			
				padding-left: 0;
				padding-right: 0;
				
				.footrow { 
					
					@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
					@include defZeroPdng( 0, 0, 0, 0 );
					
					a {} 
					
					.logoWrapper { 
						
						/* width: 19%; */
						width: auto;
						
						@include float_defNone( );
						
						@include defZeroMrgn( .25%, .125%, 0, .25% ); 
						@include defZeroPdng( 7%, .25%, .125%, .25% ); 
						
						.diodeTextCon { 
							width: 70%;
							@include defZeroMrgn( 0, $val_css_auto, 0, $val_css_auto ); 
						} 
						
					}  /* END .logoWrapper properties */
					
					.bigfoot { 
						
						width: auto; /* width: 70%; */
						@include float_defNone( ); 
						min-height: 3.25em; 
						
						@include defZeroMrgn( 2%, 5%, 0, 5% ); 
						@include defZeroPdng( 0, 5%, 2%, 5% ); 
						
						h4 { font-size: 1.425em; } /* 142.5% */
						p {
							font-size: 0.95em; /* 95% */
							
							a { font-size: inherit; } 
						} 
					}  /* END .bigfoot properties */
					
					.footbumpLeft { 
						@include defZeroMrgn( 0, 0, 0, 0 );
					} /* END .footbumpLeft properties */
					
					.littlefeet { 
						
						min-height: 3.25em;
						width: 92%; /* 92% 97% 100% */
						@include defZeroPdng( 1.5%, 1.5%, 1.5%, 1.5% );
						@include float_defNone( );
						
						
						h4 {
							width: auto; 
							font-size: 1em; /* 95% */ 
							@include defZeroMrgn( 1%, 6%, 0, 4% );
							@include defZeroPdng();
							position: relative;
						}
						
						p.opn_clo { 
							display: block;	
							
							@include defZeroMrgn( -2.5%, $val_css_auto, 0, $val_css_auto ); /* margin: 0 auto; */ /*-2%, $val_css_auto, 0, $val_css_auto*/ /* -4.5%, $val_css_auto, 0, $val_css_auto */
							@include defZeroPdng(); /* padding: 0 0; */
							/* float: right; */
							
							position: relative;
							top: 0%; /* -40% -35% -3% 5% 35% 0% -1%*/
							right: -40%; /* 0% */
							width: 140px;
							
							/* clear: both; */
							
							a {
								margin: 0 auto; 
								padding: 0 0 0 5%; 
								/* display: block; */
							}
						}
						
						ul { 
							font-size: 0.95em; /* 95% */
							
							@include defZeroMrgn( 1%, 6%, 0, 4% );
							
							
							/* open-close schtuff */
							overflow: hidden;
							
							li { 
								display: inline-block;
								/* width: 100%; */
								border-left: none;
								
								text-align: left;
								display: block;
								text-align: center; 
								
								color: $col_LtOR;
								@include border_bottom( 1px, dotted, $col_Grey_md );
								@include defZeroPdng( 1.5%, 0, 1.5%, 0 ); 
								
								a { 
									display: block;
									@include defZeroMrgn( 2%, $val_css_auto, 0, $val_css_auto ); 
									@include defZeroPdng( 0, 0, 0, 0 ); 
									width: 100%; 
								}
							} 
						}
					} /* END .littlefeet properties */				
					
					.bigsole {
						margin-bottom: 2.75em; 
						
						
						h4#retexpHotelFour4 {
							
						}
						
						ul#retexpUL4 {
							
						}
					}
					
					.copyright{ 
					
						position: static; 
						top: 0;
						
						@include float_defNone( );
						height: auto;
						@include defZeroMrgn( 5.5%, 0, 3.5%, 0 ); 
						
						#loadicon { 
							left: 45%;
						}
						
						.lowWrapper { 
							p {	
								/* online-offline schtuff */
								#colorBlock { 
									
									/* online-offline schtuff */
									span.online {}
									span.offline {} 
								}
								
							}
							
							.placedLow { }
							
							#partners {
								 span { }
							}
						} /* END .lowWrapper properties */
					} /* END .copyright properties */
				} /* END .footrow ~ properties */
			} /*END footer */
			
		} /*END article */
	} /* END body properties */

} /* END @media (max-width: 800px) */ 


@media only screen and (max-width: 768px) and (max-device-width: 768px) and (orientation: portrait) {
	body {
		div#overlay {
			
		}
		
		div#specialBox { 
		
			font-family: $fnt_Trebuchet; 
			width: 80%; 
			height: auto; 
			background: $col_lugrd_org_sprfade;
			
			display: none; 
			position: relative; 
			z-index: 100; 
			
			color: $col_uj_Dk_Amethyst; 
			@include defZeroMrgn( 50px, $val_css_auto, 0, $val_css_auto ); 
			@include defZeroPdng( 4%, 9%, 4%, 9% ); 
			@include border_all( 10px, solid, $col_Dk_Brn ); 
			
			/* MARGIN 10% vs 150px ( 150px, $val_css_auto, 0, $val_css_auto ) */ /* PADDING ( 4%, 9%, 4%, 9% ) */
			
			h6{}
			p{ 
				strong {
				}
			}
			a{}
			
			.pro{ 
				h6, p { }
			}
			.anti{ 
				h6, p {}
			}
		}
		
		article {
			
			.outer { 
				
				div.lay_lt { 
					.inner_elastic {
					
						/* device.html ~ dvczone ITEMs */
						.dvczone{ 
							
							.PREluchoPose { 
							
								height: 231px; 
								
								.compass{
									height: 231px; 
								} 
								.degree { 
									top: 1.5%;
									left: 42.5%;
									font-size: large;
									-moz-transform-origin: 50% 515%; -webkit-transform-origin: 50% 515%; -o-transform-origin: 50% 515%; -ms-transform-origin: 50% 515%; transform-origin: 50% 515%; 
								} 
								.point { 
									-moz-transform-origin: 60% 465%; -webkit-transform-origin: 60% 465%; -o-transform-origin: 60% 465%; -ms-transform-origin: 60% 465%; transform-origin: 60% 465%; 
									
									&.main{
									
										font-size: 100%;
										
										-moz-transform-origin: 55% 380%; -webkit-transform-origin: 55% 380%; -o-transform-origin: 55% 380%; -ms-transform-origin: 55% 380%; transform-origin: 55% 380%; 
										
										top: 19%; left: 40%; 
									}
								} 
								.arrow { 
									-moz-transform-origin: 60% 1500%; -webkit-transform-origin: 60% 1500%; -o-transform-origin: 60% 1500%; -ms-transform-origin: 60% 1500%; transform-origin: 60% 1500%; 
									
									&.main { 
										-moz-transform-origin: 60% 700%; -webkit-transform-origin: 60% 700%; -o-transform-origin: 60% 700%; -ms-transform-origin: 60% 700%; transform-origin: 60% 700%; 
									} 
								} 
							}  
							#spinner{ height: 192px; }
							#pin{ height: 19px; }
						}
						
						#DVCninetynine {
							height: 231px;
						}
					}
				}
				
				.container { 				
					.inner { 
						
						.CTA {
							.imgCTA { 
								img.borderless {
									width: 410px; /*!419px*/
								}
							}
							
							/* inspiration.html */
							.inspiration{ 
								.electricList { 
									.goldenTruth { 
										.verseCallOut {}
										.callOutRider {}
										.callOutRef { 
											&:hover, &:focus {}
										}
										& > cite:hover {}
										& > cite.originalState {}
										& > cite.electricStateChanged {}
										& > cite.electricSelection {}
									}
									&+cite.originalState {}
									&+cite.electricStateChanged {}
								}
								span.electricCloseX {
									&:hover {
									}
								}
								span.electricClosePos {}
								strong.electricStrong {}
								cite#electricQuote { width: 55%; }
							} 
							
						} /* END .inner .CTA properties */
						
						/* combo.html accel.html gyro.html */
						.peripheral { 
							.choco_elastic { 
								.imagitoCon { 
									&.dvc_prez{
										#dvc_panoramic{ opacity: 0.1; }
										#dvc_portrait{ opacity: 1; }
									}
								}
							}
						}
						
					} /* END .inner properties */				
				}  /* END section.container properties */			
			} /*END div.outer properties */	
			
			footer { 
				.footrow { 
					.littlefeet { 
						
						p.opn_clo { 
							@include defZeroMrgn( -2%, $val_css_auto, 0, $val_css_auto ); /*( -1%, $val_css_auto, 0, $val_css_auto )*/
							top: 0%; /*-1%*/
							right: -44%;  /* -31% */
							
						} /* END p.opn_clo ~ properties */
						
					} /* END .littlefeet ~ properties */
				} /* END .footrow ~ properties */
			} /*END footer ~ properties */
			
		}
	}
} /* END ~ @ media only screen and (max-width: 768px) and (max-device-width: 768px) and (orientation: portrait) */

@media (max-width: 480px) { 
	body { 
		article { 
			.outer { 
				div.lay_lt { 
				
					.inner_elastic {
					
						/* device.html ~ dvczone ITEMs */
						.dvczone{ 
						
							
							.PREluchoPose { 
								
								.degree { 
									font-size: 80%; 
									
									top: 1.5%; left: 41.5%; 
									
									-moz-transform-origin: 50% 380%; -webkit-transform-origin: 50% 380%; -o-transform-origin: 50% 380%; -ms-transform-origin: 50% 380%; transform-origin: 50% 380%; 
								}
								
								.point { 
									font-size: 80%; 
									top: 21%; left: 40%; 
									
									-moz-transform-origin: 60% 225%; -webkit-transform-origin: 60% 225%; -o-transform-origin: 60% 225%; -ms-transform-origin: 60% 225%; transform-origin: 60% 225%; 
									
									&.main{
										font-size: 80%; 
										
										-moz-transform-origin: 60% 220%; -webkit-transform-origin: 60% 220%; -o-transform-origin: 60% 220%; -ms-transform-origin: 60% 220%; transform-origin: 60% 220%; 
										
										top: 21%; left: 40%; 
									}
								} 
								
								.arrow { 
									top: 15.5%; left: 43.5%; 
									
									-moz-transform-origin: 60% 780%; -webkit-transform-origin: 60% 780%; -o-transform-origin: 60% 780%; -ms-transform-origin: 60% 780%; transform-origin: 60% 780%; 
									
									&.main { 
										-moz-transform-origin: 60% 430%; -webkit-transform-origin: 60% 430%; -o-transform-origin: 60% 430%; -ms-transform-origin: 60% 430%; transform-origin: 60% 430%; 
										
										top: 13%; left: 44.5%; 
									}
								} 
							}  
							
						} /* END .dvczone ITEMs ~ combo accel gyro */
						
					} /* END .inner_elastic properties */
					
				}  /* END div.lay_lt properties */	
			} /*END div.outer properties */ 
		} /*END article */
	} /* END body properties */
	
} /* END @media (max-width: 480px) */

@media only screen and (max-width: 480px) and (max-device-width: 480px) and (orientation: landscape) { 

	body {
		div#overlay {
			width: 100%; 
			height: 2320%; 
			background: $col_blackProper; 
			display: none; 
			position: fixed; 
			z-index: 50; /*2*/
			top: 0px; 
			left: 0px; 
			text-align: center; 
		}
		
		div#specialBox { 
			/* width: 500px; */
			font-family: $fnt_Trebuchet; 
			width: 320px; 
			height: auto; /*300px*/
			background: $col_lugrd_org_sprfade;
			
			display: none; 
			position: relative; 
			z-index: 100; /*3*/
			
			color: $col_blackProper; 
			@include defZeroMrgn( 70px, $val_css_auto, 0, $val_css_auto ); /* @include defZeroMrgn( 10%, $val_css_auto, 0, $val_css_auto ); */
			@include defZeroPdng( 4%, 9%, 4%, 9% ); 
			@include border_all( 10px, solid, $col_Dk_Brn );
			
			/**/
			h6 { text-transform: lowercase; font-size: 1.25em; }
			p{
				font-size: 1em; color: $col_trans_BabyBL_dk; @include defZeroMrgn( 20px, $val_css_auto, 20px, $val_css_auto ); 
				
				strong {
				
				}
			
			}
			a{ font-size: 1em; text-decoration: none; color: $col_Dk_Brn; @include defZeroMrgn( 20px, $val_css_auto, 20px, $val_css_auto ); }
			.pro{}
			.anti{}
		}
		article { 
			.outer { 
				
				div.lay_lt { 
				
					.inner_elastic {
					
						/* LITE*/
						
						/* device.html ~ dvczone ITEMs */
						.dvczone{ 
							
							.PREluchoPose { 
								height: 143px; 
								
								.compass{
									height: 143px; 
								}
								.degree {
									top: 2.5%; 
									-moz-transform-origin: 50% 430%; -webkit-transform-origin: 50% 430%; -o-transform-origin: 50% 430%; -ms-transform-origin: 50% 430%; transform-origin: 50% 430%; /* 50% 380% 50% 430% */
								} 
								.point { 
									font-size: 70%; 
									top: 27%; 
									left: 40%; 
									&.main{
										top: 24%; 
										left: 40%; 
									}
								} 
								.arrow {
									/**/ top: 12.5%; left: 46.5%; /**/
									
									&.main { 
										/**/ top: 15%; left: 46%; /**/
									}
								} 
							}  
							#spinner{ height: 119px; } 
							#pin{ height: 11px; } 
						} /* END .dvczone ITEMs ~ combo accel gyro */
						
						#DVCninetynine {
							height: 143px;
						}
						
					} /* END .inner_elastic properties */
					
				}  /* END div.lay_lt properties */	
				
				.container { 				
					.inner { 					
						.CTA {
							.imgCTA { 
								img.borderless {
									width: 260px; /*!262px*/
								}
							} 
							/* inspiration.html */
							.inspiration{ 
								.electricList { 
									.goldenTruth { 
										.verseCallOut {}
										.callOutRider {}
										.callOutRef { 
											&:hover, &:focus {}
										}
										& > cite:hover {}
										& > cite.originalState {}
										& > cite.electricStateChanged {}
										& > cite.electricSelection {}
									}
									&+cite.originalState {}
									&+cite.electricStateChanged {}
								}
								span.electricCloseX {
									&:hover {
									}
								}
								span.electricClosePos {}
								strong.electricStrong {}
								cite#electricQuote { width: 83%; }
							} 
							
						} /* END .inner .CTA properties */
						
						/* combo.html accel.html gyro.html */
						.peripheral { 
							.choco_elastic { 
								.imagitoCon { 
									
									&.dvc_prez{
										#dvc_panoramic, #dvc_portrait{
											height: 58px; 
											width: 43%;
										}
										
										#dvc_panoramic{ opacity: 1; }
										#dvc_portrait{ opacity: 0.1; }
									}
								}
							}
						}
						
					} /* END .inner properties */				
				}  /* END section.container properties */			
			} /*END div.outer properties */	
			footer { 
				.footrow { 
					.littlefeet { 
						p.opn_clo { 
							/* 	@include defZeroMrgn( -5%, $val_css_auto, 0, $val_css_auto ); 
							top: -1%; 
							right: -31%; */ 
							@include defZeroMrgn( -3.875%, $val_css_auto, 0, $val_css_auto ); /* -1% auto 0 auto | -2% auto 0 auto  */
							top: 0%; /* 0% */
							right: -38%; /* -44% */ 
						} /* END p.opn_clo ~ properties */ 
					} /* END .littlefeet ~ properties */
				} /* END .footrow ~ properties */
			} /*END footer ~ properties */ 
		}
	}
} /* END ~ @media only screen and (max-width: 480px) and (max-device-width: 480px) and (orientation: landscape) */

/*@media (max-width: 400px), only screen and (max-width: 480px) and (max-device-width: 480px) and (orientation: landscape), only screen and (max-width: 320px) and (max-device-width: 320px) and (orientation: portrait) {} */

@media (max-width: 427px) { /* MY ANDROID IN LANDSCAPE */
	body { 
		article { 
			.outer { 
				div.lay_lt { 
				
					.inner_elastic {
					
						/* device.html ~ dvczone ITEMs */
						.dvczone{ 
						
							
							.PREluchoPose { 
								
								.degree { 
									font-size: 80%; 
									
									top: 1.5%; left: 41.5%; 
									
									-moz-transform-origin: 50% 330%; -webkit-transform-origin: 50% 330%; -o-transform-origin: 50% 330%; -ms-transform-origin: 50% 330%; transform-origin: 50% 330%; 
								}
								
								.point { 
									font-size: 80%; 
									top: 21%; left: 40%; 
									
									-moz-transform-origin: 60% 225%; -webkit-transform-origin: 60% 225%; -o-transform-origin: 60% 225%; -ms-transform-origin: 60% 225%; transform-origin: 60% 225%; 
									
									&.main{
										font-size: 80%; 
										
										-moz-transform-origin: 60% 190%; -webkit-transform-origin: 60% 190%; -o-transform-origin: 60% 190%; -ms-transform-origin: 60% 190%; transform-origin: 60% 190%; 
										
										top: 21%; left: 40%; 
									}
								} 
								
								.arrow { 
									top: 15.5%; left: 43.5%; 
									
									-moz-transform-origin: 60% 700%; -webkit-transform-origin: 60% 700%; -o-transform-origin: 60% 700%; -ms-transform-origin: 60% 700%; transform-origin: 60% 700%; 
									
									&.main { 
										-moz-transform-origin: 60% 380%; -webkit-transform-origin: 60% 380%; -o-transform-origin: 60% 380%; -ms-transform-origin: 60% 380%; transform-origin: 60% 380%; 
										
										top: 13%; left: 44.5%; 
									}
								} 
							}  
							
						} /* END .dvczone ITEMs ~ combo accel gyro */
						
					} /* END .inner_elastic properties */
					
				}  /* END div.lay_lt properties */	
			} /*END div.outer properties */ 
		} /*END article */
	} /* END body properties */
	
} /* @media (max-width: 427px) ~ END MY ANDROID IN LANDSCAPE */

@media (max-width: 400px) { 

	body { 
		
		/* background-color: $col_trans_BabyBL_dk; */
		
		div#overlay {
			
		}
		div#specialBox {
			h6 {}
			p{ 
				
				strong {
				
				}
			}
			a{}
			.pro{}
			.anti{}
		}
		
		article { 
		
			.outer { 
				
				/* width: 97%;*/ /*99.75%*/
				/* margin: 0 auto; */
				
				div.lay_lt { 
					.inner_elastic {
						
						/* width: 84%;	*/
						
						h2 { }
						h3, p { } 
						h3 { }
						p {
							a{}
						}
						
						/* GEOLOCATION ITEMs */
						.geostatus{
						}
						.geoBtnCon {
						}
						.readout {
						}
						.checking {
						}
						.success {
						}
						.fail {
						}
						
						/* DRAG AND DROP ITEMs */
						.dz {
						
							.back_n_forth {
							
							}
						} 
						
						/* fauxDRAG DROP ITEMs */
						.fauxdz{
							
							.fauxMemb {
								
								.faux_drag{
									
								}
								
								#Brooke_fxDrg{}
								#Franky_fxDrg{}
								#Robin_fxDrg{}
								#Sanji_fxDrg{}
								#Chopper_fxDrg{}
								#Usopp_fxDrg{}
								#Zoro_fxDrg{}
								#Nami_fxDrg{}
								#Luffy_fxDrg{}
								
							}
							
						}
						
						/* device.html ~ dvczone ITEMs */
						.dvczone{ 
							
							.PREluchoPose { 
								.compass{} 
								.degree {} 
								.point { 
									&.main{}
								} 
								.arrow { 
									/* top: 2%; left: 46.5%; */
									/**/ top: 12.5%; left: 46.5%; /**/
									
									&.main { 
										/* top: 4%; left: 46%; */
										/**/ top: 15%; left: 46%; /**/
									}
								} 
							}  
							#spinner{} 
							#pin{} 
						} /* END .dvczone ITEMs ~ combo accel gyro */
						
						/* CANVAS ITEMs */
						.cnvspace{ 
							.cnvMemb { 
								.cnv { 
								}
							} 
						}
						/* PAGE FLIP ITEMS */
						.jabezspace{ 
							
							.jbzMemb {
								
								.coverwrapper { 
									
									.bookspine {}
									.leftpage , .rightpage  {}
									.leftpage {}
									.rightpage {}
									
								}
							}
						}
						/* end PAGE FLIP ITEMs */
					}
				}  /* END div.lay_lt properties */
				
				/* GEOLOCATION ITEMs */
				#geolo {}
				
				#colRight {
					
					/* @include float_defNone( $floa_left );*/ /* @include float_defNone( ); */ /* ~ potential DEALBREAKER */
					/*@include defZeroPdng( 2.5%, 2.5%, 2.5%, 2.5% ); */
					/* @include centerCntnr(100%); */
					
					@include defZeroPdng( 1.375%, 1.5%, 1.375%, 1.5% );	
					@include centerCntnr(97%);
					
					.inner_elastic { 
						@include defZeroMrgn( 5%, $val_css_auto, 5%, $val_css_auto ); 
						h2 { }
						h3, p { } 
						h3 { }
						p { 
							a{}
						} 
					}
					
				}
				
				.container { 
					
					/* @include float_defNone( $floa_left );*/ /* @include float_defNone( ); */ /* ~ POTENTIAL DEALBREAKER */
					
					/* @include centerCntnr(100%); */
					
					@include defZeroPdng( 1.375%, 1.5%, 1.375%, 1.5% );	
					@include centerCntnr(97%);
					
					header.headless { 				
						a {	} 
						nav.navigation { 
							
							#silky { 
								
								h1 {}
								
								#anchorX.gear { font-size: 1.125em; }
								#firstFour.gear  { font-size: 1.125em; } 
								#secondFour.gear { font-size: 1.125em; }
								#thirdFour.gear { font-size: 1.125em; } 
								#fourthFour.gear { font-size: 1.3125em; }
								#anchorX.gear.sagondo {} 
								#firstFour.gear.sagondo {} 
								#secondFour.gear.sagondo {} 
								#thirdFour.gear.sagondo {}
								#fourthFour.gear.sagondo {} 
							}
							
							#uniformNavigation { 
							
								li { 
									&.navfirst { } 
									&.custom_selected { 
										a { 
											&:hover { }
										}
									}
									
									&.navlast { }
									
									a { 								
										&:hover { }
									} 
								}  /* END #uniformNavigation li properties */
								li.flow{}
							}  /* END #uniformNavigation properties */
							
							p#dtField { }
							
						} /* END nav.navigation properties */
					}  /* END header.headless properties */
					
					.inner { 
						.CTA { 
							h3 { }
							p { 
								
								font-size: 0.9em; /* 90%*/
								
								em { }							
								strong { }
								a {}
								
								.illus { } 							
							}
							
							/* div ~ enhance.html */
							div{}
							.closer{		
								.view{
									.axis{}
									.ball{}
									.face{ p{} }
								}
							} /* div#LessonCon.closer */
							
							/* inspiration.html */
							.inspiration{ 
								.electricList { 
									.goldenTruth { 
										
										font-size: 0.9em; /* 90%*/
										
										.verseCallOut {}
										.callOutRider {}
										.callOutRef { 
											&:hover, &:focus {}
										}
										& > cite:hover {}
										& > cite.originalState {}
										& > cite.electricStateChanged {}
										& > cite.electricSelection {}
									}
									&+cite.originalState {}
									&+cite.electricStateChanged {}
								}
								span.electricCloseX {
									&:hover {
									}
								}
								span.electricClosePos {}
								strong.electricStrong {}
								cite#electricQuote { width: 76% }
							} 
							
							.fsBtnCon {
								
								.fs{ 
									
								}
								
							}
							
							.pubdate {							
								abbr { 							
									&:hover { }
								}
							}						
							.contento {
								strong {  }
							}
							
							.imgCTA { 
								
								/*width: 95%;*/
								
								img.intro {}
								img.borderless {}
							}
							
							.caps{}
							.red{}
							/* index page image ~ future carousel spot */
							#AverageOut {
								
								/* width: 95%; */
								
								/* width: 230px; */ /* ! 330px DEFINITELY TEMPORARY */
								
								.caroSpyglass {
									
									ul.caroFatUL {
										
										/* &:before {
											content: "";
											display: table;
										} 
										&:after { 
											content: ".";
											display: block;
											height: 0;
											visibility: hidden;
											clear: both; 
										} */
										
										li.caroBling {
											img.caroImg {}
										}
									}
									
								}
								
								#AvgBtnCon {
									.caroButton {
										
									}
								}
								
							} /* END ~ #AverageOut properties */
							
						} /* CTA properties */
						
						.leftyPlay {
							h3 { }
							p {	
								.illus { }
							}
							
							.pubdate { }						
							.contento { }
							
							.imgCTA { 
								
								/* width: 80%; */
								
								img.intro { }
								.figcaption {
									span { 
										strong { }
									}
								} /* .figcaption properties */
							} /* .imgCTA properties */
							
						} /* .leftyPlay properties */
						
						.rightyPlay { 
							h3 { }
							p { 
								.illus { }
							}
							
							.pubdate { }
							.contento { }
							.imgCTA {
								
								/*width: 80%;*/
								
								img.intro { } 
								.figcaption { 
									span { 
										strong { } 
									} 
								} /* .figcaption properties */
							} /* .imgCTA properties */
						} /* .rightyPlay properties */
						
						.peripheral { 
							.choco_elastic { 
								
								width: 95%; /* 50 75%*/
								
								h4 {}							
								h5 { }							
								p {	
									&:first-line {}
									
									a {}
								}
								.imagitoCon { 
									img{ }
								}
								
								/* new axis form controls */
								.axis_form{	
									
									.axis_fldst{
										
										.axis_lgnd{
										}/* legends */
										
										.labelcon{ 
											
											.axis_lab{
											} /*labels*/
											
											.axis_in{
											} /*range sliders*/
											
											.axis_btn{
											} /*buttons*/
											
										} /* div.labelcon */
										
									} /* fieldsets */
								}/* END .axis_form */
							}
							
							.dip_out{}
							
						}  /* END .peripheral properties ~ aside */
						
					} /* END .inner properties */
					
				}  /* END section.container properties */
			} /*END div.outer properties */
			
			/* footer properties */
			footer { 
				.footrow { 
					a { } 
					.logoWrapper { 
						.diodeTextCon { } 
					}  /* END .logoWrapper properties */
					.bigfoot { 
						
						margin: 0 auto;
						
						h4 { }
						p {
							a {  } 
						} 
					}  /* END .bigfoot properties */				
					
					.footbumpLeft { 
						@include defZeroMrgn( 0, 0, 0, 0 );
					} /* END .footbumpLeft properties */
					
					.littlefeet { 
						
						width: 97%; /* 92% 97% 100% */
						
						h4 {}
						
						p.opn_clo { 
							
							@include defZeroMrgn( -5%, $val_css_auto, 0, $val_css_auto ); /* margin: 0 auto; */ 
							
							top: -1%; /* -38% -43%*/
							right: -31%; /* 0% */
							width: 85px;
							
							font-size: 95% ;
							
							a {}
						}
						
						ul { 
							
							font-size: 0.95em; /* 95%*/ 
							@include defZeroMrgn( 1%, 6%, 5%, 4% );
							
							li { 
								a { }
							} 
						}
					} /* END .littlefeet properties */
					
					.bigsole { 
						margin-bottom: 2.75em; 
						
						
						h4#retexpHotelFour4 {
							
						}
						
						ul#retexpUL4 {
							
						}
						
					}
					
					.copyright{ 
						
						font-size: .9em; /* 90% */
						margin: 0 auto;
						
						
						#loadicon { 
							margin: -6.125% 0 0 0; /* -12.125% 0 0 0; */
						}
						
						.lowWrapper { 
							p {	
								/* online-offline schtuff */
								#colorBlock { 
									
									/* online-offline schtuff */
									span.online {}
									span.offline {} 
								}
								
							}
							.placedLow { }
							
							#partners {
								 span { line-height: inherit; }
							}
							
						} /* END .lowWrapper properties */
					} /* END .copyright properties */
				} /* END .footrow ~ properties */
			} /*END footer */
			
		} /*END article */
	} /* END body properties */

} /* END @media (max-width: 400px) */ 

@media (max-width: 320px) { 
	body { 
		article { 
			.outer { 
				div.lay_lt { 
				
					.inner_elastic {
					
						/* device.html ~ dvczone ITEMs */
						.dvczone{ 
							
							.PREluchoPose {
								
								.degree { 
									font-size: large;	
									
									top: 1.5%; left: 41.5%; 
									
									-moz-transform-origin: 50% 440%; -webkit-transform-origin: 50% 440%; -o-transform-origin: 50% 440%; -ms-transform-origin: 50% 440%; transform-origin: 50% 440%; 
								}
								
								.point { 
									font-size: 100%; 
									
									top: 17%; left: 40%; 
									
									-moz-transform-origin: 60% 385%; -webkit-transform-origin: 60% 385%; -o-transform-origin: 60% 385%; -ms-transform-origin: 60% 385%; transform-origin: 60% 385%; 
									
									&.main{
										font-size: large; 
										
										-moz-transform-origin: 60% 260%; -webkit-transform-origin: 60% 260%; -o-transform-origin: 60% 260%; -ms-transform-origin: 60% 260%; transform-origin: 60% 260%; 
										
										top: 21%; left: 40%; 
									}
								} 
								
								.arrow {
									
									top: 33.5%; left: 47.5%;
									
									-moz-transform-origin: 60% 700%; -webkit-transform-origin: 60% 700%; -o-transform-origin: 60% 700%; -ms-transform-origin: 60% 700%; transform-origin: 60% 700%; 
									
									&.main { 
										
										-moz-transform-origin: 60% 780%; -webkit-transform-origin: 60% 780%; -o-transform-origin: 60% 780%; -ms-transform-origin: 60% 780%; transform-origin: 60% 780%; 
										
										top: 13%; left: 45.5%; 
									}
								} 
							}  
							
							
						} /* END .dvczone ITEMs ~ combo accel gyro */ 
						
					} /* END .inner_elastic properties */
					
				}  /* END div.lay_lt properties */	
				
				.container {
					.inner {
						.CTA {
						
							.zoomWrap { 
								.zoomCard { 
									.flipside {}
									.zoomPic {
										max-width: 76%; max-height: 76%;
										/* max-width: 76%; max-height: auto; */
										/* <<!-- 'auto' was lastmost value... max-height: 100%; */
									}
								}
							}
							
							/* transition.html */
							.threeXOne {
							
								h2{}
								.turtleHead {}
								
								.thereAndBack { 
									.bidirect {
										width: 7em; 
										height: 7em;
									}
								}
								.thr_ext {}
								.ovniOuterPerimeter {
									.ovni {
										p { }
									}
								}
							
							} /* END .threeXOne */
							
							/* transform.html */
							.bizWrap { 
								.bizCard {} 
								.bizside  {} 
								.bizfront { 
									.hotelOneBiz {}
									.hotelTwoBiz  {}
									.genericBiz  {
										.strongbiz {}
									}
								} 
								.bizback { 
									.unlimabiz {}
									.limabiz {}
								} 
							} /* END .bizwrap */
							
							/* transform.html */
							.lawWrap { 
								.lawCard {
									.lawside {
										min-height: 427px; height: 427px;
										max-width: 242px; /* width: 242px;*/
									}
									.lawfront { 
										.LawBubble { 
											left: 64%;
											
											&:first-child {
												left: 24%;
											}
										} 
									}
									.lawback { 
										.LawLogo {}
										.shadowLaw  {}
										.LawCallsign  {}
									}
								}
							}
							/* END transform.html */
							
							/* inspiration.html */
							.inspiration{ 
								.electricList { 
									.goldenTruth { 
										.verseCallOut {}
										.callOutRider {}
										.callOutRef { 
											&:hover, &:focus {}
										}
										& > cite:hover {}
										& > cite.originalState {}
										& > cite.electricStateChanged {}
										& > cite.electricSelection {}
									}
									&+cite.originalState {}
									&+cite.electricStateChanged {}
								}
								span.electricCloseX {
									&:hover {
									}
								}
								span.electricClosePos {}
								strong.electricStrong {}
								cite#electricQuote { width: 83%; }
							} 
							
						} /* END .CTA */
					} /* END .inner */
				} /* END .container */
				
			} /*END div.outer properties */ 
		} /*END article */
	} /* END body properties */
	
} /* END @media (max-width: 320px) */

@media only screen and (max-width: 320px) and (max-device-width: 320px) and (orientation: portrait) { 
	body {
		
		div#overlay {
			width: 100%; 
			height: 1600%; 
			background: $col_blackProper; 
			
			display: none; 
			position: fixed; 
			z-index: 50; /*2*/
			
			top: 0px; 
			left: 0px; 
			text-align: center; 
		}
		
		div#specialBox { 
			/* width: 500px; */
			font-family: $fnt_Trebuchet; 
			width: 220px; 
			height: auto; /*300px*/
			background: $col_lugrd_org_sprfade;
			
			display: none; 
			position: relative; 
			z-index: 100; /*3*/ 
			
			color: $col_blackProper; 
			@include defZeroMrgn( 20px, $val_css_auto, 0, $val_css_auto ); /* @include defZeroMrgn( 10%, $val_css_auto, 0, $val_css_auto ); */
			@include defZeroPdng( 4%, 9%, 4%, 9% ); 
			@include border_all( 10px, solid, $col_Dk_Brn );
			
			/**/
			h6 { text-transform: lowercase; font-size: 1.25em; }
			p{ 
				font-size: .75em; color: $col_trans_BabyBL_dk; @include defZeroMrgn( 20px, $val_css_auto, 20px, $val_css_auto ); 
				
				strong {
				} 
			}
			a{ font-size: .75em; text-decoration: none; color: $col_Dk_Brn; @include defZeroMrgn( 20px, $val_css_auto, 20px, $val_css_auto ); }
			.pro{}
			.anti{}
		}
		article { 
			
			div.lay_lt { 
				.inner_elastic {
					/* device.html ~ dvczone ITEMs */
					.dvczone{ 
						
						.PREluchoPose { 
							height: 286px; 
							.compass{
								height: 286px; 
							} 
							.degree {
								top: 1.5%;
								left: 41%;
								-moz-transform-origin: 50% 580%; -webkit-transform-origin: 50% 580%; -o-transform-origin: 50% 580%; -ms-transform-origin: 50% 580%; transform-origin: 50% 580%; 
							} 
							.point { 
								font-size: 75%;
								top: 18%;
								left: 41%;
								-moz-transform-origin: 55% 545%; -webkit-transform-origin: 55% 545%; -o-transform-origin: 55% 545%; -ms-transform-origin: 55% 545%; transform-origin: 55% 545%; 
								
								&.main{
									top: 28%;
									left: 40%;
								}
							} 
							.arrow { 
								&.main { 
								}
							} 
						}  
						#spinner{ height: 192px; } 
						#pin{ height: 19px; } 
					} /* END .dvczone ITEMs ~ combo accel gyro */
					
					#DVCninetynine {
						height: 286px;
					}
					
				} /* END .inner_elastic properties */
			}  /* END div.lay_lt properties */
			
			.outer { 
				.container { 				
					.inner { 					
						.CTA { 
							.imgCTA {
								img.borderless {
									width: 260px; /*!419px*/
								}
							} 
							
							/* inspiration.html */
							.inspiration{ 
								.electricList { 
									.goldenTruth { 
										.verseCallOut {}
										.callOutRider {}
										.callOutRef { 
											&:hover, &:focus {}
										}
										& > cite:hover {}
										& > cite.originalState {}
										& > cite.electricStateChanged {}
										& > cite.electricSelection {}
									}
									&+cite.originalState {}
									&+cite.electricStateChanged {}
								}
								span.electricCloseX {
									&:hover {
									}
								}
								span.electricClosePos {}
								strong.electricStrong {}
								cite#electricQuote {}
							} 
							
						} /* END .inner .CTA properties */
						
						/* combo.html accel.html gyro.html */
						.peripheral { 
							.choco_elastic { 
								.imagitoCon { 
									
									&.dvc_prez{
										#dvc_panoramic, #dvc_portrait{
											width: 45%;
											height: 75px; 
										} 
										#dvc_panoramic{ opacity: 0.1; @include defZeroMrgn( 5px, 1.5%, 5px, $val_css_auto ); }
										#dvc_portrait{ opacity: 1; @include defZeroMrgn( 5px, $val_css_auto, 5px, 1.5% ); } 
									}
								}
							}
						}
						
					} /* END .inner properties */				
				}  /* END section.container properties */			
			} /*END div.outer properties */	
			footer { 
				.footrow { 
					.littlefeet { 
						p.opn_clo { 
							/* @include defZeroMrgn( -5%, $val_css_auto, 0, $val_css_auto ); 
							top: -1%; 
							right: -31%; */
							
							@include defZeroMrgn( -3.875%, $val_css_auto, 0, $val_css_auto ); /* -1% auto 0 auto | -2% auto 0 auto  */
							top: 0%; /* 0% */
							right: -38%; /* -44% */ 
							
						} /* END p.opn_clo ~ properties */
						
					} /* END .littlefeet ~ properties */
				} /* END .footrow ~ properties */
			} /*END footer ~ properties */
			
		}
	}
} /* END @media only screen and (max-width: 320px) and (max-device-width: 320px) and (orientation: portrait) */ 

/*  ----------  Responsive Design Media Queries END here  --------------  */