/* sprites.scss */

/* @charset "utf-8"; */
/* ---------------- SPRITEs ~ MUCH IMPROVED -------------------------- */

	/* @import 'utils.scss'; */
	
/* css3 schtuff - this permits mixins */
	/* @import "compass/css3"; */
/* font face shared stuff */
	/* @import "compass/css3/shared"; */
/* transition stuff */
	/* @import "compass/css3/transition"; */

/* @import "compass/utilities/sprites"; */

/* spacing between images ~ pre work setting*/
$jollyRMugiwara-spacing: 20px; /*20px bt your images*/

/* ditto above ~ spacing between images ~ pre work setting*/
$jollyRMugiwara-Sanji-spacing: 30px; /*30px bt Sanji image ONLY*/

/* image layout ~ pre work setting ~ smart is for an assortment of different sized images*/
$jollyRMugiwara-layout: smart;

/* finally, the invocation */
@import "jollyRMugiwaraTwo/*.png";
/**//**//**//**//**//**//**//**//**/

/* @import 'staticVars.scss'; */

#Jinbei { @include jollyRMugiwaraTwo-sprite(Jinbei); }
#Luffy { @include jollyRMugiwaraTwo-sprite(Luffy); }
#Vivi { @include jollyRMugiwaraTwo-sprite(Vivi); }
#Chopper { @include jollyRMugiwaraTwo-sprite(Chopper); }
#Nami { @include jollyRMugiwaraTwo-sprite(Nami); } 
#Robin { @include jollyRMugiwaraTwo-sprite(Robin); } 
#Usopp { @include jollyRMugiwaraTwo-sprite(Usopp); } 
#Sanji { @include jollyRMugiwaraTwo-sprite(Sanji); } 
#Franky { @include jollyRMugiwaraTwo-sprite(Franky); } 
#Brooke { @include jollyRMugiwaraTwo-sprite(Brooke); } 
#Law { @include jollyRMugiwaraTwo-sprite(Law); } 
#Zoro { @include jollyRMugiwaraTwo-sprite(Zoro);}

/* sudden notes bohica */