/* REMEMBER THE BACON/CHEDDAR COLOR COMBINATION FOR LATER */
/* -------------------------------------------- ALL POSSIBLE static VARIABLES  -------------------------------------------- */
/* ---------------- UNNAMED AS OF YET ----------------- */
/* // If you want to position the inner element at the top right, you can use the pin-top-right instead of pin-bottom-right. You might have noticed in the above code I also added another helper class: The padding-one class ensures the element is not flush against the edge of the container or viewport.

// Floated Elements. Floating elements left or right can be done using left or right classes. The well-known clearfix class can be used on the parent element to clear floats, shown below using Sass s parent selector: */

$floa_none: none;
$floa_left: left;
$floa_righ: right;
$floa_inhrt: inherit; 
/* ---------------------------------------- text transformation ~ new --------------------------------------- */
$txttr_uppr: uppercase;

/* ---------------------------------------- FONT STACKS --------------------------------------- */
/* WEB FONT EFFECTs */
/* .ftfx_Fire_1Ablaze { } */


/* WEB FONTs */

$fnt_Helvetica:		"Helvetica Neue",Helvetica,Arial,sans-serif;
$fnt_Trebuchet:		"Trebuchet MS", Verdana, sans-serif;
$fnt_Georgia:		Georgia, serif;
$fnt_Cambria:		Cambria, Georgia, serif;
$fnt_Lucida: 		"Lucida Grande", Arial, sans-serif;
$fnt_Blockquote:	"Bitstream Vera Sans Mono", monospace;
$fnt_serif:			serif;
$fnt_sans_serif:	sans-serif;

/* PRINT FONTs */
$fnt_Print:  Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

$fnt_Courier: Courier, monospace;

/* font stack */
.fs_Helvetica { font-family: $fnt_Helvetica;  } /* font-size: 1.5em; */
.fs_Trebuchet { font-family: $fnt_Trebuchet;  } /* font-size: 1.5em; */
.fs_Georgia { font-family: $fnt_Georgia;  } /* font-size: 1.5em; */
.fs_Cambria { font-family: $fnt_Cambria;  } /* font-size: 1.5em; */
.fs_Lucida { font-family: $fnt_Lucida;  } /* font-size: 1.5em; */
.fs_Blockquote { font-family: $fnt_Blockquote;  } /* font-size: 1.5em; */

.fs_Print { font-family: $fnt_Print;  } /* font-size: 1.5em; */

/* ---------------------------------------- atFONTFACE Properties --------------------------------------- */
/* font face compass.rb specific variables */
$font_weight: normal;
$font_style: normal; 

/* ----------------------------- Text Typography   --------------------------- */
$Typ-fntWt-norm: normal;
$Typ-fntWt-bold: bold;
$Typ-fntSty-ital: italic;

.normalTxt  { font-weight: $Typ-fntWt-norm; }
.boldTxt  { font-weight: $Typ-fntWt-bold; }
.italicTxt { font-style: $Typ-fntSty-ital; }

/* word wrap ~ You can create classes for things like font weight and text manipulation, like ellipsis text. */

$Typ-WdWr-brkwrd: break-word;
$Typ-WtSp-noWrp: nowrap;
$Typ-ovrfl-hid: hidden;
$Typ-txtovfl-ell: ellipsis;

$Typ-WtSp-norma: normal;

.wrdwrp_break-word { word-wrap: $Typ-WdWr-brkwrd; }
.wtspc_no-wrap    { white-space: $Typ-WtSp-noWrp; }
.ovrflw_ellipsis{ white-space: $Typ-WtSp-noWrp; overflow: $Typ-ovrfl-hid; text-overflow: $Typ-txtovfl-ell; }

.ovrflw_hidden{ white-space: $Typ-WtSp-norma; overflow: $Typ-ovrfl-hid; }

/* ----------------------------- DISPLAY properties   --------------------------- */
/* Display Values. The following helper classes give us the ability to use the different values for CSSs display property: */
$dsp_inli: inline;
$dsp_bloc: block;
$dsp_inbl: inline-block;
$dsp_none: none;
$dsp_flex: flex;
$dsp_infx: inline-flex;
$dsp_hidd: hidden;

.inline-test { display: $dsp_inli; }
.block-test { display: $dsp_bloc; }
.inline-block-test { display: $dsp_inbl; }
.hide-test{ display: $dsp_none; }
.flex-test{ display: $dsp_flex; }

/* ----------------------------- VISIBILITY  properties   --------------------------- */

$viz_coll: collapse;
$viz_hidd: hidden;
$viz_inhe: inherit;
$viz_visi: visible;

.coll-test{ visibility: $viz_coll; }
.hidd-test{ visibility: $viz_hidd; }
.inhe-test{ visibility: $viz_inhe; }
.visi-test{ visibility: $viz_visi; }

/* ---------------- HORIZONTAL COLUMNAR RHYTHM ----------------- */
/* ----------------  ELEMENT WIDTH AND HEIGHT HELPER CLASSES ------------------ */
/* Imagine that you need a section to be full height in different places on your website ~ we can create one class called full-height. */		

/* ---------------- WIDTH constants  -------------------------- */
$EL_width_fullHundy: 100%;
$EL_width_halfFifty: 50%;
$EL_width_quarterTwentyFive: 25%;

/* ---------------- MAX WIDTH ~ ELEMENT  -------------------------- */
.fitmax-width {max-width: $EL_width_fullHundy; }
/* ---------------- WIDTH ~ ELEMENT -------------------------- */
.full-width { width: $EL_width_fullHundy; }
.half-width { width: $EL_width_halfFifty; }
.quarter-width { width: $EL_width_quarterTwentyFive; }
/* ---------------- HEIGHT ~ ELEMENT -------------------------- */
.full-height { height: $EL_width_fullHundy; }

/* ---------------- MARGIN AND PADDING -------------------------- */
/* ----------------------- MARGIN Helper Classes --------------------------------- */
/*v2*/
/* ---------------- extra TOPPINGS - MY VERSION AND FINDINGS  -------------------------- */
/* These are arguably the most used properties in our CSS. Adding some abstract classes that can handle this will DRY our code. We start by defining a variable (using Sass) for the base space unit for our design. Lets start with 1em and on top of that we can create classes for different space sizes. */

$val_css_auto: auto;
$base-em-unit: 1em;
$half-em-unit: $base-em-unit  / 2;
$qtr-em-unit: $base-em-unit  / 4;
$two-em-units: $base-em-unit  * 2;

/* ----------------------------- ELEMENT FLOATING AND ALIGNMENTS TO INCL. TEXT ALIGNMENT  --------------------------- */

/* Helper classes also called utility classes can help us write DRY less repetitive code and was discussed by Thierry Koblentzs at Smashing Magazine. What Are Helper Classes Helper classes can help remove repetition by creating a set of abstract classes that can be used over and over on HTML elements. Each helper class is responsible for doing one job and doing it well. In the future whenever you create a new component you will just need to combine some classes together to build it. */

/* ---------------- Text Alignment -------------------------- */
$TxtAli_lft: left;
$TxtAli_ctr: center;
$TxtAli_rig: right;

.text-ali-left { text-align: $TxtAli_lft; }
.text-ali-center { text-align: $TxtAli_ctr; }
.text-ali-right { text-align: $TxtAli_rig; }

/* ---------------- Vertical Alignment -------------------------- */
$VrtAli_top: top;
$VrtAli_mid: middle;
$VrtAli_btm: bottom;

.vert-ali-top { vertical-align: $VrtAli_top; }
.vert-ali-middle { vertical-align: $VrtAli_mid; }
.vert-ali-bottom { vertical-align: $VrtAli_btm; }


/* ----------------------------- ELEMENT POSITIONING AND ZED INDEX  --------------------------- */
/* The "pin" helper classes are inspired by Mapboxs CSS. Lets extend the full-height example to contain an element positioned at the bottom right. */

/* Position and Z-index. Position-related properties can be combined with other properties like z-index to create a complex layout. We can create a set of classes to set the exact position of any element in relation to the viewport or an ancestor element (right, left, top left, etc): */

/* ---------------- Positioning -------------------------- */

$pos_fixed: fixed;
$pos_relat: relative;
$pos_absol: absolute;
$pos_stati: static;

.pos-fixed { position: $pos_fixed; }
.pos-rel { position: $pos_relat; }
.pos-abs { position: $pos_absol; }
.pos-statc { position: $pos_stati; }

/* ---------------- ZedIndex -------------------------- */
/* ----------- HELPER CLASSES ------------------- */

$val_css_zero: 0;
$val_css_one: 1;
$val_css_two: 2;
$val_css_three: 3;
$val_css_four: 4;
$val_css_fiveHundy: 500;
$val_css_nines: 9999;

/* ---------------- ZedIndices - 0 1 2 3 4 500 9999 -------------------------- */
.zIdxNines { z-index: $val_css_nines; }
.zIdxFiveHundy { z-index: $val_css_fiveHundy; }
.zIdx1 { z-index: $val_css_one; }
.zIdx2 { z-index: $val_css_two; }
.zIdx3 { z-index: $val_css_three; }

/* ----------- quadrants top bottom right left ------------------- */

.pin-top-right {top: $val_css_zero; right: $val_css_zero;}
.pin-btm-right {bottom: $val_css_zero; right: $val_css_zero;}
.pin-top-left { top: $val_css_zero; left: $val_css_zero; }
.pin-btm-left { bottom: $val_css_zero; left: $val_css_zero;}

/* ------------------new 03/22/2015 ~ opacity stuff ------------------- */

$opc_half: 0.5;
$opc_opaque: 1.0;

.halfsies { opacity: $opc_half; }
.wholesies { opacity: $opc_opaque; }

/* ---------------------------------------- COLORS --------------------------------------- */

/* -------------------- alpha channels for for future use ------------------- */
	/* yet to be determined */
	/* white ALPHA */
	$col_alfa_white_trans: rgba( 255, 255, 255, 0 );
	$col_alfa_white_opque: rgba( 255, 255, 255, 0.6);
	
	/* grey ALPHA */
	$col_alfa_grey_trans: rgba( 127, 127, 127, 0 );
	$col_alfa_grey_opque: rgba( 127, 127, 127, 0.6);
	
	/* black ALPHA */
	$col_alfa_black_trans: rgba( 0, 0, 0, 0 );
	$col_alfa_black_opque: rgba( 0, 0, 0, 0.6);

/* -------------------------------------------- union jack colors -------------------------------------------- */
	// WANPISU COLORS 
		$col_op_posePltnm: #D1E8E5;
		$col_op_posePltnm_cntrst: #F6F7F9;
		$col_op_poseRed: #C64369;
		$col_op_poseGLS_dk: #328783;
		$col_op_poseGLS_nrm: #CBDDCE;
		$col_op_poseGLS_lite: #F3F4F1;
		$col_op_poseCup_nrm: #CEB28C;
		$col_op_poseCup_dk: #957252;
		$col_op_poseCup_dkst: #50361D;
	// END WANPISU COLORS
/* -------------------------------------------- union jack colors -------------------------------------------- */
	// UNION JACK COLORS 
		$col_uj_Dk_Amethyst: #232927;
		$col_uj_blue: #3C3B6E;
		$col_uj_red: #B22234;
		$col_uj_khaki: #E3D7BF;
	// END UNION JACK COLORS

	//  GREYEDOUT uj_blu_greyMid
		$uj_blu_greyMid: rgb(170,187,255);/* #AABBFF */

/* -------------------------- spurious colors ------------------------------ */
	//  HOT PINK VIVRANT 
		$col_hotPink: rgb(255,5,180); /* #FF05B4 */
	//  HOT PINK DARK
		$col_hotPink_md: rgb(151,2,106); /* #97026A */
	//  HOT PINK DARK
		$col_hotPink_dk: rgb(117,33,95); /* #75215F */
	//  HOT PINK DARKEST 
		$col_hotPink_dkst: rgb(82,0,57); /* #520039 */
		
	
	//  GREYEDOUT RED - DARK
		$col_gryDk: rgb(150,150,150); /* #969696  */
	//  GREYEDOUT RED - NORMAL
		$col_gryNorm: rgb(194,194,194); /* #C2C2C2  */
	//  GREYEDOUT RED - LIGHT
		$col_gryLt: rgb(239,239,239); /* #EFEFEF  */
	//  GREYEDOUT RED - ULTRA-LIGHT
		$col_gryUltaLt: rgb(248,248,248); /* #F8F8F8  */

	//  anchor_proper anchor_link
		$col_ancho: rgb(82,1,1); /* #520101 magenta */	
	//  anchor_visited
		$col_ancho_visit: rgb(41,85,204); /* #2955CC navy blue*/ 
	//  anchor_hover anchor_focus
		$col_ancho_hvr_fcs: rgb(197,2,2); /* #C50202 brick red*/ 
	//  anchor_active
		$col_ancho_active: rgb(68,14,14); /* #440E0E dark brick red */
	
	//  NEW PINK FOR BACKGROUND SELECTION AND COLOR COMBO etc
		$col_slctPink_active: rgba( 255,149,239,0.8 ); /* #FF95EF vivrant pink */
	//  NEW PINK FOR BACKGROUND SELECTION AND COLOR COMBO etc
		$col_slctBlue_active: rgba( 150,235,255,0.8 ); /* #96EBFF vivrant baby-blue */
	
	//  DAYTIME DEEPSEA DIVE
		$col_oceanDayDive_alfa: rgba( 0,108,136,0.8 ); /* #006C88 */
		
	// 	EXTRUDE TEXT - TEMPORARY
		$col_extrude_orangeLt: rgb(238,170,34);/* #EEAA22*/
		$col_extrude_pink: rgb(238,85,136);/* #EE5588*/
		$col_extrude_orange: rgb(255,153,0);/* #FF9900*/
		$col_extrude_blue: rgb(85,136,238);/* #5588EE*/
		$col_extrude_grey_ltRed: rgb(239,239,239);/* #EFEFEF */
		$col_extrude_green: rgb(51,204,119);/* #33CC77 */
	/* -------------------------------------------- transparent value per se || "percy" -------------------------------------------- */
	// Transparent color
		$col_transparent: transparent;
		
	/* -------------------------------------------- transparent RGBAs -------------------------------------------- */
	// BRICK RED
		$col_trans_brkRd: rgba(190, 105, 104, 0.7);
	// LIME GREEN
		$col_trans_lime: rgba(147, 190, 104, 0.7);
	// BABY BLUE - DARKER
		$col_trans_BabyBL_dk: rgba(104, 190, 190, 0.7);
	// PURPLE
		$col_trans_purple: rgba(147, 104, 190, 0.7);
	// DARKER PURPLE
		$col_trans_purple_dk: rgba(174,18,255, 0.7); /*#AE12FF*/
	// FLOURESCENT PURPLE
		$col_fluor_purple: rgba(248,159,249, 0.7); /* #F89FF9 */
	// HOTTEST PINK
		$col_trans_hotPk: rgba( 255,0,180,0.5 );
	/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
	// black mist lite
	$col_blkMist_lite:  rgba( 0,0,0,0.5 ); 
	// black mist
	$col_blkMist:  rgba( 0,0,0,0.7 ); 
	// white mist
	$col_whtMist: rgba( 255,255,255,0.7 ); 
	// white mist lite
	$col_whtMist_lite: rgba( 255,255,255,0.7 ); 
	
	// chocolatey mist /* $col_Dk_Brn ~ #904B30 */
	$col_chcMist: rgba( 144,75,48, 0.7 ); 
	// minty mist /* #B6E587 */ 
	$col_mntMist: rgba( 180,229,135, 0.7 );
	// minty mist /* #212121 */ 
	$col_dkBloodMist: rgba(33,33,33, 0.7 ); 
	// ripe orange mist /* #FFCD75 */
	$col_orangeMist: rgba(255,205,117, 0.7 );
	/* -------------------------------------------- solid HEX VALUEs -------------------------------------------- */
	// assortment of MANY colors in a palette
	// WHITE, BLACK
		$col_blackProper: #000000;
		$col_whiteProper: #FFFFFF;
		
	//  GREYs
		$col_Grey_dkst_blood: #212121; 
		$col_Grey_dk_blood: #404040;
		$col_Grey_dk: #4D4D4D;
		$col_Grey_md: #898989;
		$col_Grey_md_lt: #989898;
		$col_Grey_lt: #CCCCCC;
		$col_Grey_xtrlt: #EEEEEE;
		$col_Grey_xtrxtrlt: #F2F2F2;
		$col_Grey_lifeless: #F8F8F8;
		
	// YELLOW and GREEN
		$col_yellow: #FFFF00;
		$col_Green_leafy: #CCCC66;
	
	// BADAFIFTYFIVE GREEN
		$col_bada_green: #BADA55; 
		
	// LITERAL RED
		$col_red_literal: #FF0000;
		
	// LITERAL GREEN
		$col_green_literal: #008000;
	
	// LIME SHERBET 
		$col_limeSherbet: #99FF88;
	
	// CYMBALS AND COMPASS
		$col_midYellow: #FFEE72;
		$col_yellowBlk: #666900;
		$col_pinkSkin: #FFF6F4;
		$col_cymblGld: #D1C790;
		
	// FADED SUN
		$col_fadedSun: #F5F5DC;
	
	// DESERT SUNSET
		$col_desertSand: #E6CFBC;
		
	//TEAL \ Baby blues
		$col_teal_dk: #009999;
		$col_teal_lt: #00CCCC;
		$col_BabyBL_dk: #33FFFF;
		$col_BabyBL: #66FFFF;
		
	//OCEAN tones
		$col_OceanSunCrest_Lite: #D9DDFC;
		$col_OceanSunCrest: #CACFF9;
		$col_OceanSurfacing: #ACD7E5;
		$col_MoonlessOcean: #00304A;
		$col_DeepBlueSea: #272E3A;
		$col_OceanDayDive: #006C88;
		$col_OceanDaySky: #52DCFF;
		$col_OceanRustyBottom: #D05F2F;
		$col_OceanRustyBottomLt:#F76D36;

	//ORANGEs
		$col_DkOR: #FFA500;
		$col_medOR: #FFCC33;
		$col_LtOR: #FFCC66;

	//BROWNs 
		$col_Dk_Brn: #904B30;
		$col_medBrn: #996600;
	/* -------------------------------------------- 3D COLORS ~ ANALGLYPHIC -------------------------------------------- */
	// red /* #FF3232 */
		$col_3d_red: rgb(254,50,50);
	// cyan /* #00DADA */
		$col_3d_cyan: rgb(0,219,219);
	
	/* -------------------------------------------- CHOCOLATE MINT -------------------------------------------- */
	// chocolate /* $col_Dk_Brn ~ #904B30 */
		$col_chcMnt_chc: rgba(144,75,48,1 ); 
	// mint /* #B6E587 */ 
		$col_chcMnt_mnt: rgba(180,229,135,1);
	/* -------------------------------------------- promise curves -------------------------------------------- */

	// SUPER FADED ORANGE /* #FFFAF0 */
		$col_lugrd_org_sprfade: rgb(255,250,240);
	// FADED ORANGE /* #FFF9EF */
		$col_lugrd_org_fade: rgb(255,249,239);
	// VIVRANT ORANGE /* #E69500 */
		$col_lugrd_org_vivrant: rgb(230,149,0);
	// DARK-MID ORANGE /* #805300 */
		$col_lugrd_org_dkMid: rgb(128, 83, 0);

	// DARK LIME /* #141712 */
		$col_lugrd_dkLime: rgb(20,23,18);	

	// BABY-BLUE /* #26E3F1 */
		$col_lugrd_bbyBlu: rgb(38, 227, 241);
	// BABY BLUE - DARKER
		$col_lugrd_BabyBL_dk: rgb(104, 190, 190);	
	
	// MIDGREY-DARK RED /*#B87F7F*/
		$col_lugrd_mdGry_dkRed: rgb(184,127,127);	
	// GREYOUT-DARK RED /* #292929 */
		$col_lugrd_dkGry_dkRed: rgb(41,41,41);

	/* -------------------------------------------- color systems -------------------------------------------- */
	// DARK KNIGHT ~ 1 of 5
		$col_dkKnt_LT: #95A5A6;
		$col_dkKnt_DK: #2C3E50;
		
	// tri-color code system ~ 2 of 5
		$col_triClr_alert : #E74C3C;
		$col_triClr_notice: #FFE9BF;
		$col_triClr_success: #1ABC9C;
		
	/* HELPER CLASSES ~ BACKGROUND COLOR application*/
		.alert-bg { background-color: $col_triClr_alert; }
		.notice-bg { background-color: $col_triClr_alert; }
		.success-bg { background-color: $col_triClr_alert; }
	
	/* HELPER CLASSES ~ TEXT COLOR application */
		.alert { color: $col_triClr_alert; }
		.notice { color: $col_triClr_notice; }
		.success { color: $col_triClr_success; }
	
